<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>#travels Car</title>

	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">

	<meta property="og:title" content=""/>
	<meta property="og:description" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:type" content="website"/>

	<script>
		setTimeout(function() {
			// location.href = "http://localhost/hashtag-travels/web/car/search?{{app.request.queryString}}#/car/{{ app.request.get('id') }}";
			location.href = "http://hashtagtravels.de/hashtag-travels/web/car/search?{{app.request.queryString}}#/car/{{ app.request.get('id') }}";
		}, 1000);
	</script>

</head>
<body>

	<p>CAR {{ app.request.get('id') }}</p>

	{{ app.request.queryString }}
	{{ app.request.get('id') }}
	{{ app.request.attributes.get('_route') }}

</body>
</html>