<div class="modal modal__almost-there{% if modal == 'almost-there' and app.session.get('reseting_email') %} modal--active{% endif %}" id="modal__almost-there">
	<div class="modal__content">
		<div class="modal__header">
			<span class="l-center"></span>
			<h3 class="modal__header--title">You're almost there!</h3>
			<a href="#" class="modal__header--close btn-modal">close</a>
		</div>

		<div class="modal__wrapper">
			<p>We've sent an email to {{app.session.get('reseting_email')}} with a link to help you create a new password injust one step.</p>
			<p><strong>Be sure to check your spam folder too.</strong></p>
		</div>
	</div>
</div>
