<div class="modal modal__coupon modal--active" id="modal__coupon" ng-controller="coupon" ng-if="modal == 'coupon'" ng-click="closeModal($event)" ng-cloak>
	<div class="modal__content" ng-click="$event.stopPropagation()">
		<div class="modal__header">
			<span class="l-center"></span>
			<h3 class="modal__header--title">Insert coupon</h3>
			<a href="#" ng-click="closeModal($event)" class="modal__header--close btn-modal">close</a>
		</div>

		<div class="modal__wrapper">
			<form action="" data-parsley-validate>

				<p><strong>Please enter the coupon code below.</strong></p>

				<label class="checkout__field">
					Coupon code<br/>
					<input coupon-discount class="input-text" type="email" data-parsley-type="email" required />
				</label>

				<div class="coupon__discount-value">
					<span class="discount-value__text">Coupon discount</span>

					<p ng-if="state == states.waiting" class="coupon__waiting-code"><br/><img src="{{app.config.staticpath}}/img/loader-2.gif" />Waiting code...</p>
					<p ng-if="state == states.validating" class="coupon__validating-code"><br/><img src="{{app.config.staticpath}}/img/loader-2.gif" />Validating code...</p>
					<strong ng-if="state == states.valid">{[{ currency }]} {[{ couponValue | currency:'' }]}</strong>
					<p ng-if="state == states.invalid"><br/>Invalid code...</p>
					{# <strong>$ 250</strong> #}
				</div>

				<div class="modal__btns">
					<button ng-if="state == states.valid" ng-click="useCoupon($event)" type="submit" class="btn">Use this coupon</button>
				</div>

			</form>
		</div>
	</div>
</div>
