<div id="modal__delete-account" class="modal modal--active modal__delete-account" ng-controller="modal-delete-account" ng-if="modal == 'modal-delete-account'" ng-click="closeModal($event)" ng-cloak>
	<div class="modal__content" ng-click="$event.stopPropagation()">
		<div class="modal__header">
			<span class="l-center"></span>
			<h3 class="modal__header--title">We're sorry to see you go.</h3>
			<a href="#" ng-click="closeModal($event)" class="modal__header--close btn-modal">close</a>
		</div>

		<div class="modal__wrapper">
			<form action="" data-parsley-validate>

				<p><strong>Are you sure you want to delete your account?</strong></p>
				{# <p><strong>Please, note that there will be no way to restore your account.</strong></p> #}

{# 				<label ng-class="{active: account.terms}" class="customCheckbox customCheckbox--blue">
					<input type="checkbox" ng-model="account.terms" /> Terms and conditions
				</label>
 #}
				<br />
				<div class="modal__btns">
					<button ng-click="closeModal($event)" type="submit" class="btn">I will stay</button>
					<button ng-click="deleteAccount($event)" type="submit" class="btn modal__btn-delete">Delete my account</a>
				</div>

			</form>
		</div>
	</div>
</div>