<div id="modal__flight-details" class="modal modal__flight-details modal--active" ng-controller="modal-details" ng-if="modal == 'modal-details'" ng-cloak>
	<div class="modal__content" ng-click="$event.stopPropagation()">
		<div class="modal__header">
			<h3 class="modal__header--title">Flight Details</h3>
			<a href="#/" class="modal__header--close btn-modal">Close</a>
		</div>

		<div class="modal__wrapper">
			<div class="modal__flight-details--header">
				<span class="modal__flight-details--price">{[{fareGroup.currency}]} {[{fareGroup.totalPrice | currency:''}]} <small>total</small></span>

				<button ng-click="selectFlight($event, '{{url('flight_checkout')}}')" class="btn btn--select">Select this flight</button>

				<div class="item-share item-share--results">
					<ul>
						<li><a ng-click="openShareModal($event)" href="#" class="item-share__btn-share btn-modal">Share</a></li>
						<li><a href="{{url('print_flight')}}" target="_blank" class="item-share__btn-print">Print</a></li>
					</ul>
				</div>
			</div>
			<div class="modal__flight-details--content">

				<div class="modal__flight-details--item" ng-repeat="(i, flight) in selectedFlights">
					<div class="modal__flight-details--from-to">
						<span><strong>{[{airports[flight.segments[0].origin].city}]} ({[{flight.segments[0].origin}]})</strong> <small>to</small> <strong>{[{airports[flight.segments[flight.segments.length-1].destination].city}]} ({[{flight.segments[flight.segments.length-1].destination}]})</strong></span>
					</div>


					<div class="modal__flight-details--flight-group" ng-repeat="(j, segment) in flight.segments">
						<div class="modal__flight-details--flight--company">
							<img ng-src="https://www.gstatic.com/flights/airline_logos/35px/{[{segment.carrier.code}]}.png" alt="{[{segment.carrier.code}]}">
						</div>
						<div class="modal__flight-details--flight-info">
							<span><strong>{[{segment.departure | formatDate:'DD MMM'}]}</strong>, {[{segment.departure | formatDate:'HH[h]mm'}]}</span>
							<small>{[{airports[segment.origin].city}]} ({[{segment.origin}]}) <span class="dif">•</span> {[{segment.carrier.code}]} {[{segment.flightNumber}]}<span class="dif">•</span> {[{segment.cabinClass.code | cabinClass}]} <span class="dif" ng-if="segment.flightDetails.equipament">•</span> {[{segment.flightDetails.equipament}]}</small>

						</div>
						<div class="modal__flight-details--flight-info">
							<span><strong>{[{segment.arrival | formatDate:'DD MMM'}]}</strong>, {[{segment.arrival | formatDate:'HH[h]mm'}]} <span overnight departure="segment.departure" arrival="segment.arrival" class="modal__flight-details--overnight modal__flight-details--overnight-active">Overnight</span></span>
							<small>{[{airports[segment.destination].city}]} ({[{segment.destination}]})</small>
						</div>

						<div class="modal__flight-details--layover" ng-if="j < flight.segments.length-1">
							<span><strong layover to="flight.segments[j+1].departure" from="segment.arrival"></strong> <strong>layover</strong> - {[{airports[segment.destination].city}]}</span>
						</div>

					</div>
				</div>

			</div>
		</div>
	</div>
</div>