<div class="modal modal__forgot-password" id="modal__forgot-password">
	<div class="modal__content">
		<div class="modal__header">
			<span class="l-center"></span>
			<h3 class="modal__header--title">Forgot your password?</h3>
			<a href="#" class="modal__header--close btn-modal">close</a>
		</div>

		<div class="modal__wrapper">
			<form action="{{url('post_user_forgot_password')}}" method="post" data-parsley-validate>

				<p><strong>Enter your email below and we'll help you out.</strong></p>

				<input class="input-text" name="email" type="email" placeholder="Email" data-parsley-type="email" required />

				<div class="modal__btns">
					<button type="submit" class="btn">Continue</button>
				</div>

			</form>
		</div>
	</div>
</div>