<div class="modal modal__hotel-policy" id="modal__hotel-policy" ng-controller="hotel-policy">
	<div class="modal__content">
		<div class="modal__header">
			<span class="l-center"></span>
			<h3 class="modal__header--title">Cancelation Policy</h3>
			<a href="#" class="modal__header--close btn-modal">close</a>
		</div>

		<div ng-if="policies.rooms.length" class="modal__wrapper modal__content-text">
			<ul>
				<li ng-repeat="room in policies.rooms">
					<h4>{[{room.name}]}</h4>

					<div class="policies">
						<ul>
							<li ng-repeat="policy in room.cancellationPolicies">
								<h5><strong>From:</strong> {[{policy.startDate | formatDate:'DD MMMM YYYY, H:mm'}]} / <strong>To:</strong> {[{policy.endDate | formatDate:'DD MMMM YYYY, H:mm'}]}</h5>
								<p><strong>Price:</strong> {[{policy.currency}]} {[{policy.feeAmount}]}</p>
							</li>
						</ul>
					</div>

					<div ng-if="room.messages" class="messages">
						<h5><strong>Important</strong></h5>
						<p ng-repeat="message in room.messages">{[{message}]}</p>
					</div>
				</li>
			</ul>
		</div>

		<div ng-if="policies.cancellationPolicyVOs.length" class="modal__wrapper modal__content-text">
			<ul>
				<li ng-repeat="policy in policies.cancellationPolicyVOs">
					<div ng-if="policy.cancellationDay > 250">
						<h4>By the policy of the hotel, this booking is not refundable</h4>
					</div>
					<div ng-if="policy.cancellationDay < 250 && policy.cancellationDay > 0">
						<h4>From: {[{policy.startDate | formatDate:'DD MMMM YYYY, H:mm'}]} / To: {[{policy.endDate | formatDate:'DD MMMM YYYY, H:mm'}]}</h4>

						<p ng-if="policy.feeType == 'Amount'">Cancelation price: {[{policy.formattedFeeAmount}]} {[{policy.currency}]}.</p>

						<p ng-if="policy.feeType == 'Percent'">Cancelation price: {[{policy.feeAmount}]}% of the total price will be charged.</p>

						<p ng-if="policy.feeType == 'Night'">Cancelation price: {[{policy.feeAmount}]} nights.</p>
					</div>
					<div ng-if="policy.cancellationDay == 0">
						<h4>By the policy of the hotel, if the customer didn't show up, {[{policy.feeAmount}]}% of the total price will be charged.</h4>
					</div>
					
					<div class="remarks">
						<p>{[{policy.remarks}]}</p>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>