<div ng-cloak class="modal modal__insurance modal--active" ng-controller="insurance" ng-show="modal == 'insurance'" id="modal__insurance">
	<div class="modal__content">
		<div class="modal__header">
			<span class="l-center"></span>
			<h3 class="modal__header--title">Insurance plans</h3>
			<a href="#" class="modal__header--close btn-modal" ng-click="closeModal($event)">close</a>
		</div>

		<form action="" ng-submit="submitInsurance($event)">
			<div class="modal__wrapper">

				<div class="insurance__left">
					<ul>
						<li ng-repeat="(i, p) in passengers">
							<a href="#" ng-click="setActivePassenger()" ng-class="{'is-active': passengerActive == p}" ng-bind="p.personalDetails && p.personalDetails.firstName || 'Passenger ' + (i+1) + ' (' + p.type + ')'"></a>
						</li>
					</ul>
				</div>

				<div class="insurance__right">
					<p>We hope you do not need it. But in case you need any assistance, an insurance plan is highly recommended to protect you or your family.</p>

					<div class="insurance__sponsor">
						<small>Insurance<br/>plans by</small>
						<img src="{{app.config.staticpath}}/img/modules/booking-options/allianz.png" alt="" />
					</div>

					<div class="customRadio" ng-class="{'active': passengerActive.selectedInsurance == 'cancellation'}">
						<label><input type="radio" value="cancellation" ng-model="passengerActive.selectedInsurance">Add <a href="#" ng-click="showCancellation($event)">cancellation insurance</a></label>
					</div>

					<div class="customRadio" ng-class="{'active': passengerActive.selectedInsurance == 'fullCover'}">
						<label><input type="radio" value="fullCover" ng-model="passengerActive.selectedInsurance">Add <a href="#" ng-click="showFullCover($event)">full cover insurance</a></label>
					</div>

					<div class="customRadio" ng-class="{'active': passengerActive.selectedInsurance == 'decline'}">
						<label><input type="radio" value="decline" ng-model="passengerActive.selectedInsurance">No, thank you. I prefer to decline travel insurance</label>
					</div>

				</div>

			</div>

			<div class="modal__footer">
				<button type="submit" class="btn">Save</button>
				<div class="terms_checkbox">
					<div class="customCheckbox customCheckbox--blue" ng-class="{'active': passengerActive.terms == true}">
						<label><input type="checkbox" ng-model="passengerActive.terms" name="terms" required /> I agree with the <a href="/terms-and-conditions" target="_blank">terms and conditions</a></label>
					</div>	
				</div>
			</div>
		</form>
	</div>
</div>
