<div ng-cloak class="modal modal__insurance" ng-controller="insurance-details" ng-class="{'modal--active': modal == 'insurance-details'}" id="modal__insurance-details">
	<div class="modal__content">
		<div class="modal__header">
			<span class="l-center"></span>
			<h3 class="modal__header--title">Insurance types and conditions</h3>
			<a href="#" class="modal__header--close btn-modal" ng-click="showInsurance($event)">close</a>
		</div>

		<div class="modal__wrapper">
			<strong>Cancellation Insurance </strong>
			<p>This insurance type refunds the cancellation fees if you need to cancel your trip before departure in case of unexpected and serious illness or accident.</p>

			<strong>Cancellation and Travel Insurance</strong>
			<p>This insurance type includes cover for a number incidents including; cancellation fees if you need to cancel your trip prior to departure, medical costs abroad, and loss of baggage.</p>

			<strong>Cancellation Insurance (non UK departure) </strong>
			<p>This insurance for trips starting outside the UK refunds the cancellation fees if you need to cancel your trip before departure in case of unexpected and serious illness or accident.</p>

			<strong>Car excess Waiver Reimbursement </strong>
			<p>This insurance type can only be booked in conjunction with a car rental. At most car rental locations, the customer is responsible for the excess on the rental vehicle in case of an accident or theft of the vehicle. This insurance type covers the excess on damage or excess on theft. If your car gets damaged or stolen, the car rental company will charge your credit card. When you return home make a claim to Allianz Global Assistance.</p>

			<strong>Cancellation and Car Excess Waiver Reimbursement </strong>
			<p>This insurance type provides cancellation cover prior to travel and the excess on the rental vehicle in case of an accident or theft of the vehicle. This insurance type covers the excess on damage or excess on theft. If your car gets damaged or stolen, the car rental company will charge your credit card. When you return home make a claim to Allianz Global Assistance.</p>

			<strong>Cancellation, Travel Insurance and Car excess Waiver Reimbursement </strong>
			<p>This insurance type provides cancellation fees if you need to cancel your trip prior to departure, medical costs abroad, and loss of baggage, and the excess on the rental vehicle in case of an accident or theft of the vehicle. This insurance type covers the excess on damage or excess on theft. If your car gets damaged or stolen, the car rental company will charge your credit card. When you return home make a claim to Allianz Global Assistance.</p>
		</div>
	</div>
</div>
