<div class="modal-loading modal--active" id="modal-loading" ng-if="loading">
	<div class="modal-loading__content">
		<h4 class="modal-loading--title" ng-bind="loading.title"></h4>
		<p ng-bind="loading.message"></p>
	</div>
</div>
