<div class="modal modal__manage-luggage modal--active" ng-if="modal == 'manage-luggage'" id="modal__manage-luggage" ng-click="closeModal($event)" ng-cloak>
	<div class="modal__content" ng-click="$event.stopPropagation()">
		<div class="modal__header">
			<h3 class="modal__header--title">Manage Luggage</h3>
			<a href="#" ng-click="closeModal($event)" class="modal__header--close btn-save-modal">Save</a>
		</div>

		<div class="modal__wrapper">
			<div class="manage-luggage__left">
				<div class="manage-luggage__segment is-active">
					<a href="#" class="manage-luggage__segment-bar"><strong>Porto Alegre</strong> (POA) to <strong>Geneva</strong> (GVA)</a>

					<ul>
						<li>
							<a href="#" class="is-active">
								Moises Pio
								<span class="manage-luggage__bag">15kg</span>
								<span class="manage-luggage__bag">15kg</span>
							</a>
						</li>
						<li>
							<a href="#">
								Moises Pio
								<span class="manage-luggage__bag">15kg</span>
							</a>
						</li>
					</ul>
				</div>
				<div class="manage-luggage__segment">
					<a href="#" class="manage-luggage__segment-bar"><strong>Geneva</strong> (GVA) to <strong>Lisbon</strong> (LIS)</a>

					<ul>
						<li>
							<a href="#">
								Moises Pio
								<span class="manage-luggage__bag">15kg</span>
							</a>
						</li>
						<li>
							<a href="#">
								Moises Pio
								<span class="manage-luggage__bag">15kg</span>
							</a>
						</li>
					</ul>
				</div>
			</div>

			<div class="manage-luggage__right">
				<div class="manage-luggage__header-info">
					<span>Bags</span>
					<span>Price</span>
					<span></span>
				</div>

				<div class="manage-luggage__bags">
					<ul>
						<li>
							<span class="bag-title">No bags</span>
							<span class="bag-price">-</span>
							<button class="bag-button btn">Select</button>
						</li>
						<li>
							<span class="bag-title">15kg</span>
							<span class="bag-price">$25</span>
							<button class="bag-button btn">Select</button>
						</li>
						<li>
							<span class="bag-title">20kg</span>
							<span class="bag-price">$35</span>
							<button class="bag-button btn">Select</button>
						</li>
						<li>
							<span class="bag-title">15kg + 15kg</span>
							<span class="bag-price">$50</span>
							<button class="bag-button btn" disabled>Selected</button>
						</li>
						<li>
							<span class="bag-title">15kg + 20kg</span>
							<span class="bag-price">$60</span>
							<button class="bag-button btn">Select</button>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="modal__footer">
			<button class="btn">Save</button>
			<span class="manage-luggage__total-price">Total: <strong>US$75</strong></span>
		</div>
	</div>
</div>
