<script>
	window.loadModules = ['tooltip'];
</script>

<div class="modal modal--select-your-seat modal--active" ng-controller="select-seat" ng-show="modal == 'select-seat'" id="modal--select-your-seat" ng-click="closeSelectSeat($event)" ng-cloak>
	<div class="modal__content" ng-click="$event.stopPropagation()">

		<div class="modal__header">
			<span class="l-center"></span>
			<h3 class="modal__header--title">Select your seat</h3>
			<a href="#" ng-click="closeSelectSeat($event)" class="modal__header--close btn-modal">close</a>
		</div>

		<div class="modal__wrapper">
			<div class="modal--select-your-seat--left l-col-50">

				<div ng-repeat="(i, f) in flights" class="modal--select-your-seat-flight" ng-if="f.seatDetails.row.length">
					<span class="from-to" ng-click="setCurrentFlight($event)">
						<strong title="{[{f.flightGroup.departure.cityName}]}">{[{f.flightGroup.departure.cityCode}]}</strong> to <strong title="{[{f.flightGroup.arrival.cityName}]}">{[{f.flightGroup.arrival.cityCode}]}</strong>
					</span>
					<div ng-class="{'modal--select-your-seat-flight__seats--active': i == currentFlightIndex}" class="modal--select-your-seat-flight__seats">
						<button ng-repeat="(j, passenger) in passengers" ng-class="{active: j == currentPassengerIndex}" class="passenger-seat" ng-click="setCurrentPassenger($event)">
							<input type="text" class="input-text passenger-seat-number" ng-model="passenger['selectedSeat'][currentFlightIndex]" disabled>
							<span class="passenger-seat-text" ng-bind="passenger.personalDetails && passenger.personalDetails.firstName || 'Passenger ' + (j+1) + ' (' + passenger.type + ')'"></span>
						</button>
					</div>
				</div>

				<ul class="modal--select-your-seat-flight__legend">
					<li><span class="seat-icon seat-available"></span>Available</li>
					<li><span class="seat-icon seat-not-available"></span>Not available</li>
					<li><span class="seat-icon seat-selected"></span>Selected</li>
					<li><span class="seat-icon seat-already-reserved"></span>Already reserved</li>
				</ul>

				<div class="modal--select-your-seat-flight__footer">
					<span class="checkout__error-message" ng-if="error_message">Error: {[{error_message}]}<br /><br /></span>
					<button class="btn" ng-click="bookSeats($event)">Save</button>
				</div>
			</div>
			<div class="modal--select-your-seat--right l-col-50" hover-zones>
				<div class="modal--select-your-seat--zones">
					<div ng-repeat="zone in zones" class="modal--select-your-seat--zone" style="height: {[{zone.height}]}px">
						<strong class="modal--select-your-seat__zone-price">{[{zone.price}]}</strong>
						<span class="modal--select-your-seat__zone-name">{[{zone.category}]}</span>
					</div>
				</div>

				<div airplane class="modal--select-your-seat--airplane">
					<span class="left_wing"></span>
					<span class="right_wing"></span>
					<div class="modal--select-your-seat--airplane__front"></div>
					<div class="modal--select-your-seat--airplane__middle">
						<ul ng-repeat="row in seatDetails.row" class="modal--select-your-seat--seats {[{row.extra_fields.className}]}" data-row-number="{[{row.number}]}">
							<li data-text="{[{seat.characteristic | characteristics:seat.extra_fields.available}]}"	ng-repeat="seat in row.seat" class="has-tooltip {[{seat.extra_fields.className}]}" data-row-number="{[{row.number}]}" data-seat-column="{[{seat.column}]}"><button ng-click="setPassengerSeat($event);" ng-disabled="!seat.extra_fields.available"></button></li>
						</ul>
					</div>
					<div class="modal--select-your-seat--airplane__back"></div>
				</div>
			</div>
		</div>

	</div>

</div>
