<div class="modal modal__share" ng-class="{'modal-active': modal == 'car' || modal == 'hotel' || modal == 'flight' || modal == 'hotel-deals'}" id="modal__share" ng-controller="share" ng-click="closeModal($event)" ng-cloak>
	<div class="modal__content" ng-click="$event.stopPropagation()">

		<div class="modal__header">
			<span class="l-center"></span>
			<h3 class="modal__header--title">How would you like to share?</h3>
			<a href="#" ng-click="closeModal($event)" class="modal__header--close btn-modal">close</a>
		</div>



		<div class="internal-tabs internal-tabs--modal">

			<div class="internal-tabs__tabs-links">
				<a href="#" ng-click="tab = 2; $event.preventDefault();" ng-class="{'internal-tabs__tab-link--active': tab == 0 || !tab}" class="internal-tabs__tab-link">Twitter</a>
				<a href="#" ng-click="shareFB($event);" class="internal-tabs__tab-link">Facebook</a>
				<a href="#" ng-click="tab = 3; $event.preventDefault();" ng-class="{'internal-tabs__tab-link--active': tab == 2}" class="internal-tabs__tab-link">Link</a>
				<!-- <a href="#" ng-click="tab = 0; $event.preventDefault();" ng-class="{'internal-tabs__tab-link--active': tab == 0 || !tab}" class="internal-tabs__tab-link">E-mail</a> -->
			</div>


			<!-- <div class="internal-tabs__tab" ng-class="{'internal-tabs__tab--active': tab == 0 || !tab }">
				<form action="" method="post" class="modal__form" ng-submit="submitEmail($event);" data-parsley-validate>

					<label class="modal__field">Your e-mail address
						<input type="text" class="input-text" ng-model="form.email" required></label>

					<label class="modal__field">Receiver e-mail address <span>(separate with comma)</span>
						<input type="text" class="input-text" ng-model="form.emails" required></label>

					<label class="modal__field">Subject
						<input type="text" class="input-text" ng-model="form.subject" required></label>

					<label class="modal__field">Message
						<textarea class="input-text" ng-model="form.message" required></textarea>
						</label>

					<input type="submit" value="Share" class="btn">
				</form>
			</div> -->

			<div class="internal-tabs__tab"></div>

			<div class="internal-tabs__tab" ng-class="{'internal-tabs__tab--active': tab == 0 || !tab }">
				<form action="" class="modal__form">

					<label class="modal__field">Tweet about this
						<textarea class="input-text" ng-if="modal == 'hotel'" disabled>Just found this nice hotel on HashtagTravels: {[{shareUrl}]}</textarea>
						<textarea class="input-text" ng-if="modal == 'car'" disabled>Just found this nice car on HashtagTravels: {[{shareUrl}]}</textarea>
						<textarea class="input-text" ng-if="modal == 'hotel-deals'" disabled>Just found this nice package on HashtagTravels: {[{shareUrl}]}</textarea>
						<textarea class="input-text" ng-if="modal == 'flight'" disabled>Just found this nice flight on HashtagTravels: {[{shareUrl}]}</textarea>
					</label>

					<a target="_blank" href="https://twitter.com/intent/tweet?&amp;text=Just found this nice hotel on HashtagTravels: {[{shareUrl | encode}]}" class="btn" ng-if="modal == 'hotel'">Tweet</a>
					<a target="_blank" href="https://twitter.com/intent/tweet?&amp;text=Just found this nice car on HashtagTravels: {[{shareUrl | encode}]}" class="btn" ng-if="modal == 'car'">Tweet</a>
					<a target="_blank" href="https://twitter.com/intent/tweet?&amp;text=Just found this nice package on HashtagTravels: {[{shareUrl | encode}]}" class="btn" ng-if="modal == 'hotel-deals'">Tweet</a>
					<a target="_blank" href="https://twitter.com/intent/tweet?&amp;text=Just found this nice flight on HashtagTravels: {[{shareUrl | encode}]}" class="btn" ng-if="modal == 'flight'">Tweet</a>
				</form>
			</div>

			<div class="internal-tabs__tab" ng-class="{'internal-tabs__tab--active': tab == 2 }">
				<form action="" class="modal__form">

					<label class="modal__field" ng-if="modal == 'hotel'">Link for this hotel <input type="text" class="input-text" name="link" disabled ng-model="shareUrl"></label>
					<label class="modal__field" ng-if="modal == 'car'">Link for this car <input type="text" class="input-text" name="link" disabled ng-model="shareUrl"></label>
					<label class="modal__field" ng-if="modal == 'hotel-deals'">Link for this package <input type="text" class="input-text" name="link" disabled ng-model="shareUrl"></label>
					<label class="modal__field" ng-if="modal == 'flight'">Link for this flight <input type="text" class="input-text" name="link" disabled ng-model="shareUrl"></label>

					<!-- <a href="#" data-clipboard-text="{[{shareUrl}]}" copy-clipboard class="btn">Copy link</a> -->
				</form>
			</div>

		</div>


	</div>
</div>