<div class="modal modal__successful-login{% if modal == 'successful-login' %} modal--active{% endif %}" id="modal__successful-login">
	<div class="modal__content">
		<div class="modal__header">
			<span class="l-center"></span>
			<h3 class="modal__header--title">You're successfully logged in</h3>
			<a href="#" class="modal__header--close btn-modal">close</a>
		</div>

		<div class="modal__wrapper">
			<p>Use this password to access your account at any time.</p>

			<div class="modal__btns">
				<button class="btn">Continue</button>
			</div>
		</div>
	</div>
</div>