<div id="modal__transfer-hashtags" class="modal modal--active modal__transfer-hashtags" ng-controller="modal-transfer-hashtags" ng-if="modal == 'modal-transfer-hashtags'" ng-click="closeModal($event)" ng-cloak>
	<div class="modal__content" ng-click="$event.stopPropagation()">
		<div class="modal__header">
			<span class="l-center"></span>
			<h3 class="modal__header--title">Transfer hashtags</h3>
			<a href="#" ng-click="closeModal($event)" class="modal__header--close">close</a>
		</div>

		<div class="modal__wrapper">
			<form action="" data-parsley-validate>

				<p><strong>Please, inform how many and to who would you like to give <i class="modal__hash-icon"></i>Hashtags.</strong></p>

				<label>
					<i class="modal__hash-icon"></i> Receiver’s e-mail
					<input type="text" class="input-text" data-parsley-type="email" required>
				</label>

				<label>
					Number of <i class="modal__hash-icon"></i>Hashtags
					<input type="text" class="input-text" required>
				</label>

				<button type="submit" class="btn">Transfer <i class="modal__hash-icon modal__hash-icon--white"></i>Hashtags</button>
			</form>
		</div>
	</div>
</div>