.mobile-slogan
	display none
	phone(display, block)
	position absolute
	z-index 20
	color white
	font-size 160%
	left 10%
	top 10%
	margin-top responsive-size(49px)

.mainContent
	phone(width, 100%)

.mainContent-map
	position relative
	width 100%
	height 100%
	phone(display, none)
