html, body
	height 100%
	overflow hidden

body
	font-weight normal
	text-rendering optimizeLegibility
	-webkit-font-smoothing antialiased
	background #fff
	font-size (base-font-size)vmin
	phone(font-size, 100%)
	phone(overflow, auto)
	font-family 'Asap', sans-serif

	@media (min-width: 1367px)
		font-size 15px

	@media(min-height: 801px)
		font-size 15px


a
	color #1bb7ea
	text-decoration none
	font-weight normal
	text-decoration underline

a:hover
	text-decoration none

strong, em
	font-weight bold

h1, h2, h3, h4, h5, h6
	line-height 120%
	font-weight normal


hr
	margin-top 20px
	margin-bottom 20px
	border 0
	border-top 1px solid #eee


/**
 * Input numbers
 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
	-webkit-appearance none
