.no-transitions *, .no-transitions
	transition none !important


.l-toCenter
	display inline-block
	width 0
	height 100%
	position relative
	vertical-align middle

.hidden
	display none !important


.clearfix
	clearfix()

.nothing-to-show
	color #999
	text-align center
	display block
	padding 30px

.hidden-phone
	phone display none

.hidden-desktop
	display none
	phone display inline-block

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak
	display none !important