/**
 * Main
 */

.main
	absolute top responsive-size(49px) bottom responsive-size(49px) left right
	margin-top 5px
	margin-bottom 5px
	overflow hidden

	&.main-home__open

		.slogan,
		.mobile-slogan,
		.mobile-navigation,
		.mainContent
			display block

		.search-tool
			top 0
			border 0

.view-container
	height 100%


/**
 * Grid
 */

[class*='l-col']
	float left
	position relative
	box-sizing border-box

.l-col-25
	width 25%
	height 100%

.l-col-50
	width 50%
	height 100%

.l-col-75
	width 75%
	height 100%

.l-fixed-container
	width 980px
	margin 0 auto

#map
	width 100%
	height 100%
	overflow hidden




/**
 * Phone
 */

@media _phone
	.main
		position relative
		top 0
		bottom auto
		margin 0
		height auto
		// margin-top responsive-size(49px)

		.slogan,
		.mobile-slogan,
		.mobile-navigation,
		.mainContent
			display none

		.search-tool
			top 0
			border 0

		.main-sidebar
			display block

		&.main-home__open
			height 100%
			margin-top responsive-size(-110px)

			.main-sidebar
				display none

		.l-col-75
			width 100%

	#map
		display none

