-pos(type, args)
	i = 0
	position: unquote(type)
	{args[i]}: args[i + 1] is a 'unit' ? args[i += 1] : 0

	if(args[i + 1])
		{args[i += 1]}: args[i + 1] is a 'unit' ? args[i += 1] : 0

	if(args[i + 1])
		{args[i += 1]}: args[i + 2] is a 'unit' ? args[i += 2] : 0

	if(args[i + 1])
		{args[i += 1]}: args[i + 3] is a 'unit' ? args[i += 3] : 0


font-face(family, file = family)
	@font-face {
		font-family: family
		src: url(file+'.eot')
		src: url(file+'.eot?#iefix') format('embedded-opentype'), url(file+'.woff') format('woff'), url(file+'.ttf') format('truetype'), url(file+'.svg#'+family) format('svg')
		font-weight: normal
		font-style: normal
	}

ir()
	text-indent -9000em


/* Responsive */

_tablet = "(max-width: 979px)"
_tablet-landscape = "(max-width: 979px) and (orientation: landscape)"
_phone = "(max-width: 599px)"

responsive-size(value)
	(value / 14.1)em

standard(name, args...)
	add-property name, args

tablet(name, args...)
	@media _tablet
		add-property name, args

tablet-landscape(name, args...)
	@media _tablet-landscape
		add-property name, args

phone(name, args...)
	@media _phone
		add-property name, args
