{% extends "layout.twig" %}

{% block content %}

<script src="{{app.config.staticpath}}/vendor/angular.js"></script>
<script src="{{app.config.staticpath}}/vendor/angular-cookies.js"></script>
<script src="{{app.config.staticpath}}/vendor/angular-local-storage.js"></script>
<script src="{{app.config.staticpath}}/js/HashtagControllers.js"></script>
<script src="{{app.config.staticpath}}/js/HashtagConstants.js"></script>
<script src="{{app.config.staticpath}}/js/HashtagFilters.js"></script>
<script src="{{app.config.staticpath}}/js/HotelService.js"></script>
<script src="{{app.config.staticpath}}/js/HotelCheckout.js"></script>
<script src="{{app.config.staticpath}}/js/HashtagDirectives.js"></script>

<script>
	window.loadModules = ['modal'];
</script>

<div class="main" ng-app="HotelCheckout">

	<!-- SUMMARY -->
	<div class="summary summary--sleep l-col-25" ng-controller="summary" ng-cloak>
		<h2 class="summary__title">Booking Summary</h2>

		<table class="summary__hotel">
			<tr>
				<td ng-show="{[{hotel.pictures}]}" class="summary__hotel--col-thumb">
					<img class="summary__hotel-thumb" ng-src="{[{hotel.pictures[0].url}]}" />
				</td>
				<td>
					<h2 class="summary__hotel-title">{[{hotel.title}]}</h2>
					<span class="hotel-stars hotel-stars--{[{hotel.stars}]}">{[{hotel.stars}]}</span>
					<h4 class="summary__hotel-address">{[{hotel.address}]}</h4>
					<a href="#modal__hotel-policy" ng-if="policies.rooms.length || policies.cancellationPolicyVOs.length" class="btn-modal" ng-click="hotelPolicy($event)">Cancelation Policy</a>
				</td>
			</tr>
		</table>

		<table class="summary__room-details">
			<tr>
				<th ng-show="{[{room.guests}]}">Guests</th>
				<th>Rooms</th>
			</tr>
			<tr>
				<td ng-show="{[{room.guests}]}">{[{room.guests}]}</td>
				<td>{[{room.rooms.length}]}</td>
			</tr>
			<tr>
				<th colspan="2">Check-in</th>
			</tr>
			<tr>
				<td colspan="2">{[{hotel.checkin}]}</td>
			</tr>
			<tr>
				<th colspan="2">Check-out</th>
			</tr>
			<tr>
				<td colspan="2">{[{hotel.checkout}]}</td>
			</tr>

		</table>

		<table class="summary__costs">
			<tr>
				<td>Guests({[{room.guests}]})</td>
				<td class="summary__price">{[{ room.currency }]} {[{room.formattedTotalPrice}]}</td>
			</tr>
			<tr class="summary__total">
				<td>Total trip cost</td>
				<td class="summary__total-cost">{[{ room.currency }]} {[{room.formattedTotalPrice}]}</td>
			</tr>
		</table>

		<!-- <div class="summary__tweet summary__tweet--no-border" ng-show="state.name != 'confirmation'">
			<a target="_blank" href="https://twitter.com/intent/tweet?&amp;text=I just booked my %23hotel with http%3A%2F%2Fwww.hashtagtravels.com and received $5 discount for tweeting! %23tweetfordiscount @hashtagtravels" class="btn btn-small summary__tweet-button">Tweet</a>

			<span class="summary__tweet-text">
				Tweet now and get <strong>$5 DISCOUNT</strong> on this trip!
			</span>
		</div> -->

		<div class="summary__footer" ng-show="state.name != 'confirmation'">
			<a ng-href="{{url('hotel_search')}}" ng-click="backToPreviousState($event)" class="summary__go-back">‹ Back to {[{previousState.string || 'Hotel Search'}]}</a>
		</div>

	</div>
	<!-- END SUMMARY -->



	<!-- PERSONAL DETAILS -->
	<form name="personalDetailsForm" ng-controller="personal-details" ng-submit="submitPersonalDetails($event)" ng-show="state.name === 'personal-details'" class="checkout checkout--has-footer l-col-75" data-parsley-validate>
		<h2 class="checkout__title">Personal Details</h2>

		<div class="checkout__body">
			{# <p class="checkout__fieldset-tip">Important: Traveller names must match your government-issued photo ID exactly.</p> #}
			{# <hr/> #}

			<div class="checkout__item" ng-repeat="(i, p) in guests | orderBy:'type' | orderBy: 'roomNr'">
				<input type="hidden" name="paxType" value="{[{p.type}]}" ng-model="p.type" />

				<table class="checkout__fieldset">
					<tr>
						<th colspan="3">Passenger <span class="checkout__item--count" ng-bind="i+1"></span> ({[{p.type}]}) / Room: {[{p.roomNr + 1}]}</th>
					</tr>
					<tr>
						<td>
							<label class="checkout__field">First name<br />
								<div class="phone-with-code" id="personalDetailsNameTitleContainer">
									<div class="country-code-container">
										<span class="country-code-text" ng-bind="p.title"></span>

										<select ng-model="p.title" ng-init="p.title = 'Mr'" name="title" class="country-code">
											<option value="Mr">Mr</option>
											<option value="Mrs">Mrs</option>
											<option value="Ms">Ms</option>
											<option value="Miss">Miss</option>
										 </select>

									</div>
									<input ng-model="p.firstName" ng-keyup="remove_special_char(this, p.firstName, 'firstName')" type="text" class="country-code-input" data-parsley-class-handler="#personalDetailsNameTitleContainer" required />
								</div>
							</label>
						</td>

						<td>
							<label class="checkout__field">Last name<br />
								<input ng-model="p.lastName" ng-keyup="remove_special_char(this, p.lastName, 'lastName')" type="text" class="input-text" required />
							</label>
						</td>

						<td>
							<label class="checkout__field">Age<br />
								<input ng-model="p.age" type="number" class="input-text" required />
							</label>
						</td>
					</tr>

					<tr>
						<td>
							<label class="checkout__field">E-mail<br />
								<input ng-model="p.email" type="email" class="input-text" required />
							</label>
						</td>

						<td>
							<label class="checkout__field">Nationality<br />
								<!-- <input ng-model="p.nationality" type="number" class="input-text" required /> -->
								

								<div class="customSelect">
									<select ng-model="p.nationality" ng-init="p.nationality = '{{app.session.get('nationality')}}'" value="{{app.session.get('nationality')}}" class="customSelect-select" data-parsley-class-handler=".customSelect" data-parsley-error-message="Required" required>
										<option value="">Nationality</option>
										<option value="AF">Afghanistan</option>
										<option value="AX">Åland Islands</option>
										<option value="AL">Albania</option>
										<option value="DZ">Algeria</option>
										<option value="AS">American Samoa</option>
										<option value="AD">Andorra</option>
										<option value="AO">Angola</option>
										<option value="AI">Anguilla</option>
										<option value="AQ">Antarctica</option>
										<option value="AG">Antigua and Barbuda</option>
										<option value="AR">Argentina</option>
										<option value="AM">Armenia</option>
										<option value="AW">Aruba</option>
										<option value="AU">Australia</option>
										<option value="AT">Austria</option>
										<option value="AZ">Azerbaijan</option>
										<option value="BS">Bahamas</option>
										<option value="BH">Bahrain</option>
										<option value="BD">Bangladesh</option>
										<option value="BB">Barbados</option>
										<option value="BY">Belarus</option>
										<option value="BE">Belgium</option>
										<option value="BZ">Belize</option>
										<option value="BJ">Benin</option>
										<option value="BM">Bermuda</option>
										<option value="BT">Bhutan</option>
										<option value="BO">Bolivia</option>
										<option value="BA">Bosnia and Herzegovina</option>
										<option value="BW">Botswana</option>
										<option value="BV">Bouvet Island</option>
										<option value="BR">Brazil</option>
										<option value="IO">British Indian Ocean Territory</option>
										<option value="BN">Brunei Darussalam</option>
										<option value="BG">Bulgaria</option>
										<option value="BF">Burkina Faso</option>
										<option value="BI">Burundi</option>
										<option value="KH">Cambodia</option>
										<option value="CM">Cameroon</option>
										<option value="CA">Canada</option>
										<option value="CV">Cape Verde</option>
										<option value="KY">Cayman Islands</option>
										<option value="CF">Central African Republic</option>
										<option value="TD">Chad</option>
										<option value="CL">Chile</option>
										<option value="CN">China</option>
										<option value="CX">Christmas Island</option>
										<option value="CC">Cocos (Keeling) Islands</option>
										<option value="CO">Colombia</option>
										<option value="KM">Comoros</option>
										<option value="CG">Congo</option>
										<option value="CD">Congo, The Democratic Republic of The</option>
										<option value="CK">Cook Islands</option>
										<option value="CR">Costa Rica</option>
										<option value="CI">Cote D'ivoire</option>
										<option value="HR">Croatia</option>
										<option value="CU">Cuba</option>
										<option value="CY">Cyprus</option>
										<option value="CZ">Czech Republic</option>
										<option value="DK">Denmark</option>
										<option value="DJ">Djibouti</option>
										<option value="DM">Dominica</option>
										<option value="DO">Dominican Republic</option>
										<option value="EC">Ecuador</option>
										<option value="EG">Egypt</option>
										<option value="SV">El Salvador</option>
										<option value="GQ">Equatorial Guinea</option>
										<option value="ER">Eritrea</option>
										<option value="EE">Estonia</option>
										<option value="ET">Ethiopia</option>
										<option value="FK">Falkland Islands (Malvinas)</option>
										<option value="FO">Faroe Islands</option>
										<option value="FJ">Fiji</option>
										<option value="FI">Finland</option>
										<option value="FR">France</option>
										<option value="GF">French Guiana</option>
										<option value="PF">French Polynesia</option>
										<option value="TF">French Southern Territories</option>
										<option value="GA">Gabon</option>
										<option value="GM">Gambia</option>
										<option value="GE">Georgia</option>
										<option value="DE">Germany</option>
										<option value="GH">Ghana</option>
										<option value="GI">Gibraltar</option>
										<option value="GR">Greece</option>
										<option value="GL">Greenland</option>
										<option value="GD">Grenada</option>
										<option value="GP">Guadeloupe</option>
										<option value="GU">Guam</option>
										<option value="GT">Guatemala</option>
										<option value="GG">Guernsey</option>
										<option value="GN">Guinea</option>
										<option value="GW">Guinea-bissau</option>
										<option value="GY">Guyana</option>
										<option value="HT">Haiti</option>
										<option value="HM">Heard Island and Mcdonald Islands</option>
										<option value="VA">Holy See (Vatican City State)</option>
										<option value="HN">Honduras</option>
										<option value="HK">Hong Kong</option>
										<option value="HU">Hungary</option>
										<option value="IS">Iceland</option>
										<option value="IN">India</option>
										<option value="ID">Indonesia</option>
										<option value="IR">Iran, Islamic Republic of</option>
										<option value="IQ">Iraq</option>
										<option value="IE">Ireland</option>
										<option value="IM">Isle of Man</option>
										<option value="IL">Israel</option>
										<option value="IT">Italy</option>
										<option value="JM">Jamaica</option>
										<option value="JP">Japan</option>
										<option value="JE">Jersey</option>
										<option value="JO">Jordan</option>
										<option value="KZ">Kazakhstan</option>
										<option value="KE">Kenya</option>
										<option value="KI">Kiribati</option>
										<option value="KP">Korea, Democratic People's Republic of</option>
										<option value="KR">Korea, Republic of</option>
										<option value="KW">Kuwait</option>
										<option value="KG">Kyrgyzstan</option>
										<option value="LA">Lao People's Democratic Republic</option>
										<option value="LV">Latvia</option>
										<option value="LB">Lebanon</option>
										<option value="LS">Lesotho</option>
										<option value="LR">Liberia</option>
										<option value="LY">Libyan Arab Jamahiriya</option>
										<option value="LI">Liechtenstein</option>
										<option value="LT">Lithuania</option>
										<option value="LU">Luxembourg</option>
										<option value="MO">Macao</option>
										<option value="MK">Macedonia, The Former Yugoslav Republic of</option>
										<option value="MG">Madagascar</option>
										<option value="MW">Malawi</option>
										<option value="MY">Malaysia</option>
										<option value="MV">Maldives</option>
										<option value="ML">Mali</option>
										<option value="MT">Malta</option>
										<option value="MH">Marshall Islands</option>
										<option value="MQ">Martinique</option>
										<option value="MR">Mauritania</option>
										<option value="MU">Mauritius</option>
										<option value="YT">Mayotte</option>
										<option value="MX">Mexico</option>
										<option value="FM">Micronesia, Federated States of</option>
										<option value="MD">Moldova, Republic of</option>
										<option value="MC">Monaco</option>
										<option value="MN">Mongolia</option>
										<option value="ME">Montenegro</option>
										<option value="MS">Montserrat</option>
										<option value="MA">Morocco</option>
										<option value="MZ">Mozambique</option>
										<option value="MM">Myanmar</option>
										<option value="NA">Namibia</option>
										<option value="NR">Nauru</option>
										<option value="NP">Nepal</option>
										<option value="NL">Netherlands</option>
										<option value="AN">Netherlands Antilles</option>
										<option value="NC">New Caledonia</option>
										<option value="NZ">New Zealand</option>
										<option value="NI">Nicaragua</option>
										<option value="NE">Niger</option>
										<option value="NG">Nigeria</option>
										<option value="NU">Niue</option>
										<option value="NF">Norfolk Island</option>
										<option value="MP">Northern Mariana Islands</option>
										<option value="NO">Norway</option>
										<option value="OM">Oman</option>
										<option value="PK">Pakistan</option>
										<option value="PW">Palau</option>
										<option value="PS">Palestinian Territory, Occupied</option>
										<option value="PA">Panama</option>
										<option value="PG">Papua New Guinea</option>
										<option value="PY">Paraguay</option>
										<option value="PE">Peru</option>
										<option value="PH">Philippines</option>
										<option value="PN">Pitcairn</option>
										<option value="PL">Poland</option>
										<option value="PT">Portugal</option>
										<option value="PR">Puerto Rico</option>
										<option value="QA">Qatar</option>
										<option value="RE">Reunion</option>
										<option value="RO">Romania</option>
										<option value="RU">Russian Federation</option>
										<option value="RW">Rwanda</option>
										<option value="SH">Saint Helena</option>
										<option value="KN">Saint Kitts and Nevis</option>
										<option value="LC">Saint Lucia</option>
										<option value="PM">Saint Pierre and Miquelon</option>
										<option value="VC">Saint Vincent and The Grenadines</option>
										<option value="WS">Samoa</option>
										<option value="SM">San Marino</option>
										<option value="ST">Sao Tome and Principe</option>
										<option value="SA">Saudi Arabia</option>
										<option value="SN">Senegal</option>
										<option value="RS">Serbia</option>
										<option value="SC">Seychelles</option>
										<option value="SL">Sierra Leone</option>
										<option value="SG">Singapore</option>
										<option value="SK">Slovakia</option>
										<option value="SI">Slovenia</option>
										<option value="SB">Solomon Islands</option>
										<option value="SO">Somalia</option>
										<option value="ZA">South Africa</option>
										<option value="GS">South Georgia and The South Sandwich Islands</option>
										<option value="ES">Spain</option>
										<option value="LK">Sri Lanka</option>
										<option value="SD">Sudan</option>
										<option value="SR">Suriname</option>
										<option value="SJ">Svalbard and Jan Mayen</option>
										<option value="SZ">Swaziland</option>
										<option value="SE">Sweden</option>
										<option value="CH">Switzerland</option>
										<option value="SY">Syrian Arab Republic</option>
										<option value="TW">Taiwan, Province of China</option>
										<option value="TJ">Tajikistan</option>
										<option value="TZ">Tanzania, United Republic of</option>
										<option value="TH">Thailand</option>
										<option value="TL">Timor-leste</option>
										<option value="TG">Togo</option>
										<option value="TK">Tokelau</option>
										<option value="TO">Tonga</option>
										<option value="TT">Trinidad and Tobago</option>
										<option value="TN">Tunisia</option>
										<option value="TR">Turkey</option>
										<option value="TM">Turkmenistan</option>
										<option value="TC">Turks and Caicos Islands</option>
										<option value="TV">Tuvalu</option>
										<option value="UG">Uganda</option>
										<option value="UA">Ukraine</option>
										<option value="AE">United Arab Emirates</option>
										<option value="GB">United Kingdom</option>
										<option value="US">United States</option>
										<option value="UM">United States Minor Outlying Islands</option>
										<option value="UY">Uruguay</option>
										<option value="UZ">Uzbekistan</option>
										<option value="VU">Vanuatu</option>
										<option value="VE">Venezuela</option>
										<option value="VN">Viet Nam</option>
										<option value="VG">Virgin Islands, British</option>
										<option value="VI">Virgin Islands, U.S.</option>
										<option value="WF">Wallis and Futuna</option>
										<option value="EH">Western Sahara</option>
										<option value="YE">Yemen</option>
										<option value="ZM">Zambia</option>
										<option value="ZW">Zimbabwe</option>
									</select>
								</div>
							</label>
						</td>
					</tr>
				</table>

				<hr ng-if="i < passengers.length-1" />
			</div>

		</div>

		<div class="checkout__footer">
			<span class="l-toCenter"></span><button class="checkout__submit btn" type="submit">Continue booking</button>
		</div>

	</form>

	<!-- END PERSONAL DETAILS -->



	<!-- PAYMENT -->
	<form action="https://pilot.datatrans.biz/upp/jsp/upStart.jsp" method="post" name="paymentDetailsForm" ng-controller="payment-details" ng-submit="submitPaymentDetails($event)" ng-if="state.name === 'payment-details'" action="{{url('flight_checkout')}}" class="checkout l-col-75" data-parsley-validate>

		<input type="hidden" name="testOnly" value="yes">
		<input type="hidden" name="hiddenMode" value="yes">
		<input type="hidden" name="language" value="en">
		<input type="hidden" name="merchantId" value="1100003990">
		<input type="hidden" name="successUrl" value="{{url('hotel_checkout_payment')}}?success">
		<input type="hidden" name="errorUrl" value="{{url('hotel_checkout_payment')}}?error">
		<input type="hidden" name="cancelUrl" value="{{url('hotel_checkout_payment')}}?cancel">

		<h2 class="checkout__title">Payment Details</h2>


		{# <div class="internal-tabs"> #}

			{# <h4 class="checkout__subtitle">How would you like to pay?</h4>

			<div class="internal-tabs__tabs-links">
				<a href="#" class="internal-tabs__tab-link internal-tabs__tab-link--card internal-tabs__tab-link--active">Credit card <span class="intenal-tabs__icons-card"></span></a>
				<a href="#" class="internal-tabs__tab-link">PayPal <span class="intenal-tabs__icons-card internal-tabs__icons-card--paypal"></span></a>
			</div> #}

			{# <div class="internal-tabs__content"> #}

				{# <div class="internal-tabs__tab internal-tabs__tab--active"> #}

					<table class="checkout__fieldset">

						<input type="hidden" ng-value="payment.amount" name="amount">
						<input type="hidden" ng-value="payment.currency" name="currency">
						<input type="hidden" ng-value="payment.ref" name="refno">
						<input type="hidden" ng-value="payment.sign" name="sign">

						{% if datatrans %}
						<pre>{{datatrans | json_encode}}</pre>
						<script type="text/javascript">window.DATATRANS_RESPONSE = {{datatrans | json_encode | raw}}</script>
						{% endif %}

						<tr>
							<th colspan="3">Credit card info</th>
						</tr>

						<tr>
							<td>
								<label class="checkout__field">Form of payment<br />
									<div class="customSelect">
										<select ng-model="payment.method" name="paymentmethod" class="customSelect-select" data-parsley-class-handler=".customSelect" data-parsley-error-message="Required" required>
											<option value="">Select</option>
											<option value="ECA">MasterCard</option>
											<option value="VIS">Visa</option>
											<option value="PEF">PostFinance E-Finance</option>
											<option value="PFC">PostFinance Card</option>
										</select>
									</div>
								</label>
							</td>
							<td></td>
							<td></td>
						</tr>

						<tr>
							<td>
								<label class="checkout__field">Debit/Credit card number<br />
									<input type="text" name="cardno" ng-model="payment.creditCardNumber" class="input-text checkout__credit-card-input" maxlength="19" placeholder="0000 0000 0000 0000" data-type-card="" data-parsley-error-message="Required" data-parsley-minlength="14" data-parsley-maxlength="19" required />
								</label>
							</td>
							<td>
								<label class="checkout__field">Expiration date<br />

									<div class="checkout__col-expiration-month">
										<div class="customSelect">
											<select name="expm" ng-model="payment.expirationMonth" class="customSelect-select" data-parsley-class-handler=".customSelect" data-parsley-error-message="Required" required>
												<option value="">Select</option>
												<option value="01">January</option>
												<option value="02">February</option>
												<option value="03">March</option>
												<option value="04">April</option>
												<option value="05">May</option>
												<option value="06">June</option>
												<option value="07">July</option>
												<option value="08">August</option>
												<option value="09">September</option>
												<option value="10">October</option>
												<option value="11">November</option>
												<option value="12">December</option>
											</select>
										</div>
									</div>

									<div class="checkout__col-expiration-year">
										<div class="customSelect">
											<select name="expy" ng-model="payment.expirationYear" class="customSelect-select" data-parsley-class-handler=".customSelect" data-parsley-error-message="Required" required>
												<option value="">Select</option>
												<option value="14">2014</option>
												<option value="15">2015</option>
												<option value="16">2016</option>
												<option value="17">2017</option>
												<option value="18">2018</option>
												<option value="19">2019</option>
												<option value="20">2020</option>
												<option value="21">2021</option>
												<option value="22">2022</option>
												<option value="23">2023</option>
												<option value="24">2024</option>
												<option value="25">2025</option>
												<option value="26">2026</option>
												<option value="27">2027</option>
												<option value="28">2028</option>
												<option value="29">2029</option>
												<option value="30">2030</option>
											</select>
										</div>
									</div>

								</label>
							</td>
							<td>
								<label class="checkout__field checkout__field--security-code">Security code<br />
									<div class="l-col-25">
										<input name="cvv" ng-model="payment.securityCode" type="text" class="input-text checkout__security-code-input" data-parsley-type="integer" maxlength="3" required />
									</div>
								</label>
							</td>
						</tr>

					</table>

					<hr/>


					{# <table class="checkout__fieldset">
						<tr>
							<th colspan="3">Billing Address</th>
						</tr>
						<tr>
							<td>
								<label class="checkout__field">Country<br />
									<div class="customSelect">
										<select ng-model="payment.country" class="customSelect-select" id="countries" name="countries" data-parsley-class-handler=".customSelect" required>
											<option value="">Select</option>
											<option value="AF">Afghanistan</option>
											<option value="AX">Åland Islands</option>
											<option value="AL">Albania</option>
											<option value="DZ">Algeria</option>
											<option value="AS">American Samoa</option>
											<option value="AD">Andorra</option>
											<option value="AO">Angola</option>
											<option value="AI">Anguilla</option>
											<option value="AQ">Antarctica</option>
											<option value="AG">Antigua and Barbuda</option>
											<option value="AR">Argentina</option>
											<option value="AM">Armenia</option>
											<option value="AW">Aruba</option>
											<option value="AU">Australia</option>
											<option value="AT">Austria</option>
											<option value="AZ">Azerbaijan</option>
											<option value="BS">Bahamas</option>
											<option value="BH">Bahrain</option>
											<option value="BD">Bangladesh</option>
											<option value="BB">Barbados</option>
											<option value="BY">Belarus</option>
											<option value="BE">Belgium</option>
											<option value="BZ">Belize</option>
											<option value="BJ">Benin</option>
											<option value="BM">Bermuda</option>
											<option value="BT">Bhutan</option>
											<option value="BO">Bolivia</option>
											<option value="BA">Bosnia and Herzegovina</option>
											<option value="BW">Botswana</option>
											<option value="BV">Bouvet Island</option>
											<option value="BR">Brazil</option>
											<option value="IO">British Indian Ocean Territory</option>
											<option value="BN">Brunei Darussalam</option>
											<option value="BG">Bulgaria</option>
											<option value="BF">Burkina Faso</option>
											<option value="BI">Burundi</option>
											<option value="KH">Cambodia</option>
											<option value="CM">Cameroon</option>
											<option value="CA">Canada</option>
											<option value="CV">Cape Verde</option>
											<option value="KY">Cayman Islands</option>
											<option value="CF">Central African Republic</option>
											<option value="TD">Chad</option>
											<option value="CL">Chile</option>
											<option value="CN">China</option>
											<option value="CX">Christmas Island</option>
											<option value="CC">Cocos (Keeling) Islands</option>
											<option value="CO">Colombia</option>
											<option value="KM">Comoros</option>
											<option value="CG">Congo</option>
											<option value="CD">Congo, The Democratic Republic of The</option>
											<option value="CK">Cook Islands</option>
											<option value="CR">Costa Rica</option>
											<option value="CI">Cote D'ivoire</option>
											<option value="HR">Croatia</option>
											<option value="CU">Cuba</option>
											<option value="CY">Cyprus</option>
											<option value="CZ">Czech Republic</option>
											<option value="DK">Denmark</option>
											<option value="DJ">Djibouti</option>
											<option value="DM">Dominica</option>
											<option value="DO">Dominican Republic</option>
											<option value="EC">Ecuador</option>
											<option value="EG">Egypt</option>
											<option value="SV">El Salvador</option>
											<option value="GQ">Equatorial Guinea</option>
											<option value="ER">Eritrea</option>
											<option value="EE">Estonia</option>
											<option value="ET">Ethiopia</option>
											<option value="FK">Falkland Islands (Malvinas)</option>
											<option value="FO">Faroe Islands</option>
											<option value="FJ">Fiji</option>
											<option value="FI">Finland</option>
											<option value="FR">France</option>
											<option value="GF">French Guiana</option>
											<option value="PF">French Polynesia</option>
											<option value="TF">French Southern Territories</option>
											<option value="GA">Gabon</option>
											<option value="GM">Gambia</option>
											<option value="GE">Georgia</option>
											<option value="DE">Germany</option>
											<option value="GH">Ghana</option>
											<option value="GI">Gibraltar</option>
											<option value="GR">Greece</option>
											<option value="GL">Greenland</option>
											<option value="GD">Grenada</option>
											<option value="GP">Guadeloupe</option>
											<option value="GU">Guam</option>
											<option value="GT">Guatemala</option>
											<option value="GG">Guernsey</option>
											<option value="GN">Guinea</option>
											<option value="GW">Guinea-bissau</option>
											<option value="GY">Guyana</option>
											<option value="HT">Haiti</option>
											<option value="HM">Heard Island and Mcdonald Islands</option>
											<option value="VA">Holy See (Vatican City State)</option>
											<option value="HN">Honduras</option>
											<option value="HK">Hong Kong</option>
											<option value="HU">Hungary</option>
											<option value="IS">Iceland</option>
											<option value="IN">India</option>
											<option value="ID">Indonesia</option>
											<option value="IR">Iran, Islamic Republic of</option>
											<option value="IQ">Iraq</option>
											<option value="IE">Ireland</option>
											<option value="IM">Isle of Man</option>
											<option value="IL">Israel</option>
											<option value="IT">Italy</option>
											<option value="JM">Jamaica</option>
											<option value="JP">Japan</option>
											<option value="JE">Jersey</option>
											<option value="JO">Jordan</option>
											<option value="KZ">Kazakhstan</option>
											<option value="KE">Kenya</option>
											<option value="KI">Kiribati</option>
											<option value="KP">Korea, Democratic People's Republic of</option>
											<option value="KR">Korea, Republic of</option>
											<option value="KW">Kuwait</option>
											<option value="KG">Kyrgyzstan</option>
											<option value="LA">Lao People's Democratic Republic</option>
											<option value="LV">Latvia</option>
											<option value="LB">Lebanon</option>
											<option value="LS">Lesotho</option>
											<option value="LR">Liberia</option>
											<option value="LY">Libyan Arab Jamahiriya</option>
											<option value="LI">Liechtenstein</option>
											<option value="LT">Lithuania</option>
											<option value="LU">Luxembourg</option>
											<option value="MO">Macao</option>
											<option value="MK">Macedonia, The Former Yugoslav Republic of</option>
											<option value="MG">Madagascar</option>
											<option value="MW">Malawi</option>
											<option value="MY">Malaysia</option>
											<option value="MV">Maldives</option>
											<option value="ML">Mali</option>
											<option value="MT">Malta</option>
											<option value="MH">Marshall Islands</option>
											<option value="MQ">Martinique</option>
											<option value="MR">Mauritania</option>
											<option value="MU">Mauritius</option>
											<option value="YT">Mayotte</option>
											<option value="MX">Mexico</option>
											<option value="FM">Micronesia, Federated States of</option>
											<option value="MD">Moldova, Republic of</option>
											<option value="MC">Monaco</option>
											<option value="MN">Mongolia</option>
											<option value="ME">Montenegro</option>
											<option value="MS">Montserrat</option>
											<option value="MA">Morocco</option>
											<option value="MZ">Mozambique</option>
											<option value="MM">Myanmar</option>
											<option value="NA">Namibia</option>
											<option value="NR">Nauru</option>
											<option value="NP">Nepal</option>
											<option value="NL">Netherlands</option>
											<option value="AN">Netherlands Antilles</option>
											<option value="NC">New Caledonia</option>
											<option value="NZ">New Zealand</option>
											<option value="NI">Nicaragua</option>
											<option value="NE">Niger</option>
											<option value="NG">Nigeria</option>
											<option value="NU">Niue</option>
											<option value="NF">Norfolk Island</option>
											<option value="MP">Northern Mariana Islands</option>
											<option value="NO">Norway</option>
											<option value="OM">Oman</option>
											<option value="PK">Pakistan</option>
											<option value="PW">Palau</option>
											<option value="PS">Palestinian Territory, Occupied</option>
											<option value="PA">Panama</option>
											<option value="PG">Papua New Guinea</option>
											<option value="PY">Paraguay</option>
											<option value="PE">Peru</option>
											<option value="PH">Philippines</option>
											<option value="PN">Pitcairn</option>
											<option value="PL">Poland</option>
											<option value="PT">Portugal</option>
											<option value="PR">Puerto Rico</option>
											<option value="QA">Qatar</option>
											<option value="RE">Reunion</option>
											<option value="RO">Romania</option>
											<option value="RU">Russian Federation</option>
											<option value="RW">Rwanda</option>
											<option value="SH">Saint Helena</option>
											<option value="KN">Saint Kitts and Nevis</option>
											<option value="LC">Saint Lucia</option>
											<option value="PM">Saint Pierre and Miquelon</option>
											<option value="VC">Saint Vincent and The Grenadines</option>
											<option value="WS">Samoa</option>
											<option value="SM">San Marino</option>
											<option value="ST">Sao Tome and Principe</option>
											<option value="SA">Saudi Arabia</option>
											<option value="SN">Senegal</option>
											<option value="RS">Serbia</option>
											<option value="SC">Seychelles</option>
											<option value="SL">Sierra Leone</option>
											<option value="SG">Singapore</option>
											<option value="SK">Slovakia</option>
											<option value="SI">Slovenia</option>
											<option value="SB">Solomon Islands</option>
											<option value="SO">Somalia</option>
											<option value="ZA">South Africa</option>
											<option value="GS">South Georgia and The South Sandwich Islands</option>
											<option value="ES">Spain</option>
											<option value="LK">Sri Lanka</option>
											<option value="SD">Sudan</option>
											<option value="SR">Suriname</option>
											<option value="SJ">Svalbard and Jan Mayen</option>
											<option value="SZ">Swaziland</option>
											<option value="SE">Sweden</option>
											<option value="CH">Switzerland</option>
											<option value="SY">Syrian Arab Republic</option>
											<option value="TW">Taiwan, Province of China</option>
											<option value="TJ">Tajikistan</option>
											<option value="TZ">Tanzania, United Republic of</option>
											<option value="TH">Thailand</option>
											<option value="TL">Timor-leste</option>
											<option value="TG">Togo</option>
											<option value="TK">Tokelau</option>
											<option value="TO">Tonga</option>
											<option value="TT">Trinidad and Tobago</option>
											<option value="TN">Tunisia</option>
											<option value="TR">Turkey</option>
											<option value="TM">Turkmenistan</option>
											<option value="TC">Turks and Caicos Islands</option>
											<option value="TV">Tuvalu</option>
											<option value="UG">Uganda</option>
											<option value="UA">Ukraine</option>
											<option value="AE">United Arab Emirates</option>
											<option value="GB">United Kingdom</option>
											<option value="US">United States</option>
											<option value="UM">United States Minor Outlying Islands</option>
											<option value="UY">Uruguay</option>
											<option value="UZ">Uzbekistan</option>
											<option value="VU">Vanuatu</option>
											<option value="VE">Venezuela</option>
											<option value="VN">Viet Nam</option>
											<option value="VG">Virgin Islands, British</option>
											<option value="VI">Virgin Islands, U.S.</option>
											<option value="WF">Wallis and Futuna</option>
											<option value="EH">Western Sahara</option>
											<option value="YE">Yemen</option>
											<option value="ZM">Zambia</option>
											<option value="ZW">Zimbabwe</option>
										</select>
									</div>
								</label>
							</td>
							<td>
								<label class="checkout__field">City<br />
									<input ng-model="payment.city" type="text" class="input-text" required />
								</label>
							</td>
							<td>
								<label class="checkout__field">ZIP Code<br />
									<input ng-model="payment.zipcode" type="text" class="input-text" required />
								</label>
							</td>
						</tr>
						<tr>
							<td>
								<label class="checkout__field">Address<br />
									<input ng-model="payment.address1" type="text" class="input-text" required />
								</label>
							</td>

							<td>
								<label class="checkout__field">Address 2<br />
									<input ng-model="payment.address2" type="text" class="input-text" />
								</label>
							</td>

						</tr>
					</table> #}

				{# </div> #}

				{# <div class="internal-tabs__tab">

					<div class="checkout__paypal">
						<h4>Please click the button below to pay with PayPal.<br/>You will be directed to the PayPal's website.</h4>
						<a href="#" class="btn">Pay with PayPal</a>
					</div>


				</div> #}

{# 			</div>


		</div> #}


		<div class="checkout__footer">
			<a ng-if="!hasCoupon" href="#modal__coupon" class="btn-modal checkout__coupon" ng-click="showCoupon($event)">Do you have a coupon? Click to insert it and receive a discount!</a>
			<span class="l-toCenter"></span><button class="checkout__submit btn" type="submit">Complete booking</button>
		</div>

	</form>
	<!-- END PAYMENT -->


	<!-- CONFIRMATION -->

	<div class="confirmation l-col-75" ng-controller="confirmation" ng-if="state.name === 'confirmation'">
		<h2 class="confirmation__title">Booking confirmation</h2>

		<div class="confirmation__thanks" ng-show="!bookResponse" style="padding: 0; background: none;">
			<h4>Reserving your room</h4>
			<p>Please wait...</p>
		</div>

		<div class="confirmation__thanks" ng-show="bookResponse">
			<h4>Thanks for booking with Hashtag Travels!</h4>
			<p>We just sent you an e-mail with your trip itinerary.</p>

			<div ng-show="bookResponse.data.referenceNumber" class="confirmation__code">
				<p>Confirmation Number: <span>{[{bookResponse.data.referenceNumber}]}</span></p>
			</div>

			<div ng-show="bookResponse.data.rooms[0].referenceNumber" ng-repeat="(i, room) in bookResponse.data.rooms" class="confirmation__code">
				<p>Confirmation Number for room {[{i+1}]}: <span>{[{room.referenceNumber}]}</span></p>
			</div>
			<br>
			<a href="{{url('print_hotel_confirmation')}}" target="_blank" class="confirmation__print">Print voucher details</a>
		</div>


		<h2 class="confirmation__title">Share and get discount</h2>
		<div class="confirmation__share">
			<p>Get points sharing your booking with your followers and use your points to get discount on our services.</p>
			<h4>One share = 5 points</h4>
			<ul>
				<li><a href="https://twitter.com/intent/tweet?&amp;text=I%20just%20booked%20my%20%23flight%20with%20http%3A%2F%2Fwww.hashtagtravels.com%20and%20received%20%245%20discount%20for%20tweeting!%20%23tweetfordiscount%20%40hashtagtravels" class="bt tt" data-network="twitter">Share on Twitter</a></li>
				<li><a href="#" class="bt fb" data-network="facebook">Share on Facebook</a></li>
				<li><a href="#modal__share" class="bt email btn-modal" data-network="email">Share with E-mail</a></li>
				<!-- <li><a href="#" class="bt gpls">Share on Google+</a></li> -->
			</ul>
		</div>
	</div>

	<!-- END CONFIRMATION -->

	{% include 'modal/coupon.twig' %}
	{% include 'modal/hotel-policy.twig' %}
	{% include 'modal/loading.twig' %}

</div>


{% endblock %}
