{% extends "layout.twig" %}

{% block content %}

<script src="{{app.config.staticpath}}/vendor/angular.js"></script>
<script src="{{app.config.staticpath}}/js/HotelDetailApp.js"></script>

<div class="main main--hotel-detail" ng-app="HotelDetailApp">

	<div class="item-detail-wrapper" ng-controller="detail" ng-cloak>

		<div class="item-detail l-col-50">
			<div class="item-detail__header">

				{% if menu == 'sleep' %}
				<a href="{{url('hotel_search')}}" class="item-detail__go-back">‹ Back to hotel results</a>
				{% elseif menu == 'deals' %}
				<a href="{{url('deals')}}" class="item-detail__go-back">‹ Back to deals results</a>
				{% endif %}

				<div class="item-share item-share--white item-share--sleep">
					<ul>
						<li><a href="#modal__share" class="item-share__btn-share btn-modal">Share</a></li>
						<li><a href="#" class="item-share__btn-print">Print</a></li>
					</ul>
				</div>

				<h2 class="item-detail__title">{[{hotel.title}]} <span class="hotel-stars hotel-stars--{[{hotel.stars}]}">{[{hotel.stars}]}</span></h2>
				<h4 class="item-detail__address">{[{hotel.address}]}</h4>
			</div>



			<div class="item-detail__body">
				<table class="item-detail__info" ng-class="{'item-detail__info--detail': hotel.showDescription}">
					<tr>
						<td>
							<div class="item-detail__info-excerpt">
								<p>{[{hotel.excerpt}]}</p>
							</div>

							<div class="item-detail__info-full">
								<p>{[{hotel.description}]}</p>
							</div>

							<a href="#" class="item-detail__more-detail" ng-click="hotel.showDescription = !hotel.showDescription; $event.preventDefault();">{[{ hotel.showDescription && 'less' || 'more' }]} </a>
						</td>


						<td>
							<p><div id="TA_cdsratingsonlynarrow53" class="TA_cdsratingsonlynarrow">
								<ul id="CUUG2Ky" class="TA_links LdIcGZ list-unstyled">
									<li id="DzY1Oz1LNmI" class="JK5ROVnpzq"><a target="_blank" href="http://www.tripadvisor.com/"><img src="http://www.tripadvisor.com/img/cdsi/img2/branding/tripadvisor_logo_transp_340x80-18034-2.png" width="100px" alt="TripAdvisor"/></a></li>
								</ul>
								</div>
								<script src="http://www.jscache.com/wejs?wtype=cdsratingsonlynarrow&amp;uniq=53&amp;locationId=206289&amp;lang=en_US&amp;border=false"></script>
							</p>
						</td>
					</tr>
				</table>

				<table class="item-detail__options">

					<thead>
						<tr>
							<th colspan="3" class="item-detail__subtitle">Rooms &amp; Rates</th>
						</tr>
					</thead>

					<tbody class="results-list__result-room" ng-repeat="room in hotel.rooms">
						<tr>
							<!-- <td>
								<img class="item-detail__room-thumb" ng-src="{[{room.picture}]} " />
							</td> -->
							<td>
								<h3 class="item-detail__option-title">{[{room.title}]}</h3>
								<span class="hotel-people hotel-people--{[{room.stars}]}">{[{room.stars}]}</span>
								<p class="item-detail__option-warning" ng-if="room.roomsLeft < 10">{[{ room.roomsLeft == 1 &&  room.roomsLeft + ' room' || room.roomsLeft + ' rooms' }]} left</p>

								<small class="item-detail__option-info">
									Prices are per room<br />
									Included: 3.80 % VAT | Not included: CHF 3.10 city tax per person per night.
								</small>
							</td>
							<td>
								<p class="item-detail__price">
									<span class="item-detail__price-currency">{[{hotel.currency}]}</span>
									<span class="item-detail__price-value">{[{room.totalPrice}]}</span>
									<span class="item-detail__price-period">/night</span>
								</p>

								{% if menu == 'sleep' %}
								<a href="{{url('hotel_checkout')}}" class="btn item-detail__btn-select">Select</a>
								{% elseif menu == 'deals' %}
								<a href="{{url('deals_flight')}}" class="btn item-detail__btn-select">Select</a>
								{% endif %}

							</td>
						</tr>
					</tbody>

				</table>

			</div>
		</div>



		<div class="item-slider l-col-50">

			<div class="carrousel is-active">

				<div class="carrousel-item" ng-repeat="picture in hotel.pictures" on-last-repeat>
					<div class="carrousel-item-image" style="background-image: url('{[{picture}]}');"></div>
				</div>

			</div>

		</div>



		<div class="item-detail item-detail--mobile">

			<div class="mobile-headerbar">
				{% if menu == 'sleep' %}
				<a href="{{url('hotel_search')}}" class="mobile-headerbar__btn-prev">Back to hotel results</a>
				{% elseif menu == 'deals' %}
				<a href="{{url('deals')}}" class="mobile-headerbar__btn-prev">Back to deals results</a>
				{% endif %}
			</div>

			<div class="item-detail__thumb-lightbox" ng-show="hotel.showLightbox" ng-click="hotel.showLightbox = !hotel.showLightbox; hotel.imgLightbox = false;">
				<img ng-src="{[{hotel.imgLightbox}]}" alt="" width="100%">
			</div>

			<div class="item-detail__header">
				<div class="item-detail__header-thumb">
					<img src="{{app.config.uploadsdir}}/hotel-detail-01.jpg" alt="" width="100%" >
					<a href="#" class="item-detail__btn-photos" ng-class="{'item-detail__btn-photos--active': hotel.showPictures }" ng-click="hotel.showPictures = !hotel.showPictures">Photos</a>
				</div>
				<div class="item-detail__header-col">
					<h2 class="item-detail__title">{[{hotel.title}]}</h2>
					<span class="hotel-stars hotel-stars--4">4</span>
					<h4 class="item-detail__address">{[{hotel.address}]}</h4>
				</div>
				<div class="item-detail__thumbs" ng-show="hotel.showPictures">
					<ul>
						<li ng-repeat="picture in hotel.pictures">
							<img ng-click="hotel.showLightbox = !hotel.showLightbox; hotel.imgLightbox = picture;" ng-src="{[{ picture }]}" alt="">
						</li>
					</ul>
				</div>
			</div>


			<table class="item-detail__options">

				<thead>
					<tr>
						<th colspan="3" class="item-detail__subtitle">Rooms &amp; Rates</th>
					</tr>
				</thead>

				<tbody class="results-list__result-room" ng-repeat="room in hotel.rooms">
					<tr>
						<!-- <td>
							<img class="item-detail__room-thumb" ng-src="{[{room.picture}]}" />
						</td> -->
						<td>
							<h3 class="item-detail__option-title">{[{room.title}]}</h3>
							<span class="hotel-people hotel-people--{[{room.stars}]}">{[{room.stars}]}</span>
							<p class="item-detail__option-warning" ng-if="room.roomsLeft < 10">{[{ room.roomsLeft == 1 &&  room.roomsLeft + ' room' || room.roomsLeft + ' rooms' }]} left</p>
						</td>
						<td>
							<a href="sleep_summary" class="btn item-detail__btn-select">{[{hotel.currency}]}{[{room.totalPrice}]}</a>
							<p class="item-detail__price">
								<span class="item-detail__price-period">per night</span>
							</p>
						</td>
					</tr>
				</tbody>

			</table>


			<table class="item-detail__hotel-info">

				<thead>
					<tr>
						<th colspan="3" class="item-detail__subtitle">About the hotel</th>
					</tr>
				</thead>

				<tbody>
					<tr>
						<td colspan="3">{[{hotel.description}]}</td>
					</tr>
				</tbody>

			</table>


		</div>

	</div>


{% include 'modal/share.twig' %}

</div>




{% endblock %}
