{% extends "layout.twig" %}

{% block content %}

<script src="{{app.config.staticpath}}/vendor/angular.js"></script>
<script src="{{app.config.staticpath}}/js/CarrouselApp.js"></script>
<script>
	window.loadModules = ['search-tool', 'autocomplete_hotel'];
</script>

<div class="main" id="main-sleepHome" ng-app="CarrouselApp">

	<div class="main-sidebar l-col-25">

		<div class="slogan">
			<span>
				Welcome aboard.<br />
				<strong>Fasten your seatbelts.</strong>
			</span>
		</div>

		<div class="search-tool search-tool--sleep">

			<br />
			<form id="search_hotels" class="search-tool-fieldset search-tool-fieldset--sleep" action="{{url('hotel_search')}}" data-parsley-validate>

				<label class="input-icon input-icon--noicon">
					<input value="{{app.session.get('locality')}}" name="locality" type="hidden">
					<input class="input-autocomplete--hotel" value="{{app.session.get('formatted')}}" name="formatted" placeholder="City" data-parsley-class-handler=".input-icon" required>
				</label>

				<div class="datepicker-container" data-calendar-parent=".main-sidebar">
					<label class="datepicker datepicker--sleep" data-calendar-type="checkin">
						<span class="datepicker-title">Check-in</span>
						<span class="datepicker-day"></span>
						<span class="datepicker-month"></span>
						<span class="datepicker-year"></span>
						<span class="datepicker-changeDate">{{'change_date'|trans}}</span>
						<span class="datepicker-changeDate datepicker-changeDate--calendar-active">Select date on the left</span>
						<input type="hidden" class="datepicker-input" value="{% if app.session.get('arrivalDate') is not null %}{{app.session.get('arrivalDate')}}{% else %}{{ "now"|date("Y-m-d")}}{% endif %}" name="arrivalDate" />
					</label>

					<label class="datepicker datepicker--sleep" data-calendar-type="checkout">
						<span class="datepicker-title">Check-out</span>
						<span class="datepicker-day"></span>
						<span class="datepicker-month"></span>
						<span class="datepicker-year"></span>
						<span class="datepicker-changeDate">{{'change_date'|trans}}</span>
						<span class="datepicker-changeDate datepicker-changeDate--calendar-active">Select date on the left</span>
						<input type="hidden" class="datepicker-input" value="{% if app.session.get('departureDate') is not null %}{{app.session.get('departureDate')}}{% else %}{{ "tomorrow"|date("Y-m-d")}}{% endif %}" name="departureDate" />
					</label>
				</div>

				<input id="numberOfRooms" type="hidden" name="numberOfRooms" value="1" />

				<div id="room-fieldset1" class="room-fieldset room first">

					<div class="amountpicker amountpicker--sleep">
						<span class="amountpicker-title">Room</span>

						<input type="text" {% if app.session.get('rooms') %}value="{{app.session.get('rooms')}}"{% else %}value="1"{% endif %} name="rooms" pattern="\d*" class="amountpicker-qtd" data-inputmask="'mask': '99', 'placeholder' : ''" value="1" disabled="disabled" required />
					</div>

					<div class="amountpicker amountpicker--sleep">
						<a class="amountpicker-more">+</a>
						<span class="amountpicker-title">Adults</span>
						<input type="text" {% if app.session.get('adults') %}value="{{app.session.get('adults')}}"{% else %}value="1"{% endif %} name="adults" pattern="\d*" class="amountpicker-qtd" data-inputmask="'mask': '99', 'placeholder' : ''" value="1" min="1" max="16" required />
						<span class="amountpicker-info">Above 18</span>
						<a class="amountpicker-less">-</a>
					</div>

					<div class="amountpicker amountpicker--sleep">
						<a class="amountpicker-more">+</a>
						<span class="amountpicker-title">Childs</span>
						<input type="text" {% if app.session.get('childs') %}value="{{app.session.get('childs')}}"{% else %}value="0"{% endif %} name="childs" pattern="\d*" class="amountpicker-qtd" data-inputmask="'mask': '99', 'placeholder' : ''" value="0" min="0" max="16" required />
						<span class="amountpicker-info">0-17 years</span>
						<a class="amountpicker-less">-</a>
					</div>

				</div>

				<div class="buttons">
					<a href="#" class="btn add-room">+ Add room</a>
					<a href="#" class="remove-room hidden">- Remove room</a>
				</div>

				{# <div class="customSelect">
					<select class="customSelect-select">
						<option value="2-star">2 stars hotel and up</option>
						<option value="3-star">3 stars hotel and up</option>
						<option value="4-star">4 stars hotel and up</option>
						<option value="5-star">5 stars</option>
					</select>
				</div> #}

				<div class="customSelect">
					<select class="customSelect-select" id="nationality" value="{{app.session.get('nationality')}}" name="nationality" data-parsley-class-handler=".customSelect" required>
						<option value="">Nationality</option>
						<option value="AF">Afghanistan</option>
						<option value="AL">Albania</option>
						<option value="AQ">Antarctica</option>
						<option value="DZ">Algeria</option>
						<option value="AS">American Samoa</option>
						<option value="AD">Andorra</option>
						<option value="AO">Angola</option>
						<option value="AG">Antigua and Barbuda</option>
						<option value="AZ">Azerbaijan</option>
						<option value="AR">Argentina</option>
						<option value="AU">Australia</option>
						<option value="AT">Austria</option>
						<option value="BS">Bahamas</option>
						<option value="BH">Bahrain</option>
						<option value="BD">Bangladesh</option>
						<option value="AM">Armenia</option>
						<option value="BB">Barbados</option>
						<option value="BE">Belgium</option>
						<option value="BM">Bermuda</option>
						<option value="BT">Bhutan</option>
						<option value="BO">Bolivia</option>
						<option value="BA">Bosnia and Herzegovina</option>
						<option value="BW">Botswana</option>
						<option value="BV">Bouvet Island</option>
						<option value="BR">Brazil</option>
						<option value="BZ">Belize</option>
						<option value="IO">British Indian Ocean Territory</option>
						<option value="SB">Solomon Islands</option>
						<option value="VG">British Virgin Islands</option>
						<option value="BN">Brunei Darussalam</option>
						<option value="BG">Bulgaria</option>
						<option value="MM">Myanmar</option>
						<option value="BI">Burundi</option>
						<option value="BY">Belarus</option>
						<option value="KH">Cambodia</option>
						<option value="CM">Cameroon</option>
						<option value="CA">Canada</option>
						<option value="CV">Cape Verde</option>
						<option value="KY">Cayman Islands</option>
						<option value="CF">Central African Republic</option>
						<option value="LK">Sri Lanka</option>
						<option value="TD">Chad</option>
						<option value="CL">Chile</option>
						<option value="CN">China</option>
						<option value="TW">Taiwan Province of China</option>
						<option value="CX">Christmas Island</option>
						<option value="CC">Cocos (Keeling) Islands</option>
						<option value="CO">Colombia</option>
						<option value="KM">Comoros</option>
						<option value="YT">Mayotte</option>
						<option value="CG">Congo</option>
						<option value="CD">Democratic Republic of the Congo</option>
						<option value="CK">Cook Islands</option>
						<option value="CR">Costa Rica</option>
						<option value="HR">Croatia</option>
						<option value="CU">Cuba</option>
						<option value="CY">Cyprus</option>
						<option value="CZ">Czech Republic</option>
						<option value="BJ">Benin</option>
						<option value="DK">Denmark</option>
						<option value="DM">Dominica</option>
						<option value="DO">Dominican Republic</option>
						<option value="EC">Ecuador</option>
						<option value="SV">El Salvador</option>
						<option value="GQ">Equatorial Guinea</option>
						<option value="ET">Ethiopia</option>
						<option value="ER">Eritrea</option>
						<option value="EE">Estonia</option>
						<option value="FO">Faeroe Islands</option>
						<option value="FK">Falkland Islands (Malvinas)</option>
						<option value="GS">South Georgia and the South Sandwich Islands</option>
						<option value="FJ">Fiji</option>
						<option value="FI">Finland</option>
						<option value="AL">Aland Islands</option>
						<option value="FR">France</option>
						<option value="GF">French Guiana</option>
						<option value="PF">French Polynesia</option>
						<option value="TF">French Southern Territories</option>
						<option value="DJ">Djibouti</option>
						<option value="GA">Gabon</option>
						<option value="GE">Georgia</option>
						<option value="GM">Gambia</option>
						<option value="PS">Occupied Palestinian Territory</option>
						<option value="DE">Germany</option>
						<option value="GH">Ghana</option>
						<option value="GI">Gibraltar</option>
						<option value="KI">Kiribati</option>
						<option value="GR">Greece</option>
						<option value="GL">Greenland</option>
						<option value="GD">Grenada</option>
						<option value="GP">Guadeloupe</option>
						<option value="GU">Guam</option>
						<option value="GT">Guatemala</option>
						<option value="GN">Guinea</option>
						<option value="GY">Guyana</option>
						<option value="HT">Haiti</option>
						<option value="HM">Heard and McDonald Islands</option>
						<option value="VA">Holy See</option>
						<option value="HN">Honduras</option>
						<option value="HK">Hong Kong SARC</option>
						<option value="HU">Hungary</option>
						<option value="IS">Iceland</option>
						<option value="IN">India</option>
						<option value="ID">Indonesia</option>
						<option value="IR">Iran (Islamic Republic of)</option>
						<option value="IQ">Iraq</option>
						<option value="IE">Ireland</option>
						<option value="IL">Israel</option>
						<option value="IT">Italy</option>
						<option value="CI">CΓîáte d'Ivoire</option>
						<option value="JM">Jamaica</option>
						<option value="JP">Japan</option>
						<option value="KZ">Kazakhstan</option>
						<option value="JO">Jordan</option>
						<option value="KE">Kenya</option>
						<option value="KP">Democratic People's Republic of Korea</option>
						<option value="KR">Republic of Korea</option>
						<option value="KW">Kuwait</option>
						<option value="KG">Kyrgyzstan</option>
						<option value="LA">Lao People's Democratic Republic</option>
						<option value="LB">Lebanon</option>
						<option value="LS">Lesotho</option>
						<option value="LV">Latvia</option>
						<option value="LR">Liberia</option>
						<option value="LY">Libya</option>
						<option value="LI">Liechtenstein</option>
						<option value="LT">Lithuania</option>
						<option value="LU">Luxembourg</option>
						<option value="MO">Macao SARC</option>
						<option value="MG">Madagascar</option>
						<option value="MW">Malawi</option>
						<option value="MY">Malaysia</option>
						<option value="MV">Maldives</option>
						<option value="ML">Mali</option>
						<option value="MT">Malta</option>
						<option value="MQ">Martinique</option>
						<option value="MR">Mauritania</option>
						<option value="MU">Mauritius</option>
						<option value="MX">Mexico</option>
						<option value="MC">Monaco</option>
						<option value="MN">Mongolia</option>
						<option value="MD">Republic of Moldova</option>
						<option value="ME">Montenegro</option>
						<option value="MS">Montserrat</option>
						<option value="MA">Morocco</option>
						<option value="MZ">Mozambique</option>
						<option value="OM">Oman</option>
						<option value="NA">Namibia</option>
						<option value="NR">Nauru</option>
						<option value="NP">Nepal</option>
						<option value="NL">Netherlands</option>
						<option value="AN">Netherlands Antilles</option>
						<option value="AW">Aruba</option>
						<option value="NC">New Caledonia</option>
						<option value="VU">Vanuatu</option>
						<option value="NZ">New Zealand</option>
						<option value="NI">Nicaragua</option>
						<option value="NE">Niger</option>
						<option value="NG">Nigeria</option>
						<option value="NU">Niue</option>
						<option value="NF">Norfolk Island</option>
						<option value="NO">Norway</option>
						<option value="MP">Northern Mariana Islands</option>
						<option value="UM">United States Minor Outlying Islands</option>
						<option value="FM">Micronesia, Federated States of</option>
						<option value="MH">Marshall Islands</option>
						<option value="PW">Palau</option>
						<option value="PK">Pakistan</option>
						<option value="PA">Panama</option>
						<option value="PG">Papua New Guinea</option>
						<option value="PY">Paraguay</option>
						<option value="PE">Peru</option>
						<option value="PH">Philippines</option>
						<option value="PN">Pitcairn</option>
						<option value="PL">Poland</option>
						<option value="PT">Portugal</option>
						<option value="GW">Guinea-Bissau</option>
						<option value="TL">Timor-Leste</option>
						<option value="PR">Puerto Rico</option>
						<option value="QA">Qatar</option>
						<option value="RE">R╬ÿunion</option>
						<option value="RO">Romania</option>
						<option value="RU">Russian Federation</option>
						<option value="RW">Rwanda</option>
						<option value="BL">Saint Barthelemy</option>
						<option value="SH">Saint Helena</option>
						<option value="KN">Saint Kitts and Nevis</option>
						<option value="AI">Anguilla</option>
						<option value="LC">Saint Lucia</option>
						<option value="MF">Saint Martin (French Part)</option>
						<option value="PM">Saint Pierre and Miquelon</option>
						<option value="VC">Saint Vincent and the Grenadines</option>
						<option value="SM">San Marino</option>
						<option value="ST">Sao Tome and Principe</option>
						<option value="SA">Saudi Arabia</option>
						<option value="SN">Senegal</option>
						<option value="RS">Serbia</option>
						<option value="SC">Seychelles</option>
						<option value="SL">Sierra Leone</option>
						<option value="SG">Singapore</option>
						<option value="SK">Slovakia</option>
						<option value="VN">Viet Nam</option>
						<option value="SI">Slovenia</option>
						<option value="SO">Somalia</option>
						<option value="ZA">South Africa</option>
						<option value="ZW">Zimbabwe</option>
						<option value="ES">Spain</option>
						<option value="EH">Western Sahara</option>
						<option value="SD">Sudan</option>
						<option value="SR">Suriname</option>
						<option value="SJ">Svalbard and Jan Mayen Islands</option>
						<option value="SZ">Swaziland</option>
						<option value="SE">Sweden</option>
						<option value="CH">Switzerland</option>
						<option value="SY">Syrian Arab Republic</option>
						<option value="TJ">Tajikistan</option>
						<option value="TH">Thailand</option>
						<option value="TG">Togo</option>
						<option value="TK">Tokelau</option>
						<option value="TO">Tonga</option>
						<option value="TT">Trinidad and Tobago</option>
						<option value="AE">United Arab Emirates</option>
						<option value="TN">Tunisia</option>
						<option value="TR">Turkey</option>
						<option value="TM">Turkmenistan</option>
						<option value="TC">Turks and Caicos Islands</option>
						<option value="TV">Tuvalu</option>
						<option value="UG">Uganda</option>
						<option value="UA">Ukraine</option>
						<option value="MK">Macedonia</option>
						<option value="EG">Egypt</option>
						<option value="GB">United Kingdom</option>
						<option value="GG">Guernsey</option>
						<option value="JE">Jersey</option>
						<option value="IM">Isle of Man</option>
						<option value="TZ">United Republic of Tanzania</option>
						<option value="US">United States</option>
						<option value="VI">United States Virgin Islands</option>
						<option value="BF">Burkina Faso</option>
						<option value="UY">Uruguay</option>
						<option value="UZ">Uzbekistan</option>
						<option value="VE">Venezuela</option>
						<option value="WF">Wallis and Futuna Islands</option>
						<option value="WS">Samoa</option>
						<option value="YE">Yemen</option>
						<option value="ZM">Zambia</option>
					</select>

				</div>

				<button class="btn btn--search">Search</button>

			</form>

		</div>

	</div>


	{% if not app.isMobile %}
	<div class="mainContent l-col-75">

		<div class="carrousel" carrousel="hotel">

			<div class="carrousel-item" ng-repeat="item in results">
				<div class="carrousel-item-image" ng-style="{'background-image': 'url(\'{{app.config.uploadsdir}}/{[{item.image}]}\')'}"></div>
				<div class="carrousel-item-info">
					<h1 class="carrousel-item-info-title">{[{item.title}]}</h1>
					<h2 class="carrousel-item-info-subtitle">{[{item.subtitle}]}</h2>
				</div>

				<div class="carrousel-item-price">
					{{'from'|trans}}<br />
					<em>{[{item.price}]}</em>{[{item.currency}]}
				</div>
			</div>

		</div>



	</div>
	{% endif %}

</div>


{% endblock %}
