{% extends "layout.twig" %}

{% block content %}

<script src="{{app.config.staticpath}}/vendor/angular.js"></script>
<script src="{{app.config.staticpath}}/vendor/angular-sanitize.js"></script>
<script src="{{app.config.staticpath}}/vendor/angular-cookies.js"></script>
<script src="{{app.config.staticpath}}/vendor/angular-local-storage.js"></script>
<script src="{{app.config.staticpath}}/js/HashtagControllers.js"></script>
<script src="{{app.config.staticpath}}/js/HashtagServices.js"></script>
<script src="{{app.config.staticpath}}/js/HashtagConstants.js"></script>
<script src="{{app.config.staticpath}}/js/HashtagFilters.js"></script>
<script src="{{app.config.staticpath}}/js/HotelService.js"></script>
<script src="{{app.config.staticpath}}/js/HotelSearchApp.js"></script>

<div class="main main-results main-results--sleep" id="main-sleepResults" ng-app="HotelSearchApp">

	{% if not app.isMobile %}
	<div class="main-sidebar l-col-50">

		<div class="results-filter-compact results-filter--sleep" ng-controller="filters" ng-class="{'results-filter-compact--no-results':  hotels.length == 0}" ng-cloak>

			<form action="{{url('hotel_search')}}" method="get">

				<div class="results-filter-compact__search-container">
					<label class="results-filter-compact__search-container--full">
						<span>Hotels in</span>
						<input type="hidden" value="{{app.session.get('locality')}}" name="locality" />
						<input id="searchTextField" class="input-autocomplete--hotel" value="{{app.session.get('formatted')}}" name="formatted" placeholder="City" data-parsley-class-handler=".input-icon" required value="{{app.request.get('formatted')}}" />
					</label>
				</div>

				<div class="results-filter-compact_datepicker-container results-filter-compact__col datepicker-container" data-calendar-parent=".main-sidebar" data-calendar-set-date="true">
					<label class="datepicker datepicker--compact" data-calendar-type="checkin">
						<span class="datepicker-day">{[{departure | formatDate:'DD'}]}</span>
						<span class="datepicker-month">{[{departure | formatDate:'MMM'}]}</span>
						<span class="datepicker-year">{[{departure | formatDate:'YYYY'}]}</span>
						<input type="hidden" value="{{ app.request.get("arrivalDate") }}" name="arrivalDate" class="datepicker-input" />
					</label>

					<label class="datepicker datepicker--compact" data-calendar-type="checkout">
						<span class="datepicker-day">{[{arrival | formatDate:'DD'}]}</span>
						<span class="datepicker-month">{[{arrival | formatDate:'MMM'}]}</span>
						<span class="datepicker-year">{[{arrival | formatDate:'YYYY'}]}</span>
						<input type="hidden" value="{{ app.request.get("departureDate") }}" name="departureDate" class="datepicker-input" value="{{ app.request.get("departureDate") }}" />
					</label>
				</div>

				<input type="hidden" value="{{app.session.get('numberOfAdults')}}" name="numberOfAdults" />
				<input type="hidden" value="{{app.session.get('childAges')}}" name="childAges" />

				<button class="btn btn-search"></button>

			</form>

			<div class="bottom-filters">
				<div ng-if="priceBounds" class="results-filter-compact__range results-filter-compact__col is-white">
					<p><strong>Price</strong> <span class="results-filter-compact__range--values"><span class="min">{[{price.from}]}</span> - <span class="max">{[{price.to}]}</span> {[{currency}]}</span></p>
					<div class="slider-range" slider ng-from="price.from" ng-to="price.to" start="{[{priceBounds.from}]}" end="{[{priceBounds.to}]}" step="5"></div>
				</div>

				<div class="results-filter-compact__select-container results-filter-compact__col is-white">
					<label>Stars</label>
					<div class="customSelect customSelect--big">
						<select class="customSelect-select" ng-model="stars">
							<option value="1">1 star hotels and up</option>
							<option value="2">2 stars hotels and up</option>
							<option value="3">3 stars hotels and up</option>
							<option value="4">4 stars hotels and up</option>
							<option value="5">5 stars</option>
						</select>
					</div>
				</div>

				<div class="results-filter-compact__select-container results-filter-compact__col results-filter-compact__col--last is-white">
					<label>Facilities</label>
					<div class="results-filter-compact__btn-facilities" ng-click="toggleFacilities()">
						<p class="results-filter-compact__btn-facilities-txt">{[{ !facilitiesActive.length && 'Select' || facilitiesActive.length == 1 && '1 Selected' || facilitiesActive.length + ' Selecteds' }]}</p>
					</div>
				</div>

				<div class="results-filter-compact__select-container results-filter-compact__col results-filter-compact__col--last is-white">
					<label>Sort results by</label>
					<div class="customSelect customSelect--big">
						<select class="customSelect-select" data-placeholder="Select" ng-model="orderBy.value">
							<option value="">Select</option>
							<option value="lowestPrice">Lowest price</option>
							<option value="highestPrice">Highest price</option>
							<option value="ratingTripAdvisor">Reviewer score</option>
						</select>
					</div>
				</div>
			</div>
		</div>



		<div class="results-list results-list--sleep" ng-controller="results" ng-class="{'results-filter--no-results':  hotels.length == 0}" ng-cloak>

			<div id="block_screen" ng-class="{'show': links_disabled == true}"></div>

			<div class="hotel-results">

				<div class="hotel-results__scroll" assist-overflow>

					<div class="fixed-header__bottom" ng-show="hotels.length">
						<span class="l-toCenter"></span>
						<span class="fixed-header__matching-results">We found <strong ng-bind="hotels.length"></strong>  hotels for you</span>
					</div>

					<div class="results-list__facilities" ng-show="showFacilities">
						<div class="customCheckbox customCheckbox--blue" ng-repeat="f in facilitiesOptions" ng-class="{active: f.active}">
							<label><input type="checkbox" ng-model="f.active"> {[{f.text}]}</label>
						</div>
					</div>

					<div class="results-loading" ng-if="loading">
						<p>Loading...</p>
					</div>

					<div class="nothing-to-show" ng-if="!loading && hotels.length == 0">
						<p>Nothing to show!</p>
					</div>

					<div class="hotel-results__box" id="hotel-results__box-{[{result.hotelId}]}" ng-repeat="(resultIndex, result) in hotels | orderBy:orderBy.key:orderBy.reverse | limitTo:limit" ng-if="!result.error" ng-mouseover="setHotel($event, result.hotelId)" ng-class="{'hotel-results__box--loading': result.loading}">
						<a ng-click="blockScreen()" href="#/hotel/{[{result.hotelId}]}" class="hotel-results__link"></a>

						<div class="hotel-results__content-box">
							<div class="hotel-results__hotel-image">
								<img ng-src="{[{result.picture}]}">
							</div>

							<h3 ng-bind-html="SkipValidation(result.title)"></h3>
							<p class="hotel-stars hotel-stars--sleep hotel-stars--{[{+result.stars}]}">{[{result.stars}]}</p>
							<p>{[{result.address}]}</p>
							<strong class="hotel-results__more">+Hotel details</strong>

							{# <p><small>4 room types</small></p> #}
							{# <p><small>Latest booking 3h ago</small></p> #}
						</div>


						{% if together is defined %}

							<div class="hotel-results__content-box hotel-results__content-box--package">
								<div class="hotel-results__separated">
									<p>Booked separate</p>
									<strong>US$ 3.098</strong>
									<p>Prices per person, including hotel, flight and tax</p>
								</div>

								<div class="hotel-results__together">
									<div class="hotel-results__price">
										<span>Booked together</span>
										<span><strong>{[{currency}]} {[{result.startPrice}]}</strong></span>
										<span class="btn">Book now</span>
									</div>
									<div class="hotel-results__reviews" trip-advisor></div>
								</div>
							</div>

						{% else %}

							<div class="hotel-results__content-box">
								<div class="hotel-results__price">
									<span>from {[{result.providerId}]}</span>
									<span><strong>{[{currency}]} {[{result.formattedStartPrice}]}</strong>/total</span>
									<span class="btn">Book now</span>
								</div>
								<div class="hotel-results__reviews" trip-advisor></div>
							</div>

							{% endif %}

							{# <strong class="hotel-results__rooms-left" ng-if="room.roomsLeft.length < 10">3 rooms left!</strong> #}

					</div>
				</div>
			</div>

		</div>


		<!--<script src="http://www.jscache.com/wejs?wtype=cdsratingsonlynarrow&amp;uniq=53&amp;locationId=206289&amp;lang=en_US&amp;border=false"></script>-->


	</div>

	<div class="l-col-50">
		<div id="map" hotel-map></div>
	</div>
	{% endif %}



	{% if app.isMobile %}
	<div class="results-list-mobile results-list-mobile--sleep" no-map ng-controller="results" ng-show="!detail" ng-cloak>

		<div class="mobile-headerbar" ng-controller="filters">
			<a href="./" class="mobile-headerbar__btn-prev">New search</a>
			<div class="mobile-headerbar__sort">
				<select class="mobile-headerbar__sort-select" dir="rtl" ng-model="orderBy.value">
					<option value="lowestPrice">Lowest First</option>
					<option value="highestPrice">Highest First</option>
					<option value="ratingTripAdvisor">Reviewer score</option>
				</select>
			</div>
		</div>

		<div class="results-list-mobile__container">

			<div class="results-list-mobile__summary">
				<div class="results-list-mobile__summary-item">
					<p><strong>{[{destination}]}</strong></p>
					<p>{[{departure | formatDate:'DD, MMM YYYY'}]} > {[{arrival | formatDate:'DD, MMM YYYY'}]}</p>
				</div>
			</div>

			<div class="results-list-mobile__list">
				<table class="results-list-mobile__table">

					<tbody class="results-list-mobile__result" ng-repeat="result in hotels | orderBy:orderBy.key:orderBy.reverse | limitTo:limit" ng-if="!result.error" ng-class="{'hotel-results__box--loading': result.loading}">
						<tr>

							<td>
								<img ng-src="{[{result.picture}]}" width="100%" class="results-list-mobile__thumb">
							</td>

							<td class="results-list-mobile__details">
								<h3>{[{result.title}]}</h3>
								<p class="hotel-stars hotel-stars--sleep hotel-stars--{[{result.stars}]}">{[{result.stars}]}</p>
								<p>{[{result.address}]}</p>
							</td>

							<td class="results-list-mobile__price-container">
								<p class="results-list-mobile__price"><span>from</span> <strong>{[{currency}]} {[{result.formattedStartPrice}]}</strong>total</p>
								<a href="#" class="btn results-list-mobile__btn" ng-click="hotelDetail($event, result)">Book now</a>
							</td>

						</tr>
					</tbody>

				</table>

				<a href="#" ng-show="limit < hotels.length" class="button results-list-mobile__btn-load-more" ng-click="btnLoadMore($event)">LOAD MORE</a>

			</div>

		</div>

	</div>
	{% endif %}












	<!-- HOTEL DETAIL -->

	{% if not app.isMobile %}
	<div class="item-detail-container" ng-show="detail" ng-controller="detail" ng-cloak>

		<div class="item-detail l-col-50">
			<div class="item-detail__header">

				{% if menu == 'sleep' %}
				<a href="#/" class="item-detail__go-back">‹ Back to hotel results</a>
				{% elseif menu == 'deals' %}
				<a href="#/" class="item-detail__go-back">‹ Back to deals results</a>
				{% endif %}

				<div class="item-share item-share--white item-share--sleep">
					<ul>
						<li><a ng-click="openShareModal($event)" href="#" class="item-share__btn-share btn-modal">Share</a></li>
						<li><a href="{{url('print_hotel')}}" target="_blank" class="item-share__btn-print">Print</a></li>
					</ul>
				</div>

				<h2 class="item-detail__title">{[{hotel.title}]} <span class="hotel-stars hotel-stars--{[{hotel.stars}]}">{[{hotel.stars}]}</span></h2>
				<h4 class="item-detail__address">{[{hotel.address}]}</h4>
			</div>



			<div class="item-detail__body">
				<table class="item-detail__info">
					<tr>
						<td>
							<p>{[{hotel.description}]}</p>
						</td>
					</tr>
				</table>

				<table class="item-detail__options">

					<thead>
						<tr>
							<th colspan="2" class="item-detail__subtitle">Rooms &amp; Rates</th>
						</tr>
					</thead>

					<tbody class="results-list__result-room" ng-repeat="option in hotel.options">
						<tr>
							<td>
								<!-- <img class="item-detail__room-thumb" ng-if="room.picture" ng-src="{[{room.picture.url}]} " /> -->
								<div class="item-detail__room-info" ng-repeat="room in option.rooms">
									<h3 class="item-detail__option-title">{[{room.title}]}</h3>
									<span class="hotel-people hotel-people--{[{room.stars}]}">{[{room.stars}]}</span>
									<p>{[{room.boardType}]}</p>
									{# <p class="item-detail__option-warning" ng-if="room.roomsLeft < 10">{[{ room.roomsLeft == 1 &&  room.roomsLeft + ' room' || room.roomsLeft + ' rooms' }]} left</p> #}

									<!-- <small class="item-detail__option-info">
										Prices are per room<br />
										Included: 3.80 % VAT | Not included: CHF 3.10 city tax per person per night.
									</small> -->
								</div>
							</td>
							<td>
								<p class="item-detail__price">
									<span class="item-detail__price-currency">{[{currency}]}</span>
									<span class="item-detail__price-value">{[{option.formattedTotalPrice}]}</span>
									<span class="item-detail__price-period">/total</span>
								</p>

								{% if menu == 'sleep' %}
								<a href="{{url('hotel_checkout')}}" class="btn item-detail__btn-select" ng-click="save_infos($event, hotel, option)">Select</a>
								{% elseif menu == 'deals' %}
								<a href="{{url('deals_flight')}}" class="btn item-detail__btn-select" ng-click="save_infos($event, hotel, option)">Select</a>
								{% elseif menu == 'fly' and together is defined %}
								<a href="{{url('flight_search_hotel')}}?{{app.request.queryString}}" class="btn item-detail__btn-select" ng-click="save_infos($event, hotel, option)">Select</a>
								{% endif %}

							</td>
						</tr>
					</tbody>

				</table>

			</div>
		</div>



		<div class="item-slider l-col-50">
			<div class="carrousel">
				<div class="carrousel-item" ng-repeat="picture in hotel.pictures" on-last-repeat>
					<div class="carrousel-item-image" style="background-image: url({[{picture.url}]});"></div>
				</div>
			</div>
		</div>


	</div> <!-- /item-detail-container -->
	{% endif %}






	<!-- HOTEL DETAIL MOBILE -->
	{% if app.isMobile %}
	<div class="item-detail item-detail--mobile" ng-show="detail" ng-controller="detail" ng-cloak>

		<div class="mobile-headerbar">
			{% if menu == 'sleep' %}
			<a href="#/" class="mobile-headerbar__btn-prev" ng-click="closeDetail($event)">Back to hotel results</a>
			{% elseif menu == 'deals' %}
			<a href="#/" class="mobile-headerbar__btn-prev" ng-click="closeDetail($event)">Back to deals results</a>
			{% endif %}
		</div>

		<div class="item-detail__thumb-lightbox" ng-show="hotel.showLightbox" ng-click="hotel.showLightbox = !hotel.showLightbox; hotel.imgLightbox = false;">
			<img ng-src="{[{hotel.imgLightbox}]}" alt="" width="100%">
		</div>

		<div class="item-detail__header">
			<div class="item-detail__header-thumb">
				<img src="{{app.config.uploadsdir}}/hotel-detail-01.jpg" alt="" width="100%" >
				<a href="#" class="item-detail__btn-photos" ng-class="{'item-detail__btn-photos--active': hotel.showPictures }" ng-click="hotel.showPictures = !hotel.showPictures">Photos</a>
			</div>
			<div class="item-detail__header-col">
				<h2 class="item-detail__title">{[{hotel.title}]}</h2>
				<span class="hotel-stars hotel-stars--4">4</span>
				<h4 class="item-detail__address">{[{hotel.address}]}</h4>
			</div>
			<div class="item-detail__thumbs" ng-show="hotel.showPictures">
				<ul>
					<li ng-repeat="picture in hotel.pictures">
						<img ng-click="hotel.showLightbox = !hotel.showLightbox; hotel.imgLightbox = picture.url;" ng-src="{[{ picture.url }]}" height="50" alt="">
					</li>
				</ul>
			</div>
		</div>


		<table class="item-detail__options">

			<thead>
				<tr>
					<th colspan="3" class="item-detail__subtitle">Rooms &amp; Rates</th>
				</tr>
			</thead>

			<tbody class="results-list__result-room" ng-repeat="room in hotel.rooms">
				<tr>
					<!-- <td>
						<img class="item-detail__room-thumb" ng-if="room.picture" ng-src="{[{room.picture.url}]}" />
					</td> -->
					<td>
						<h3 class="item-detail__option-title">{[{room.title}]}</h3>
						<span class="hotel-people hotel-people--{[{room.stars}]}">{[{room.stars}]}</span>
						{# <p class="item-detail__option-warning" ng-if="room.roomsLeft < 10">{[{ room.roomsLeft == 1 &&  room.roomsLeft + ' room' || room.roomsLeft + ' rooms' }]} left</p> #}
					</td>
					<td>
						{% if menu == 'sleep' %}
						<a href="{{url('hotel_checkout')}}" class="btn item-detail__btn-select">{[{currency}]} {[{room.totalPrice}]}</a>
						{% elseif menu == 'deals' %}
						<a href="{{url('deals_flight')}}" class="btn item-detail__btn-select">{[{currency}]} {[{room.totalPrice}]}</a>
						{% elseif menu == 'fly' and together is defined %}
						<a href="{{url('flight_search_hotel')}}?{{app.request.queryString}}" class="btn item-detail__btn-select">{[{currency}]} {[{room.totalPrice}]}</a>
						{% endif %}
						<p class="item-detail__price">
							<span class="item-detail__price-period">total</span>
						</p>
					</td>
				</tr>
			</tbody>

		</table>


		<table class="item-detail__hotel-info">

			<thead>
				<tr>
					<th colspan="3" class="item-detail__subtitle">About the hotel</th>
				</tr>
			</thead>

			<tbody>
				<tr>
					<td colspan="3">{[{hotel.description}]}</td>
				</tr>
			</tbody>

		</table>


	</div> <!-- /hotel detail mobile -->
	{% endif %}

	{% include 'modal/share.twig' %}

</div>


{% endblock %}
