<label class="checkout__field">First name<br />
    <div class="phone-with-code" id="personalDetailsNameTitleContainer">
        <div class="country-code-container">
            <span class="country-code-text" ng-bind="title || 'Select'"></span>
            <select ng-model="title" name="title" class="country-code">
                <option value="">Select</option>
                <option value="Mr.">Mr.</option>
                <option value="Mrs.">Mrs.</option>
                <option value="Ms.">Ms.</option>
                <option value="Miss.">Miss.</option>
            </select>

        </div>
        <input ng-model="firstName" type="text" class="country-code-input" data-parsley-class-handler="#personalDetailsNameTitleContainer" required />

    </div>
</label>