{% extends "layout.twig" %}

{% block content %}

<script src="{{app.config.staticpath}}/vendor/angular.js"></script>
<script src="{{app.config.staticpath}}/js/DealsCheckout.js"></script>


<div class="main" ng-app="DealsCheckout">

	<!-- SUMMARY -->
	<div class="summary summary--deals l-col-25" ng-controller="summary" ng-cloak>
		<h2 class="summary__title">Trip Summary</h2>

		<div class="summary__wrapper summary__wrapper--flight">

			<h4 class="summary__subtitle">Flight</h4>

			<table class="summary__flight">

				<tbody class="summary__flight-item">
					<tr>
						<td colspan="3" class="summary__date">05, Apr 2014</td>
					</tr>
					<tr>
						<td>
							<p><strong>Geneva</strong></p>
							<h3>GVA 04h22</h3>
						</td>
						<td>
							<img class="summary__icon-plane" src="{{app.config.staticpath}}/img/modules/summary/icon-plane.png" />
						</td>
						<td>
							<p><strong>Paris</strong></p>
							<h3>CLG 08h22</h3>
						</td>
					</tr>
				</tbody>

				<tbody class="summary__flight-item">
					<tr>
						<td colspan="3" class="summary__date">05, Apr 2014</td>
					</tr>
					<tr>
						<td>
							<p><strong>Geneva</strong></p>
							<h3>GVA 04h22</h3>
						</td>
						<td>
							<img class="summary__icon-plane" src="{{app.config.staticpath}}/img/modules/summary/icon-plane.png" />
						</td>
						<td>
							<p><strong>Paris</strong></p>
							<h3>CLG 08h22</h3>
						</td>
					</tr>
				</tbody>

			</table>

		</div>



		<div class="summary__wrapper summary__wrapper--hotel">

			<h4 class="summary__subtitle">Hotel</h4>

			<table class="summary__hotel">
				<tr>
					<td class="summary__hotel--col-thumb">
						<img class="summary__hotel-thumb" src="{{app.config.uploadsdir}}/hotel.jpg" />
					</td>
					<td>
						<h2 class="summary__hotel-title">Park Central New York</h2>
						<span class="hotel-stars hotel-stars--4">4</span>
						<h4 class="summary__hotel-address">870 Seventh Avenue, New York, NY 10019</h4>
					</td>
				</tr>
			</table>

			<table class="summary__room-details">
				<tr>
					<th colspan="2">Check-in</th>
				</tr>
				<tr>
					<td colspan="2">Sun, 16 Feb 2014, from 15:00</td>
				</tr>
				<tr>
					<th colspan="2">Check-out</th>
				</tr>
				<tr>
					<td colspan="2">Sun, 24 Feb 2014, until 12:00</td>
				</tr>
			</table>

		</div>



		<table class="summary__costs">
			<tr>
				<td>Flight + Hotel</td>
				<td class="summary__price">R$ 2451.11</td>
			</tr>
			<tr>
				<td>Taxed Fees (2)</td>
				<td class="summary__price">R$ 51.11</td>
			</tr>
			<tr>
				<td>Booking Fee</td>
				<td class="summary__price">R$ 521.11</td>
			</tr>
			<tr class="summary__total">
				<td>Total trip cost</td>
				<td class="summary__total-cost">R$ 3200.40</td>
			</tr>
		</table>

		<div class="summary__tweet summary__tweet--no-border"  ng-show="state.name != 'confirmation'">
			<a target="_blank" href="https://twitter.com/intent/tweet?&amp;text=I just booked my %23flight with http%3A%2F%2Fwww.hashtagtravels.com and received $5 discount for tweeting! %23tweetfordiscount @hashtagtravels" class="btn btn-small summary__tweet-button">Tweet</a>

			<span class="summary__tweet-text">
				Tweet now and get <strong>$5 DISCOUNT</strong> on this trip!
			</span>
		</div>


		<div class="summary__footer" ng-show="state.name != 'confirmation'">
			<a ng-href="{{url('deals_flight')}}" ng-click="backToPreviousState($event)" class="summary__go-back">‹ Back to {[{previousState.string || 'Flight Search'}]}</a>
		</div>

	</div>

	<!-- END SUMMARY -->


	<!-- PERSONAL DETAILS -->
	<form name="personalDetailsForm" ng-controller="personal-details" ng-submit="submitPersonalDetails($event)" ng-show="state.name === 'personal-details'" class="checkout checkout--has-footer l-col-75" data-parsley-validate>
		<h2 class="checkout__title">Personal Details</h2>

		<div class="checkout__body">
			<p class="checkout__fieldset-tip">Important: Traveller names must match your government-issued photo ID exactly.</p>
			<hr/>

			<div class="checkout__item" ng-repeat="(i, p) in passengers">
				<table class="checkout__fieldset">
					<tr>
						<th colspan="3">Passenger <span class="checkout__item--count" ng-bind="i+1"></span></th>
					</tr>
					<tr>
						<td>
							<label class="checkout__field">First name<br />
								<input ng-model="p.firstName" type="text" class="input-text" required />
							</label>
						</td>
						<td>
							<label class="checkout__field">Phone number<br />
								<input ng-model="p.phoneNumber" type="text" class="input-text checkout__item-phone-number" pattern="\d" required />
							</label>
						</td>
						<td></td>
					</tr>
					<tr>
						<td>
							<label class="checkout__field">Last name<br />
								<input ng-model="p.lastName" type="text" class="input-text" required />
							</label>
						</td>
						<td>
							<label class="checkout__field">Passport Country<br />
								<div class="customSelect">
									<select ng-model="p.passportCountry" class="customSelect-select" id="countries" name="countries" data-parsley-class-handler=".customSelect" required>
										<option value="">Select</option>
										<option value="AF">Afghanistan</option>
										<option value="AX">Åland Islands</option>
										<option value="AL">Albania</option>
										<option value="DZ">Algeria</option>
										<option value="AS">American Samoa</option>
										<option value="AD">Andorra</option>
										<option value="AO">Angola</option>
										<option value="AI">Anguilla</option>
										<option value="AQ">Antarctica</option>
										<option value="AG">Antigua and Barbuda</option>
										<option value="AR">Argentina</option>
										<option value="AM">Armenia</option>
										<option value="AW">Aruba</option>
										<option value="AU">Australia</option>
										<option value="AT">Austria</option>
										<option value="AZ">Azerbaijan</option>
										<option value="BS">Bahamas</option>
										<option value="BH">Bahrain</option>
										<option value="BD">Bangladesh</option>
										<option value="BB">Barbados</option>
										<option value="BY">Belarus</option>
										<option value="BE">Belgium</option>
										<option value="BZ">Belize</option>
										<option value="BJ">Benin</option>
										<option value="BM">Bermuda</option>
										<option value="BT">Bhutan</option>
										<option value="BO">Bolivia</option>
										<option value="BA">Bosnia and Herzegovina</option>
										<option value="BW">Botswana</option>
										<option value="BV">Bouvet Island</option>
										<option value="BR">Brazil</option>
										<option value="IO">British Indian Ocean Territory</option>
										<option value="BN">Brunei Darussalam</option>
										<option value="BG">Bulgaria</option>
										<option value="BF">Burkina Faso</option>
										<option value="BI">Burundi</option>
										<option value="KH">Cambodia</option>
										<option value="CM">Cameroon</option>
										<option value="CA">Canada</option>
										<option value="CV">Cape Verde</option>
										<option value="KY">Cayman Islands</option>
										<option value="CF">Central African Republic</option>
										<option value="TD">Chad</option>
										<option value="CL">Chile</option>
										<option value="CN">China</option>
										<option value="CX">Christmas Island</option>
										<option value="CC">Cocos (Keeling) Islands</option>
										<option value="CO">Colombia</option>
										<option value="KM">Comoros</option>
										<option value="CG">Congo</option>
										<option value="CD">Congo, The Democratic Republic of The</option>
										<option value="CK">Cook Islands</option>
										<option value="CR">Costa Rica</option>
										<option value="CI">Cote D'ivoire</option>
										<option value="HR">Croatia</option>
										<option value="CU">Cuba</option>
										<option value="CY">Cyprus</option>
										<option value="CZ">Czech Republic</option>
										<option value="DK">Denmark</option>
										<option value="DJ">Djibouti</option>
										<option value="DM">Dominica</option>
										<option value="DO">Dominican Republic</option>
										<option value="EC">Ecuador</option>
										<option value="EG">Egypt</option>
										<option value="SV">El Salvador</option>
										<option value="GQ">Equatorial Guinea</option>
										<option value="ER">Eritrea</option>
										<option value="EE">Estonia</option>
										<option value="ET">Ethiopia</option>
										<option value="FK">Falkland Islands (Malvinas)</option>
										<option value="FO">Faroe Islands</option>
										<option value="FJ">Fiji</option>
										<option value="FI">Finland</option>
										<option value="FR">France</option>
										<option value="GF">French Guiana</option>
										<option value="PF">French Polynesia</option>
										<option value="TF">French Southern Territories</option>
										<option value="GA">Gabon</option>
										<option value="GM">Gambia</option>
										<option value="GE">Georgia</option>
										<option value="DE">Germany</option>
										<option value="GH">Ghana</option>
										<option value="GI">Gibraltar</option>
										<option value="GR">Greece</option>
										<option value="GL">Greenland</option>
										<option value="GD">Grenada</option>
										<option value="GP">Guadeloupe</option>
										<option value="GU">Guam</option>
										<option value="GT">Guatemala</option>
										<option value="GG">Guernsey</option>
										<option value="GN">Guinea</option>
										<option value="GW">Guinea-bissau</option>
										<option value="GY">Guyana</option>
										<option value="HT">Haiti</option>
										<option value="HM">Heard Island and Mcdonald Islands</option>
										<option value="VA">Holy See (Vatican City State)</option>
										<option value="HN">Honduras</option>
										<option value="HK">Hong Kong</option>
										<option value="HU">Hungary</option>
										<option value="IS">Iceland</option>
										<option value="IN">India</option>
										<option value="ID">Indonesia</option>
										<option value="IR">Iran, Islamic Republic of</option>
										<option value="IQ">Iraq</option>
										<option value="IE">Ireland</option>
										<option value="IM">Isle of Man</option>
										<option value="IL">Israel</option>
										<option value="IT">Italy</option>
										<option value="JM">Jamaica</option>
										<option value="JP">Japan</option>
										<option value="JE">Jersey</option>
										<option value="JO">Jordan</option>
										<option value="KZ">Kazakhstan</option>
										<option value="KE">Kenya</option>
										<option value="KI">Kiribati</option>
										<option value="KP">Korea, Democratic People's Republic of</option>
										<option value="KR">Korea, Republic of</option>
										<option value="KW">Kuwait</option>
										<option value="KG">Kyrgyzstan</option>
										<option value="LA">Lao People's Democratic Republic</option>
										<option value="LV">Latvia</option>
										<option value="LB">Lebanon</option>
										<option value="LS">Lesotho</option>
										<option value="LR">Liberia</option>
										<option value="LY">Libyan Arab Jamahiriya</option>
										<option value="LI">Liechtenstein</option>
										<option value="LT">Lithuania</option>
										<option value="LU">Luxembourg</option>
										<option value="MO">Macao</option>
										<option value="MK">Macedonia, The Former Yugoslav Republic of</option>
										<option value="MG">Madagascar</option>
										<option value="MW">Malawi</option>
										<option value="MY">Malaysia</option>
										<option value="MV">Maldives</option>
										<option value="ML">Mali</option>
										<option value="MT">Malta</option>
										<option value="MH">Marshall Islands</option>
										<option value="MQ">Martinique</option>
										<option value="MR">Mauritania</option>
										<option value="MU">Mauritius</option>
										<option value="YT">Mayotte</option>
										<option value="MX">Mexico</option>
										<option value="FM">Micronesia, Federated States of</option>
										<option value="MD">Moldova, Republic of</option>
										<option value="MC">Monaco</option>
										<option value="MN">Mongolia</option>
										<option value="ME">Montenegro</option>
										<option value="MS">Montserrat</option>
										<option value="MA">Morocco</option>
										<option value="MZ">Mozambique</option>
										<option value="MM">Myanmar</option>
										<option value="NA">Namibia</option>
										<option value="NR">Nauru</option>
										<option value="NP">Nepal</option>
										<option value="NL">Netherlands</option>
										<option value="AN">Netherlands Antilles</option>
										<option value="NC">New Caledonia</option>
										<option value="NZ">New Zealand</option>
										<option value="NI">Nicaragua</option>
										<option value="NE">Niger</option>
										<option value="NG">Nigeria</option>
										<option value="NU">Niue</option>
										<option value="NF">Norfolk Island</option>
										<option value="MP">Northern Mariana Islands</option>
										<option value="NO">Norway</option>
										<option value="OM">Oman</option>
										<option value="PK">Pakistan</option>
										<option value="PW">Palau</option>
										<option value="PS">Palestinian Territory, Occupied</option>
										<option value="PA">Panama</option>
										<option value="PG">Papua New Guinea</option>
										<option value="PY">Paraguay</option>
										<option value="PE">Peru</option>
										<option value="PH">Philippines</option>
										<option value="PN">Pitcairn</option>
										<option value="PL">Poland</option>
										<option value="PT">Portugal</option>
										<option value="PR">Puerto Rico</option>
										<option value="QA">Qatar</option>
										<option value="RE">Reunion</option>
										<option value="RO">Romania</option>
										<option value="RU">Russian Federation</option>
										<option value="RW">Rwanda</option>
										<option value="SH">Saint Helena</option>
										<option value="KN">Saint Kitts and Nevis</option>
										<option value="LC">Saint Lucia</option>
										<option value="PM">Saint Pierre and Miquelon</option>
										<option value="VC">Saint Vincent and The Grenadines</option>
										<option value="WS">Samoa</option>
										<option value="SM">San Marino</option>
										<option value="ST">Sao Tome and Principe</option>
										<option value="SA">Saudi Arabia</option>
										<option value="SN">Senegal</option>
										<option value="RS">Serbia</option>
										<option value="SC">Seychelles</option>
										<option value="SL">Sierra Leone</option>
										<option value="SG">Singapore</option>
										<option value="SK">Slovakia</option>
										<option value="SI">Slovenia</option>
										<option value="SB">Solomon Islands</option>
										<option value="SO">Somalia</option>
										<option value="ZA">South Africa</option>
										<option value="GS">South Georgia and The South Sandwich Islands</option>
										<option value="ES">Spain</option>
										<option value="LK">Sri Lanka</option>
										<option value="SD">Sudan</option>
										<option value="SR">Suriname</option>
										<option value="SJ">Svalbard and Jan Mayen</option>
										<option value="SZ">Swaziland</option>
										<option value="SE">Sweden</option>
										<option value="CH">Switzerland</option>
										<option value="SY">Syrian Arab Republic</option>
										<option value="TW">Taiwan, Province of China</option>
										<option value="TJ">Tajikistan</option>
										<option value="TZ">Tanzania, United Republic of</option>
										<option value="TH">Thailand</option>
										<option value="TL">Timor-leste</option>
										<option value="TG">Togo</option>
										<option value="TK">Tokelau</option>
										<option value="TO">Tonga</option>
										<option value="TT">Trinidad and Tobago</option>
										<option value="TN">Tunisia</option>
										<option value="TR">Turkey</option>
										<option value="TM">Turkmenistan</option>
										<option value="TC">Turks and Caicos Islands</option>
										<option value="TV">Tuvalu</option>
										<option value="UG">Uganda</option>
										<option value="UA">Ukraine</option>
										<option value="AE">United Arab Emirates</option>
										<option value="GB">United Kingdom</option>
										<option value="US">United States</option>
										<option value="UM">United States Minor Outlying Islands</option>
										<option value="UY">Uruguay</option>
										<option value="UZ">Uzbekistan</option>
										<option value="VU">Vanuatu</option>
										<option value="VE">Venezuela</option>
										<option value="VN">Viet Nam</option>
										<option value="VG">Virgin Islands, British</option>
										<option value="VI">Virgin Islands, U.S.</option>
										<option value="WF">Wallis and Futuna</option>
										<option value="EH">Western Sahara</option>
										<option value="YE">Yemen</option>
										<option value="ZM">Zambia</option>
										<option value="ZW">Zimbabwe</option>
									</select>
								</div>
							</label>
						</td>
						<td></td>
					</tr>
				</table>
				<hr />
			</div>

		</div>

		<div class="checkout__footer">
			<span class="l-toCenter"></span><button class="checkout__submit btn" type="submit">Continue booking</button>
		</div>

	</form>

	<!-- END PERSONAL DETAILS -->


	<!-- BOOKING OPTIONS -->
	<form name="bookingOptionsForm" ng-controller="booking-options" ng-show="state.name === 'booking-options' || state.name === 'manage-luggage'" ng-submit="submitBookingOptions($event);" class="l-col-75">

		<div class="booking-options">

			<div class="booking-options__section">
				<h3 class="booking-options__section-title"><img src="{{app.config.staticpath}}/img/modules/booking-options/icon-seat.png" /> Select your seat</h3>

				<div class="booking-options__section-content">

					<div class="booking-options__section-col booking-options__seats">
						<ul>
							<li>Board first</li>
							<li>Guarantee seats together</li>
							<li>Extra leg room</li>
							<li>Speedy exit</li>
						</ul>
						<a href="#modal--select-your-seat" class="btn btn-modal btn--small booking-options__btn" ng-click="showSelectSeat($event)">Choose seats</a>
					</div>

					<div class="booking-options__section-col booking-options__flights">


						<div ng-repeat="flights in flight.segments">

							<div ng-repeat="f in flights" class="booking-options__flights-item">
								<div ng-repeat="p in flight.passenger">

									<p><strong>{[{ airports[f.origin].city }]}</strong> {[{ f.origin }]} to <strong>{[{ airports[ flights[flights.length - 1].destination ].city }]}</strong> ({[{ flights[flights.length - 1].destination }]})</p>
									<p><strong>Passenger {[{ index + 1 }]} {# - 9D #}</strong></p>

								</div>
							</div>
						</div>
					</div>

				</div>
			</div>


			<div class="booking-options__section">
				<h3 class="booking-options__section-title"><img src="{{app.config.staticpath}}/img/modules/booking-options/icon-luggage.png" /> Hold luggage &amp; sports equipment</h3>

				<div class="booking-options__section-content">

					<div class="booking-options__section-col booking-options__luggage">
						<p>Free 10kg cabin bag onboard. Buy up to 2 checked-in bags per person, maximum combined weight of 35 kg.</p>
						<a href="#" class="btn btn--small booking-options__btn" ng-click="showManageLuggage($event)">Manage luggage</a>
					</div>

				</div>
			</div>


			<div class="booking-options__section">
				<h3 class="booking-options__section-title"><img src="{{app.config.staticpath}}/img/modules/booking-options/icon-insurance.png" /> Protect your trip</h3>

				<div class="booking-options__section-content booking-options__section-content--insurance">

					<div class="booking-options__section-col booking-options__insurance">

						<table class="booking-options__insurance-table">

							<thead>
								<tr>
									<th></th>
									<th>No Insurance</th>
									<th>Cancellation</th>
									<th>Full Cover</th>
								</tr>
							</thead>

							<tbody>

								<tr>
									<td>Cancellation for unexpected circumstance up to £3,000</td>
									<td ng-class="{'is-active': selectedInsurance == 1}"><span class="booking-options__insurance-none">-</span></td>
									<td ng-class="{'is-active': selectedInsurance == 2}"><span class="booking-options__insurance-check">x</span></td>
									<td ng-class="{'is-active': selectedInsurance == 3}"><span class="booking-options__insurance-check">x</span></td>
									<td rowspan="8" class="booking-options__insurance-image">
										<span>Insurance plans by</span>
										<img src="{{app.config.staticpath}}/img/modules/booking-options/allianz.png">
									</td>
								</tr>

								<tr>
									<td>Medical Expenses up to £2,500,000</td>
									<td ng-class="{'is-active': selectedInsurance == 1}"><span class="booking-options__insurance-none">-</span></td>
									<td ng-class="{'is-active': selectedInsurance == 2}"><span class="booking-options__insurance-none">-</span></td>
									<td ng-class="{'is-active': selectedInsurance == 3}"><span class="booking-options__insurance-check">x</span></td>
								</tr>

								<tr>
									<td>Flight Delay</td>
									<td ng-class="{'is-active': selectedInsurance == 1}"><span class="booking-options__insurance-none">-</span></td>
									<td ng-class="{'is-active': selectedInsurance == 2}"><span class="booking-options__insurance-none">-</span></td>
									<td ng-class="{'is-active': selectedInsurance == 3}"><span class="booking-options__insurance-check">x</span></td>
								</tr>

								<tr>
									<td>Private Medical</td>
									<td ng-class="{'is-active': selectedInsurance == 1}"><span class="booking-options__insurance-none">-</span></td>
									<td ng-class="{'is-active': selectedInsurance == 2}"><span class="booking-options__insurance-none">-</span></td>
									<td ng-class="{'is-active': selectedInsurance == 3}"><span class="booking-options__insurance-check">x</span></td>
								</tr>

								<tr>
									<td>Personal Belongings up to £1,500</td>
									<td ng-class="{'is-active': selectedInsurance == 1}"><span class="booking-options__insurance-none">-</span></td>
									<td ng-class="{'is-active': selectedInsurance == 2}"><span class="booking-options__insurance-none">-</span></td>
									<td ng-class="{'is-active': selectedInsurance == 3}"><span class="booking-options__insurance-check">x</span></td>
								</tr>
								<tr>
									<td>Ticket Refund</td>
									<td ng-class="{'is-active': selectedInsurance == 1}"><span class="booking-options__insurance-none">-</span></td>
									<td ng-class="{'is-active': selectedInsurance == 2}"><span class="booking-options__insurance-none">-</span></td>
									<td ng-class="{'is-active': selectedInsurance == 3}"><span class="booking-options__insurance-check">x</span></td>
								</tr>
								<tr>
									<td></td>
									<td ng-class="{'is-active': selectedInsurance == 1}"><button ng-disabled="selectedInsurance == 1" class="btn" ng-click="setInsurance($event, 1)">Select</button></td>
									<td ng-class="{'is-active': selectedInsurance == 2}"><button ng-disabled="selectedInsurance == 2" class="btn" ng-click="setInsurance($event, 2)">15 CHF</button></td>
									<td ng-class="{'is-active': selectedInsurance == 3}"><button ng-disabled="selectedInsurance == 3" class="btn" ng-click="setInsurance($event, 3)">25 CHF</button></td>
								</tr>
							</tbody>
						</table>
					</div>

					{# <div class="booking-options__section-col booking-options__insurance-add">
						<p>Add one of our travel insurances:</p>
						<div class="customSelect">
							<select name="insurance" class="customSelect-select">
								<option value="">Insurance Plus (US$ 90)</option>
							</select>
						</div>
						<a href="#modal__view-policy" class="btn-modal">View policy</a>
					</div> #}

				</div>
			</div>

		</div>


		<div class="checkout__footer">
			<span class="l-toCenter"></span><button class="checkout__submit btn" type="submit">Continue booking</button>
		</div>

	</form>
	<!-- END BOOKING OPTIONS -->


	<!-- PAYMENT -->
	<form name="paymentDetailsForm" ng-controller="payment-details" ng-submit="submitPaymentDetails($event)" ng-show="state.name === 'payment-details'" action="{{url('deals_checkout')}}" class="checkout l-col-75" data-parsley-validate>

		<h2 class="checkout__title">Payment Details</h2>

		<div class="internal-tabs">

			<h4 class="checkout__subtitle">How would you like to pay?</h4>

			<div class="internal-tabs__tabs-links">
				<a href="#" class="internal-tabs__tab-link internal-tabs__tab-link--active">Credit card <span class="intenal-tabs__icons-card"></span></a>
				<a href="#" class="internal-tabs__tab-link">PayPal <span class="intenal-tabs__icons-card internal-tabs__icons-card--paypal"></span></a>
			</div>

			<div class="internal-tabs__content">

				<div class="internal-tabs__tab internal-tabs__tab--active">

					<table class="checkout__fieldset">

						<tr>
							<th colspan="3">Credit card info</th>
						</tr>

						<tr>
							<td>
								<label class="checkout__field">Debit/Credit card number<br />
									<input type="text" ng-model="payment.creditCardNumber" class="input-text checkout__credit-card-input" maxlength="19" placeholder="0000 0000 0000 0000" data-type-card="" data-parsley-error-message="Required" data-parsley-range="[14,19]" required />
								</label>
							</td>
							<td>
								<label class="checkout__field">Expiration date<br />

									<div class="checkout__col-expiration-month">
										<div class="customSelect">
											<select ng-model="payment.expirationMonth" class="customSelect-select" data-parsley-class-handler=".customSelect" data-parsley-error-message="Required" required>
												<option value="">Select</option>
												<option value="jan">January</option>
												<option value="feb">February</option>
												<option value="nar">March</option>
												<option value="apr">April</option>
												<option value="may">May</option>
												<option value="jun">June</option>
												<option value="jul">July</option>
												<option value="aug">August</option>
												<option value="sep">September</option>
												<option value="oct">October</option>
												<option value="nov">November</option>
												<option value="dec">December</option>
											</select>
										</div>
									</div>

									<div class="checkout__col-expiration-year">
										<div class="customSelect">
											<select ng-model="payment.expirationYear" class="customSelect-select" data-parsley-class-handler=".customSelect" data-parsley-error-message="Required" required>
												<option value="">Select</option>
												<option value="2015">2014</option>
												<option value="2015">2015</option>
												<option value="2015">2016</option>
												<option value="2015">2017</option>
												<option value="2015">2018</option>
												<option value="2015">2019</option>
												<option value="2015">2020</option>
												<option value="2015">2021</option>
												<option value="2015">2022</option>
												<option value="2015">2023</option>
												<option value="2015">2024</option>
												<option value="2015">2025</option>
												<option value="2015">2026</option>
												<option value="2015">2027</option>
												<option value="2015">2028</option>
												<option value="2015">2029</option>
												<option value="2015">2030</option>
											</select>
										</div>
									</div>

								</label>
							</td>
							<td>
								<label class="checkout__field checkout__field--security-code">Security code<br />
									<div class="l-col-25">
										<input ng-model="payment.securityCode" type="text" class="input-text checkout__security-code-input" data-parsley-type="integer" maxlength="3" required />
									</div>
								</label>
							</td>
						</tr>

					</table>

					<hr/>


					<table class="checkout__fieldset">
						<tr>
							<th colspan="3">Billing Address</th>
						</tr>
						<tr>
							<td>
								<label class="checkout__field">Country<br />
									<div class="customSelect">
										<select ng-model="payment.country" class="customSelect-select" id="countries" name="countries" data-parsley-class-handler=".customSelect" required>
											<option value="">Select</option>
											<option value="Switzerland">Switzerland</option>
										</select>
									</div>
								</label>
							</td>
							<td>
								<label class="checkout__field">City<br />
									<input ng-model="payment.city" type="text" class="input-text" required />
								</label>
							</td>
							<td>
								<label class="checkout__field">ZIP Code<br />
									<input ng-model="payment.zipcode" type="text" class="input-text" required />
								</label>
							</td>
						</tr>
						<tr>
							<td>
								<label class="checkout__field">Address<br />
									<input ng-model="payment.address1" type="text" class="input-text" required />
								</label>
							</td>

							<td>
								<label class="checkout__field">Address 2<br />
									<input ng-model="payment.address2" type="text" class="input-text" />
								</label>
							</td>

						</tr>
					</table>

				</div>

				<div class="internal-tabs__tab">

					<div class="checkout__paypal">
						<h4>Please click the button below to pay with PayPal.<br/>You will be directed to the PayPal's website.</h4>
						<a href="#" class="btn">Pay with PayPal</a>
					</div>


				</div>

			</div>


		</div>


		<div class="checkout__footer">
			<a href="#modal__coupon" class="btn-modal checkout__coupon" ng-click="showCoupon($event)">Do you have a coupon? Click to insert it and receive a discount!</a>
			<span class="l-toCenter"></span><button class="checkout__submit btn" type="submit">Complete booking</button>
		</div>

	</form>
	<!-- END PAYMENT -->


	<!-- CONFIRMATION -->

	<div class="confirmation l-col-75" ng-controller="confirmation" ng-if="state.name === 'confirmation'">
		<h2 class="confirmation__title">Booking confirmation</h2>

		<div class="confirmation__thanks" ng-show="!PNR" style="padding: 0; background: none;">
			<h4>Booking your trip</h4>
			<p>Please wait...</p>
		</div>

		<div class="confirmation__thanks" ng-show="PNR">
			<h4>Thanks for booking with Hashtag Travels!</h4>
			<p>We just sent you an e-mail with your trip itinerary.</p>

			<div class="confirmation__code">
				<p>Confirmation Number: <span>{[{PNR}]}</span></p>
			</div>
			<br>
			<a href="{{url('print_deals_confirmation')}}" target="_blank" class="confirmation__print">Print voucher details</a>
		</div>


		<h2 class="confirmation__title">Share and get discount</h2>
		<div class="confirmation__share">
			<p>Get points sharing your booking with your followers and use your points to get discount on our services.</p>
			<h4>One share = 5 points</h4>
			<ul>
				<li><a href="https://twitter.com/intent/tweet?&amp;text=I%20just%20booked%20my%20%23flight%20with%20http%3A%2F%2Fwww.hashtagtravels.com%20and%20received%20%245%20discount%20for%20tweeting!%20%23tweetfordiscount%20%40hashtagtravels" class="bt tt" data-network="twitter">Share on Twitter</a></li>
				<li><a href="#" class="bt fb" data-network="facebook">Share on Facebook</a></li>
				<li><a href="#modal__share" class="bt email btn-modal" data-network="email">Share with E-mail</a></li>
				<!-- <li><a href="#" class="bt gpls">Share on Google+</a></li> -->
			</ul>
		</div>
	</div>

	<!-- END CONFIRMATION -->

	{% include 'modal/manage-luggage.twig' %}
	{% include 'modal/select-your-seat.twig' %}
	{% include 'modal/coupon.twig' %}

</div>




{% endblock %}