{% extends "layout.twig" %}

{% block content %}

<script src="{{app.config.staticpath}}/vendor/angular.js"></script>
<script src="{{app.config.staticpath}}/js/HashtagControllers.js"></script>
<script src="{{app.config.staticpath}}/js/HashtagServices.js"></script>
<script src="{{app.config.staticpath}}/js/HashtagConstants.js"></script>
<script src="{{app.config.staticpath}}/js/HashtagFilters.js"></script>
<script src="{{app.config.staticpath}}/js/DealsSearchApp.js"></script>


<div class="main main-results main-results--deals" ng-app="DealsSearchApp">

	{% if not app.isMobile %}
	<div class="results-filter-compact results-filter--deals" ng-controller="filters">

		<div class="results-filter-compact__search-container">
			<label class="input-icon input-icon--takeoff input-icon--noicon results-filter-compact__search-field">
				<strong class="input-icon__title">From</strong>
				<input value="Geneva" />
			</label>

			<label class="input-icon input-icon--landing input-icon--noicon results-filter-compact__search-field">
				<strong class="input-icon__title">To</strong>
				<input placeholder="City" />
			</label>
		</div>

		<div class="results-filter-compact_datepicker-container results-filter-compact__col datepicker-container" data-calendar-parent=".main-results">
			<label class="datepicker datepicker--compact" data-calendar-type="checkin">
				<span class="datepicker-label-title">Departing on</span>
				<span class="datepicker-day"></span>
				<span class="datepicker-month"></span>
				<span class="datepicker-year"></span>
				<input type="hidden" class="datepicker-input" value="{{ "now"|date("Y-m-d") }}" />
			</label>

			<label class="datepicker datepicker--compact" data-calendar-type="checkout">
				<span class="datepicker-label-title">Arriving on</span>
				<span class="datepicker-day"></span>
				<span class="datepicker-month"></span>
				<span class="datepicker-year"></span>
				<input type="hidden" class="datepicker-input" value="{{ "tomorrow"|date("Y-m-d") }}" />
			</label>
		</div>

		<div class="results-filter-compact__select-container results-filter-compact__col">
			<label>Airlines</label>
			<div class="customSelect customSelect--big">
				<select class="customSelect-select" ng-model="airline" ng-options="a.code as a.name for a in airlines">
					<option value="">Any</option>
				</select>
			</div>
		</div>

		<div class="results-filter-compact__select-container results-filter-compact__col">
			<label>Star rating</label>
			<div class="customSelect customSelect--big">
				<select class="customSelect-select" ng-model="stars">
					<option value="0">Any</option>
					<option value="2">2 stars</option>
					<option value="3">3 stars</option>
					<option value="4">4 stars</option>
					<option value="5">5 stars</option>
				</select>
			</div>
		</div>

		<div class="results-filter-compact__select-container results-filter-compact__select-container--sort results-filter-compact__col">
			<label>Sort results by</label>
			<div class="customSelect customSelect--big">
				<select class="customSelect-select" ng-model="orderBy.reverse">
					<option value="false">Lowest Price</option>
					<option value="true">Highest Price</option>
				</select>
			</div>
			<input type="submit" class="btn" value="Search">
		</div>

		<div class="results-filter-compact__col">
			<a href="#" class="results-filter-compact__btn-map">Map/Grid</a>
		</div>

	</div>
	{% endif %}

	{% if app.isMobile %}
	<div class="mobile-headerbar" ng-controller="filters" ng-class="{'mobile-headerbar--inactive': detail}">
		<a href="{{url('deals')}}" class="mobile-headerbar__btn-prev">Edit search</a>
		<div class="mobile-headerbar__sort">
			<select class="mobile-headerbar__sort-select" dir="rtl" ng-model="orderBy.reverse">
				<option value="false">Lowest Price</option>
				<option value="true">Highest Price</option>
			</select>
		</div>
	</div>
	{% endif %}

	<div class="results-content" ng-class="{'results-content--inactive': detail}">
		<h3 class="results-content__title">Select a package</h3>
		<div class="results-list results-list--deals" ng-controller="results" ng-cloak>

			<div class="results-list__result" ng-repeat="deal in deals | orderBy:orderBy.key:orderBy.reverse" ng-class="{'results-list__result--loading': deal.loading}">
				<a href="#/hotel/{[{deal.id}]}">
					<div class="results-list__thumb-container">
						<img ng-src="{[{deal.picture}]}" alt="" width="100%" class="results-list__thumb">
						<p class="results-list__discount" ng-if="deal.discount">Save <strong>{[{currency}]} {[{deal.discount}]}</strong></p>
					</div>
					<div class="results-list__content">
						<div class="results-list__tripDepartureArrival">
							<p>Geneva <strong>to</strong></p>
							<p>Dubai</p>
						</div>

						<div class="results-list__hotel-info">
							<h4>{[{deal.title}]}</h4>
							<p>{[{deal.subtitle}]}</p>
							<p class="hotel-stars hotel-stars--deals hotel-stars--{[{deal.stars}]}">{[{deal.stars}]}</p>
						</div>

						<div class="results-list__price-container">
							<p>Flight+Hotel per person from <strong>{[{currency}]} {[{deal.price}]}</strong></p>
							<span class="btn">Select</span>
						</div>
					</div>
				</a>
			</div>

			<div class="nothing-to-show" ng-if="deals.length == 0">
				<p>Nothing to show</p>
			</div>

		</div>




		<div class="results-map">
			<div class="results-map-filters">
				<ul>
					<li ng-repeat="filter in filters"><a href="#" ng-class="{'results-map-filters__btn--active': filter.active}" ng-click="mapFilter($event, filter)" data-filter="{[{filter.name}]}" class="results-map-filters__btn">{[{filter.name}]}</a></li>
				</ul>
			</div>
			<div id="map-deals"></div>
		</div>

	</div> <!-- /results-content -->












	<div class="item-detail-container" ng-class="{'item-detail-container--active': detail}" ng-show="detail" ng-controller="detail" ng-cloak>

		{% if not app.isMobile %}
		<div class="item-detail l-col-50">

			<div class="item-detail__header">

				{% if menu == 'sleep' %}
				<a href="#/" class="item-detail__go-back">‹ Back to hotel results</a>
				{% elseif menu == 'deals' %}
				<a href="#/" class="item-detail__go-back">‹ Back to deals results</a>
				{% endif %}

				<div class="item-share item-share--white item-share--sleep">
					<ul>
						<li><a ng-click="openShareModal($event)" href="#" class="item-share__btn-share btn-modal">Share</a></li>
						<li><a href="{{url('print_deals')}}" target="_blank" class="item-share__btn-print">Print</a></li>
					</ul>
				</div>

				<h2 class="item-detail__title">{[{hotel.title}]} <span class="hotel-stars hotel-stars--{[{hotel.stars}]}">{[{hotel.stars}]}</span></h2>
				<h4 class="item-detail__address">{[{hotel.address}]}</h4>
			</div>



			<div class="item-detail__body">
				<table class="item-detail__info">
					<tr>
						<td>
							<p>{[{hotel.description}]}</p>
						</td>


						<td>
							<p><div id="TA_cdsratingsonlynarrow53" class="TA_cdsratingsonlynarrow">
								<ul id="CUUG2Ky" class="TA_links LdIcGZ list-unstyled">
									<li id="DzY1Oz1LNmI" class="JK5ROVnpzq"><a target="_blank" href="http://www.tripadvisor.com/"><img src="http://www.tripadvisor.com/img/cdsi/img2/branding/tripadvisor_logo_transp_340x80-18034-2.png" width="100px" alt="TripAdvisor"/></a></li>
								</ul>
								</div>
								<script src="http://www.jscache.com/wejs?wtype=cdsratingsonlynarrow&amp;uniq=53&amp;locationId=206289&amp;lang=en_US&amp;border=false"></script>
							</p>
						</td>
					</tr>
				</table>

				<table class="item-detail__options">

					<thead>
						<tr>
							<th colspan="2" class="item-detail__subtitle">Rooms &amp; Rates</th>
						</tr>
					</thead>

					<tbody class="results-list__result-room" ng-repeat="room in hotel.rooms">
						<tr>
							<td>
								<img class="item-detail__room-thumb" ng-if="room.picture" ng-src="{[{room.picture.url}]} " />
								<div class="item-detail__room-info">
									<h3 class="item-detail__option-title">{[{room.title}]}</h3>
									<span class="hotel-people hotel-people--{[{room.stars}]}">{[{room.stars}]}</span>
									{# <p class="item-detail__option-warning" ng-if="room.roomsLeft < 10">{[{ room.roomsLeft == 1 &&  room.roomsLeft + ' room' || room.roomsLeft + ' rooms' }]} left</p> #}

									<small class="item-detail__option-info">
										Prices are per room<br />
										Included: 3.80 % VAT | Not included: CHF 3.10 city tax per person per night.
									</small>
								</div>
							</td>
							<td>
								<p class="item-detail__price">
									<span class="item-detail__price-currency">{[{hotel.currency}]}</span>
									<span class="item-detail__price-value">{[{room.totalPrice}]}</span>
									<span class="item-detail__price-period">/total</span>
								</p>

								{% if menu == 'sleep' %}
								<a href="{{url('hotel_checkout')}}" class="btn item-detail__btn-select">Select</a>
								{% elseif menu == 'deals' %}
								<a href="{{url('deals_flight')}}" class="btn item-detail__btn-select">Select</a>
								{% endif %}

							</td>
						</tr>
					</tbody>

				</table>

			</div>
		</div>



		<div class="item-slider l-col-50">
			<div class="carrousel">
				<div class="carrousel-item" ng-repeat="picture in hotel.pictures" on-last-repeat>
					<div class="carrousel-item-image" style="background-image: url({[{picture.url}]});"></div>
				</div>
			</div>
		</div>
		{% endif %}






		<!-- HOTEL DETAIL MOBILE -->
		{% if app.isMobile %}
		<div class="item-detail item-detail--mobile">

			<div class="mobile-headerbar">
				<a href="#/" class="mobile-headerbar__btn-prev">Back to deals results</a>
			</div>

			<div class="item-detail__thumb-lightbox" ng-show="hotel.showLightbox" ng-click="hotel.showLightbox = !hotel.showLightbox; hotel.imgLightbox = false;">
				<img ng-src="{[{hotel.imgLightbox}]}" alt="" width="100%">
			</div>

			<div class="item-detail__header">
				<div class="item-detail__header-thumb">
					<img src="{{app.config.uploadsdir}}/hotel-detail-01.jpg" alt="" width="100%" >
					<a href="#" class="item-detail__btn-photos" ng-class="{'item-detail__btn-photos--active': hotel.showPictures }" ng-click="hotel.showPictures = !hotel.showPictures; $event.preventDefault();">Photos</a>
				</div>
				<div class="item-detail__header-col">
					<h2 class="item-detail__title">{[{hotel.title}]}</h2>
					<span class="hotel-stars hotel-stars--4">4</span>
					<h4 class="item-detail__address">{[{hotel.address}]}</h4>
				</div>
				<div class="item-detail__thumbs" ng-show="hotel.showPictures">
					<ul>
						<li ng-repeat="picture in hotel.pictures">
							<img ng-click="hotel.showLightbox = !hotel.showLightbox; hotel.imgLightbox = picture;" ng-src="{[{ picture.url }]}" alt="">
						</li>
					</ul>
				</div>
			</div>


			<table class="item-detail__options">

				<thead>
					<tr>
						<th colspan="3" class="item-detail__subtitle">Rooms &amp; Rates</th>
					</tr>
				</thead>

				<tbody class="results-list__result-room" ng-repeat="room in hotel.rooms">
					<tr>
						<td>
							<img class="item-detail__room-thumb" ng-if="room.picture" ng-src="{[{room.picture.url}]}" />
						</td>
						<td>
							<h3 class="item-detail__option-title">{[{room.title}]}</h3>
							<span class="hotel-people hotel-people--{[{room.stars}]}">{[{room.stars}]}</span>
							{# <p class="item-detail__option-warning" ng-if="room.roomsLeft < 10">{[{ room.roomsLeft == 1 &&  room.roomsLeft + ' room' || room.roomsLeft + ' rooms' }]} left</p> #}
						</td>
						<td>
							{% if menu == 'sleep' %}
							<a href="{{url('hotel_checkout')}}" class="btn item-detail__btn-select">{[{hotel.currency}]}{[{room.totalPrice}]}</a>
							{% elseif menu == 'deals' %}
							<a href="{{url('deals_flight')}}" class="btn item-detail__btn-select">{[{hotel.currency}]}{[{room.totalPrice}]}</a>
							{% endif %}

							<p class="item-detail__price">
								<span class="item-detail__price-period">per night</span>
							</p>
						</td>
					</tr>
				</tbody>

			</table>


			<table class="item-detail__hotel-info">

				<thead>
					<tr>
						<th colspan="3" class="item-detail__subtitle">About the hotel</th>
					</tr>
				</thead>

				<tbody>
					<tr>
						<td colspan="3">{[{hotel.description}]}</td>
					</tr>
				</tbody>

			</table>


		</div>
		{% endif %}




	</div> <!-- /item-detail-container -->

	{% include 'modal/share.twig' %}

</div>

{% endblock %}
