<form class="checkout l-col-75" ng-cloak>
	<h2 class="checkout__title">My Bookings</h2>

	<div class="checkout__body">

		<div class="internal-tabs">
			<div class="internal-tabs__tabs-links internal-tabs__tabs-links--3">
				<a href="#" ng-click="setContent($event, 'current')" class="internal-tabs__tab-link internal-tabs__tab-link--active">Current<span class="hidden-phone"> Trips</a></a>
				<a href="#" ng-click="setContent($event, 'past')" class="internal-tabs__tab-link">Past<span class="hidden-phone"> Trips</span></a>
				<a href="#" ng-click="setContent($event, 'cancelled')" class="internal-tabs__tab-link">Cancelled<span class="hidden-phone"> Trips</span></a>
			</div>

			<div class="internal-tabs__content">

				<br/><br/>

				<table ng-if="bookings.length > 0" class="table-history">

					<tbody class="table-history__item" ng-repeat="booking in bookings" ng-class="{'table-history__item--details': booking.visible}">

						<!-- FLIGHT -->
						<tr ng-if="booking.type == 'flight'" ng-click="showDetails($event)">
							<td>
								<img class="table-history__row-icon" src="{{app.config.staticpath}}/img/modules/table-history/icon-plane.png" />
							</td>
							<td class="table-history__col-30">
								<small>Flight</small>
								<span ng-repeat="segment in booking.flight.segments">
									<strong>{[{ airports[segment[0].origin].city }]}</strong> to <strong>{[{ airports[segment[segment.length - 1].destination].city }]}</strong><br/>
								</span>
							</td>
							<td class="table-history__col-30">
								<small>Booked on</small>
								<strong>{[{booking.booked | formatDate : 'DD, MMM YYYY' }]}</strong>
							</td>
							<td class="table-history__col-30 hidden-phone">
								<small>Total cost</small>
								<strong>{[{booking.flight.currency}]} {[{booking.flight.totalPrice }]}</strong>
							</td>
							<td>
								<button class="btn table-history__btn" >Details</button>
							</td>
						</tr>

						<!-- FLIGHT DETAILS -->
						<tr ng-if="booking.type == 'flight'">
							<td colspan="5" class="table-history__details table-history__details--flight">
								<table class="table-history__details-table">
									<tr>
										<td class="table-history__details--from-to">

											<table class="table-history__table-from-to">

												<!-- ONE WAY -->
												<tr ng-repeat="segment in booking.flight.segments">
													<td class="table-history__from-to--date">
														<p><span>{[{segment[0].departure | formatDate : 'DD'}]},</span> {[{segment[0].departure | formatDate : 'MMM YYYY'}]}</p>
													</td>
													<td>
														<p>{[{airports[segment[0].origin].city}]} <strong>{[{segment[0].origin}]} {[{segment[0].departure | formatDate : 'HH[h]mm'}]}</strong> <i class="icon-airplane"></i> {[{airports[segment[segment.length - 1].destination].city}]} <strong>{[{segment[segment.length - 1].destination}]} {[{segment[segment.length - 1].arrival | formatDate : 'HH[h]mm'}]}</strong></p>
														<small><img ng-src="https://www.gstatic.com/flights/airline_logos/35px/{[{segment[0].carrier.code}]}.png"> Swiss {[{segment[0].flightNumber}]} | {[{segment[0].cabinClass}]} | {[{segment[0].duration}]}</small>
													</td>
												</tr>
											</table>


										</td>

										<td class="table-history__details--summary-costs">
											<ul>
												<li>Adults (2) <strong>US$ 2451.11</strong></li>
												<li>Taxes &amp; fees <strong>US$ 67.26</strong></li>
												<li>Booking Fee <strong>US$ 32.21</strong></li>
												<li class="table-history__details--total">Total <strong>{[{booking.flight.currency}]} {[{booking.flight.totalPrice }]}</strong></li>
											</ul>
										</td>
									</tr>

									{# <tr>
										<td colspan="3" class="table-history__details--help">
											<p>Need help or want to modify this trip? <a href="#modal--contact" class="btn-modal">Click to contact us</a></p>
										</td>
									</tr> #}
								</table>
							</td>
						</tr>









						<!-- HOTEL -->
						<tr ng-if="booking.type == 'hotel'">
							<td>
								<img class="table-history__row-icon" src="{{app.config.staticpath}}/img/modules/table-history/icon-bed.png" />
							</td>
							<td class="table-history__col-30">
								<small>Hotel</small>
								<strong>{[{booking.hotel.city}]}</strong>
							</td>
							<td class="table-history__col-30">
								<small>Booked on</small>
								<strong>{[{booking.booked | formatDate : 'DD, MMM YYYY' }]}</strong>
							</td>
							<td class="table-history__col-30 hidden-phone">
								<small>Total cost</small>
								<strong>{[{booking.hotel.currency}]} {[{booking.hotel.totalPrice }]}</strong>
							</td>
							<td>
								<button class="btn table-history__btn" ng-click="showDetails($event)">Details</button>
							</td>
						</tr>


						<!-- HOTEL DETAILS -->
						<tr ng-if="booking.type == 'hotel'">
							<td colspan="5" class="table-history__details table-history__details--sleep">
								<table class="table-history__details-table">
									<tr>
										<td class="table-history__col-40 table-history__details--hotel">
											<img src="{{app.config.uploadsdir}}/hotel-detail-01.jpg" alt="" class="table-history__details--thumb">
											<div class="table-history__details--hotel-info">
												<h3>{[{booking.hotel.name}]}</h3>
												<p class="hotel-stars hotel-stars--sleep hotel-stars--{[{booking.hotel.stars}]}">{[{booking.hotel.stars}]}</p>
												<p>{[{booking.hotel.address}]}</p>
											</div>
										</td>

										<td class="table-history__details--summary">
											<ul>
												<li class="table-history__details--summary-col"><span>Guests</span> {[{booking.hotel.guests}]}</li>
												<li><span>Room</span> {[{booking.hotel.roomType}]}</li>
												<li><span>Check-in</span> {[{booking.hotel.checkin | formatDate : 'ddd, DD MMM YYYY' }]}, from {[{booking.hotel.checkin | formatDate : 'HH[h]mm' }]}</li>
												<li><span>Check-out</span> {[{booking.hotel.checkout | formatDate : 'ddd, DD MMM YYYY' }]}, until {[{booking.hotel.checkout | formatDate : 'HH[h]mm' }]}</li>
											</ul>
										</td>

										<td class="table-history__details--summary-costs">
											<ul>
												<li>1 room - 8 nights <strong>US$ 5.350.30</strong></li>
												<li>Taxes &amp; fees <strong>US$ 100</strong></li>
												<li>Booking Fee <strong>US$ 50</strong></li>
												<li class="table-history__details--total">Total <strong>{[{booking.hotel.currency}]} {[{booking.hotel.totalPrice }]}</strong></li>
											</ul>
										</td>
									</tr>

									{# <tr>
										<td colspan="3" class="table-history__details--help">
											<p>Need help or want to modify this trip? <a href="#modal--contact" class="btn-modal">Click to contact us</a></p>
										</td>
									</tr> #}
								</table>
							</td>
						</tr>







						<!-- CAR -->
						<tr ng-if="booking.type == 'car'">
							<td>
								<img class="table-history__row-icon" src="{{app.config.staticpath}}/img/modules/table-history/icon-car.png" />
							</td>
							<td class="table-history__col-30">
								<small>Car</small>
								<strong>{[{booking.car.carType}]}</strong>
							</td>
							<td class="table-history__col-30">
								<small>Booked on</small>
								<strong>{[{booking.booked | formatDate : 'DD, MMM YYYY' }]}</strong>
							</td>
							<td class="table-history__col-30 hidden-phone">
								<small>Total cost</small>
								<strong>{[{booking.car.currency}]} {[{booking.car.totalPrice }]}</strong>
							</td>
							<td class="table-history__col-10">
								<button class="btn table-history__btn" ng-click="showDetails($event)">Details</button>
							</td>
						</tr>


						<tr ng-if="booking.type == 'car'">
							<td colspan="5" class="table-history__details table-history__details--flight">
								<table class="table-history__details-table">
									<tr>
										<td class="table-history__col-40 table-history__details--drive">
											<img src="{{app.config.uploadsdir}}/car-detail-01.jpg" alt="" class="table-history__details--thumb">
											<div class="table-history__details--car-info">
												<h3>{[{booking.car.name}]} </h3>
												<ul class="drive-list-features">
													<li class="drive-list-features__icon drive-list-features__icon--people">5 Passengers</li>
													<li class="drive-list-features__icon drive-list-features__icon--bag">2 Small Suitcases</li>
													<li class="drive-list-features__icon drive-list-features__icon--automatic">Automatic Transmission</li>
													<li class="drive-list-features__icon drive-list-features__icon--fuel">33 miles/gallon or better</li>
												</ul>
											</div>
										</td>

										<td class="table-history__details--summary">
											<ul>
												<li><span>Pick-up</span> {[{booking.car.pickup | formatDate : 'ddd, DD MMM YYYY' }]}, {[{booking.car.pickup | formatDate : 'HH[h]mm' }]}</li>
												<li><span>
													{[{booking.car.address}]}
												</span></li>
												<li><span>Drop-off</span> {[{booking.car.dropoff | formatDate : 'ddd, DD MMM YYYY' }]}, {[{booking.car.dropoff | formatDate : 'HH[h]mm' }]}</li>
											</ul>
										</td>

										<td class="table-history__details--summary-costs">
											<ul>
												<li>Car Rental - 7 days <strong>US$ 250</strong></li>
												<li>Taxes &amp; fees <strong>US$ 100</strong></li>
												<li>Booking Fee <strong>US$ 50</strong></li>
												<li>NeverLost GPS <strong>US$ 62</strong></li>
												<li class="table-history__details--total">Total <strong>{[{booking.car.currency}]} {[{booking.car.totalPrice }]}</strong></li>
											</ul>
										</td>
									</tr>

									{# <tr>
										<td colspan="3" class="table-history__details--help">
											<p>Need help or want to modify this trip? <a href="#modal--contact" class="btn-modal">Click to contact us</a></p>
										</td>
									</tr> #}
								</table>
							</td>
						</tr>

					</tbody>


				</table>


				<div class="nothing-to-show" ng-if="bookings.length == 0">
					<p>You don't have {[{tab}]} trips</p>
				</div>


			</div>
		</div>

	</div>

</form>