{% extends "layout.twig" %}

{% block content %}

<div class="main main__myAccount">

	<div class="l-col-25 internal-menu hidden-phone">
		<h3 class="internal-menu__title">My Account</h3>

		<a href="my_account-my_bookings" class="internal-menu__item internal-menu__item--active"><img class="internal-menu__icon" src="{{app.config.staticpath}}/img/modules/internal-menu/icon-bookings.png" />My Bookings</a>
		<a href="my_account-personal_details" class="internal-menu__item"><img class="internal-menu__icon" src="{{app.config.staticpath}}/img/modules/internal-menu/icon-personal.png" />Personal Details</a>
		<!-- <a href="my_account-payment_details" class="internal-menu__item"><img class="internal-menu__icon" src="{{app.config.staticpath}}/img/modules/internal-menu/icon-payment.png" />Payment Details</a> -->
		<a href="my_account-account_settings" class="internal-menu__item"><img class="internal-menu__icon" src="{{app.config.staticpath}}/img/modules/internal-menu/icon-settings.png" />Account Settings</a>
		<a href="my_account-rewards_system" class="internal-menu__item"><img class="internal-menu__icon" src="{{app.config.staticpath}}/img/modules/internal-menu/icon-rewards.png" />Rewards System</a>
		<a href="my_account-notifications" class="internal-menu__item"><img class="internal-menu__icon" src="{{app.config.staticpath}}/img/modules/internal-menu/icon-notifications.png" />Notifications</a>

	</div>


	<form class="checkout l-col-75">
		<h2 class="checkout__title"><a href="" class="back-mobile" onclick="window.history.back();return false;"></a>Booking Detail</h2>

		<div class="checkout__body">

			<div class="booking-details">
				<div class="table-history__details--hotel">
					<img src="./uploads/hotel-detail-01.jpg" alt="" class="table-history__details--thumb">
					<div class="table-history__details--hotel-info">
						<h3>Hilton New York</h3>
						<p class="hotel-stars hotel-stars--sleep hotel-stars--4">4</p>
						<p class="hotel-address">870 Seventh Avenue,<br> New York, NY 10019 </p>
					</div>
				</div>
				<div class="table-history__details--summary">
					<ul>
						<li class="table-history__details--summary-col"><span>Guests</span> 2</li>
						<li><span>Room</span> Double Room</li>
						<li><span>Check-in</span> Sun, 16 Feb 2014, from 15:00</li>
						<li><span>Check-out</span> Sun, 24 Feb 2014, until 12:00</li>
					</ul>
				</div>

				<div class="booking-details__summary-costs">
					<ul>
						<li>1 room - 8 nights <strong>US$ 5.350.30</strong></li>
						<li>Taxes &amp; fees <strong>US$ 100</strong></li>
						<li>Booking Fee <strong>US$ 50</strong></li>
						<li class="table-history__details--total">Total <strong>US$ 5.503.30</strong></li>
					</ul>
				</div>

				<div class="booking-details__help">
					<p>Need help or want to modify this trip? <a href="#modal--contact" class="btn-modal">Click to contact us</a></p>
				</div>
			</div>


		</div>

	</form>


	<div class="modal modal--contact" id="modal--contact">
		<div class="modal__content">

			<div class="modal__header">
				<span class="l-center"></span>
				<h3 class="modal__header--title">Contact Hashtag Travels</h3>
				<a href="#" class="modal__header--close btn-modal">close</a>
			</div>

			<form action="" method="post" class="modal__form">

				<h4>Please, type your message below</h4>
				<textarea name="" placeholder="What can we do for you?" class="modal__form--message"></textarea>

				<div class="modal__footer clearfix">
					<div class="modal__user">
						<span class="l-center"></span>
						<img class="modal__user--thumb" src="https://graph.facebook.com/medeeiros/picture">
						<p class="modal__user--name">Guilherme</p>
					</div>
					<input type="submit" class="btn modal__footer--submit" value="Send">
				</div>

			</form>

		</div>
	</div>


</div>


{% endblock %}