<div class="l-col-25 internal-menu hidden-phone">
	<h3 class="internal-menu__title">My Account</h3>

	<a ng-class="{'internal-menu__item--active': currentRoute == '/bookings'}" href="#/bookings" class="internal-menu__item"><img class="internal-menu__icon" src="{{app.config.staticpath}}/img/modules/internal-menu/icon-bookings.png" />My Bookings</a>
	<a ng-class="{'internal-menu__item--active': currentRoute == '/personal_details'}" href="#/personal_details" class="internal-menu__item"><img class="internal-menu__icon" src="{{app.config.staticpath}}/img/modules/internal-menu/icon-personal.png" />Personal Details</a>
	<a ng-class="{'internal-menu__item--active': currentRoute == '/settings'}" href="#/settings" class="internal-menu__item"><img class="internal-menu__icon" src="{{app.config.staticpath}}/img/modules/internal-menu/icon-settings.png" />Account Settings</a>
	<a ng-class="{'internal-menu__item--active': currentRoute == '/rewards'}" href="#/rewards" class="internal-menu__item"><img class="internal-menu__icon" src="{{app.config.staticpath}}/img/modules/internal-menu/icon-rewards.png" />Rewards System</a>
	<a ng-class="{'internal-menu__item--active': currentRoute == '/notifications'}" href="#/notifications" class="internal-menu__item"><img class="internal-menu__icon" src="{{app.config.staticpath}}/img/modules/internal-menu/icon-notifications.png" />Notifications</a>
</div>