<form name="personal_details_form" class="checkout checkout--has-footer l-col-75" ng-submit="save($event)" ng-cloak parsley-validate>
	<h2 class="checkout__title">Personal Details</h2>
	<div class="checkout__body" ng-if="user">
		<table class="checkout__fieldset">
			<tr>
				<th colspan="3">Personal Information</th>
			</tr>
			<tr>
				<td>
                    <first-name title="user.title" first-name="user.first_name"></first-name>
				</td>
				<td>
					<label class="checkout__field">Middle name<br />
						<input type="text" class="input-text" ng-model="user.middle_name" />
					</label>
				</td>
				<td>
					<label class="checkout__field">Last name<br />
						<input type="text" class="input-text" ng-model="user.last_name" required />
					</label>
				</td>
			</tr>
			<tr>
				<td>
					<label class="checkout__field">Gender<br />
						<div class="customSelect">
							<select class="customSelect-select" name="gender" ng-model="user.gender" data-parsley-class-handler=".customSelect" required>
								<option value=""></option>
								<option value="0">Male</option>
								<option value="1">Female</option>
							</select>
						</div>
					</label>
				</td>
				<td>
					<label class="checkout__field">Date of birth<br />

						<div class="checkout__col-30">
							<div class="customSelect hidden-parsley-messages">
								<select class="customSelect-select" ng-model="user.birthdate_d" required>
									<option value=""></option>
									<option value="01">01</option>
									<option value="02">02</option>
									<option value="03">03</option>
									<option value="04">04</option>
									<option value="05">05</option>
									<option value="06">06</option>
									<option value="07">07</option>
									<option value="08">08</option>
									<option value="09">09</option>
									<option value="10">10</option>
									<option value="11">11</option>
									<option value="12">12</option>
									<option value="13">13</option>
									<option value="14">14</option>
									<option value="15">15</option>
									<option value="16">16</option>
									<option value="17">17</option>
									<option value="18">18</option>
									<option value="19">19</option>
									<option value="20">20</option>
									<option value="21">21</option>
									<option value="22">22</option>
									<option value="23">23</option>
									<option value="24">24</option>
									<option value="25">25</option>
									<option value="26">26</option>
									<option value="27">27</option>
									<option value="28">28</option>
									<option value="29">29</option>
									<option value="30">30</option>
									<option value="31">31</option>
								</select>
							</div>
						</div>

						<div class="checkout__col-30">
							<div class="customSelect hidden-parsley-messages">
								<select class="customSelect-select" ng-model="user.birthdate_m" required>
									<option value=""></option>
									<option value="01">01</option>
									<option value="02">02</option>
									<option value="03">03</option>
									<option value="04">04</option>
									<option value="05">05</option>
									<option value="06">06</option>
									<option value="07">07</option>
									<option value="08">08</option>
									<option value="09">09</option>
									<option value="10">10</option>
									<option value="11">11</option>
									<option value="12">12</option>
								</select>
							</div>
						</div>

						<div class="checkout__col-40 checkout__col--last">
							<div class="customSelect">
								<select class="customSelect-select" ng-model="user.birthdate_y" required>
									<option value=""></option>
									<option value="2014">2014</option>
									<option value="2013">2013</option>
									<option value="2012">2012</option>
									<option value="2011">2011</option>
									<option value="2010">2010</option>
									<option value="2009">2009</option>
									<option value="2008">2008</option>
									<option value="2007">2007</option>
									<option value="2006">2006</option>
									<option value="2005">2005</option>
									<option value="2004">2004</option>
									<option value="2003">2003</option>
									<option value="2002">2002</option>
									<option value="2001">2001</option>
									<option value="2000">2000</option>
									<option value="1999">1999</option>
									<option value="1998">1998</option>
									<option value="1997">1997</option>
									<option value="1996">1996</option>
									<option value="1995">1995</option>
									<option value="1994">1994</option>
									<option value="1993">1993</option>
									<option value="1992">1992</option>
									<option value="1991">1991</option>
									<option value="1990">1990</option>
									<option value="1989">1989</option>
									<option value="1988">1988</option>
									<option value="1987">1987</option>
									<option value="1986">1986</option>
									<option value="1985">1985</option>
									<option value="1984">1984</option>
									<option value="1983">1983</option>
									<option value="1982">1982</option>
									<option value="1981">1981</option>
									<option value="1980">1980</option>
									<option value="1979">1979</option>
									<option value="1978">1978</option>
									<option value="1977">1977</option>
									<option value="1976">1976</option>
									<option value="1975">1975</option>
									<option value="1974">1974</option>
									<option value="1973">1973</option>
									<option value="1972">1972</option>
									<option value="1971">1971</option>
									<option value="1970">1970</option>
									<option value="1969">1969</option>
									<option value="1968">1968</option>
									<option value="1967">1967</option>
									<option value="1966">1966</option>
									<option value="1965">1965</option>
									<option value="1964">1964</option>
									<option value="1963">1963</option>
									<option value="1962">1962</option>
									<option value="1961">1961</option>
									<option value="1960">1960</option>
									<option value="1959">1959</option>
									<option value="1958">1958</option>
									<option value="1957">1957</option>
									<option value="1956">1956</option>
									<option value="1955">1955</option>
									<option value="1954">1954</option>
									<option value="1953">1953</option>
									<option value="1952">1952</option>
									<option value="1951">1951</option>
									<option value="1950">1950</option>
									<option value="1949">1949</option>
									<option value="1948">1948</option>
									<option value="1947">1947</option>
									<option value="1946">1946</option>
									<option value="1945">1945</option>
									<option value="1944">1944</option>
									<option value="1943">1943</option>
									<option value="1942">1942</option>
									<option value="1941">1941</option>
									<option value="1940">1940</option>
									<option value="1939">1939</option>
									<option value="1938">1938</option>
									<option value="1937">1937</option>
									<option value="1936">1936</option>
									<option value="1935">1935</option>
									<option value="1934">1934</option>
									<option value="1933">1933</option>
									<option value="1932">1932</option>
									<option value="1931">1931</option>
									<option value="1930">1930</option>
									<option value="1929">1929</option>
									<option value="1928">1928</option>
									<option value="1927">1927</option>
									<option value="1926">1926</option>
									<option value="1925">1925</option>
									<option value="1924">1924</option>
									<option value="1923">1923</option>
									<option value="1922">1922</option>
									<option value="1921">1921</option>
									<option value="1920">1920</option>
									<option value="1919">1919</option>
									<option value="1918">1918</option>
									<option value="1917">1917</option>
									<option value="1916">1916</option>
									<option value="1915">1915</option>
									<option value="1914">1914</option>
									<option value="1913">1913</option>
									<option value="1912">1912</option>
									<option value="1911">1911</option>
									<option value="1910">1910</option>
								</select>
							</div>
						</div>
					</label>
				</td>
				<td>
					<label class="checkout__field">E-mail<br />
						<input type="text" class="input-text" ng-model="user.email" required />
					</label>
				</td>
			</tr>
		</table>

		<hr />

		<table class="checkout__fieldset">
			<tr>
				<th colspan="3">Phone</th>
			</tr>
			<tr>
				<td>
					<label class="checkout__field">Phone number<br />
						<div class="phone-with-code">
							<div class="country-code-container hidden-parsley-messages">
								<span class="country-code-text" ng-bind="user.phone_code && '+' + user.phone_code || 'Select'"></span>
								<select ng-model="user.phone_code" class="country-code" required>
									<option value="">Select</option>
									<option value="44">UK (+44)</option>
									<option value="1">USA (+1)</option>
									<optgroup label="Other countries">
										<option value="213">Algeria (+213)</option>
										<option value="376">Andorra (+376)</option>
										<option value="244">Angola (+244)</option>
										<option value="1264">Anguilla (+1264)</option>
										<option value="1268">Antigua &amp; Barbuda (+1268)</option>
										<option value="54">Argentina (+54)</option>
										<option value="374">Armenia (+374)</option>
										<option value="297">Aruba (+297)</option>
										<option value="61">Australia (+61)</option>
										<option value="43">Austria (+43)</option>
										<option value="994">Azerbaijan (+994)</option>
										<option value="1242">Bahamas (+1242)</option>
										<option value="973">Bahrain (+973)</option>
										<option value="880">Bangladesh (+880)</option>
										<option value="1246">Barbados (+1246)</option>
										<option value="375">Belarus (+375)</option>
										<option value="32">Belgium (+32)</option>
										<option value="501">Belize (+501)</option>
										<option value="229">Benin (+229)</option>
										<option value="1441">Bermuda (+1441)</option>
										<option value="975">Bhutan (+975)</option>
										<option value="591">Bolivia (+591)</option>
										<option value="387">Bosnia Herzegovina (+387)</option>
										<option value="267">Botswana (+267)</option>
										<option value="55">Brazil (+55)</option>
										<option value="673">Brunei (+673)</option>
										<option value="359">Bulgaria (+359)</option>
										<option value="226">Burkina Faso (+226)</option>
										<option value="257">Burundi (+257)</option>
										<option value="855">Cambodia (+855)</option>
										<option value="237">Cameroon (+237)</option>
										<option value="1">Canada (+1)</option>
										<option value="238">Cape Verde Islands (+238)</option>
										<option value="1345">Cayman Islands (+1345)</option>
										<option value="236">Central African Republic (+236)</option>
										<option value="56">Chile (+56)</option>
										<option value="86">China (+86)</option>
										<option value="57">Colombia (+57)</option>
										<option value="269">Comoros (+269)</option>
										<option value="242">Congo (+242)</option>
										<option value="682">Cook Islands (+682)</option>
										<option value="506">Costa Rica (+506)</option>
										<option value="385">Croatia (+385)</option>
										<option value="53">Cuba (+53)</option>
										<option value="90392">Cyprus North (+90392)</option>
										<option value="357">Cyprus South (+357)</option>
										<option value="42">Czech Republic (+42)</option>
										<option value="45">Denmark (+45)</option>
										<option value="253">Djibouti (+253)</option>
										<option value="1809">Dominica (+1809)</option>
										<option value="1809">Dominican Republic (+1809)</option>
										<option value="593">Ecuador (+593)</option>
										<option value="20">Egypt (+20)</option>
										<option value="503">El Salvador (+503)</option>
										<option value="240">Equatorial Guinea (+240)</option>
										<option value="291">Eritrea (+291)</option>
										<option value="372">Estonia (+372)</option>
										<option value="251">Ethiopia (+251)</option>
										<option value="500">Falkland Islands (+500)</option>
										<option value="298">Faroe Islands (+298)</option>
										<option value="679">Fiji (+679)</option>
										<option value="358">Finland (+358)</option>
										<option value="33">France (+33)</option>
										<option value="594">French Guiana (+594)</option>
										<option value="689">French Polynesia (+689)</option>
										<option value="241">Gabon (+241)</option>
										<option value="220">Gambia (+220)</option>
										<option value="7880">Georgia (+7880)</option>
										<option value="49">Germany (+49)</option>
										<option value="233">Ghana (+233)</option>
										<option value="350">Gibraltar (+350)</option>
										<option value="30">Greece (+30)</option>
										<option value="299">Greenland (+299)</option>
										<option value="1473">Grenada (+1473)</option>
										<option value="590">Guadeloupe (+590)</option>
										<option value="671">Guam (+671)</option>
										<option value="502">Guatemala (+502)</option>
										<option value="224">Guinea (+224)</option>
										<option value="245">Guinea - Bissau (+245)</option>
										<option value="592">Guyana (+592)</option>
										<option value="509">Haiti (+509)</option>
										<option value="504">Honduras (+504)</option>
										<option value="852">Hong Kong (+852)</option>
										<option value="36">Hungary (+36)</option>
										<option value="354">Iceland (+354)</option>
										<option value="91">India (+91)</option>
										<option value="62">Indonesia (+62)</option>
										<option value="98">Iran (+98)</option>
										<option value="964">Iraq (+964)</option>
										<option value="353">Ireland (+353)</option>
										<option value="972">Israel (+972)</option>
										<option value="39">Italy (+39)</option>
										<option value="1876">Jamaica (+1876)</option>
										<option value="81">Japan (+81)</option>
										<option value="962">Jordan (+962)</option>
										<option value="7">Kazakhstan (+7)</option>
										<option value="254">Kenya (+254)</option>
										<option value="686">Kiribati (+686)</option>
										<option value="850">Korea North (+850)</option>
										<option value="82">Korea South (+82)</option>
										<option value="965">Kuwait (+965)</option>
										<option value="996">Kyrgyzstan (+996)</option>
										<option value="856">Laos (+856)</option>
										<option value="371">Latvia (+371)</option>
										<option value="961">Lebanon (+961)</option>
										<option value="266">Lesotho (+266)</option>
										<option value="231">Liberia (+231)</option>
										<option value="218">Libya (+218)</option>
										<option value="417">Liechtenstein (+417)</option>
										<option value="370">Lithuania (+370)</option>
										<option value="352">Luxembourg (+352)</option>
										<option value="853">Macao (+853)</option>
										<option value="389">Macedonia (+389)</option>
										<option value="261">Madagascar (+261)</option>
										<option value="265">Malawi (+265)</option>
										<option value="60">Malaysia (+60)</option>
										<option value="960">Maldives (+960)</option>
										<option value="223">Mali (+223)</option>
										<option value="356">Malta (+356)</option>
										<option value="692">Marshall Islands (+692)</option>
										<option value="596">Martinique (+596)</option>
										<option value="222">Mauritania (+222)</option>
										<option value="269">Mayotte (+269)</option>
										<option value="52">Mexico (+52)</option>
										<option value="691">Micronesia (+691)</option>
										<option value="373">Moldova (+373)</option>
										<option value="377">Monaco (+377)</option>
										<option value="976">Mongolia (+976)</option>
										<option value="1664">Montserrat (+1664)</option>
										<option value="212">Morocco (+212)</option>
										<option value="258">Mozambique (+258)</option>
										<option value="95">Myanmar (+95)</option>
										<option value="264">Namibia (+264)</option>
										<option value="674">Nauru (+674)</option>
										<option value="977">Nepal (+977)</option>
										<option value="31">Netherlands (+31)</option>
										<option value="687">New Caledonia (+687)</option>
										<option value="64">New Zealand (+64)</option>
										<option value="505">Nicaragua (+505)</option>
										<option value="227">Niger (+227)</option>
										<option value="234">Nigeria (+234)</option>
										<option value="683">Niue (+683)</option>
										<option value="672">Norfolk Islands (+672)</option>
										<option value="670">Northern Marianas (+670)</option>
										<option value="47">Norway (+47)</option>
										<option value="968">Oman (+968)</option>
										<option value="680">Palau (+680)</option>
										<option value="507">Panama (+507)</option>
										<option value="675">Papua New Guinea (+675)</option>
										<option value="595">Paraguay (+595)</option>
										<option value="51">Peru (+51)</option>
										<option value="63">Philippines (+63)</option>
										<option value="48">Poland (+48)</option>
										<option value="351">Portugal (+351)</option>
										<option value="1787">Puerto Rico (+1787)</option>
										<option value="974">Qatar (+974)</option>
										<option value="262">Reunion (+262)</option>
										<option value="40">Romania (+40)</option>
										<option value="7">Russia (+7)</option>
										<option value="250">Rwanda (+250)</option>
										<option value="378">San Marino (+378)</option>
										<option value="239">Sao Tome &amp; Principe (+239)</option>
										<option value="966">Saudi Arabia (+966)</option>
										<option value="221">Senegal (+221)</option>
										<option value="381">Serbia (+381)</option>
										<option value="248">Seychelles (+248)</option>
										<option value="232">Sierra Leone (+232)</option>
										<option value="65">Singapore (+65)</option>
										<option value="421">Slovak Republic (+421)</option>
										<option value="386">Slovenia (+386)</option>
										<option value="677">Solomon Islands (+677)</option>
										<option value="252">Somalia (+252)</option>
										<option value="27">South Africa (+27)</option>
										<option value="34">Spain (+34)</option>
										<option value="94">Sri Lanka (+94)</option>
										<option value="290">St. Helena (+290)</option>
										<option value="1869">St. Kitts (+1869)</option>
										<option value="1758">St. Lucia (+1758)</option>
										<option value="249">Sudan (+249)</option>
										<option value="597">Suriname (+597)</option>
										<option value="268">Swaziland (+268)</option>
										<option value="46">Sweden (+46)</option>
										<option value="41">Switzerland (+41)</option>
										<option value="963">Syria (+963)</option>
										<option value="886">Taiwan (+886)</option>
										<option value="7">Tajikstan (+7)</option>
										<option value="66">Thailand (+66)</option>
										<option value="228">Togo (+228)</option>
										<option value="676">Tonga (+676)</option>
										<option value="1868">Trinidad &amp; Tobago (+1868)</option>
										<option value="216">Tunisia (+216)</option>
										<option value="90">Turkey (+90)</option>
										<option value="7">Turkmenistan (+7)</option>
										<option value="993">Turkmenistan (+993)</option>
										<option value="1649">Turks &amp; Caicos Islands (+1649)</option>
										<option value="688">Tuvalu (+688)</option>
										<option value="256">Uganda (+256)</option>
										<!-- <option value="44">UK (+44)</option> -->
										<option value="380">Ukraine (+380)</option>
										<option value="971">United Arab Emirates (+971)</option>
										<option value="598">Uruguay (+598)</option>
										<!-- <option value="1">USA (+1)</option> -->
										<option value="7">Uzbekistan (+7)</option>
										<option value="678">Vanuatu (+678)</option>
										<option value="379">Vatican City (+379)</option>
										<option value="58">Venezuela (+58)</option>
										<option value="84">Vietnam (+84)</option>
										<option value="84">Virgin Islands - British (+1284)</option>
										<option value="84">Virgin Islands - US (+1340)</option>
										<option value="681">Wallis &amp; Futuna (+681)</option>
										<option value="969">Yemen (North)(+969)</option>
										<option value="967">Yemen (South)(+967)</option>
										<option value="260">Zambia (+260)</option>
										<option value="263">Zimbabwe (+263)</option>
									</optgroup>
								</select>
							</div>
							<input ng-model="user.phone_number" placeholder="Ex: 76 6199999" type="text" class="country-code-input" pattern="\d+" data-parsley-class-handler=".phone-with-code" />
						</div>
					</label>
				</td>
					<td>
						<label class="checkout__field">Mobile number<br />
							<div class="phone-with-code">
								<div class="country-code-container hidden-parsley-messages">
									<span class="country-code-text" ng-bind="user.mobile_code && '+' + user.mobile_code || 'Select'"></span>
									<select ng-model="user.mobile_code" class="country-code" required>
										<option value="">Select</option>
										<option value="44">UK (+44)</option>
										<option value="1">USA (+1)</option>
										<optgroup label="Other countries">
											<option value="213">Algeria (+213)</option>
											<option value="376">Andorra (+376)</option>
											<option value="244">Angola (+244)</option>
											<option value="1264">Anguilla (+1264)</option>
											<option value="1268">Antigua &amp; Barbuda (+1268)</option>
											<option value="54">Argentina (+54)</option>
											<option value="374">Armenia (+374)</option>
											<option value="297">Aruba (+297)</option>
											<option value="61">Australia (+61)</option>
											<option value="43">Austria (+43)</option>
											<option value="994">Azerbaijan (+994)</option>
											<option value="1242">Bahamas (+1242)</option>
											<option value="973">Bahrain (+973)</option>
											<option value="880">Bangladesh (+880)</option>
											<option value="1246">Barbados (+1246)</option>
											<option value="375">Belarus (+375)</option>
											<option value="32">Belgium (+32)</option>
											<option value="501">Belize (+501)</option>
											<option value="229">Benin (+229)</option>
											<option value="1441">Bermuda (+1441)</option>
											<option value="975">Bhutan (+975)</option>
											<option value="591">Bolivia (+591)</option>
											<option value="387">Bosnia Herzegovina (+387)</option>
											<option value="267">Botswana (+267)</option>
											<option value="55">Brazil (+55)</option>
											<option value="673">Brunei (+673)</option>
											<option value="359">Bulgaria (+359)</option>
											<option value="226">Burkina Faso (+226)</option>
											<option value="257">Burundi (+257)</option>
											<option value="855">Cambodia (+855)</option>
											<option value="237">Cameroon (+237)</option>
											<option value="1">Canada (+1)</option>
											<option value="238">Cape Verde Islands (+238)</option>
											<option value="1345">Cayman Islands (+1345)</option>
											<option value="236">Central African Republic (+236)</option>
											<option value="56">Chile (+56)</option>
											<option value="86">China (+86)</option>
											<option value="57">Colombia (+57)</option>
											<option value="269">Comoros (+269)</option>
											<option value="242">Congo (+242)</option>
											<option value="682">Cook Islands (+682)</option>
											<option value="506">Costa Rica (+506)</option>
											<option value="385">Croatia (+385)</option>
											<option value="53">Cuba (+53)</option>
											<option value="90392">Cyprus North (+90392)</option>
											<option value="357">Cyprus South (+357)</option>
											<option value="42">Czech Republic (+42)</option>
											<option value="45">Denmark (+45)</option>
											<option value="253">Djibouti (+253)</option>
											<option value="1809">Dominica (+1809)</option>
											<option value="1809">Dominican Republic (+1809)</option>
											<option value="593">Ecuador (+593)</option>
											<option value="20">Egypt (+20)</option>
											<option value="503">El Salvador (+503)</option>
											<option value="240">Equatorial Guinea (+240)</option>
											<option value="291">Eritrea (+291)</option>
											<option value="372">Estonia (+372)</option>
											<option value="251">Ethiopia (+251)</option>
											<option value="500">Falkland Islands (+500)</option>
											<option value="298">Faroe Islands (+298)</option>
											<option value="679">Fiji (+679)</option>
											<option value="358">Finland (+358)</option>
											<option value="33">France (+33)</option>
											<option value="594">French Guiana (+594)</option>
											<option value="689">French Polynesia (+689)</option>
											<option value="241">Gabon (+241)</option>
											<option value="220">Gambia (+220)</option>
											<option value="7880">Georgia (+7880)</option>
											<option value="49">Germany (+49)</option>
											<option value="233">Ghana (+233)</option>
											<option value="350">Gibraltar (+350)</option>
											<option value="30">Greece (+30)</option>
											<option value="299">Greenland (+299)</option>
											<option value="1473">Grenada (+1473)</option>
											<option value="590">Guadeloupe (+590)</option>
											<option value="671">Guam (+671)</option>
											<option value="502">Guatemala (+502)</option>
											<option value="224">Guinea (+224)</option>
											<option value="245">Guinea - Bissau (+245)</option>
											<option value="592">Guyana (+592)</option>
											<option value="509">Haiti (+509)</option>
											<option value="504">Honduras (+504)</option>
											<option value="852">Hong Kong (+852)</option>
											<option value="36">Hungary (+36)</option>
											<option value="354">Iceland (+354)</option>
											<option value="91">India (+91)</option>
											<option value="62">Indonesia (+62)</option>
											<option value="98">Iran (+98)</option>
											<option value="964">Iraq (+964)</option>
											<option value="353">Ireland (+353)</option>
											<option value="972">Israel (+972)</option>
											<option value="39">Italy (+39)</option>
											<option value="1876">Jamaica (+1876)</option>
											<option value="81">Japan (+81)</option>
											<option value="962">Jordan (+962)</option>
											<option value="7">Kazakhstan (+7)</option>
											<option value="254">Kenya (+254)</option>
											<option value="686">Kiribati (+686)</option>
											<option value="850">Korea North (+850)</option>
											<option value="82">Korea South (+82)</option>
											<option value="965">Kuwait (+965)</option>
											<option value="996">Kyrgyzstan (+996)</option>
											<option value="856">Laos (+856)</option>
											<option value="371">Latvia (+371)</option>
											<option value="961">Lebanon (+961)</option>
											<option value="266">Lesotho (+266)</option>
											<option value="231">Liberia (+231)</option>
											<option value="218">Libya (+218)</option>
											<option value="417">Liechtenstein (+417)</option>
											<option value="370">Lithuania (+370)</option>
											<option value="352">Luxembourg (+352)</option>
											<option value="853">Macao (+853)</option>
											<option value="389">Macedonia (+389)</option>
											<option value="261">Madagascar (+261)</option>
											<option value="265">Malawi (+265)</option>
											<option value="60">Malaysia (+60)</option>
											<option value="960">Maldives (+960)</option>
											<option value="223">Mali (+223)</option>
											<option value="356">Malta (+356)</option>
											<option value="692">Marshall Islands (+692)</option>
											<option value="596">Martinique (+596)</option>
											<option value="222">Mauritania (+222)</option>
											<option value="269">Mayotte (+269)</option>
											<option value="52">Mexico (+52)</option>
											<option value="691">Micronesia (+691)</option>
											<option value="373">Moldova (+373)</option>
											<option value="377">Monaco (+377)</option>
											<option value="976">Mongolia (+976)</option>
											<option value="1664">Montserrat (+1664)</option>
											<option value="212">Morocco (+212)</option>
											<option value="258">Mozambique (+258)</option>
											<option value="95">Myanmar (+95)</option>
											<option value="264">Namibia (+264)</option>
											<option value="674">Nauru (+674)</option>
											<option value="977">Nepal (+977)</option>
											<option value="31">Netherlands (+31)</option>
											<option value="687">New Caledonia (+687)</option>
											<option value="64">New Zealand (+64)</option>
											<option value="505">Nicaragua (+505)</option>
											<option value="227">Niger (+227)</option>
											<option value="234">Nigeria (+234)</option>
											<option value="683">Niue (+683)</option>
											<option value="672">Norfolk Islands (+672)</option>
											<option value="670">Northern Marianas (+670)</option>
											<option value="47">Norway (+47)</option>
											<option value="968">Oman (+968)</option>
											<option value="680">Palau (+680)</option>
											<option value="507">Panama (+507)</option>
											<option value="675">Papua New Guinea (+675)</option>
											<option value="595">Paraguay (+595)</option>
											<option value="51">Peru (+51)</option>
											<option value="63">Philippines (+63)</option>
											<option value="48">Poland (+48)</option>
											<option value="351">Portugal (+351)</option>
											<option value="1787">Puerto Rico (+1787)</option>
											<option value="974">Qatar (+974)</option>
											<option value="262">Reunion (+262)</option>
											<option value="40">Romania (+40)</option>
											<option value="7">Russia (+7)</option>
											<option value="250">Rwanda (+250)</option>
											<option value="378">San Marino (+378)</option>
											<option value="239">Sao Tome &amp; Principe (+239)</option>
											<option value="966">Saudi Arabia (+966)</option>
											<option value="221">Senegal (+221)</option>
											<option value="381">Serbia (+381)</option>
											<option value="248">Seychelles (+248)</option>
											<option value="232">Sierra Leone (+232)</option>
											<option value="65">Singapore (+65)</option>
											<option value="421">Slovak Republic (+421)</option>
											<option value="386">Slovenia (+386)</option>
											<option value="677">Solomon Islands (+677)</option>
											<option value="252">Somalia (+252)</option>
											<option value="27">South Africa (+27)</option>
											<option value="34">Spain (+34)</option>
											<option value="94">Sri Lanka (+94)</option>
											<option value="290">St. Helena (+290)</option>
											<option value="1869">St. Kitts (+1869)</option>
											<option value="1758">St. Lucia (+1758)</option>
											<option value="249">Sudan (+249)</option>
											<option value="597">Suriname (+597)</option>
											<option value="268">Swaziland (+268)</option>
											<option value="46">Sweden (+46)</option>
											<option value="41">Switzerland (+41)</option>
											<option value="963">Syria (+963)</option>
											<option value="886">Taiwan (+886)</option>
											<option value="7">Tajikstan (+7)</option>
											<option value="66">Thailand (+66)</option>
											<option value="228">Togo (+228)</option>
											<option value="676">Tonga (+676)</option>
											<option value="1868">Trinidad &amp; Tobago (+1868)</option>
											<option value="216">Tunisia (+216)</option>
											<option value="90">Turkey (+90)</option>
											<option value="7">Turkmenistan (+7)</option>
											<option value="993">Turkmenistan (+993)</option>
											<option value="1649">Turks &amp; Caicos Islands (+1649)</option>
											<option value="688">Tuvalu (+688)</option>
											<option value="256">Uganda (+256)</option>
											<!-- <option value="44">UK (+44)</option> -->
											<option value="380">Ukraine (+380)</option>
											<option value="971">United Arab Emirates (+971)</option>
											<option value="598">Uruguay (+598)</option>
											<!-- <option value="1">USA (+1)</option> -->
											<option value="7">Uzbekistan (+7)</option>
											<option value="678">Vanuatu (+678)</option>
											<option value="379">Vatican City (+379)</option>
											<option value="58">Venezuela (+58)</option>
											<option value="84">Vietnam (+84)</option>
											<option value="84">Virgin Islands - British (+1284)</option>
											<option value="84">Virgin Islands - US (+1340)</option>
											<option value="681">Wallis &amp; Futuna (+681)</option>
											<option value="969">Yemen (North)(+969)</option>
											<option value="967">Yemen (South)(+967)</option>
											<option value="260">Zambia (+260)</option>
											<option value="263">Zimbabwe (+263)</option>
										</optgroup>
									</select>
								</div>
								<input ng-model="user.mobile_number" placeholder="Ex: 76 6199999" type="text" class="country-code-input" pattern="\d+" required data-parsley-class-handler=".phone-with-code" />
							</div>
						</label>
					</td>
				<td></td>
			</tr>
		</table>

		<hr />

		<table class="checkout__fieldset">
			<tr>
				<th colspan="3">Passport</th>
			</tr>
			<tr>
				<td>
					<label class="checkout__field">Passport Country<br />
						<div class="customSelect">
							<select name="country" class="customSelect-select" data-parsley-class-handler=".customSelect" ng-model="user.passport_country">
								<option value="AF">Afghanistan</option>
								<option value="AL">Albania</option>
								<option value="DZ">Algeria</option>
								<option value="AS">American Samoa</option>
								<option value="AD">Andorra</option>
								<option value="AG">Angola</option>
								<option value="AI">Anguilla</option>
								<option value="AG">Antigua &amp; Barbuda</option>
								<option value="AR">Argentina</option>
								<option value="AA">Armenia</option>
								<option value="AW">Aruba</option>
								<option value="AU">Australia</option>
								<option value="AT">Austria</option>
								<option value="AZ">Azerbaijan</option>
								<option value="BS">Bahamas</option>
								<option value="BH">Bahrain</option>
								<option value="BD">Bangladesh</option>
								<option value="BB">Barbados</option>
								<option value="BY">Belarus</option>
								<option value="BE">Belgium</option>
								<option value="BZ">Belize</option>
								<option value="BJ">Benin</option>
								<option value="BM">Bermuda</option>
								<option value="BT">Bhutan</option>
								<option value="BO">Bolivia</option>
								<option value="BL">Bonaire</option>
								<option value="BA">Bosnia &amp; Herzegovina</option>
								<option value="BW">Botswana</option>
								<option value="BR">Brazil</option>
								<option value="BC">British Indian Ocean Ter</option>
								<option value="BN">Brunei</option>
								<option value="BG">Bulgaria</option>
								<option value="BF">Burkina Faso</option>
								<option value="BI">Burundi</option>
								<option value="KH">Cambodia</option>
								<option value="CM">Cameroon</option>
								<option value="CA">Canada</option>
								<option value="IC">Canary Islands</option>
								<option value="CV">Cape Verde</option>
								<option value="KY">Cayman Islands</option>
								<option value="CF">Central African Republic</option>
								<option value="TD">Chad</option>
								<option value="CD">Channel Islands</option>
								<option value="CL">Chile</option>
								<option value="CN">China</option>
								<option value="CI">Christmas Island</option>
								<option value="CS">Cocos Island</option>
								<option value="CO">Colombia</option>
								<option value="CC">Comoros</option>
								<option value="CG">Congo</option>
								<option value="CK">Cook Islands</option>
								<option value="CR">Costa Rica</option>
								<option value="CT">Cote D'Ivoire</option>
								<option value="HR">Croatia</option>
								<option value="CU">Cuba</option>
								<option value="CB">Curacao</option>
								<option value="CY">Cyprus</option>
								<option value="CZ">Czech Republic</option>
								<option value="DK">Denmark</option>
								<option value="DJ">Djibouti</option>
								<option value="DM">Dominica</option>
								<option value="DO">Dominican Republic</option>
								<option value="TM">East Timor</option>
								<option value="EC">Ecuador</option>
								<option value="EG">Egypt</option>
								<option value="SV">El Salvador</option>
								<option value="GQ">Equatorial Guinea</option>
								<option value="ER">Eritrea</option>
								<option value="EE">Estonia</option>
								<option value="ET">Ethiopia</option>
								<option value="FA">Falkland Islands</option>
								<option value="FO">Faroe Islands</option>
								<option value="FJ">Fiji</option>
								<option value="FI">Finland</option>
								<option value="FR">France</option>
								<option value="GF">French Guiana</option>
								<option value="PF">French Polynesia</option>
								<option value="FS">French Southern Ter</option>
								<option value="GA">Gabon</option>
								<option value="GM">Gambia</option>
								<option value="GE">Georgia</option>
								<option value="DE">Germany</option>
								<option value="GH">Ghana</option>
								<option value="GI">Gibraltar</option>
								<option value="GB">Great Britain</option>
								<option value="GR">Greece</option>
								<option value="GL">Greenland</option>
								<option value="GD">Grenada</option>
								<option value="GP">Guadeloupe</option>
								<option value="GU">Guam</option>
								<option value="GT">Guatemala</option>
								<option value="GN">Guinea</option>
								<option value="GY">Guyana</option>
								<option value="HT">Haiti</option>
								<option value="HW">Hawaii</option>
								<option value="HN">Honduras</option>
								<option value="HK">Hong Kong</option>
								<option value="HU">Hungary</option>
								<option value="IS">Iceland</option>
								<option value="IN">India</option>
								<option value="ID">Indonesia</option>
								<option value="IA">Iran</option>
								<option value="IQ">Iraq</option>
								<option value="IR">Ireland</option>
								<option value="IM">Isle of Man</option>
								<option value="IL">Israel</option>
								<option value="IT">Italy</option>
								<option value="JM">Jamaica</option>
								<option value="JP">Japan</option>
								<option value="JO">Jordan</option>
								<option value="KZ">Kazakhstan</option>
								<option value="KE">Kenya</option>
								<option value="KI">Kiribati</option>
								<option value="NK">Korea North</option>
								<option value="KS">Korea South</option>
								<option value="KW">Kuwait</option>
								<option value="KG">Kyrgyzstan</option>
								<option value="LA">Laos</option>
								<option value="LV">Latvia</option>
								<option value="LB">Lebanon</option>
								<option value="LS">Lesotho</option>
								<option value="LR">Liberia</option>
								<option value="LY">Libya</option>
								<option value="LI">Liechtenstein</option>
								<option value="LT">Lithuania</option>
								<option value="LU">Luxembourg</option>
								<option value="MO">Macau</option>
								<option value="MK">Macedonia</option>
								<option value="MG">Madagascar</option>
								<option value="MY">Malaysia</option>
								<option value="MW">Malawi</option>
								<option value="MV">Maldives</option>
								<option value="ML">Mali</option>
								<option value="MT">Malta</option>
								<option value="MH">Marshall Islands</option>
								<option value="MQ">Martinique</option>
								<option value="MR">Mauritania</option>
								<option value="MU">Mauritius</option>
								<option value="ME">Mayotte</option>
								<option value="MX">Mexico</option>
								<option value="MI">Midway Islands</option>
								<option value="MD">Moldova</option>
								<option value="MC">Monaco</option>
								<option value="MN">Mongolia</option>
								<option value="MS">Montserrat</option>
								<option value="MA">Morocco</option>
								<option value="MZ">Mozambique</option>
								<option value="MM">Myanmar</option>
								<option value="NA">Nambia</option>
								<option value="NU">Nauru</option>
								<option value="NP">Nepal</option>
								<option value="AN">Netherland Antilles</option>
								<option value="NL">Netherlands (Holland, Europe)</option>
								<option value="NV">Nevis</option>
								<option value="NC">New Caledonia</option>
								<option value="NZ">New Zealand</option>
								<option value="NI">Nicaragua</option>
								<option value="NE">Niger</option>
								<option value="NG">Nigeria</option>
								<option value="NW">Niue</option>
								<option value="NF">Norfolk Island</option>
								<option value="NO">Norway</option>
								<option value="OM">Oman</option>
								<option value="PK">Pakistan</option>
								<option value="PW">Palau Island</option>
								<option value="PS">Palestine</option>
								<option value="PA">Panama</option>
								<option value="PG">Papua New Guinea</option>
								<option value="PY">Paraguay</option>
								<option value="PE">Peru</option>
								<option value="PH">Philippines</option>
								<option value="PO">Pitcairn Island</option>
								<option value="PL">Poland</option>
								<option value="PT">Portugal</option>
								<option value="PR">Puerto Rico</option>
								<option value="QA">Qatar</option>
								<option value="ME">Republic of Montenegro</option>
								<option value="RS">Republic of Serbia</option>
								<option value="RE">Reunion</option>
								<option value="RO">Romania</option>
								<option value="RU">Russia</option>
								<option value="RW">Rwanda</option>
								<option value="NT">St Barthelemy</option>
								<option value="EU">St Eustatius</option>
								<option value="HE">St Helena</option>
								<option value="KN">St Kitts-Nevis</option>
								<option value="LC">St Lucia</option>
								<option value="MB">St Maarten</option>
								<option value="PM">St Pierre &amp; Miquelon</option>
								<option value="VC">St Vincent &amp; Grenadines</option>
								<option value="SP">Saipan</option>
								<option value="SO">Samoa</option>
								<option value="AS">Samoa American</option>
								<option value="SM">San Marino</option>
								<option value="ST">Sao Tome &amp; Principe</option>
								<option value="SA">Saudi Arabia</option>
								<option value="SN">Senegal</option>
								<option value="RS">Serbia</option>
								<option value="SC">Seychelles</option>
								<option value="SL">Sierra Leone</option>
								<option value="SG">Singapore</option>
								<option value="SK">Slovakia</option>
								<option value="SI">Slovenia</option>
								<option value="SB">Solomon Islands</option>
								<option value="OI">Somalia</option>
								<option value="ZA">South Africa</option>
								<option value="ES">Spain</option>
								<option value="LK">Sri Lanka</option>
								<option value="SD">Sudan</option>
								<option value="SR">Suriname</option>
								<option value="SZ">Swaziland</option>
								<option value="SE">Sweden</option>
								<option value="CH">Switzerland</option>
								<option value="SY">Syria</option>
								<option value="TA">Tahiti</option>
								<option value="TW">Taiwan</option>
								<option value="TJ">Tajikistan</option>
								<option value="TZ">Tanzania</option>
								<option value="TH">Thailand</option>
								<option value="TG">Togo</option>
								<option value="TK">Tokelau</option>
								<option value="TO">Tonga</option>
								<option value="TT">Trinidad &amp; Tobago</option>
								<option value="TN">Tunisia</option>
								<option value="TR">Turkey</option>
								<option value="TU">Turkmenistan</option>
								<option value="TC">Turks &amp; Caicos Is</option>
								<option value="TV">Tuvalu</option>
								<option value="UG">Uganda</option>
								<option value="UA">Ukraine</option>
								<option value="AE">United Arab Emirates</option>
								<option value="GB">United Kingdom</option>
								<option value="US">United States of America</option>
								<option value="UY">Uruguay</option>
								<option value="UZ">Uzbekistan</option>
								<option value="VU">Vanuatu</option>
								<option value="VS">Vatican City State</option>
								<option value="VE">Venezuela</option>
								<option value="VN">Vietnam</option>
								<option value="VB">Virgin Islands (Brit)</option>
								<option value="VA">Virgin Islands (USA)</option>
								<option value="WK">Wake Island</option>
								<option value="WF">Wallis &amp; Futana Is</option>
								<option value="YE">Yemen</option>
								<option value="ZR">Zaire</option>
								<option value="ZM">Zambia</option>
								<option value="ZW">Zimbabwe</option>
							</select>
						</div>
					</label>
				</td>
				<td>
					<label class="checkout__field">Passport number<br />
						<input type="text" class="input-text" ng-model="user.passport_number" />
					</label>
				</td>
				<td>
					<label class="checkout__field">Expires in<br />

						<div class="checkout__col-30">
							<div class="customSelect">
								<select class="customSelect-select" ng-model="user.passport_expiration_d">
									<option value="01">01</option>
									<option value="02">02</option>
									<option value="03">03</option>
									<option value="04">04</option>
									<option value="05">05</option>
									<option value="06">06</option>
									<option value="07">07</option>
									<option value="08">08</option>
									<option value="09">09</option>
									<option value="10">10</option>
									<option value="11">11</option>
									<option value="12">12</option>
									<option value="13">13</option>
									<option value="14">14</option>
									<option value="15">15</option>
									<option value="16">16</option>
									<option value="17">17</option>
									<option value="18">18</option>
									<option value="19">19</option>
									<option value="20">20</option>
									<option value="21">21</option>
									<option value="22">22</option>
									<option value="23">23</option>
									<option value="24">24</option>
									<option value="25">25</option>
									<option value="26">26</option>
									<option value="27">27</option>
									<option value="28">28</option>
									<option value="29">29</option>
									<option value="30">30</option>
									<option value="31">31</option>
								</select>
							</div>
						</div>

						<div class="checkout__col-30">
							<div class="customSelect">
								<select class="customSelect-select" ng-model="user.passport_expiration_m">
									<option value="01">01</option>
									<option value="02">02</option>
									<option value="03">03</option>
									<option value="04">04</option>
									<option value="05">05</option>
									<option value="06">06</option>
									<option value="07">07</option>
									<option value="08">08</option>
									<option value="09">09</option>
									<option value="10">10</option>
									<option value="11">11</option>
									<option value="12">12</option>
								</select>
							</div>
						</div>

						<div class="checkout__col-40 checkout__col--last">
							<div class="customSelect">
								<select class="customSelect-select" ng-model="user.passport_expiration_y">
									<option value="2014">2014</option>
									<option value="2015">2015</option>
									<option value="2016">2016</option>
									<option value="2017">2017</option>
									<option value="2018">2018</option>
									<option value="2019">2019</option>
									<option value="2020">2020</option>
									<option value="2021">2021</option>
									<option value="2022">2022</option>
									<option value="2023">2023</option>
									<option value="2024">2024</option>
									<option value="2025">2025</option>
								</select>
							</div>
						</div>
					</label>
				</td>
			</tr>
		</table>

		<hr>

		<table class="checkout__fieldset">
			<tr>
				<th colspan="3">Billing Address</th>
			</tr>
			<tr>
				<td>
					<label class="checkout__field">Country<br />
						<div class="customSelect">
							<select ng-model="user.address_country" class="customSelect-select" id="countries" name="countries" data-parsley-class-handler=".customSelect" required>
								<option value="">Select</option>
								<option value="AF">Afghanistan</option>
								<option value="AX">Åland Islands</option>
								<option value="AL">Albania</option>
								<option value="DZ">Algeria</option>
								<option value="AS">American Samoa</option>
								<option value="AD">Andorra</option>
								<option value="AO">Angola</option>
								<option value="AI">Anguilla</option>
								<option value="AQ">Antarctica</option>
								<option value="AG">Antigua and Barbuda</option>
								<option value="AR">Argentina</option>
								<option value="AM">Armenia</option>
								<option value="AW">Aruba</option>
								<option value="AU">Australia</option>
								<option value="AT">Austria</option>
								<option value="AZ">Azerbaijan</option>
								<option value="BS">Bahamas</option>
								<option value="BH">Bahrain</option>
								<option value="BD">Bangladesh</option>
								<option value="BB">Barbados</option>
								<option value="BY">Belarus</option>
								<option value="BE">Belgium</option>
								<option value="BZ">Belize</option>
								<option value="BJ">Benin</option>
								<option value="BM">Bermuda</option>
								<option value="BT">Bhutan</option>
								<option value="BO">Bolivia</option>
								<option value="BA">Bosnia and Herzegovina</option>
								<option value="BW">Botswana</option>
								<option value="BV">Bouvet Island</option>
								<option value="BR">Brazil</option>
								<option value="IO">British Indian Ocean Territory</option>
								<option value="BN">Brunei Darussalam</option>
								<option value="BG">Bulgaria</option>
								<option value="BF">Burkina Faso</option>
								<option value="BI">Burundi</option>
								<option value="KH">Cambodia</option>
								<option value="CM">Cameroon</option>
								<option value="CA">Canada</option>
								<option value="CV">Cape Verde</option>
								<option value="KY">Cayman Islands</option>
								<option value="CF">Central African Republic</option>
								<option value="TD">Chad</option>
								<option value="CL">Chile</option>
								<option value="CN">China</option>
								<option value="CX">Christmas Island</option>
								<option value="CC">Cocos (Keeling) Islands</option>
								<option value="CO">Colombia</option>
								<option value="KM">Comoros</option>
								<option value="CG">Congo</option>
								<option value="CD">Congo, The Democratic Republic of The</option>
								<option value="CK">Cook Islands</option>
								<option value="CR">Costa Rica</option>
								<option value="CI">Cote D'ivoire</option>
								<option value="HR">Croatia</option>
								<option value="CU">Cuba</option>
								<option value="CY">Cyprus</option>
								<option value="CZ">Czech Republic</option>
								<option value="DK">Denmark</option>
								<option value="DJ">Djibouti</option>
								<option value="DM">Dominica</option>
								<option value="DO">Dominican Republic</option>
								<option value="EC">Ecuador</option>
								<option value="EG">Egypt</option>
								<option value="SV">El Salvador</option>
								<option value="GQ">Equatorial Guinea</option>
								<option value="ER">Eritrea</option>
								<option value="EE">Estonia</option>
								<option value="ET">Ethiopia</option>
								<option value="FK">Falkland Islands (Malvinas)</option>
								<option value="FO">Faroe Islands</option>
								<option value="FJ">Fiji</option>
								<option value="FI">Finland</option>
								<option value="FR">France</option>
								<option value="GF">French Guiana</option>
								<option value="PF">French Polynesia</option>
								<option value="TF">French Southern Territories</option>
								<option value="GA">Gabon</option>
								<option value="GM">Gambia</option>
								<option value="GE">Georgia</option>
								<option value="DE">Germany</option>
								<option value="GH">Ghana</option>
								<option value="GI">Gibraltar</option>
								<option value="GR">Greece</option>
								<option value="GL">Greenland</option>
								<option value="GD">Grenada</option>
								<option value="GP">Guadeloupe</option>
								<option value="GU">Guam</option>
								<option value="GT">Guatemala</option>
								<option value="GG">Guernsey</option>
								<option value="GN">Guinea</option>
								<option value="GW">Guinea-bissau</option>
								<option value="GY">Guyana</option>
								<option value="HT">Haiti</option>
								<option value="HM">Heard Island and Mcdonald Islands</option>
								<option value="VA">Holy See (Vatican City State)</option>
								<option value="HN">Honduras</option>
								<option value="HK">Hong Kong</option>
								<option value="HU">Hungary</option>
								<option value="IS">Iceland</option>
								<option value="IN">India</option>
								<option value="ID">Indonesia</option>
								<option value="IR">Iran, Islamic Republic of</option>
								<option value="IQ">Iraq</option>
								<option value="IE">Ireland</option>
								<option value="IM">Isle of Man</option>
								<option value="IL">Israel</option>
								<option value="IT">Italy</option>
								<option value="JM">Jamaica</option>
								<option value="JP">Japan</option>
								<option value="JE">Jersey</option>
								<option value="JO">Jordan</option>
								<option value="KZ">Kazakhstan</option>
								<option value="KE">Kenya</option>
								<option value="KI">Kiribati</option>
								<option value="KP">Korea, Democratic People's Republic of</option>
								<option value="KR">Korea, Republic of</option>
								<option value="KW">Kuwait</option>
								<option value="KG">Kyrgyzstan</option>
								<option value="LA">Lao People's Democratic Republic</option>
								<option value="LV">Latvia</option>
								<option value="LB">Lebanon</option>
								<option value="LS">Lesotho</option>
								<option value="LR">Liberia</option>
								<option value="LY">Libyan Arab Jamahiriya</option>
								<option value="LI">Liechtenstein</option>
								<option value="LT">Lithuania</option>
								<option value="LU">Luxembourg</option>
								<option value="MO">Macao</option>
								<option value="MK">Macedonia, The Former Yugoslav Republic of</option>
								<option value="MG">Madagascar</option>
								<option value="MW">Malawi</option>
								<option value="MY">Malaysia</option>
								<option value="MV">Maldives</option>
								<option value="ML">Mali</option>
								<option value="MT">Malta</option>
								<option value="MH">Marshall Islands</option>
								<option value="MQ">Martinique</option>
								<option value="MR">Mauritania</option>
								<option value="MU">Mauritius</option>
								<option value="YT">Mayotte</option>
								<option value="MX">Mexico</option>
								<option value="FM">Micronesia, Federated States of</option>
								<option value="MD">Moldova, Republic of</option>
								<option value="MC">Monaco</option>
								<option value="MN">Mongolia</option>
								<option value="ME">Montenegro</option>
								<option value="MS">Montserrat</option>
								<option value="MA">Morocco</option>
								<option value="MZ">Mozambique</option>
								<option value="MM">Myanmar</option>
								<option value="NA">Namibia</option>
								<option value="NR">Nauru</option>
								<option value="NP">Nepal</option>
								<option value="NL">Netherlands</option>
								<option value="AN">Netherlands Antilles</option>
								<option value="NC">New Caledonia</option>
								<option value="NZ">New Zealand</option>
								<option value="NI">Nicaragua</option>
								<option value="NE">Niger</option>
								<option value="NG">Nigeria</option>
								<option value="NU">Niue</option>
								<option value="NF">Norfolk Island</option>
								<option value="MP">Northern Mariana Islands</option>
								<option value="NO">Norway</option>
								<option value="OM">Oman</option>
								<option value="PK">Pakistan</option>
								<option value="PW">Palau</option>
								<option value="PS">Palestinian Territory, Occupied</option>
								<option value="PA">Panama</option>
								<option value="PG">Papua New Guinea</option>
								<option value="PY">Paraguay</option>
								<option value="PE">Peru</option>
								<option value="PH">Philippines</option>
								<option value="PN">Pitcairn</option>
								<option value="PL">Poland</option>
								<option value="PT">Portugal</option>
								<option value="PR">Puerto Rico</option>
								<option value="QA">Qatar</option>
								<option value="RE">Reunion</option>
								<option value="RO">Romania</option>
								<option value="RU">Russian Federation</option>
								<option value="RW">Rwanda</option>
								<option value="SH">Saint Helena</option>
								<option value="KN">Saint Kitts and Nevis</option>
								<option value="LC">Saint Lucia</option>
								<option value="PM">Saint Pierre and Miquelon</option>
								<option value="VC">Saint Vincent and The Grenadines</option>
								<option value="WS">Samoa</option>
								<option value="SM">San Marino</option>
								<option value="ST">Sao Tome and Principe</option>
								<option value="SA">Saudi Arabia</option>
								<option value="SN">Senegal</option>
								<option value="RS">Serbia</option>
								<option value="SC">Seychelles</option>
								<option value="SL">Sierra Leone</option>
								<option value="SG">Singapore</option>
								<option value="SK">Slovakia</option>
								<option value="SI">Slovenia</option>
								<option value="SB">Solomon Islands</option>
								<option value="SO">Somalia</option>
								<option value="ZA">South Africa</option>
								<option value="GS">South Georgia and The South Sandwich Islands</option>
								<option value="ES">Spain</option>
								<option value="LK">Sri Lanka</option>
								<option value="SD">Sudan</option>
								<option value="SR">Suriname</option>
								<option value="SJ">Svalbard and Jan Mayen</option>
								<option value="SZ">Swaziland</option>
								<option value="SE">Sweden</option>
								<option value="CH">Switzerland</option>
								<option value="SY">Syrian Arab Republic</option>
								<option value="TW">Taiwan, Province of China</option>
								<option value="TJ">Tajikistan</option>
								<option value="TZ">Tanzania, United Republic of</option>
								<option value="TH">Thailand</option>
								<option value="TL">Timor-leste</option>
								<option value="TG">Togo</option>
								<option value="TK">Tokelau</option>
								<option value="TO">Tonga</option>
								<option value="TT">Trinidad and Tobago</option>
								<option value="TN">Tunisia</option>
								<option value="TR">Turkey</option>
								<option value="TM">Turkmenistan</option>
								<option value="TC">Turks and Caicos Islands</option>
								<option value="TV">Tuvalu</option>
								<option value="UG">Uganda</option>
								<option value="UA">Ukraine</option>
								<option value="AE">United Arab Emirates</option>
								<option value="GB">United Kingdom</option>
								<option value="US">United States</option>
								<option value="UM">United States Minor Outlying Islands</option>
								<option value="UY">Uruguay</option>
								<option value="UZ">Uzbekistan</option>
								<option value="VU">Vanuatu</option>
								<option value="VE">Venezuela</option>
								<option value="VN">Viet Nam</option>
								<option value="VG">Virgin Islands, British</option>
								<option value="VI">Virgin Islands, U.S.</option>
								<option value="WF">Wallis and Futuna</option>
								<option value="EH">Western Sahara</option>
								<option value="YE">Yemen</option>
								<option value="ZM">Zambia</option>
								<option value="ZW">Zimbabwe</option>
							</select>
						</div>
					</label>
				</td>
				<td>
					<label class="checkout__field">City<br />
						<input ng-model="user.address_city" type="text" class="input-text" required />
					</label>
				</td>
				<td>
					<label class="checkout__field">ZIP Code<br />
						<input ng-model="user.address_zipcode" type="text" class="input-text" required />
					</label>
				</td>
			</tr>
			<tr>
				<td>
					<label class="checkout__field">Address<br />
						<input ng-model="user.address_address1" type="text" class="input-text" required />
					</label>
				</td>

				<td>
					<label class="checkout__field">Address 2<br />
						<input ng-model="user.address_address2" type="text" class="input-text" />
					</label>
				</td>
			</tr>
		</table>

	</div>

	<div class="checkout__footer checkout__footer--left">

		<span class="l-toCenter"></span><button class="checkout__submit btn {[{form_state}]}" type="submit">{[{form_state | buttonStates:'changes'}]}</button>
		<span class="checkout__error-message">{[{error_message}]}</span>
	</div>

</form>