<form class="checkout l-col-75" ng-cloak>
	<h2 class="checkout__title">Rewards System</h2>

	<div class="checkout__body">
		<div class="internal-tabs">
			<div class="internal-tabs__tabs-links internal-tabs__tabs-links--2">
				<a href="#" class="internal-tabs__tab-link internal-tabs__tab-link--active">Hashtags</a>
				<a href="#" class="internal-tabs__tab-link">Coupons</a>
			</div>

			<div class="internal-tabs__content">
				<div class="internal-tabs__tab internal-tabs__tab--active">

					<div class="rewards-info">
						<div class="rewards-info__box">
							<h3 class="rewards-system--title">You have <strong>{[{rewards.total}]}</strong> Hashtags</h3>
							<p>Use your Hashtags to generate discount coupons.<br/>If you want, you can also give them to your friends.</p>
						</div>
						<div class="rewards-info__box rewards-info__box--last">
							<button class="btn" ng-click="openModalCoupon($event)">Generate coupon</button>
							<button class="btn" ng-click="openModalTransfer($event)">Transfer hashtags</button>
						</div>
					</div>

					<table class="table-rewards" ng-if="rewards.history.length > 0">
						<tr>
							<th><a href="#" class="order" ng-class="{'order--down' : rewards.historyReverse}" ng-click="rewards.historyReverse = !rewards.historyReverse; $event.preventDefault()">Earned on</strong></th>
							<th>Type</th>
							<th>Earned by</th>
							<th>Hashtags</th>
							<th>Expires on</th>
						</tr>

						<tr ng-repeat="reward in rewards.history | orderBy:'earnedTimeStamp':rewards.historyReverse">
							<td>{[{reward.earned | formatDate : 'DD/MM/YYYY'}]}</td>
							<td>
								<img ng-if="reward.type == 'flight'" class="table-rewards__row-icon" src="{{app.config.staticpath}}/img/modules/table-history/icon-plane.png" />
								<img ng-if="reward.type == 'hotel'" class="table-rewards__row-icon" src="{{app.config.staticpath}}/img/modules/table-history/icon-bed.png" />
								<img ng-if="reward.type == 'car'" class="table-rewards__row-icon" src="{{app.config.staticpath}}/img/modules/table-history/icon-car.png" />
							</td>
							<td>{[{reward.from}]}</td>
							<td><strong class="table-rewards__points">{[{reward.total}]}</strong></td>
							<td>{[{reward.expireDate | formatDate : 'DD/MM/YYYY'}]}</td>
						</tr>

					</table>

				</div>

				<div class="internal-tabs__tab">

					<table class="table-rewards" ng-if="rewards.coupons.length > 0">
						<tr>
							<th><a href="#" class="order" ng-class="{'order--down' : rewards.couponsReverse}" ng-click="rewards.couponsReverse = !rewards.couponsReverse; $event.preventDefault()">Generated on</strong></th>
							<th>Coupon code</th>
							<th>Discount</th>
							<th>Status</th>
						</tr>

						<tr ng-repeat="coupon in rewards.coupons | orderBy:'generatedTimeStamp':rewards.couponsReverse">
							<td>{[{coupon.generated | formatDate : 'DD/MM/YYYY'}]}</td>
							<td>{[{coupon.code}]}</td>
							<td>{[{coupon.currency}]} {[{coupon.total }]}</td>
							<td ng-class="{'coupon--ready': coupon.status.ready}"><strong>{[{coupon.status.name}]}</strong></td>
						</tr>

					</table>

					<div class="nothing-to-show" ng-if="rewards.coupons.length == 0">
						<p>You don't have coupons.</p>
					</div>
				</div>

			</div>
		</div>

	</div>

</form>

{% include 'modal/generate-coupon.twig' %}
{% include 'modal/transfer-hashtags.twig' %}