<form class="checkout l-col-75" data-parsley-validate ng-cloak ng-submit="save($event)">
	<h2 class="checkout__title">Account Settings</h2>

	<div class="checkout__body">

		<table class="checkout__fieldset">
			<tr>
				<th colspan="3">Change Password</th>
			</tr>
			<tr>
				<td>
					<label class="checkout__field">Old Password<br />
						<input type="password" class="input-text" ng-model="form.old_password" required />
					</label>
				</td>
				<td>
					<label class="checkout__field">New Password<br />
						<input type="password" class="input-text" id="new-pass" ng-model="form.new_password" required />
					</label>
				</td>
				<td>
					<label class="checkout__field">New Password Again<br />
						<input type="password" class="input-text" ng-model="form.new_password_confirmation" data-parsley-equalto="#new-pass" required />
					</label>
				</td>
			</tr>
			<tr>
				<td colspa="3">
					<button type="submit" class="btn {[{form_state}]}">{[{form_state | buttonStates:'new password'}]}</button>
					<span class="checkout__error-message">{[{error_message}]}</span>

				</td>
			</tr>
		</table>


		<hr />

		<table class="checkout__fieldset">
			<tr>
				<th>Social Connect</th>
			</tr>
			<tr>
				<td>
					<label class="checkout__field">Twitter {[{user.twitter_id && '(connected)'}]}<br />
						<a href="{{url('user_signin_twitter')}}" class="btn btn--twitter {[{user.twitter_id && 'btn--connected'}]}">{[{user.twitter_id && 'Connected' || 'Connect with twitter'}]}</a></td>
					</label>
				</td>
			</tr>
			<tr>
				<td>
					<label class="checkout__field">Facebook {[{user.facebook_id && '(connected)'}]}<br />
						<a href="{{login_facebook_url}}" class="btn btn--facebook {[{user.facebook_id && 'btn--connected'}]}">{[{user.facebook_id && 'Connected' || 'Connect with facebook'}]}</a></td>
					</label>
				</td>
			</tr>
		</table>

		<hr />

		<table class="checkout__fieldset">
			<tr>
				<th>Delete account</th>
			</tr>
			<tr>
				<td>
					<p>If for some reason you want to leave Hashtag Travels, please <a href="#" ng-click="openModalDelete($event)">click here</a> to delete your account.</p>
				</td>
			</tr>
		</table>

	</div>

</form>

{% include 'modal/delete-account.twig' %}