{% extends "layout.twig" %}

{% block content %}

<div class="main" >

	{% include 'corporate/internal-menu.inc.twig' %}

	<div class="corporate-page l-col-75">
		<h2 class="checkout__title">Hashtag Rewards</h2>

		<div class="corporate__body">
		<div class="hashtag-rewards__description">
			<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nullam quis risus eget urna mollis ornare vel eu leo. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
			<p>Calculate your Hashtags is simple and quick.<br/>
			All you need to do is inform the price and type of your booking.</p>
		</div>
			<h1 class="hashtag-rewards__title">
				The more you book,<br/>
				the more you earn!
			</h1>

			<div class="hashtag-calculator">
				<div class="hashtag-calculator__col hashtag-calculator__booking-price">
					<label>Booking price</label>
					<input type="text" class="input-text">
				</div>
				<div class="hashtag-calculator__col hashtag-calculator__kind-of-booking">
					<label>What are you booking</label>
					<a href="" class="btn">Flight</a>
					<a href="" class="btn">Hotel</a>
					<a href="" class="btn">Car</a>
				</div>
				<div class="hashtag-calculator__col hashtag-calculator__calculate">
					<label>&nbsp;</label>
					<a href="" class="btn">Calculate</a>
				</div>

				<div class="hashtag-calculator__footer">
					<p>This booking will give you <strong>625 hashtgags<strong></p>
				</div>
			</div>
		</div>
	</div>

</div>

{% endblock %}
