<div class="l-col-25 internal-menu hidden-phone">
	<a href="{{url('about_us')}}" class="internal-menu__item{% if menu == 'about' %} internal-menu__item--active {% endif %}">
		<img class="internal-menu__icon" src="{{app.config.staticpath}}/img/modules/corporate/about-icon.png" />
		About Us
	</a>
	<a href="{{url('hashtag_rewards')}}" class="internal-menu__item{% if menu == 'hashtag-rewards' %} internal-menu__item--active {% endif %}">
		<img class="internal-menu__icon" src="{{app.config.staticpath}}/img/modules/corporate/hashtag-icon.png" />
		Hashtag Rewards
	</a>
	<a href="{{url('terms')}}" class="internal-menu__item{% if menu == 'terms' %} internal-menu__item--active {% endif %}">
		<img class="internal-menu__icon" src="{{app.config.staticpath}}/img/modules/corporate/terms-icon.png" />
		Terms and Conditions
	</a>
	<a href="{{url('privacy_policy')}}" class="internal-menu__item{% if menu == 'privacy-policy' %} internal-menu__item--active {% endif %}">
		<img class="internal-menu__icon" src="{{app.config.staticpath}}/img/modules/corporate/privacy-icon.png" />
		Privacy Policy
	</a>
</div>
