{% extends "layout.twig" %}

{% block content %}

<div class="main" >

	{% include 'corporate/internal-menu.inc.twig' %}

	<div class="corporate-page l-col-75">
		<h2 class="checkout__title">Hashtag Travels SA – Terms and Conditions <small>Last Revised on June 22nd, 2014</small></h2>

		<div class="corporate__body">
			<p>Welcome to the Hashtag Travels website (the "Website"). This Website is provided solely to assist customers in gathering travel information, determining the availability of travel-related goods and services, making legitimate reservations or otherwise transacting business with travel suppliers, and for no other purposes. The terms "we", "us", "our" and "Hashtag Travels" refer to Hashtag Travels SA, registered Swiss company CH-550.1.138.707-6, Avenue des Baumettes 23, 1020 Renens, Switzerland. The term "you" refers to the customer visiting the Website and/or making a reservation through us on this Website, or through our customer service agents.</p>

			<h2 class="corporate__title">USE OF THE WEBSITE</h2>
			<p>This Website is offered to you conditioned upon your acceptance without modification of all the terms, conditions, and notices set forth below (collectively, the "Terms of Use” or "Agreement"), effective 22nd June 2014. By accessing or using this Website, booking any travel products or services on this Website, or contacting our customer service agents, you agree that the Terms of Use then in force shall apply. If you do not agree with these Terms of Use, then you are not authorised to use this Web site or make bookings via our customer service agents. Hashtag Travels SA may at any time change these Terms of Use and your continued use of this Website is conditioned upon acceptance of the updated Terms of Use.</p>
			<p>As a condition of your use of this Website, you warrant that (i) you are at least 18 years of age; (ii) you possess the legal authority to create a binding legal obligation; (iii) you will use this Website in accordance with these Terms of Use; (iv) you will only use this Website to make legitimate reservations for you or for another person for whom you are legally authorized to act; (v) you will inform such other persons about the Terms of Use that apply to the reservations you have made on their behalf, including all rules and restrictions applicable thereto; (vi) all information supplied by you on this Website is true, accurate, current and complete, and (vii) if you have a Hashtag Travels.com account, you will safeguard your account information and be completely responsible for any use of your account by you and anyone other than you. You will indemnify and hold us harmless from all claims, disputes, liability, claims for damages, costs and expenses which arise from the use of the website by you or by other persons using your login to “My Account” or using your password. If your booking or account shows signs of fraud, abuse or suspicious activity, Hashtag Travels may cancel any bookings associated with your name, email address or account, and close any associated Hashtag Travels accounts. If you have conducted any fraudulent activity, Hashtag Travels reserves the right to take any necessary legal action and you may be liable for monetary losses to Hashtag Travels SA including litigation costs and damages. To contest the cancellation of a booking or freezing or closure of an account, please contact Hashtag Travels Customer Service. </p>

			<p>We retain the right at our sole discretion to deny access to anyone to this Website and the services we offer, at any time and for any reason, including, but not limited to, for violation of these Terms of Use. Unless we expressly permit the following uses or you have a legal claim, you may not:</p>

			<ul class="corporate__ul">
				<li>use robots, spiders, scrapers or other automatic devices or manual methods to check the contents of the Hashtag Travels website and gain access to it for any purpose;</li>
				<li>deep-link to any portion of this Website (including, without limitation, the purchase path for any travel services) for any purpose; or "frame", "mirror" or otherwise incorporate any part of this Website into any other website;</li>
				<li>use the Hashtag Travels website for purposes other than bookings according to the rules;</li>
				<li>make any speculative, false, or fraudulent reservation or any reservation in anticipation of demand;</li>
				<li>convey the impression in any way that Hashtag Travels supports your products or services;</li>
				<li>place false or inapplicable information on our website;</li>
				<li>publish or distribute over our website material which violates legislation and statutes, is threatening, offensive, constitutes defamatory statements, is obscene and indecent, incites hate, is pornographic or profane, or material which represents either a crime or an offence, constitutes liability according to civil law or breaches laws or incites their breach, or is illegal or in breach of contract for any other purpose;</li>
				<li>use or access the Hashtag Travels website in a manner that, to a reasonable observer, has a negative impact on the performance or functioning of the Hashtag Travels website, on the computer system or network, or otherwise on the user or registered customer/user of the Hashtag Travels website;</li>
				<li>upload or transmit through the website contents, software or procedures or use the website in any other way in order to employ viruses, Trojans, worms, time bombs or other programs and procedures which interrupt or interpose the Hashtag Travels website or the operation of the Hashtag Travels website or the systems which Hashtag Travels employs, or adopt measures in any other manner, which lead to an disproportionate load on our system or negatively affect third-party rights;</li>
				<li>use or attempt to use software, routines or objects which prevent the operation of the Hashtag Travels website or which create a disproportionate load on our system, or disguise or conceal the origin of information which is made available on the Hashtag Travels website.</li>
			</ul>

			<h2 class="corporate__title">COPYRIGHT AND TRADEMARK NOTICES </h2>

			<p>All contents of this Website are © 2014 Hashtag Travels SA, all rights reserved. Hashtag Travels SA is not responsible for content on websites operated by parties other than Hashtag Travels SA. The name Hashtag Travels SA, the logo and all associated trade dresses and slogans are registered trademarks and company symbols of Hashtag Travels or affiliated companies. All other names, logos and associated names of products or services, trade dresses and slogans used on this website are the trademarks of the respective owners. All rights are hereby acknowledged.</p>
			<p>All copyright and other industrial property rights relating to the material found on this website, including HTML codes, text, photographs or other images appearing on our website, either belong to Hashtag Travels or are licensed by the owner to Hashtag Travels and are protected by copyright laws and international treaty provisions. If you wish to use information or contents shown on the Hashtag Travels website, you must first request written consent from us or from the owner of the trademark rights, depending on the rights owner. You are not permitted to modify, copy, transmit, display, perform, publish, license or create derivative works of any software on this website or information which you receive through this website. Insofar as a copy or a transmission is expressly permitted, you may neither change nor delete the reference to the copyright or the name of the copyright owner. If you are aware of an infringement of our brand, please let us know by e-mailing us at info@hashtagtravels.com. We only address messages concerning brand infringement at this email address.</p>

			<h2 class="corporate__title">SOFTWARE AVAILABLE ON THIS WEBSITE</h2>

			<p> Any reproduction or redistribution of the Software is expressly prohibited, and may result in severe civil and criminal penalties. Violators will be prosecuted to the maximum extent possible. WITHOUT LIMITING THE FOREGOING, COPYING OR REPRODUCTION OF THE SOFTWARE TO ANY OTHER SERVER OR LOCATION FOR FURTHER REPRODUCTION OR REDISTRIBUTION IS EXPRESSLY PROHIBITED. You may not install or use any Software that is accompanied by or includes a License Agreement unless you first agree to the License Agreement terms. For any Software made available for download on this Website not accompanied by a License Agreement, we hereby grant to you, the user, a limited, personal, non-exclusive, nontransferable license to download, install and use the Software and/or the Mobile Application for viewing and otherwise using this Website and/or accessing the content and information available within the Mobile Application (including, without limitation, price and availability of travel services) in accordance with these Terms of Use and for no other purpose. Your mobile device must be connected to the internet for the Mobile Application to function correctly. You are responsible for making all arrangements necessary for your device to have internet connectivity and are responsible for all sums your service provider may charge you arising out of the Mobile Application transmitting and receiving data (including but not limited to data roaming charges). As further described in our Privacy Policy, the Mobile Application will automatically transfer a small amount of data as part of its normal operation, including how you use the Mobile Application, which Content you access, and technical errors or problems which the Application may encounter while being used. By using the Mobile Application, you acknowledge, agree and consent to the automatic collection of this information.</p>

			<h2 class="corporate__title">ACCURACY OF THE INFORMATION ON OUR WEBSITE AND AVAILABILITY</h2>

			<p> We publish information on this website in good faith regarding its accuracy and check and update it regularly. However, we cannot guarantee the completeness or the accuracy of this information. We are unable to check and have not checked the accuracy of information which is made available by service providers such as airlines or hotels and we cannot check the accuracy of other information which is made available to us by third parties, such as weather and exchange rates. We cannot assume any liability with respect to third parties for errors or incompleteness on this website. We can change, update or delete information on the Hashtag Travels website without prior notice. We are unable to guarantee the uninterrupted availability of this website. We give no guarantee or assurance with regard to the usability of the information, products or services on this website for any purposes. The Hashtag Travels website is operated in its present form and only within the framework of actual availabilities. You are liable for any risks arising from the use of this website. We are not liable for errors, omissions or misleading information and we exclude our liability by contract, to the extent legally permissible, in connection with such information.</p>

			<h2 class="corporate__title">PRICES ON OUR WEBSITE </h2>

			<p>The prices on this website are given in Swiss Francs. Prices can also be shown in a currency chosen by you, as per the current market conversion rates. Prices can therefore change daily as they follow exchange rate movements. As soon as a booking is made, the exchange rate is then fixed and applies also to all further bookings or cancellations within this booking. All payments are in Swiss Francs. The price of the Services will be as quoted on the Website from time to time, except in cases of obvious error. Prices are liable to change at any time. Hashtag Travels may in some cases levy a booking fee in relation to some flight transactions made on the Customer's behalf. The Customer will be notified of all applicable charges at the time of booking. Despite Hashtag Travels’ best efforts, some of the Services listed on the Website may be incorrectly priced. HASHTAG TRAVELS SA EXPRESSLY RESERVES THE RIGHT TO CORRECT ANY PRICING ERRORS ON OUR WEBSITE AND/OR ON PENDING RESERVATIONS MADE UNDER AN INCORRECT PRICE. IN SUCH EVENT, IF AVAILABLE, WE WILL OFFER YOU THE OPPORTUNITY TO KEEP YOUR PENDING RESERVATION AT THE CORRECT PRICE OR WE WILL CANCEL YOUR RESERVATION WITHOUT PENALTY. Hashtag Travels is under no obligation to provide Services to a Customer at an incorrect (lower) price, even after Customers have been sent confirmation of their booking.</p>

			<h2 class="corporate__title">CURRENCY CONVERTER </h2>

			<p>Currency rates are based on various publicly available sources and should be used as guidelines only. Rates are not verified as accurate, and actual rates may vary. Currency quotes are not updated every day. Check the date on the currency converter feature for the day that currency was last updated. The information supplied by this application is believed to be accurate, but Hashtag Travels and/or our respective suppliers do not warrant or guarantee such accuracy. When using this information for any financial purpose, we advise you to consult a qualified professional to verify the accuracy of the currency rates. We do not authorise the use of this information for any purpose other than your personal use and you are expressly prohibited from the resale, redistribution, and use of this information for commercial purposes.</p>

			<h2 class="corporate__title">PHOTOGRAPHS AND ILLUSTRATIONS ON THIS WEBSITE</h2>

			<p> Hashtag Travels does its utmost to provide photographs and illustrations on our website that give the Customer a depiction of the Services offered. The purpose of these photographs and illustrations is to show the Customer the level of accommodation and the degree of comfort, and they must not be considered to be making any representation that exceeds this purpose.</p>

			<h2 class="corporate__title">GENERAL </h2>

			<p>Your use of mapping available on this Website is governed by the Microsoft Terms of Use and Microsoft Privacy Statement and the Google Terms of Use and Google Privacy Statement. Microsoft and Google reserve the right to change their Terms of Use and Privacy Statements at any time, at their sole discretion. Please click here for additional information:</p>
			<ul class="corporate__ul">
				<li><a href="http://privacy.microsoft.com/en-us/default.mspx">http://privacy.microsoft.com/en-us/default.mspx</a></li>
				<li><a href=" http://www.microsoft.com/maps/assets/docs/terms.aspx"> http://www.microsoft.com/maps/assets/docs/terms.aspx</a></li>
				<li><a href="http://www.google.com/privacy/privacy-policy.html">http://www.google.com/privacy/privacy-policy.html</a></li>
				<li><a href=" http://www.google.com/enterprise/earthmaps/legal/us/maps_AUP.html"> http://www.google.com/enterprise/earthmaps/legal/us/maps_AUP.html</a></li>
				<li><a href="  http://www.maps.google.com/help/legalnotices_maps.html">  http://www.maps.google.com/help/legalnotices_maps.html</a></li>
				<li><a href="  http://maps.google.com/help/terms_maps.html">  http://maps.google.com/help/terms_maps.html</a></li>
			</ul>
			<p> The Google® Translate tool is made available on this Website to enable you to translate content such as user-generated hotel reviews. The Google® Translate tool uses an automated process to translate text and this may result in inaccuracies. Your use of the Google® Translate tool is entirely at your own risk. Hashtag Travels SA does not warrant or make any promises, assurances or guarantees as to the accuracy or completeness of the translations provided by Google® Translate. 
			This Website is operated by a Swiss entity and this Agreement is governed by the laws of the canton Vaud, Switzerland. You hereby consent to the exclusive jurisdiction and venue of courts in canton Vaud, Switzerland, in all disputes arising out of or relating to the use of this Website. Use of this Website is unauthorized in any jurisdiction that does not give effect to all provisions of this Agreement, including, without limitation, this paragraph.    GENERAL BOOKING TERMS & CONDITIONS</p>

			<p>1. Contract for Flight: Hashtag Travels will make the booking on your behalf as a booking agent for the relevant travel supplier(s) concerned and your contract will be subject to the relevant supplier's terms and conditions which could limit or exclude liability to you (often in accordance with various applicable international conventions).</p>
			<p>2. Contract for Hotel: The contract is concluded between you and the hotel.  Hashtag Travels acts as a booking agent and your contract will be subject to the relevant supplier's terms and conditions which could limit or exclude liability to you.</p>
			<p>3. Contract for Car Rental: Hashtag Travels will make the booking on your behalf as a booking agent for the relevant travel supplier(s) concerned and your contract will be subject to the relevant supplier's terms and conditions which could limit or exclude liability to you.</p>
			<p>4. Contract for Deals: A deal is a pre-arranged dynamic combination lasting more than 24 hours or including at least one overnight stay and consisting of at least two of the following: (a) transport (b) accommodation or (c) another tourist service forming a significant part of your booking and those two or more components are sold to you as a whole at the same time by us at a total price. There is also a package in the sense of the former sentence if individual travel products and services are separately priced within the same package. The contract is in that case concluded between you and Hashtag Travels.</p>
			<p>Your contract will come into existence once we have received your payment in cleared funds (or in respect of retail hotels, once we have received your booking fee) and a confirmation invoice has been issued.</p>
			<p>All Hashtag Travels fees can be changed at any time. This includes telesales, cancel, change, payment card or other fees. Such fees can be reduced, increased or removed at any time.</p>
			<p>The Hashtag Travels terms and conditions apply to all bookings, except where otherwise specified. By proceeding with your travel booking you are confirming that you have read, understood and accept these general terms and conditions and these form part of the contract under which Hashtag Travels provides you with travel services.</p>

			<h2 class="corporate__title">INTERNATIONAL TRAVEL </h2>

			<p>You are responsible for ensuring that you meet foreign entry requirements and that your travel documents, such as passports and visas (transit, business, tourist, and otherwise), are in order and any other foreign entry requirements are met. Hashtag Travels has no special knowledge regarding foreign entry requirements or travel documents.  The Federal Department of Foreign Affairs (FDFA) may have issued information about your chosen holiday destination. FDFA regularly publishes information regarding countries where there exist dangers connected with political Security or other risks, such as medical and sanitary. We urge customers to review travel prohibitions, warnings, announcements, and advisories issued by the relevant Governments prior to booking travel to international destinations, more information is available at: http://www.eda.admin.ch/eda/en/home.html (English) http://www.eda.admin.ch/eda/de/home/travad.html (German) http://www.eda.admin.ch/eda/fr/home/travad.html (French) By offering travel products in particular international destinations, Hashtag Travels does not represent or warrant that travel to such areas is advisable or without risk, and is not liable for damages or losses that may result from travel to such destinations. </p>


			<h2 class="corporate__title">PASSPORT AND VISA</h2>

			<p> You must consult the relevant Embassy or Consulate of your destination country and the website of Federal Department of Foreign Affairs for this information. For Switzerland, use the following website: http://www.eda.admin.ch/eda/en/home/reps.html regarding any special documentation for the countries you are visiting or for return to Switzerland. Requirements may change and you should check for up-to-date information before booking and departure. </p>
			<p>Hashtag Travels accepts no liability if you are refused entry onto a flight or into any country due to your failure to carry the correct and adequate passport, visa, or other travel documents required by any airline, authority, or country, including countries you may just be transiting through. This includes all stops made by the aircraft, even if you do not leave the aircraft or airport; please note that many countries require that your passport is valid for six months beyond the period of your stay. People travelling with a one way ticket can be refused to enter specific countries without being able to prove they have a document showing their departure of the country. </p>
			<p>It is vital that you ensure that your passport is legible and intact, any sign of damage could result in a refusal of carriage or entry into your country of destination. If you need additional information, you can contact your Embassy or Consulate.  HEALTH Recommended inoculations for travel may change and you should consult your doctor for current recommendations before you depart. It is your responsibility to ensure that you meet all health entry requirements, obtain the recommended inoculations, take all recommended medication, and follow all medical advice in relation to your trip.</p>
			<p>Further travel advice can be found on http://safetravel.ch (German and French) or http://www.cdc.gov/travel (English).</p>
			<p>It is important that all travellers to the United States take note of the following: A visa will be necessary for entry to the United States of America (USA) unless passengers are eligible under the Visa Waiver Program (VWP). Under certain conditions, the VWP allows holders of full Swiss Citizens Passports who have the right of abode in Switzerland to complete a Visa Waiver Form and submit this on arrival. You must ensure that you comply with all USA Government requirements as per the Visa Waiver Form before confirming your booking. You can refer to the US embassy website to check what is required for you: http://bern.usembassy.gov/</p>
			<p>If you have a serious communicable disease of public health significance including HIV you are not eligible to travel the VWP and must possess a valid visa for entry into the United States. If you have ever been arrested or convicted for any reason in any country, even if the arrest did not lead to a conviction including driving offences, you may require a visa and should consult the US Embassy directly.</p>

			<h2 class="corporate__title">BOOKING YOUR TRIP</h2>

			<p>When you use our website to make a booking, you may have to provide us with your credit card details in order to cover the full cost of your trip. You authorise us or an authorised third party to take payment for the total amount of your booking. Please note that you may be required to present a credit card at the time of check-in. For rental car, this is mandatory to present the credit card of the main driver at pick-up time.</p>
			<p>The price of each product or service is regularly reviewed and may go up or down. Promotional or discounted offers on this site are provided at our discretion. All offers are subject to availability and may be withdrawn at any time.</p>
			<p>When you make a booking, you guarantee that you have the authority to accept, and do accept the Hashtag Travels terms and conditions on your behalf and on behalf of all members of your party and, further, if you are making a booking for more than one person, that you are responsible for all payments due from each and every party member for whom you are making a booking.</p>
			<p>It is your responsibility to ensure that any information which is given to you by us or any of our employees or suppliers is passed on to all members of your party.</p>
			<p>Any information which we give to you shall be deemed as given to each and every party member for whom you are making or have made a booking.</p>

			<h2 class="corporate__title">PAYMENT BY CREDIT CARD / FEES</h2>
			<p>The customer indicates his credit card number, its expiry date and its CSC number (Card Security Code), when making the reservation.</p>
			<p>It is the customer’s responsibility to provide Hashtag Travels with a valid credit card (including correct number and ensuring it is still in date and with sufficient funds). If this is not provided, Hashtag Travels cannot guarantee either the price of the booking or the booking itself. Some banks and credit cards impose fees for international transactions. If you are making a booking from outside of Switzerland on a CHF credit card, your bank may convert the payment amount to your local currency and charge you a conversion fee. This means the amount listed on your credit or bank card statement may be in your local currency and therefore a different figure than the figure shown on the billing summary page for a reservation booked on the Website. In addition, a foreign transaction fee may be assessed if the bank that issued your credit card is located outside of Switzerland. The currency exchange rate and foreign transaction fee is determined solely by your bank on the day that they process the transaction. If you have any questions about these fees or the exchange rate applied to your booking, please contact your bank.</p>
			<p>In order to contribute to the credit card companies’ fees charged to Hashtag Travels, a fixed amount is applied to each payment, except those realized through the Visa Debit Card. All such fees will be highlighted to you during the course of making your booking.</p>
			<p>Some regular airlines also charge credit card fees. They will be charged directly by the airline and displayed during the booking process as well as on the final confirmation. These credit card fees are non-refundable.</p>
			<p>For low cost carriers, the amount of this charge will be an estimate and will also be highlighted to you during the course of making your booking. All such fees will be included in the final price overview of the booking process. The final price will be stated also in the booking confirmation.</p>

			<h2 class="corporate__title">SUPPLIER RULES AND RESTRICTIONS</h2>
			<p> You agree to abide by the terms and conditions of purchase imposed by any supplier with whom you elect to deal, including, but not limited to, payment of all amounts when due and compliance with the supplier's rules and restrictions regarding availability and use of fares, products, or services. Airfare is only guaranteed once the purchase has been completed and the tickets have been issued. Airlines and other travel suppliers may change their prices without notice. We reserve the right to cancel your booking if full payment is not received in a timely fashion. Some hotel suppliers may require you to present a credit card or cash deposit upon check-in to cover additional expenses incurred during your stay. Such deposit is unrelated to any payment received by Hashtag Travels SA for your hotel booking. You acknowledge that some third-party providers offering certain services and/or activities may require you to sign their liability waiver prior to participating in the service and/or activity they offer. You understand that any violation of any such supplier's rules and restrictions may result in cancellation of your reservation(s), in your being denied access to the applicable travel product or services, in your forfeiting any monies paid for such reservation(s), and/or in our debiting your account for any costs we incur as a result of such violation. </p>

			<h2 class="corporate__title">EVENTS BEYOND OUR CONTROL</h2>
			<p> Hashtag Travels SA shall not be liable for any failure in the course of this Contract and shall not pay any compensation where the performance of our contractual obligations is prevented or affected by a force majeure event. This shall include without limitation government intervention, wars, civil commotion, hijacking, fire, floods, accident, adverse weather conditions, storm, strikes, lockouts, terrorist attacks or industrial action, closure of airports, technical or maintenance problems or unforeseen operational decisions of air carriers such as changes of schedule or any failure in the information technology infrastructure (including but not limited to our website) or failure in internet connections, affecting either Hashtag Travels SA or its Travel Suppliers. </p>

			<h2 class="corporate__title">YOUR BEHAVIOUR</h2>
			<p> It is your responsibility to ensure that you and the members of your group do not behave in a way which is inappropriate or causes danger, distress, offence or damage to others or which risks damage to property belonging to others (including but not limited to drunkenness and air rage) whilst on your trip. If, in our reasonable opinion or that of our suppliers, your behavior is inappropriate and causes danger, distress, offence, or damage to others, or risks damage to property belonging to others, we and/or our suppliers (e.g. hotel managers, airline pilots) may take appropriate action in order to ensure the safety and comfort of our customers and their property and that of our suppliers, including terminating your trip, in which case our and our supplier's responsibility to you will cease immediately and you will not be eligible for any refunds, payments of compensation and/or any reimbursement of any cost or expenses you may incur as a result of such termination. Further, you will be liable to reimburse us for any expenses we incur necessarily as a result of such termination.<p>

			<h2 class="corporate__title">DISPUTE RESOLUTION</h2>
			<p> Each reclamation shall be addressed to Hashtag Travels SA in written form within a delay of maximum 30 days after the date of return. Exceeding this delay, Hashtag Travels SA reserves the right to not commence further steps. Disputes arising out of or in connection with these terms and conditions which cannot be amicably settled may be referred to the ombudsman of the Swiss travel industry.</p>

			<h2 class="corporate__title">SPECIAL ASSISTANCE</h2>
			<p> If you are disabled or incapacitated or of limited mobility or require special assistance for any reason, we require that you notify us at the time of making your booking. If these requirements change before your trip we can only accommodate you appropriately, if we were informed by you before your trip starts. We will not subsequently be liable to you for any losses you may incur in the event that we or our suppliers are unable to accommodate your requirements.</p>

			<h2 class="corporate__title">WEATHER </h2>
			<p>Hashtag Travels cannot be held responsible for any disruption to your trip due to bad or unusual weather conditions.</p>

			<h2 class="corporate__title">SPECIAL REQUESTS</h2>
			<p> Please advise us of any special requests and we will pass these on to the relevant supplier. However, we cannot guarantee your special request as we do not have any direct control over the manner in which the services are provided.</p>

			<h2 class="corporate__title">TELEPHONE CALLS RECORDED</h2>
			<p> We reserve the right to randomly record telephone calls to ensure that our customer service is constantly reviewed. By accepting these terms and conditions, you accept and consent to this practice. In addition, when Hashtag Travels customer service agents answers the phone, the following initial announcement will be made: “For training and quality purposes we may record your call.” These recordings will only be used for the purpose of controlling the quality of our customer service.</p>

			<h2 class="corporate__title">HASHTAG REWARDS</h2>
			<p> The Hashtag Rewards system is based on purchase value and loyalty, allowing you to earn points and redeem them towards discounts and products on the Hashtag Travels website. For more information on how to earn or redeem rewards or discounts, please check the full program details <a href="http://hashtagtravels.de/hashtag-travels/web/hashtag-rewards">here</a></p>

			<h2 class="corporate__title">PRIVACY POLICY</h2>

			<p>Hashtag Travels SA believes in protecting your privacy. Please <a href="http://hashtagtravels.de/hashtag-travels/web/privacy-policy">click here</a> to review our current Privacy Policy, which also governs your use of the Hashtag Travels Website. You acknowledge that you have read and are fully aware of the contents of such privacy policy and accept its enforceability. By proceeding with your travel booking, you confirm that you have read, understood and accept the terms of the privacy policy. You must keep secure any means of identification which we supply to you in order to use services on this site. You must supply accurate and complete information when using this site.</p>

			<h2 class="corporate__title">CHANGE AND CANCELLATION – by the Customer</h2>

			<p><strong>Cancellation</strong></p>
			<p>Cancellations are subject to the general terms and conditions of the concerned Service Provider. As a general rule, these contracts cannot be modified or cancelled without payment of cancellation, modification or administrative fees. Cancellations can be made either by telephone by calling +41 21 909 0000 or by emailing support@hashtagtravels.com. All such requests will be dealt with on behalf of the service provider concerned. The Customer does not have an automatic right of cancellation unless such rights are provided by the individual Suppliers under their Rules and Restrictions (which are provided to the Customer prior to booking) The refundable portion of your booking price (if any) will be refunded to you and to the extent we are refunded by the travel supplier. We shall pass this refund onto you after deducting our cancellation fee.</p>
			<p>In case of cancellation, the Hashtag Travels fees taken during booking process are not refunded.</p>
			<p>In the event of cancellation or partial cancellation of a booking by the Customer, compensation may be required from the Customer to cover the costs of the booking process travel arrangements already made. In addition to this, charges may be imposed by the applicable Suppliers. Where a cancellation affects more than one person on the booking, any applicable cancellation charge will be applied in respect of each person on the booking. In some cases, compensation for cancellation payable to the applicable Suppliers can amount to the full value of travel booked, so that no reimbursement to the Customer is made. Partial cancellation, i.e. cancellation of a particular arrangement, without losing the value of the particular arrangement may not be possible.</p>
			<p>If the Customer does not present himself / herself at the departure of the trip, refunds will only be due to the Customer in line with the Rules and Restrictions of the applicable Suppliers as notified in the booking process.</p>
			<p>We reserve the right to cancel your booking if full payment is not received in a timely fashion.</p>

			<p><strong>Changes</strong></p>
			<p>If after making the booking the Customer wants to change the trip with respect to the date of travel, the destination, the place where the trip starts, the accommodation or the means of transport, the Customer should call +41 21 909 0000 or email support@hashtagtravels.com. All changes are subject to availability, limitations and restrictions of the relevant travel supplier.</p>
			<p>If the change means that the cost of your booking has increased, if, for example, you wish to upgrade to a more expensive hotel, you will need to pay such extra costs. However, if the change means that the cost of your booking has reduced, you are not eligible for a refund of the difference from us.</p>
			<p>If you wish to change or cancel any part of your booking, a Hashtag Travels administration fee will apply. As detailed in the relevant sections below:</p>
			<p>The mentioned fees and all premiums paid for insurance arranged by us on your behalf are in all cases non-refundable.</p>

			<p><strong>Change and cancellation for flights</strong></p>
			<p>The cancellation or change of the contract by the customer (for example: change or cancellation of reservations) is subject to the general terms and conditions of the Service Provider concerned. As a general rule, these contracts cannot be modified or cancelled without payment of cancellation or modification fees. These fees can amount up to the whole of the price of the cancelled or modified service.</p>
			<p>In addition to the modification or cancellation fees charged by the Service Provider, Hashtag Travels charges in any case modification or cancellation fees respectively amounting CHF 50- per ticket. This rule is valid in case of ticket modifications or cancellations, as well as for airport taxes refunds.</p>
			<p>The mentioned fees and all premiums paid for insurance arranged by us on your behalf are in all cases non-refundable.</p>
			<p>Modifications of reservations are possible subject to availability of seats on new dates and only before issue of the travel documents.</p>
			<p>In certain cases air tickets are subject to restrictions. Depending on the type of tariff, some tickets cannot be modified or refunded once they are issued. In other cases, and subject to a penalty payment, the airline used may agree to change the dates of reservation.</p>
			<p>Cancellation and modification fees are imposed by the airlines. In case of the cancellation by the customer before departure, the penalties vary from 0 to 100% of the ticket price, depending on the type of tariff used.</p>
			<p>When you as the customer interrupt or modify your journey, any unused legs are, in general, not refundable. In that case, airlines are not refunding airport taxes. For round trip tickets, all sections of the journey must be flown; as this is subject to the cancellation terms of the airline you have booked with us, you should confirm those details with the airline. If the outbound portion of your journey is not used, usual practice is for airlines to cancel all subsequent legs and tickets will become invalid.</p>
			<p>The cancellation and amendment terms of low cost flights are the applicable terms of the airline. You need to contact the airline directly to cancel or make amendments to low cost flights. Usually fares for low cost flights are non-refundable. In the event that you decide to cancel your low cost flight all premiums paid for insurance arranged by us on your behalf, our booking fee and any amendment charges are non-refundable. In case of low cost flights combined with cars, please refer below for car change and cancellation conditions.</p>
			<p>If the reason for your cancellation is covered by the terms of any insurance policy you have booked, you may be able to reclaim any applicable non-refunded fares or cancellation charges from the insurers.</p>

			<p><strong>Change and cancellation for hotels</strong></p>
			<p>Your chosen hotel will typically have its own cancellation policy per room which we will display to you on the trip details page before you book. Hashtag Travels does not charge you any cancellation fee; only the potential cancellation fee of the hotel partner may apply. For any hotel booking change, Hashtag Travels does not charge you any fee either. The credit card fees and all premiums paid for insurance arranged by us on your behalf are in all cases non-refundable.</p>

			<p><strong>Change and cancellation for rental cars</strong></p>
			<p>Your chosen car rental company has its own cancellation policy. On top of the car rental company cancellation fee, Hashtag Travels will charge CHF 100.- cancellation or modification fee.</p>
			<p>No refund is possible in the following cases:</p>
			<p>a) If you miss to pick-up your car (no-show).  b) If you cancel within 48 hours prior the day of the scheduled car rental pick up.  c) If you return your car before the end of the reserved rental period.</p>
			<p>The mentioned fees and all premiums paid for CDW insurance arranged by us on your behalf are in all cases non-refundable.</p>

			<p><strong>Change and cancellation for deals</strong></p>
			<p>If you wish change or cancel any part of your deal package, individual product change and cancellation rules will apply. In addition, changes and cancellations are subject to the general terms and conditions of the concerned Service Provider. As a general rule, these contracts cannot be modified or cancelled without payment of cancellation, modification or administrative fees. In case of a package including a low cost flight, the trip can neither be modified nor refunded. The mentioned fees and all premiums paid for insurance arranged by us on your behalf are in all cases non-refundable.</p>

			<p><strong>Change and cancellation for insurances</strong></p>
			<p>After being sold, insurance cannot be cancelled. The mentioned fees and all premiums paid for insurance arranged by us on your behalf are in all cases non-refundable.</p>

			<p><strong>Reimbursements</strong></p>
			<p>In the event of a refund to the Customer after the above deductions, the relevant amounts will be transferred back by the party that took the original payment (such as Hashtag Travels, a Supplier, or such other party as may appear on Customer's credit card or bank statement) to the payment card used to make the original booking. Any booking charges applied will not be eligible for reimbursement. Customers should note that refund of flight bookings may take up to 6 months.</p>

			<p><strong>Restricted Fares</strong></p>
			<p>Unless otherwise stated by the Customer, it is assumed that the Customer requires the least expensive Services. Such services (e.g. "economy class") may be provided without any possibility of modification or cancellation. In such cases, the Services cannot be provided in a different manner or at a different time or place to those contracted.</p>

			<h2 class="corporate__title">CHANGE AND CANCELLATION - by Hashtag Travels</h2>
			<p>Hashtag Travels will inform Customers immediately of changes or differences to their travel arrangements. Changes or differences to the travel contract that become necessary after the contract has been concluded and are not brought about by Hashtag Travels in bad faith are permitted insofar as the changes or differences are not significant and they do not affect the overall character of the trip booked. Flight time information cannot be considered binding. The same rights apply to the altered arrangements as applied in respect of the original arrangements.</p>
			<p>In case of a significant change, you have the following options: You may accept the changes or you may withdraw from the contract. If you withdraw from the contract, you have the following options: You may get a full refund, or a package of equivalent or higher quality if we are able to provide them, or package of lower quality plus a refund of the difference in price.  Significant changes are normally regarded as: i) A change in your Swiss departure airport;</p>
			<p>ii) A change of more than 12 hours in your departure time from Switzerland;</p>
			<p>iii) A change in your resort area overseas;</p>
			<p>iv) A change of accommodation to a lower classification than that which you have booked; or</p>
			<p>v) A price increase of more than ten percent.</p>
			<p>Generally low cost flight fares are not refundable. In case you decide to cancel your low cost flight, the insurance which we have organised in your name, our booking fees and the change fees are not refundable.</p>
			<p>In the unlikely event that your booking has to be cancelled, a full refund will be made of all monies (except insurance premiums) previously paid to us to the person/s who originally paid for the booking.</p>
			<p>In the unlikely event that we have to cancel a deal, you have the following options: You may get a full refund, or a deal of equivalent or higher quality if we are able to provide it, or deal of lower quality plus a refund of the difference in price.</p>
			<p>Should your flight be cancelled, your rights and remedies will be governed by the airline's conditions of carriage. As a result you may be entitled to:</p>
			<p>(a) carriage on another flight with the same airline without additional costs;</p>
			<p>(b) re-routing to your destination with another carrier without additional costs;</p>
			<p>(c) receiving a full refund;</p>
			<p>(d) some other right or remedy.</p>
			<p>Flight times shown are subject to change by the airline which may not be obligated to provide an alternative/refund.  Changes by Hashtag Travels: during travel</p>
			<p>If, after the Customers' departure, a significant part of their pre-booked holiday arrangements cannot be provided, Customers will be offered a suitable alternative if possible at no additional cost to them. If it is not possible to offer Customers a suitable alternative or Customers do not accept the alternative arrangements for good reason, Hashtag Travels will return Customers to the place of their departure or to another location to which they agree. If appropriate, Hashtag Travels will also pay compensation to Customers. The amount of compensation will be reasonable, taking account all the circumstances.</p>

			<p><strong>Issues During Travel - Redress and obligation to co-operate</strong></p>
			<p>If the trip is not implemented in accordance with the contract, the Customer can ask for redress during the trip. The Customer's co-operation is necessary here. Customers are therefore obliged to do everything reasonable to resolve the fault. Customers must avoid damage where possible, or at least use all reasonable endeavours to limit it. Customers are obliged to report deficiencies in the trip. If the trip documents do not refer to a local representative, please contact Hashtag Travels directly to report any problems. Quote in any case the trip number, the destination and the dates of travel.</p>
			<p>Customer Service tel: +41 21 909 0000  e-mail: support@hashtagtravels.com  Lines open: daily from 08.30 - 18.00 CEST</p>
			<p>Hashtag Travels, or any relevant local representative, will use prompt efforts to find appropriate solutions to any reported problems. Hashtag Travels will not be responsible for any issues arising as a result of circumstances that cannot be attributed to Hashtag Travels.</p>

			<p><strong>Supplier Rules and Restrictions</strong></p>
			<p>Hashtag Travels works with Suppliers of travel products such as airlines and hotels, but does not control these Suppliers. The Services are subject to the Rules and Restrictions of the Suppliers offering the travel products. The Rules and Restrictions of Suppliers of air transport services and accommodation services are made available prior to making a booking.</p>
			
			<p><strong>Force Majeure</strong></p>
			<p>If an unforeseen force majeure event which could not have been avoided if all due care had been exercised impedes implementation of the trip to a major extent, endangers it or interferes with it, then either party can terminate the contract. Where Hashtag Travels is the party affected by the force majeure, Hashtag Travels will provide Customers with prompt assistance and take the necessary measures to bring Customers back to the place where their package started. Any additional costs of the return transport will be covered by Hashtag Travels. Where Customers are the party affected by the force majeure, Hashtag Travels will not be obliged to refund them any sum for services which have not yet been performed. Customers will also be responsible for paying any additional costs associated with getting back to the place where their package began.</p>

			<h2 class="corporate__title">FLIGHTS</h2>

			<p>It is your responsibility to ensure that all details of the booking are correct before proceeding. It is your responsibility as well to check that the name on your passport matches the name on your ticket and/or booking confirmation. First and family names must not be inverted. You must notify us immediately if you change your email address or contact telephone number after making a booking with Hashtag Travels.</p>

			<p><strong>E-tickets</strong></p>
			<p>With effect from 1 June 2008, as a result of a decision made by IATA and all airlines, it is no longer possible for travel agencies to issue paper tickets. This means that Hashtag Travels (as with all other travel agencies) is only able to issue e-tickets.</p>
			<p>The vast majority of all tickets today are able to be issued as e-tickets and the airlines are working to make tickets 100% e-ticketable for travel agencies. Occasionally where it is not possible for us to issue an e-ticket, the following will apply: The finalisation of your booking will be subject to technical capacities of the airlines concerning e-ticket. In the unlikely event of a failure to issue the e-ticket (airline not offering e-ticket functionality), Hashtag Travels will cancel your booking in its entirety, will refund you all monies paid, no contract will be deemed to have existed and Hashtag Travels will have no further liability to you. If this should prove necessary, Hashtag Travels will provide you with possible suitable alternatives.</p>

			<p><strong>Low cost flights</strong></p>
			<p>Our booking fee for low cost flights will be debited from you at the time of booking. We shall dispatch a confirmatory invoice to you which shall confirm your booking. The airline will debit payment from you for the flight fare and taxes.</p>
			<p>Low cost airlines may also charge additional fees such as credit card fees, fees for checked baggage, for printing the boarding pass at the airport, for reserving specific seats and for in-flight food and drink. During the booking process you will be advised of the amount of our booking fee and the credit card fees.</p>
			<p>Some low cost airlines can charge in foreign currency. Depending on the exchange rate and the commission charged by the credit card, the total amount in CHF can be slightly different from the one on the confirmation. This difference cannot be paid by Hashtag Travels. Regarding the luggage check-in with low cost airlines, Hashtag Travels advise you to contact the concerned airline prior to departure, in order to add the baggage to your booking. The additional fees for this service will be communicated by the airline. You can choose also to check-in your luggage directly at the airport on the day of departure. In this case the additional fees for the luggage check-in might be more expensive.</p>
			<p>Some low cost airlines require their passengers to check in online and to print their boarding passes in advance. Additional fees may be charged if the airline has to print the boarding pass for the passengers at the airport.</p>

			<p><strong>Flying times</strong></p>
			<p>In your itinerary from Hashtag Travels, flight times are given for guidance only. All departure/arrival times on your flight ticket are provided by the airlines concerned and are estimates only. They may change due to air traffic control restrictions, weather conditions, operational/maintenance requirements and the requirement for passengers to check in on time.</p>
			<p>Unless your flight is booked as part of a package, we are not liable if there is any change to a departure/arrival time previously given to you or shown on your ticket or for any other alteration to your flight by the relevant airline. Also, please note that where a sector of a flight itinerary is not utilised without contacting the carrier directly any remaining sectors may be subject to cancellation without further notification. Where this situation arises we are unable to accept responsibility for any costs incurred. For all air travel it is your responsibility to check the departure and arrival times of your flights at the time of travel.</p>
			<p>We are unable to make any special arrangements for you if you are delayed as these matters are at the sole discretion of the airline concerned. Please note that the times shown on your ticket or itinerary are the departure times of the flight. Check-in times, as advised by the carrier or in the airlines’ timetable are the latest times are given for guidance only and are generally the latest times at which passengers can be accepted for travel, allowing the necessary time to complete all formalities. Flights cannot be held up for passengers arriving late and no responsibility can be accepted by us or the airline in such cases.</p>

			<p><strong>Seat requests</strong></p>
			<p>We have no control over the airlines’ allocation of seats and so, if you have particular seat requests, you should check-in at the airport as early as possible. We cannot guarantee that the airline meets your requests. Major airlines allow more and more an online check-in about 24 hours before departure time.</p>

			<p><strong>Direct flights</strong></p>
			<p>Please note that a flight described on your flight ticket as "direct" will not necessarily be non-stop. A flight that is described as direct is one where there is no need to change aircraft during the journey.</p>

			<p><strong>Pregnancy and children</strong></p>
			<p>Some airlines refuse to carry women who will be 28 weeks or more pregnant on the date of return travel. Please check with the airline concerned as their rules may vary and also consult your doctor. Infants must be 6 weeks old or more to travel by air and must either sit on an adult's lap or occupy an infant seat. Please contact the airline you are travelling with for details of appropriate seats. Generally children aged 2 years or more must occupy a seat. A child must be under 2 years of age on the date of their return flight to be entitled to the infant fare level which is usually 10% of the International Air Transport Association’s (or IATA's) published fare. Children must be under 12 of age on the date of their return flight to be entitled to the children fare level which is usually 33% of the International Air transport Association’s (or IATA’S) published fare.</p>
			<p>If you wish to book a flight for an unaccompanied minor (UMNR), you must inform the airline in advance according to the conditions imposed by them. In case of disputes, Hashtag Travels shall not be liable for the reimbursement of possible costs imposed by the airline.</p>

			<p><strong>Government imposed taxes, fees and charges</strong></p>
			<p>The price of your flight includes all government imposed taxes, fees and charges. If departure taxes of your return flight are to be paid locally such have to be paid in the country of departure. In some cases departure taxes must be paid by you locally to the Government of the country you are departing from and are therefore non-refundable by us.</p>

			<p><strong>Community list</strong></p>
			<p>In accordance with European regulations we are required to bring to your attention the existence of a 'Community list', which contains details of air carriers that are subject to an operating ban within the European Community. The Community list is available for inspection at http://www.easa.eu.int/ws_prod/index.html.The Community list has been adopted by Switzerland.</p>
			<p>We reserve the right to change your airline in the event that the airline is blacklisted under the EU regulations. Any changes to the actual airline after you have received your tickets will be notified to you as soon as possible and in all cases at check-in or at the boarding gate.</p>

			<p><strong>Baggage</strong></p>
			<p>You will usually be permitted a free checked baggage allowance and a free cabin baggage allowance, the limits of which may differ by airline, class and/or route. It is recommended that cabin baggage is kept to a minimum. Extra charges may apply for checked baggage in excess of the permitted allowance. Please ask the airline for more specific information as these rules vary from time to time. You can refer to http://www.iata.org/bags for information and links. For safety reasons dangerous articles must not be packed in checked or cabin baggage. Restricted articles include, but are not limited to, all knives (including household cutlery), sharp objects or cutting implements of any kind and of any length, whether of metal or other material, box cutters, corkscrews, straight razors, metal nail files, scissors of any kind and of any length, hypodermic needles (unless required for medical reasons) knitting needles, real/replica/toy weapons (whether plastic or metal), compressed gases, corrosives, explosives, flammable liquids and solids, radioactive materials, oxidising materials, poisons, infectious substances and briefcases with installed alarm devices.</p>
			<p>Passengers requiring the use of medical syringes in flight such as diabetics and other passengers with documented proof of medical need must ensure that it is professionally packed and labelled. If it is not, the medication is likely to be removed.</p>
			
			<p><strong>Denied boarding, cancellation or flight delays</strong></p>
			<p>Under European and Swiss law you have rights in some circumstances to refunds and/or compensation from your airline in cases of denied boarding, cancellation or delay to flights. Full details of these rights will be publicised at European airports and will also be available from airlines. However reimbursement in such cases is the responsibility of the airline.</p>

			<h2 class="corporate__title">ESTA</h2>
			<p>If you are travelling to the USA or are in transit via this country, please review the US Government entry regulations and apply online at least 72 hours prior to leaving through the ESTA system (Electronic System for Travel Authorisation). Download form</p>
			<p>Hashtag Travels cannot be held responsible for an embarkation refusal or refusal of entry.</p>

			<h2 class="corporate__title">HOTELS</h2>

			<p>For all hotels, we act as an agent on your behalf and Hashtag Travels will dispatch a confirmation invoice to you which shall confirm your booking with the hotel. The hotel will debit payment from you for the accommodation at the time of checkout. You will be advised of all such amounts during the booking process.</p>
			<p><strong>Star ratings</strong></p>
			<p>Star ratings are used to symbolise the overall quality, level of service, food standard and range of facilities available in any given hotel property. The criteria applied within each country will vary depending on the specific requirements established by the relevant issuing body and are provided to you for information purposes only. As the rating is not issued by Hashtag Travels, Hashtag Travels may not be held liable for the classification of any hotel facilities and are therefore no guarantee or warranty of any kind by Hashtag Travels.</p>
			<p><strong>Hotel security reasons</strong></p>
			<p>For security reasons, at least one adult (min. 18 years old) must stay in each room which has been booked. In certain destinations the legal minimal age to stay in a hotel might be higher. Also, in certain countries, some local laws or customs may not allow a non-married couple to share the same hotel room. Please read the detailed description of the hotel for other hotel policies applicable to your stay. In case of doubt please check with Hashtag Travels or directly with the hotel. Hashtag Travels cannot be made responsible in case the hotel does not accept the booking. We are not responsible for any limitation in facilities because of other hotel guests or their activities. Hashtag Travels only displays the hotel information received from the hotel and does not take responsibility for hotel content (including images, facility listings, etc.) displayed on our website. Hotels may change facilities and property features without prior notice to Hashtag Travels or you and it is your responsibility to confirm facilities directly with the hotel at the time of travel.</p>
			<p><strong>Unavailability</strong></p>
			<p>Where we are unable to confirm the initial requested accommodation, we will contact you to inform you of the details of alternative accommodation or lack of availability. At that time you will have the option to accept the alternative accommodation or get a refund of the total monies paid to us by you for your original booking.</p>

			<h2 class="corporate__title">CAR RENTAL</h2>

			<p><strong>Minimum age</strong></p>
			<p>For most locations the minimum age is 25 (in USA, minimum age can be 18 or 21). In case of underage driver, the surcharge will depend on the size of car you hire and the location. All underage driver surcharges need to be paid locally to the supplier and are non-refundable. You will be advised of this possibility during the booking process.</p>
			
			<p><strong>Maximum age</strong></p>
			<p>There are very few locations which have an upper age limit. These can vary from the age of 60 upwards. If you are over the age of 60 it is your responsibility to check with the rental supplier for eligibility. If you fail to check and you are over the age limit you may not be given the car.</p>

			<p><strong>Rental deposit</strong></p>
			<p>Rental agencies only accept credit cards for securing your deposit at the rental location. You must use a credit card and it must be the main driver’s credit card. Prepay credit cards and withdraw/debit cards (Switch, Aurore, Visa electron, Maestro, etc.) are not accepted. We will not be liable for any compensation or otherwise if you do not have a valid credit card with sufficient fund for deposit at the time of collecting your car and are refused rental by the supplier.</p>

			<p><strong>Driving licence</strong></p>
			<p>A valid driving licence is required for all drivers. The licence must be valid at the time of rental and remain valid throughout the rental period. We will not be liable for any compensation or otherwise if you fail to show a valid driver’s licence to the supplier and are refused rental. Please note that for certain countries, you need an international driving licence in addition to your national country licence (both need to be presented at car pick-up). This is your responsibility to check if necessary.</p>

			<p><strong>Additional charges</strong></p>
			<p>Note that the rental company will be entitled to charge to your credit card any services used which were not included in the pre-paid voucher, such as petrol and/or additional driver, for example. You will be advised of this possibility during the booking process.</p>
			<p>Contracted prices do not allow for refunds for un-used days and the rental company may charge an additional cost if the vehicle is returned before the established date if the new rental period represents a price change or is more expensive than the contracted price.</p>
			<p>There will be an additional fee payable to the supplier when returning the vehicle to a city other than the city where the vehicle was collected. This so called “one way fee” needs to be paid on the spot to the car supplier display directly. You will be advised of this possibility during the booking process.</p>
			<p>Price increases due to charges imposed by third parties</p>
			<p>If our car suppliers’ costs are increased for any of the following reasons, you will be charged this extra amount at the time of your rental. As these are imposed by third parties on our car suppliers, this extra cost cannot be avoided. Such costs may be:</p>
			<ul class="corporate__ul">
				<li>Airport fees increases</li>
				<li>Surcharge increases</li>
				<li>VAT (or other applicable sales tax) increases</li>
			</ul>
			<p>You will be advised of this possibility during the booking process.</p>
			<p><strong>Excess waiver</strong></p>
			<p>Although our rates are fully inclusive there may be an excess to pay. This means in the event of an accident/damage or theft, the driver will be expected to pay an agreed on percentage share/participation of the claim. This can vary depending on the car you hire and the destination you are travelling to and the insurance coverage you chose.</p>
			<p><strong>Late return of your vehicle</strong></p>
			<p>The rental rate is calculated based on the return time agreed when picking up the vehicle. If the vehicle is kept longer than originally planned, you may have to pay an extra charge. You will be advised of this possibility during the booking process. Should you wish to extend the rental period, you should contact the rental company directly.</p>
			<p><strong>Rental agreement</strong></p>
			<p>The rental agreement is given to you to sign when you pick up your vehicle and will be subject to local law. This has all the information about your rental. It is your responsibility to check this document carefully before you sign it and keep a copy. Hashtag Travels will not be liable in relation to any breach of this agreement.
			Child safety seats</p>
			<p>Local laws may prescribe the use of Child safety Seats. In Switzerland, for example, children up to their 7th birthday must be restrained in a suitable seat, preferably in the rear of the vehicle. Children between 7 and 12 years must be restrained in a suitable seat or wear a seat belt. It is the responsibility of the driver of the vehicle to comply. The availability of Child safety Seats cannot be guaranteed by Hashtag Travels and fees for them are never included in the price offered by Hashtag Travels. The individual terms and conditions of the car supplier set out the charge for a child safety seat</p>

			<h2 class="corporate__title">DEALS</h2>

			<p>A deal is a pre-arranged combination lasting more than 24 hours or including at least one overnight stay and consisting of at least two of the following: (a) transport (b) accommodation or (c) another tourist service forming a significant part of your booking and those two or more components are sold to you as a whole at the same time by us at a total price. There is also a deal in the sense of the former sentence if individual travel products and services are separately priced within the same package. The contract is in that case concluded between you and Hashtag Travels.</p>
			<p>If you booked a deal, the following special rules apply. These special rules overrule all other rules in these General Terms and Conditions insofar as such latter rules are inconsistent with the special rules. In all other respects, all other rules in these General Terms and Conditions remain valid.</p>
			
			<p><strong>Online deals</strong></p>
			<p>We explicitly reserve the right to change the conditions of our online package offers. You will be explicitly advised of this reservation on the offering site.</p>

			<p><strong>Consumer information / Package Contract</strong></p>
			<p>Before concluding the contract, we will provide you with a written copy of the contractual terms, including the General Terms and Conditions and similar documents. We will inform you about the passport and visa requirements, if any, in particular the time necessary to procure these documents. We will inform you about the health requirements imposed by the authorities, if any.</p>
			<p>In good time before you begin your holidays, we will inform you about the travel details, the details of our local representative or, if there is none, the details of a local authority that may help you in case of problems or, if there is none, an emergency phone number or an emergency contact person.</p>
			
			<p><strong>Price increases</strong></p>
			<p>Hashtag Travels reserves the right to increase the prices of packages under the following conditions: The price of your package may be subject to upward or downward variation and you may be subject to a surcharge payable (or entitled to a refund respectively) on the price quoted in your confirmatory invoice, if such variations are due to changes in the following: transportation costs (e.g. airfares, the cost of fuel, labor charges, government regulation or safety or security reasons); government action such as changes in dues and taxes (including VAT); or fees payable for services (e.g. landing taxes or embarkation/disembarkation fees at ports and airports) or to reflect fluctuations in exchange rates. No such price increase will be made less than 3 weeks before your departure date.</p>

			<h2 class="corporate__title">INSURANCES </h2>

			<p>The prices on the Website do not include travel insurance. Hashtag Travels can provide you with insurance cover through Allianz Global Assistance ELVIA, ELVIA covers the costs of cancellation and of assistance in case of illness, accident or decease of the insured person, of his/her partner or of a member of the family on presentation of a medical certificate / official attestation. ELVIA also offers a “Collision Damage Waiver (CDW)” which covers the excess on damage or excess on theft of your rented vehicle. It is the Customer's responsibility to ensure any insurance policy taken out is adequate to cover their requirements. For more information and to see their policies <a href="">click here</a>. Claims must be submitted directly to the insurance company in accordance with the terms and conditions of the policy. Customers can contact Allianz Global Assistance, quoting their reference number, on +41 21 or email at Allianz@.... .com </p>

			<h2 class="corporate__title">CUSTOMER SERVICE </h2>
			<p>For quick answers to your questions please contact our Customer Service Centre on +41 21 909 0000. </p>
			<p>Or, you can write to us at: </p>
			<p>Attn: Customer Service Department  - Hashtag Travels SA  - Avenue des Baumettes 23 1020 Renens  - Lausanne, Switzerland</p>

			<h2 class="corporate__title">GOVERNING LAW AND JURISDICTION </h2>
			<p>These terms and conditions are governed by the laws of Switzerland. The Customer agrees that the Courts of Lausanne, Switzerland shall have jurisdiction to hear and determine any legal dispute against Hashtag Travels SA. </p>

			<h2 class="corporate__title">CHANGES TO GENERAL TERMS AND CONDITIONS </h2>
			<p>Hashtag Travels SA reserves the right to change or update the Terms and Conditions relating to the use of this Website without prior notice to the Customer. The current version of the Terms and Conditions will be displayed within the Website from the date on which any changes come into effect. Continued use of the Website following any changes to the Terms and Conditions shall constitute the Customer’s acceptance of such changes.<p>

			<h2 class="corporate__title">LIABILITY</h2>
			<p>Hashtag Travels does not limit its liability for (i) loss caused by its fraud or fraudulent misrepresentation (ii) loss arising from death or personal injury caused by its negligence; or (iii) any other loss that may not be excluded or limited by applicable law. Otherwise Hashtag Travels shall be liable only for losses which arise directly: (a) from its breach of a legal duty of care; or (b) are a result of its breach of these General Terms and Conditions, and that liability is at all times limited to a sum equivalent to three times the cost of the relevant travel product.</p>
			<p>Claims against Hashtag Travels for compensation are limited or excluded insofar as international treaties or other legal regulations that limit or exclude liability apply to the arrangements to be provided. Liability for air transport is governed by the applicable stipulations of international treaties including Warsaw, Montreal and The Hague Convention. These treaties limit the liability of the air carriers for death or causing physical injury (in respect of non-EU airlines only) as well as for the loss of or damage to baggage. Liability in the case of carriage by ship is also governed by the relevant legal or treaty stipulations.</p>
			<p>The information displayed on this Website has been provided by the respective Suppliers, and Hashtag Travels does not accept any liability for any inaccuracies. Customers must ensure that they verify all information given before booking.</p>
			<p>Customers should note that all hotel ratings shown are intended as guidance only and may not be an official rating or be in line with Swiss classification. Hashtag Travels does not accept any liability in relation to the ratings shown.</p>
			<p>If, despite the limitation above, Hashtag Travels are found liable for any loss or damage which arises out of or in any way connected with any of the occurrences described above, then the liability of Hashtag Travels and/or their respective suppliers will in no event exceed, in the aggregate, the greater of (a) the service fees you paid to Hashtag Travels SA in connection with such transaction(s) on this Website, or (b) One-Hundred Swiss Francs (CHF100.00) or the equivalent in local currency.  The limitation of liability reflects the allocation of risk between the parties. The limitations specified in this section will survive and apply even if any limited remedy specified in these Terms of Use is found to have failed of its essential purpose. The limitations of liability provided in these Terms of Use inure to the benefit of Hashtag Travels and/or their respective suppliers.</p>
			<h2 class="corporate__title">DISCLAIMER</h2>
			<p>Except as expressly set out in these General Terms and Conditions, all the information contained in this Website is provided without any warranty (either express or implied) or implied term of any kind, including but not limited to any implied warranties or implied terms of satisfactory quality, fitness for a particular purpose or non-infringement. All such implied terms and warranties are excluded. By accessing this Website, the Customer agrees that Hashtag Travels will not be liable for any direct, indirect or consequential loss arising from the use of the Website, any delay or inability to use the Website, or from the Customer's use of links from the Website. The exclusions and limitations contained in this clause apply only to the extent permitted by law.</p>
			<p>© 2014 Hashtag Travels SA. All rights reserved</p>
		</div>
	</div>

</div>

{% endblock %}
