<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>#travels - Flight</title>
	<style>
		* { margin: 0; padding: 0; text-decoration: none; list-style: none; }
		body {
			font-family: 'Helvetica', Arial, Tahoma, Verdana, sans-serif;
			font-size: 14px;
			color: #666;
		}
		.btn {
			display: inline-block;
			padding: 0 20px;
			text-align: center;
			color: #fff;
			line-height: 50px;
			background: #24B8E6;
		}
		.btn:hover {
			background: #fff;
			color: #24B8E6;
		}
		hr {
			border: 0;
			border-top: 1px solid #ccc;
		}
	</style>

	<script src="{{app.config.staticpath}}/vendor/angular.js"></script>
	<script src="{{app.config.staticpath}}/vendor/angular-cookies.js"></script>
	<script src="{{app.config.staticpath}}/vendor/angular-local-storage.js"></script>
	<script src="{{app.config.staticpath}}/vendor/moment-with-langs.js"></script>
	<script src="{{app.config.staticpath}}/js/HashtagControllers.js"></script>
	<script src="{{app.config.staticpath}}/js/HashtagServices.js"></script>
	<script src="{{app.config.staticpath}}/js/HashtagConstants.js"></script>
	<script src="{{app.config.staticpath}}/js/HashtagFilters.js"></script>
	<script src="{{app.config.staticpath}}/js/FlightService.js"></script>
	<script src="{{app.config.staticpath}}/js/FlightSearchApp.js"></script>
</head>
<body>

	<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center">

		<thead>
			<tr>
				<th bgcolor="#f2f2f2" height="60" style="padding-left:20px" align="left"<a href="http://www.hashtagtravels.com" target="_blank"><img src="{{app.config.staticpath}}/img/print-emails/logo-travels.png" alt="Hashtag Travels" width="156" height="34"></a></th>
				<th bgcolor="#f2f2f2" height="60" style="padding-right:20px" align="right"><strong>Welcome aboard. Fasten your seatbelts.</strong></th>
			</tr>
		</thead>

		<tbody ng-controller="print-details" ng-app="FlightSearchApp">
			<tr>
				<td align="center" colspan="2">
					<table width="600" align="center" cellspacing="0" cellpadding="0" border="0">

						{% if confirmation is defined %}
						<tr>
							<td>
								<font size="3">

									<font size="5" color="#427DC6"><strong>Dear {[{completeDetailedPassengers[0].personalDetails.firstName}]}.</strong></font>
									<br><br>

									Your reservation is confirmed!<br/>
									Here is a summary about your trip and some details you should know.
								</font>
								<br><br>
							</td>
						</tr>

						<tr>
							<td align="center" height="60" bgcolor="#F2F2F2" style="border: 1px solid #dedede; color: #000">
								<font size="4">
									Confirmation number: <font size="5"><strong>{[{pnr.pnr}]}</strong></font>
								</font>
							</td>
						</tr>

						<tr>
							<td height="40" valign="middle" align="center" style="font-weight: bold">
								<a href="javascript:window.print()" style="color: #427DC6"><img src="{{app.config.staticpath}}/img/print-emails/icon-print.png" alt="" style="position: relative; top: 3px"> Print this page</a>
							</td>
						</tr>
						{% endif %}

						<tr>
							<td>

								<div class="box" style="margin: 40px 0 -20px;">

									<font size="5" color="#427DC6"><strong>Flight details</strong></font>
									<hr style="margin-top: 5px"><br>

									<table ng-repeat="(i, flight) in selectedFlights" width="100%">
										<tr>
											<td colspan="2" style="background: #F2F2F2; padding: 10px; border: 1px solid #dedede; font-size: 12px;">
												<span><strong>{[{airports[flight.segments[0].origin].city}]} ({[{flight.segments[0].origin}]})</strong> <small>to</small> <strong>{[{airports[flight.segments[flight.segments.length-1].destination].city}]} ({[{flight.segments[flight.segments.length-1].destination}]})</strong></span>
											</td>
										</tr>
										<tr ng-repeat="(j, segment) in flight.segments">
											<td style="vertical-align: top; padding-top: 40px; padding-right: 10px;">
												<img ng-src="https://www.gstatic.com/flights/airline_logos/35px/{[{segment.carrier.code}]}.png" alt="{[{segment.carrier.code}]}">
											</td>
											<td style="padding-top: 40px;">
												<strong>{[{segment.departure | formatDate:'HH[h]mm'}]}  departure, </strong>{[{segment.departure | formatDate:'DD MMM'}]}<br/>
												<small>{[{airports[segment.origin].city}]} ({[{segment.origin}]}) <span class="dif">•</span> {[{segment.carrier.code}]} {[{segment.flightNumber}]}<span class="dif">•</span> {[{segment.cabinClass.code | cabinClass}]} <span class="dif" ng-if="segment.flightDetails.equipament">•</span> {[{segment.flightDetails.equipament}]}</small><br/><br/>

												<strong>{[{segment.arrival | formatDate:'HH[h]mm'}]}  arrival, </strong>{[{segment.arrival | formatDate:'DD MMM'}]}<br/>
												<small>{[{airports[segment.destination].city}]} ({[{segment.destination}]})</small>

												<div style="margin: 20px 0 0 0; height: 36px;">
													<div ng-if="j < flight.segments.length-1">
														<span style="padding: 10px; border: 1px solid #e5e5e5; -webkit-border-radius: 5px; border-radius: 5px; font-size: 12px; display: inline-block; background: white;">
															<strong layover to="flight.segments[j+1].departure" from="segment.arrival"></strong> 
															<strong>layover</strong> - {[{airports[segment.destination].city}]}
														</span>
														<span style="height: 1px; display: block; background: #e5e5e5; margin-top: -18px;"></span>
													</div>
												</div>
											</td>
										</tr>
									</table>

								</div>

								{% if confirmation is defined %}
								<div class="box" style="margin-bottom: 40px">

									<font size="5" color="#427DC6"><strong>Passengers</strong></font>
									<hr style="margin-top: 5px"><br>

									<font color="#000">
										<table ng-repeat="(i, passenger) in completeDetailedPassengers" width="100%">
											<tr height="30">
												<td width="15%"><strong>Name</strong></td>
												<td>{[{passenger.personalDetails.firstName}]}</td>
											</tr>
											<tr height="30">
												<td><strong>Phone</strong></td>
												<td>+{[{passenger.personalDetails.phoneCode}]} {[{passenger.personalDetails.phoneNumber}]}</td>
											</tr>
										</table>
									</font>

								</div>

								<div class="box" style="margin-bottom: 40px" ng-if="flightDetails.length > 0">

									<font size="5" color="#427DC6"><strong>Seats</strong></font>
									<hr style="margin-top: 5px"><br>

									<font color="#000">
										<table width="100%">
											<tbody ng-repeat="(detailIndex, detail) in flightDetails">
												<tr>
													<tr>
														<td valign="top" width="100%"><strong>{[{detail.from}]} to {[{detail.to}]} > {[{detail.name}]}</strong></td>
													</tr>
													<tr>
														<td valign="top">
															<span ng-repeat="(index, passenger) in detail.passengers">
																Name / Seat:</strong> {[{passenger.name}]} / {[{passenger.seat}]}<br/>
															</span>
														</td>
													</tr>
												</tr>
												<tr height="10"><td colspan="2"></td></tr>
											</tbody>
										</table>
									</font>

								</div>



								<div class="box" style="margin-bottom: 60px" ng-if="pricing">

									<font size="5" color="#427DC6"><strong>Expenses</strong></font>
									<br>

									<div style="padding: 10px 20px; margin-top: 10px; background: #ECF2F8; border: 1px solid #D4D9DF; font-weight: bold; color: #000">
										<table width="100%">
											<tbody ng-repeat="(i, p) in pricing.pricing">
												<tr>
													<td style="padding: 10px 0; border-bottom: 1px solid #D4D9DF">{[{p.passengertype | passengerType}]} ({[{p.typecount}]})</td>
													<td align="right" style="padding: 5px 0; border-bottom: 1px solid #D4D9DF">{[{ currency }]} {[{ p.basefare | currency:'' }]}</td>
												</tr>
												<tr ng-if="p._showTaxesAndFees" ng-repeat="tax in p.taxes">
													<td style="padding: 10px 0; border-bottom: 1px solid #D4D9DF">{[{tax.designator}]}</td>
													<td align="right" style="padding: 5px 0; border-bottom: 1px solid #D4D9DF">{[{ currency }]} {[{ tax.tax | currency:'' }]}</td>
												</tr>
											</tbody>
											<tr>
												<td style="padding: 10px 0; color: #427DC6">Total</td>
												<td align="right" style="padding: 5px 0; color: #427DC6; font-size: 16px">{[{ pricing.currency }]} {[{ pricing.totalprice | currency:'' }]}</td>
											</tr>
										</table>

									</div>

								</div>

								<font size="5" color="#427DC6"><strong>Have a nice trip!</strong></font><br/>
								<font size="4">Hashtag Travels.</font>
								{% endif %}

							</td>
						</tr>

					</table>
				</td>
			</tr>
		</tbody>

		<tfoot>
			<tr>
				<td align="center" colspan="2">

					<table width="600" align="center" cellspacing="0" cellpadding="0" border="0">

						<tr><td colspan="3" height="50"><hr></td></tr>

						<tr>
							<td>
								<h3 style="margin-bottom: 5px">Hashtag Travels</h3>
								<p>
									Av. des Baumettes 23<br/>
									Renens, Lausanne<br/>
									Switzerland
								</p>
							</td>
							<td>
								<h3 style="margin-bottom: 5px">Contact us</h3>
								<p>T: +41 21 909 0000</p>
								<p>F: +41 21 634 1762</p>
								<p>UK Toll Free Telephone: 0-808-189-0480</p>
							</td>
							<td></td>
						</tr>

						<tr height="150">
							<td colspan="3" align="center">
								<p>© 2014 HASHTAG TRAVELS SA. All Rights Reserved</p>
							</td>
						</tr>

					</table>
				</td>
			</tr>

		</tfoot>

	</table>

</body>
</html>
