<html lang="en">
<head>
	<meta charset="UTF-8"/>
	<title>Email Password Reset</title>
</head>
<body style="margin: 0;padding: 0;text-decoration: none;list-style: none;font-family: &quot;Helvetica&quot;, Arial, Tahoma, Verdana, sans-serif;font-size: 14px;color: #666">

	<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center" style="margin: 0;padding: 0;text-decoration: none;list-style: none"><thead style="margin: 0;padding: 0;text-decoration: none;list-style: none"><tr style="margin: 0;padding: 0;text-decoration: none;list-style: none"><th bgcolor="#f2f2f2" height="60" style="margin: 0;padding: 0;text-decoration: none;list-style: none" align="left" href="http://www.hashtagtravels.com" target="_blank"><img src="{{app.config.staticpath}}/img/email/logo-travels.png" alt="Hashtag Travels" width="156" height="34" style="margin: 0 20px;padding: 0;text-decoration: none;list-style: none"/></th>
		<th bgcolor="#f2f2f2" height="60" style="margin: 0;padding: 0;text-decoration: none;list-style: none" align="right"><strong style="margin: 0 20px;padding: 0;text-decoration: none;list-style: none">Welcome aboard. Fasten your seatbelts.</strong></th>
	</tr></thead><tr style="margin: 0;padding: 0;text-decoration: none;list-style: none"><td colspan="2" height="80" style="margin: 0;padding: 0;text-decoration: none;list-style: none"/></tr><tbody style="margin: 0;padding: 0;text-decoration: none;list-style: none"><tr style="margin: 0;padding: 0;text-decoration: none;list-style: none"><td align="center" colspan="2" style="margin: 0;padding: 0;text-decoration: none;list-style: none">
	<table width="600" align="center" cellspacing="0" cellpadding="0" border="0" style="margin: 0;padding: 0;text-decoration: none;list-style: none"><tr style="margin: 0;padding: 0;text-decoration: none;list-style: none"><td style="margin: 0;padding: 0;text-decoration: none;list-style: none">
		<font size="3" style="margin: 0;padding: 0;text-decoration: none;list-style: none">

			<font size="5" color="#427DC6" style="margin: 0;padding: 0;text-decoration: none;list-style: none"><strong style="margin: 0;padding: 0;text-decoration: none;list-style: none">Dear {{name}}</strong></font>
			<br style="margin: 0;padding: 0;text-decoration: none;list-style: none"/><br style="margin: 0;padding: 0;text-decoration: none;list-style: none"/>

			You requested a new password on Hashtag Travels’s website.<br style="margin: 0;padding: 0;text-decoration: none;list-style: none"/>
			Please, click on the button below to create it.


			<br style="margin: 0;padding: 0;text-decoration: none;list-style: none"/><br style="margin: 0;padding: 0;text-decoration: none;list-style: none"/><a href="{{url('get_user_forgot_password', {key: key})}}" class="btn" style="margin: 0;padding: 0 20px;text-decoration: none;list-style: none;display: inline-block;text-align: center;color: #fff;line-height: 50px;background: #24B8E6">Reset password</a>
			<br style="margin: 0;padding: 0;text-decoration: none;list-style: none"/><br style="margin: 0;padding: 0;text-decoration: none;list-style: none"/></font>
		</td>
	</tr><tr style="margin: 0;padding: 0;text-decoration: none;list-style: none"><td style="margin: 0;padding: 0;text-decoration: none;list-style: none">
	<font size="3" style="margin: 0;padding: 0;text-decoration: none;list-style: none">
		Sincerely,<br style="margin: 0;padding: 0;text-decoration: none;list-style: none"/>
		Hashtag Travels.
	</font>
</td>
</tr></table></td>
</tr></tbody><tr style="margin: 0;padding: 0;text-decoration: none;list-style: none"><td colspan="2" height="80" style="margin: 0;padding: 0;text-decoration: none;list-style: none"/></tr><tfoot style="margin: 0;padding: 0;text-decoration: none;list-style: none"><tr style="margin: 0;padding: 0;text-decoration: none;list-style: none"><td align="center" colspan="2" style="margin: 0;padding: 0;text-decoration: none;list-style: none">

<table width="600" align="center" cellspacing="0" cellpadding="0" border="0" style="margin: 0;padding: 0;text-decoration: none;list-style: none"><tr style="margin: 0;padding: 0;text-decoration: none;list-style: none"><td colspan="3" height="50" style="margin: 0;padding: 0;text-decoration: none;list-style: none"><hr style="margin: 0;padding: 0;text-decoration: none;list-style: none;border: 0;border-top: 1px solid #ccc"/></td></tr><tr style="margin: 0;padding: 0;text-decoration: none;list-style: none"><td style="margin: 0;padding: 0;text-decoration: none;list-style: none">
	<h3 style="margin-bottom: 5px;margin: 0;padding: 0;text-decoration: none;list-style: none">Hashtag Travels</h3>
	<p style="margin: 0;padding: 0;text-decoration: none;list-style: none">
		Av. des Baumettes 23<br style="margin: 0;padding: 0;text-decoration: none;list-style: none"/>
		Renens, Lausanne<br style="margin: 0;padding: 0;text-decoration: none;list-style: none"/>
		Switzerland
	</p>
</td>
<td style="margin: 0;padding: 0;text-decoration: none;list-style: none">
	<h3 style="margin-bottom: 5px;margin: 0;padding: 0;text-decoration: none;list-style: none">Contact us</h3>
	<p style="margin: 0;padding: 0;text-decoration: none;list-style: none">T: +41 21 909 0000</p>
	<p style="margin: 0;padding: 0;text-decoration: none;list-style: none">F: +41 21 634 1762</p>
	<p style="margin: 0;padding: 0;text-decoration: none;list-style: none">UK Toll Free Telephone: 0-808-189-0480</p>
</td>
<td style="margin: 0;padding: 0;text-decoration: none;list-style: none">
	<h3 style="margin-bottom: 5px;margin: 0;padding: 0;text-decoration: none;list-style: none">Follow us</h3>
	<a href="https://www.facebook.com/hashtagtravels" target="_blank" style="margin: 0;padding: 0;text-decoration: none;list-style: none"><img src="{{app.config.staticpath}}/img/email/icon-facebook.png" alt="Follow us on Facebook" width="50" height="40" style="margin: 0;padding: 0;text-decoration: none;list-style: none"/></a>
	<a href="https://twitter.com/hashtagtravels" target="_blank" style="margin: 0;padding: 0;text-decoration: none;list-style: none"><img src="{{app.config.staticpath}}/img/email/icon-twitter.png" alt="Follow us on Twitter" width="50" height="40" style="margin: 0;padding: 0;text-decoration: none;list-style: none"/></a>
</td>
</tr><tr style="margin: 0;padding: 0;text-decoration: none;list-style: none"><td colspan="3" height="60" style="margin: 0;padding: 0;text-decoration: none;list-style: none"/></tr><tr style="margin: 0;padding: 0;text-decoration: none;list-style: none"><td colspan="3" align="center" style="margin: 0;padding: 0;text-decoration: none;list-style: none">
{# <p style="margin: 0;padding: 0;text-decoration: none;list-style: none">Cras mattis consectetur purus sit amet fermentum. Cras mattis consectetur purus sit amet fermentum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p> #}
</td>
</tr></table></td>
</tr></tfoot></table></body>
</html>