{% if app.session.get('user') %}

	{% if app.session.get('user').email is defined %}
		{% set prefill_email = app.session.get('user').email %}
	{% else %}
		{% set prefill_email = '' %}
	{% endif %}

	{% set prefill_name = app.session.get('user').first_name ~ ' ' ~ app.session.get('user').last_name %}
	{% if app.session.get('user').phone_code is defined and app.session.get('user').phone_number is defined %}
		{% set prefill_phone = app.session.get('user').phone_code ~ ' ' ~ app.session.get('user').phone_number %}
	{% else %}
		{% set prefill_phone = '' %}
	{% endif %}
{% else %}
	{% set prefill_name, prefill_phone, prefill_email = '', '', '' %}
{% endif %}

<div class="contact-page">

	<a href="#" class="close-contact">×</a>

	<span class="l-toCenter"></span><div class="l-col-25">
		<img src="{{app.config.staticpath}}/img/modules/contact/phone.png">

		<h3 class="contact-page__side-title">Call us</h3>
		<p>Phone<br/><strong>+41-21-909-0000</strong></p>
		<p>Live Chat<br/><a href="#" class="talk-to-us" onclick="olark('api.box.expand')">Talk to us</a></p>
	</div><div class="l-col-50">
		<h1 class="contact-page__title">Get in touch</h1>
		<h4 class="contact-page__subtitle">Send us a message.<br/>Fill the form.</h4>

		<form id="contactForm" action="{{url('contact_send')}}" method="post" data-parsley-validate>
			<fieldset>
				<input type="text" name="name" class="input-text" placeholder="Your name" value="{{prefill_name}}" required>
				<input type="text" name="phone" class="input-text no-margin" placeholder="Phone number" value="{{prefill_phone}}" required>
				<input type="text" name="email" class="input-text" placeholder="E-mail address" value="{{prefill_email}}" required>
				<div class="customSelect no-margin">
					<select class="customSelect-select" name="subject" required>
						<option value="info">General information</option>
						<option value="feedback">Customer feedback</option>
						<option value="other">Other</option>
					</select>
				</div>
				<textarea name="message" class="input-text" rows="8" placeholder="What we can do for you?" required></textarea>
				<!-- <button id="sendForm" class="btn">Send</button> -->
				<input type="submit" class="btn" value="Send">
			</fieldset>
		</form>
	</div><div class="l-col-25">
		<img src="{{app.config.staticpath}}/img/modules/contact/address.png">

		<h3 class="contact-page__side-title">Visit us</h3>
		<p>23 Av. des Baumettes,<br/>1020 Renens,<br/>Lausanne, Switzerland</p>
		<p><a href="https://www.google.com/maps/place/Avenue+des+Baumettes+23/@46.5429059,6.5899791,17z/data=!3m1!4b1!4m2!3m1!1s0x478c31975bea2bf1:0x1fe426723f5e59d1" target="blank">Directions on Google Maps</a></p>
	</div>

</div>