

/*
 * details
 */

.booking-details
	padding 20px
	phone border-bottom 1px solid #e7e7e7
	hr
		margin-left 0
		margin-right 0

	p
		padding 10px 0
		phone padding 10px 0 5px
	.hotel-address
		phone padding 0
	small
		phone font-size 12px
		phone margin-bottom 20px
		phone display block
		img
			position relative
			top 2px

.booking-details__date
	font-weight normal
	padding-top 0 !important
.booking-details__summary-costs
	background #f2f2f2
	border-bottom 1px solid #e7e7e7
	border-top 1px solid #e7e7e7
	margin-top 20px
	margin-bottom 20px
	margin-left -20px
	margin-right -20px
	padding 20px

	li
		margin-bottom 10px
		phone display block
		phone clear both

	strong
		font-weight bold
		float right
		phone display block
		phone width 40%
		phone text-align right


.booking-details__total
	margin-top 20px
	font-size responsive-size(14px)
	font-weight bold

	strong
		font-size responsive-size(18px)


.booking-details__help

	p
		height 20px
		padding-left 25px
		background url('../img/modules/table-history/icon-help.png') no-repeat left center
		background-size 20px 20px
		line-height 20px
		font-size responsive-size(12px)
		font-weight bold
		phone padding-top 0
		phone padding-left 35px
		phone height auto
		phone font-size 12px

	a
		color #427dc6
		phone display block
