.carrousel
	width 100%
	height 100%
	position relative
	opacity 0
	transition all 350ms ease
	&.is-active
		opacity 1
.carrousel-item
	width 100%
	height 100%
	color #fff
	overflow hidden
.carrousel-item-image
	width 100%
	height 100%
	background-size cover
	transition transform 600ms linear
	cursor pointer
.active
	.carrousel-item-image
		transform scale(1.2);
		-ms-transform none
		transition transform 20s linear
	.carrousel-item-info-title
		text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
		transform translateX(0)
		opacity 1
	.carrousel-item-info-subtitle
		text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
		transform translateX(0)
		opacity 1
.carrousel-item-image:after
	absolute left bottom right
	height 40vh
	background linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .8))
	content ' '
.carrousel-item-info
	pointer-events none
	absolute bottom 10% left 5%
	phone(display, none)
.carrousel-item-info-title
	font-size 7vh
	font-weight bold
	phone(display, none)
	transition all 500ms ease
	opacity 0
	transform translateX(100px)
.carrousel-item-info-subtitle
	font-size 4vh
	phone(display, none)
	transition all 500ms ease
	opacity 0
	transition-delay 100ms
	transform translateX(100px)
.carrousel-item-price
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
	absolute right 5% bottom 10%
	font-size 4vh
	line-height 140%
	text-transform lowercase
	phone(display, none)

	em
		font-size 10vh

.slidesjs-container, .slidesjs-control
	width 100% !important
	height 100% !important
.slidesjs-pagination
	absolute top 10px right 10px
	height 30px
	phone(display, none)
	z-index 10
.slidesjs-pagination-item
	width 8px
	height 8px
	float left
	margin-left 5px
	position relative
	overflow hidden
	a
		background transparent
		border-radius 50%
		border 1px solid #fff
		text-indent -1000px
		display block
		position absolute
		top 0
		left 0
		width 100%
		height 100%
		box-sizing border-box
		&.active
			background #fff
.slidesjs-navigation
	ir()
	width 70px
	height 100%
	position absolute
	top 30px
	bottom 30px
	background-repeat no-repeat
	background-position center
	transition opacity 300ms linear
	opacity 0
	z-index 10
	phone(display, none)

	&:hover
		opacity 1 !important
.slidesjs-previous
	left 0
	background-image url('../img/carrousel-icon-prev.png')
.slidesjs-next
	right 0
	background-image url('../img/carrousel-icon-next.png')
.carrousel
	&:hover
		.slidesjs-navigation
			opacity .3
