#habla_window_div
	bottom 0
	font-weight bold !important
#habla_window_div .habla_conversation_person2
	color #5ac7f2 !important
#habla_topbar_div
	background #5ac7f2 !important
	border-radius 0 !important
#habla_oplink_a
	color white !important
	text-decoration none !important
#habla_panel_div
	border-radius 0 !important
#habla_expanded_div
	background #427dc6 !important
	border-color #427dc6 !important
	div
		&:nth-child(2)
			text-indent -10000px
			overflow hidden
			height 0px !important
			margin 0 !important
			padding 0 !important
.hbl_txt_wrapper
	clearfix()
.olrk-available .hbl_txt_wrapper
	padding 0 8px !important
.habla_wcsend_field
	background white !important
	border-radius 0 !important
	border-color white !important
#habla_offline_body_input
	resize none !important
#habla_offline_message_span, #habla_offline_error_span
	font-style normal !important
	color white !important
#habla_offline_submit_input
	background #5ac7f2 !important
	border-radius 0 !important
	color white !important
	padding 5px 20px !important
	margin-right -10px !important
	transition all 300ms ease
	&:hover
		background white !important
		color #427dc6 !important
#habla_sizebutton_a
	border-radius 0 !important
	&:hover
		background-color #427dc6 !important
#habla_conversation_div
	background #427dc6 !important
	border-bottom 0 !important
.habla_conversation_text_span
	color white !important
.habla_conversation_person1.hbl_pal_local_fg
	color white !important
#hbl_body_message
	color white !important
