#corporateMenu
	fixed top left bottom right
	background rgba(49, 57, 68, 0)
	padding-top 25vh
	transition all 300ms ease
	visibility hidden
	z-index 2000
	text-align center

	&.open
		background rgba(49, 57, 68, .9)
		visibility visible

		ul
			transform scale(1)
			opacity 1


	a.corporateMenu-close
		text-decoration none
		absolute right 3vh top .6vh
		color #fff
		font-size 5vh
		font-weight bold

		&:hover
			color #5ac7f2

	ul
		transform scale(.75)
		opacity 0
		transition all 350ms ease

	li
		height 12vh

		a
			font-weight bold
			text-decoration none
			text-align center
			font-size 9vh
			line-height 12vh

			color #5ac7f2
			display inline-block
			transition color 300ms ease
			text-transform uppercase
			transition all 300ms ease

			&:hover
				color #fff
