$box-width = 240px
$box-height = 200px

.deals-wrapper
	position absolute
	width 100%
	height 100%
	overflow auto
	box-sizing border-box
	top 0
	padding-top 80px
.deals-grid
	margin 50px auto
	transition opacity 500ms ease
	opacity 0
	&.is--loaded
		opacity 1
.deals-grid__box
	width $box-width
	height $box-height
	overflow hidden
	&:hover
		.box__button
			transform translateX(0)
		.call-to-action__title
			transform translateX(-150%)
		.call-to-action__price
			transform translateX(-150%)

	for $num in (1..4)
		&.h{$num}
			height $box-height * $num
		&.w{$num}
			width $box-width * $num
	&.is--category
		&:before
			content ''
			display block
			position absolute
			top responsive-size(12px)
			left responsive-size(12px)
			width 64px
			height 64px
			background url('../img/modules/deals-grid/icons.png') no-repeat
			z-index 2
		.box__title
			margin-top 60px
		.box__call-to-action
			display none
	&.price
		background #f1aa01
	&.beaches
		background #01b0f1
		&:before
			background-position -64px 0
	&.romance
		background #da3e3e
		&:before
			background-position -128px 0
	&.skiing
		background #9a9992
		&:before
			background-position -192px 0
	&.hiking
		background #759c50
		&:before
			background-position -256px 0
	&.weather
		background #5a5a5a
		&:before
			background-position -320px 0
	&.w3
		.box__call-to-action
			right 20px
			top 20px
			bottom auto
			left auto
			text-align right
		.box__title
			width 60%
		.box__button
			width 50%
			right 20px
			left auto
		.call-to-action__title
			transform translateX(0)
		.call-to-action__price
			transform translateX(0)
	&.w2
		.box__list
			position relative
			left 0
			top 30px
			li
				width 100%
	&.h1
		.box__quote
			display none
	p
		font-size responsive-size(16px)
	small
		font-size responsive-size(12px)
.box__url
	display block
	position absolute
	top 0
	left 0
	right 0
	bottom 0
	box-sizing border-box
	padding responsive-size(20px)
	color white
	text-decoration none
	z-index 2
.box__image
	position absolute
	top 0
	left 0
	display block
	z-index 1
	min-width 100%
	min-height 100%
.box__quote
	small
		display block
		margin-top 10px
		color rgba(0,0,0,.7)
.box__title
	font-size responsive-size(28px)
	font-weight bold
	margin-bottom 20px
	small
		display block
.box__call-to-action
	position absolute
	bottom 20px
	left 20px
	right 20px
.box__list
	position absolute
	bottom 20px
	left 20px
	font-size responsive-size(18px)
	font-weight bold
	width 50%
	li
		line-height responsive-size(24px)
		float left
		width 50%
		&:before
			content '–'
			margin-right 4px
.call-to-action__title
	font-size responsive-size(16px)
	display block
	transition all 350ms ease
.call-to-action__price
	font-size responsive-size(34px)
	font-weight bold
	display block
	margin-top 10px
	transition all 350ms ease
	transition-delay 100ms
	small
		font-size responsive-size(10px)
.box__button
	border 2px solid white
	padding 10px
	background none
	color white
	font-size responsive-size(20px)
	font-weight bold
	position absolute
	bottom 20px
	left 20px
	right 20px
	box-sizing border-box
	margin 0
	display block
	text-align center
	transition all 350ms ease
	transform translateX(150%)
