.drive-list-features
	li
		margin-bottom 5px
		height 24px
		line-height 24px

.drive-list-features__icon
	span
		display inline-block
		content ''
		width 16px
		height 16px
		position relative
		top 3px
		margin-right 5px
		background-size 16px
		background-repeat no-repeat
		background-position center center
