.flight-search
	background #e6e6e6
	height 100%
	display flex
	flex-direction column
	position relative
	z-index 2

.flight-search--white
	background #fff

.flight-search__best-prices
	overflow-x auto
	max-height 300px
	transition all 350ms ease
.flight-search__best-prices-table
	width 100%
	tr
		&:first-child
			td
				font-weight normal
				font-size responsive-size(12px)
		&:last-child
			td
				border-bottom 0
	td
		border-right 1px solid #e5e5e5
		border-bottom 1px solid #e5e5e5
		text-align center
		padding 10px
		font-weight bold
		background white
		cursor pointer
		&.is-active
			background #edf9fe
			cursor default
		&:first-child
			font-weight normal
			text-align left
		&:last-child
			border-right 0
		img
			display block
			margin 0 auto 5px
			width 30px
.flight-search__airline-logo
	width 20px
.flight-search__fixed-header
	background #e6e6e6
	border-bottom 1px solid #d0d0d0
	flex-shrink 0
	&.is-hidden
		.flight-search__best-prices
			max-height 0
		.customSelect
			height responsive-size(30px)
			&:before
				width 35px

	.customSelect
		float right
		height responsive-size(30px)
		width 190px
		border 1px solid #dcdcdc
		.customSelect-select
			font-size responsive-size(12px)

.fixed-header__matching-results, .fixed-header__sort-by
	float left
	line-height responsive-size(35px)
	display block
	border 1px solid transparent
	border-left 0
	font-size responsive-size(12px)
.fixed-header__sort-by
	float right
	margin-right 10px
.fixed-header__bottom
	border-top 1px solid #d4d4d4
	padding 5px 10px
	clearfix()
.flight-search__results-list
	background #e6e6e6
	padding-top 10px
	clearfix()
	overflow auto

.flight-search--white
	.flight-search__results-list
		background #fff

.flight-search__fare-group
	box-sizing border-box
	background white
	border 3px solid #23abed
	clearfix()
	margin 0 10px 10px
	
	&.not-checked
		border 1px solid #d0d0d0

.flight-search__fare-group--oneway
	.fare-group__flight-price strong
		display inline-block
		margin-left 5px

.fare-group__flight-list
	width 80%
	float left
	color #333
	table
		width 100%
		border-right 1px solid #e5e5e5
		&:first-child
			th
				border-top 0
	thead
		th
			padding 10px
			border-top 1px solid #e5e5e5
			border-bottom 2px solid #e5e5e5
			text-align left
			vertical-align middle
			background #f6f6f6
			font-size responsive-size(12px)
			color #01b0f1

			strong
				font-size 1.2em
				font-weight bold
				color #fff
				background #01b0f1
				display inline-block
				border-radius 3px
				padding 2px 4px

			&:before
				content ''
				width 20px
				height 20px
				display inline-block
				background url('../img/modules/flight-results/airplane-lblue.png') no-repeat
				background-size 20px
				position relative
				top 5px
				margin-right 10px

			&.return-flight
				color #427dc6

				strong
					background #427dc6
					color #fff

				&:before
					background url('../img/modules/flight-results/airplane-dblue.png') no-repeat
					background-size 20px
	tbody
		td
			padding 10px
			border-bottom 1px solid #e5e5e5
			vertical-align middle
			position relative
			font-size responsive-size(12px)
			img
				transition all 150ms ease
				width 25px
			.btn
				position absolute
				top 50%
				margin-top -11px
				right 10px
				opacity 0
				transition all 150ms ease
				font-size 12px
		tr
			cursor pointer
			input
				cursor pointer
			&:hover
				td
					background #fbfbfb
			&:last-child
				td
					border-bottom 0
			&.is-checked
				cursor default
				input
					cursor default
				td
					background #edf9fe
					box-shadow 0 1px 0 0 #01b0f1, 0 -1px 0 0 #01b0f1
					&:first-child
						box-shadow -1px 0 0 0 #01b0f1, 0 1px 0 0 #01b0f1, 0 -1px 0 0 #01b0f1
					&:last-child
						box-shadow 1px 0 0 0 #01b0f1, 0 1px 0 0 #01b0f1, 0 -1px 0 0 #01b0f1
.fare-group__flight-price
	width 20%
	float left
	box-sizing border-box
	padding 10px
	strong
		display block
		font-size responsive-size(24px)
	.btn
		width 100%
		margin-top 10px
	.more-details
		display inline-block
		margin-top 10px
		font-size responsive-size(12px)
.flight-search-filter
	width 12.5%
	absolute left 37.5% top 0
	background #427dc6
	height 100%
	z-index 2
	border-right 1px solid #315e94
	box-sizing border-box
	color white
	transition all 350ms ease
	z-index 1
	font-size responsive-size(12px)
	&.is-active
		left 50%
	strong
		color #213e63
		display block
		margin-bottom 10px
		small
			font-size responsive-size(12px)
	.customCheckbox
		margin-bottom 10px
		margin-right 10px
		display block
		font-size responsive-size(12px)
		small
			font-weight normal
			float right
			margin-right -10px
.flight-search-filter__stops, .flight-search-filter__class
	width 50%
	display block
	float left
.flight-search-filter__container
	clearfix()
	border-bottom 1px solid #315e94
	padding 20px
.flight-search__range
	p
		margin-bottom 10px
		text-align right
	strong
		float left
.flight-search-filter__buttons
	position absolute
	top 0
	margin-left 1px
	left 100%
	li
		&:first-child
			a
				border-bottom 1px solid #315e94
	a
		display block
		background-color #427dc6
		color white
		text-decoration none
		padding responsive-size(10px)
		text-align center
		text-align center
		width responsive-size(50px)
		transition all 150ms ease
		img
			display inline-block
			max-width 60%
			margin-bottom 5px
		&:hover
			background #01b0f1
.flight-search-filter__title
	font-weight bold
	font-size responsive-size(18px)
	color white
.flight-list__duration
	color #666
	font-weight normal
	font-size responsive-size(12px)
	&:after
		content '\2192'
		margin-left 5px
	&:before
		content '\2015'
		margin-right 5px
.flex-container
	display flex
	flex-direction column
	height 100%
	.flex-box
		overflow auto
		&:first-child
			flex-shrink 0
.flight-search-filter__all
	color white
	float right
	font-size responsive-size(12px)