.hotel-people
	ir()
	background url('../img/modules/item-detail/icon-person.png') repeat-x;
	background-size 13px 15px
	height 15px
	display inline-block
	margin-top 5px

for num in (1..10)
	.hotel-people--{num}
		width 13px * num