.hotel-stars
	ir()
	background url('../img/modules/hotel-stars/icon-star.png') repeat-x;
	background-size 17px 18px
	height 18px
	display inline-block
	vertical-align middle

for num in (1..10)
	.hotel-stars--{num}
		width 17px * num