.infoBox
	width 250px
	border 2px solid #c9c0b9
	border-top none
	font-size 14px
	font-weight bold
	border-radius 3px

	&:after
		display block
		content ''
		absolute bottom -12px left 50%
		margin-left -10px
		border-top 10px solid #c9c0b9
		border-left 10px solid transparent
		border-right 10px solid transparent

	> img
		position absolute !important
		margin-top -7px !important
		right 2%
		top 50%

	figure
		display block
		margin 0
		padding 0
		absolute bottom 100% left -2px
		border 2px solid #c9c0b9
		border-bottom none
		background #fff

		img
			display block
			margin 0
			padding 0

	figcaption
		absolute bottom left
		width 80%
		padding 50% 10% 5% 10%
		text-align center
		color #fff
		font-size 16px
		background linear-gradient(transparent, rgba(0, 0, 0, 0), rgba(0, 0, 0, .8))

	p
		padding 5px 10px
		background #fff
		font-size 14px

	strong
		font-size 18px