.internal-menu
	background #427dc6

.internal-menu__title
	border-bottom 1px solid #35659f
	padding responsive-size(14px) 30px
	display block
	font-size responsive-size(16px)
	font-weight bold
	color #fff

.internal-menu__item
	color #fff
	border-bottom 1px solid #35659f
	display block
	background #3b70b2
	text-decoration none
	font-size responsive-size(14px)
	font-weight bold
	padding 1.5vh 20px

	&:hover
		text-decoration underline



.internal-menu__item--active
	color #01b0f1
	background-color #35649e

	&:hover
		text-decoration none
		cursor default


.internal-menu__icon
	vertical-align middle
	display inline-block
	width responsive-size(20px)
	margin-right 10px
