.item-slider__wrapper
	width 100%
	height 100%
	position relative


.item-slider__item
	width 100%
	height 100%
	color #fff
	overflow hidden


.item-slider__item-image
	width 100%
	height 100%
	background-size cover

	transition transform 600ms linear


.active .item-slider__item-image
	transform scale(1.2);
	-ms-transform none
	transition transform 20s linear
