.item-share
	absolute bottom 20px left right

	li
		padding 0
		margin 0 0 10px 0
		display block
		&:before
			display none !important

	a
		position relative
		color #333
		border-bottom 1px solid #a6a6a6
		text-decoration none
		transition all 300ms ease

		&:hover
			color #616161

		&:before
			display block
			absolute top 4px left -20px
			content ''
			width 14px
			height 12px
			background url('../img/modules/item-share/icon-share.png') no-repeat
			background-size 12px

	.item-share__btn-print:before
		background-image url('../img/modules/item-share/icon-print.png')


.item-share--white
	a
		color #fff
		border-color #ebebeb

		&:hover
			color #e0e0e0

		&:before
			background-image url('../img/modules/item-share/icon-share-white.png')

	.item-share__btn-print
		&:before
			background-image url('../img/modules/item-share/icon-print-white.png')


.item-share--flight
	relative bottom 0
	display none
	padding 30px 0 0 30px

.item-share--results
	position relative
	float right
	bottom auto
	top 10px
	li
		display inline-block
		margin-right 30px

.item-share--drive
	display block
	position relative
	bottom 0
	margin 20px 0 0 20px

	li
		display inline-block

		&:last-child
			margin-left 30px


.item-share--sleep
	top 11px
	right 20px
	left auto
	bottom auto

	li
		display inline-block
		margin-left 30px



