.mobile-navigation
	display none
	width 80%
	position absolute
	left 10%
	top 50%
	z-index 20
	phone(display, block)

.mobile-navigation__menu
	li
		a
			display block
			position relative
			background rgba(1,176,241,.9)
			color white
			border-bottom 1px solid #008ac2
			font-size 18px
			text-decoration none
			line-height responsive-size(40px)

.mobile-navigation__menu-icon
	position absolute
	height 60%
	top 20%
	left 20px

.mobile-navigation__menu-text
	padding-left responsive-size(60px)


.mobile-footer
	display none
	position relative
	padding responsive-size(10px) 0
	text-align center
	color #333
	background #fff
	box-sizing border-box
	phone(display, block)

	p
		margin-bottom responsive-size(5px)

	a
		padding 0 responsive-size(5px)
		font-weight bold
		color #333
		text-decoration none

.main-footer
	height responsive-size(49px)
	background #2c2c2c
	border-top 5px solid #01b0f1
	absolute bottom left right
	overflow hidden
	z-index 200
	phone(display, none)

.main-footer__menu
	height 100%
	float left

	ul
		height 100%
		width 100%

.main-footer__menu-item
	float left
	display block
	border-right 1px solid #424242
	box-sizing border-box
	height 100%
	box-sizing border-box

.main-footer__menu a
	float left
	display block
	width 100%
	height 100%
	background-image url(../img/modules/main-footer/icon-hashtag.svg)
	background-color #2c2c2c
	background-size auto 26%
	background-repeat no-repeat
	text-decoration none
	color #fff
	text-align center
	line-height 100%
	box-sizing border-box
	// font-size responsive-size(14px)
	line-height responsive-size(49px)
	opacity .6
	padding-right 20px
	transition all 300ms ease
	&:hover
		opacity 1
		background-color #222

.main-footer__menu-item-fly
	background-position 60% center
	.main-footer__menu-icon
		margin-right 30px

.main-footer__menu-item-sleep
	background-position 48% center
	.main-footer__menu-icon
		margin-right 38px

.main-footer__menu-item-drive
	background-position 52% center
	.main-footer__menu-icon
		margin-right 34px

.main-footer__menu-item-deals
	background-position 45% center
	.main-footer__menu-icon
		margin-right 28px

.main-footer__menu-item--active a
		opacity 1
		background-color #01b0f1 !important
		cursor default

.main-footer__menu img
	display inline-block
	height 25%
	vertical-align middle
	margin-right 3px
	position relative
	padding-left 20px

.main-footer__menu .main-footer__menu-icon
	height 50%

.main-footer__menu-text
	display inline-block



/**
 * Footer social
 */

.main-footer__social
	position relative

.main-footer__icon-facebook
	ir()
	width responsive-size(70px)
	height responsive-size(49px)
	background url('../img/modules/main-footer/icon-facebook.png') no-repeat center center
	background-size cover
	margin-left -1px
	float left


.main-footer__icon-twitter
	ir();
	width responsive-size(70px)
	height responsive-size(49px)
	background url('../img/modules/main-footer/icon-twitter.png') no-repeat center center
	background-size cover
	float left

	// &:hover
	// animation fly 200ms steps(3) 0 infinite

.main-footer__last-tweets
	color #fff
	margin-left responsive-size(20px)
	// font-size responsive-size(14px)
	// line-height responsive-size(14px)
	font-weight normal
	float left


.main-footer__tweet
	position absolute
	transition top 1s ease, opacity 200ms linear
	opacity 0
	top -25px
	border-right responsive-size(90px) solid transparent

	a
		color #5dd7fc

	&.active
		transition top 500ms ease, opacity 600ms linear
		top responsive-size(8px)
		opacity 1


.main-footer__logo-iata
	position relative
	float right
	z-index 2
	height 100%
	border-left 1px solid #424242
	padding 0 responsive-size(10px)

	.l-center
		display inline-block
		width 0%
		height 100%
		vertical-align middle

	img
		position relative
		display inline-block
		height 35px
		vertical-align middle

// @keyframes fly
// 	from
// 		background-position 0 0
// 	to
// 		background-position -21vh 0
