.main-header
	height responsive-size(49px)
	background #fff
	border-bottom 5px solid #01b0f1
	absolute top left right
	z-index 200
	phone(text-align, center)
	phone(position, relative)

.main-header__logo
	float left
	height 100%
	text-align center
	z-index 2
	phone(display, inline-block)
	phone(float, none)
	phone(position, relative)

	img
		display inline-block
		top 10%
		left 20px
		position relative
		height 80%
		width auto
		phone(top, 20%)
		phone(left, 0)
		phone(height, 60%)


.main-header__menu
	text-align right
	height 100%
	float right
	transition height 300ms ease, 400ms opacity 100ms ease
	color #999
	phone(position, absolute)
	phone(top, 0)
	phone(width, 100%)

.main-header__my-account
	.main-header__menu-label
		phone(display, none)

.main-header__my-account--signin
	padding 0 !important
	a
		text-decoration none
		display block
		height 100%
		padding 0 responsive-size(15px)
.main-header__menu-item
	display block
	height 100%
	border-left 1px solid #e5e5e5
	padding 0 responsive-size(15px)
	min-width responsive-size(28px)
	vertical-align top
	cursor pointer
	user-select none
	float left
	phone(display, none)

	&.main-header__my-account
		position relative
		phone(display, block)
		phone(float, right)
		phone(position, static)

	&.js-open-corporate-menu
		phone(display, block)
		phone(float, left)
		phone(border-left, none)
		phone(border-right, 1px solid #e5e5e5)

	&:hover
		background #f6f6f7

	&.main-header__menu-item--has-dropdown:hover,
	&.main-header__main-header__menu-item--active
		border-bottom 5px solid #e9f2f7
		phone(border-bottom, none)
		.main-header__dropdown
			phone(display, block)

	&.main-header__menu-item--has-dropdown:hover
		.main-header__dropdown
			display block

.main-header__menu-icon
	position relative
	display inline-block
	vertical-align middle
	height 50%
	width auto

.main-header__menu-icon--rounded
	border-radius 50%

.main-header__menu-icon--close
	transform scale(.7)
	display none

.main-header__menu-label
	display inline-block
	vertical-align middle
	// font-size responsive-size(14px)
	&.chat-now
		color #96cc56
		font-weight bold
		display none
		&.is-active
			display inline-block
		&:after
			display none
	&:after
		display inline-block
		vertical-align middle
		content ' '
		width 1em
		height 1em
		background url('../img/modules/main-header/caret.png') no-repeat center center
		background-size contain
		margin-left 10px
	&.main-header__menu-label--no-arrow
		color #999
		&:after
			display none

.main-header__menu-icon + .main-header__menu-label
	padding-left 10px


/**
 * menu item active - hover
 */

.main-header__menu-item--active
	.main-header__menu-icon--rounded, .main-header__menu-icon
		phone(display, none)

	.main-header__menu-icon--close
		phone(display, inline-block)

/**
 * Dropdown
 */

.main-header__dropdown
	cursor default
	position absolute
	top 100%
	margin-top 5px
	background rgba(245, 246, 247, .95)
	text-align left
	// font-size responsive-size(14px)
	box-sizing border-box
	/*display none*/


.main-header__dropdown--full
	left 25%
	right 0
	padding 20px 30px

.main-header__dropdown--right
	left -1px
	padding responsive-size(15px) responsive-size(20px)
	min-width 100%
	phone(padding, 0)
	&.is-user-dd
		padding 0
		min-width 120%
		li
			padding 0
		a
			text-decoration none
			display block
			padding responsive-size(4px) responsive-size(20px)
			&:hover
				background white
				text-decoration none !important
			img
				width 20px
				display inline-block
				vertical-align middle
				margin-right 5px
			&:hover
				text-decoration underline

.main-header__dropdown-title
	font-size responsive-size(18px)
	font-weight bold
	color #000
	margin-bottom responsive-size(10px)

.main-header__dropdown-list
	phone(display, none)
	li
		padding responsive-size(4px) 0
	a
		text-decoration none

		&:hover
			text-decoration underline
	strong
		color #000
		display inline-block
		width responsive-size(35px)







// .headerMenu-item-content
// 	position absolute
// 	top calc(100% + 10px)
// 	background #eee
// 	visibility hidden
// 	opacity 0
// 	padding 20px 25px
// 	text-align left
// 	border-bottom-left-radius 5px
// 	border-bottom-right-radius 5px
// 	color #666

// 	a
// 		color #999
// 		display inline-block
// 		padding 5px 0
// 		text-decoration none
// 		transition color 200ms ease

// 		&:hover
// 			color #000

// 	&:hover
// 		opacity 1
// 		visibility visible
// 		z-index 10


// .headerMenu-item a:hover + .headerMenu-item-content
// 	opacity 1
// 	visibility visible

// .headerMenu-item:hover a span
// 	opacity 1
// 	background-color #eee

// .headerMenu-item:hover a
// 	border-bottom 10px solid #eee


// /* language */
.headerMenu-item-content-language
	width 100px
	left 0


// /* currency */
// .headerMenu-item-content-currency
// 	width 750px
// 	right 0

// 	.currency-wrap
// 		width 100%

// 		h4
// 			width 100%
// 			padding 2% 0
// 			font-size 1.9vh
// 			color #000
// 			font-weight bold

// 		.headerMenu-item-content-currency-list
// 			width 187px
// 			float left
// 			clear none

// 			a
// 				color #32b3ea
// 				padding 2.5%

// 				.headerMenu-item-content-currency-caps
// 					color #000
// 					display inline-block
// 					width 40px

// 			a:hover

// 				color #fff
// 				background #666

// 				.headerMenu-item-content-currency-caps
// 					color #fff
// 					background #666




// /* login */
// .headerMenu-item-content-login
// 	width 700px
// 	right 0

// 	.inputText
// 		width 280px
// 		margin-top 10px

// 	.btn
// 		float right
// 		margin-top 10px


// .headerMenu-item-content-login-rememberMe
// 	font-size 13px
// 	margin 10px 3px
// 	margin-top 10px

// .headerMenu-item-content-login-Twittericon
// 	display inline-block
// 	vertical-align middle
// 	width 60px

// .middletext
// 	vertical-align:middle

// .headerMenu-item-content-form
// 	float left
// 	width 320px
// 	padding-right 40px
// 	border-right solid 3px #ccc
// 	margin-top 20px

// .headerMenu-item-content-form-input
// 	margin-bottom 20px

// .headerMenu-item-content-social
// 	float right
// 	width 290px
// 	margin-right 0px
// 	margin-top 20px

// 	ul
// 		margin-top 40px
// 		font-size 13px

// 	img


// .headerMenu-item-content-login-Twitter
// 	margin-top 10px
// 	height 45px

// .headerMenu-item-content-login-Facebook
// 	margin-top 30px
// 	height 45px

// .headerMenu-item-content-login-arrow
// 	color #33b6ea

// .headerMenu-item-content-login-star
// 	color #fb0000

// .headerMenu-item-content-login-blue
// 	color #33b6ea

// /* contact */
// .headerMenu-item-content-contact
// 	right 0

// 	p
// 		display block
// 		padding-bottom 10px

// 	.inputText
// 		width 280px
// 		margin-top 10px

// 	textarea
// 		height 70px

// 	.btn
// 		float right
// 		margin-top 10px
