.mobile-headerbar
	position relative
	display none
	padding responsive-size(15px)
	background #01b0f1
	border-bottom 1px solid #386aa8
	clearfix()

	a
		color #fff
		width 50%
		font-weight bold
		text-decoration none
		font-size responsive-size(13px)

.mobile-headerbar__btn-prev
	float left

	&:before
		content ''
		display inline-block
		width 11px
		height 9px
		background url('../img/modules/filters/sprite-filters.png') no-repeat 0 -42px
		background-size 100px

.mobile-headerbar__btn-filter
	float right
	text-align right

	&:after
		content ''
		display inline-block
		margin-left responsive-size(5px)
		width 11px
		height 8px
		background url('../img/modules/filters/sprite-filters.png') no-repeat 0 -59px
		background-size 100px

.mobile-headerbar__btn-next
	float right
	text-align right

	&:after
		content ''
		display inline-block
		margin-left responsive-size(5px)
		width 11px
		height 9px
		background url('../img/modules/filters/sprite-filters.png') no-repeat -14px -42px
		background-size 100px

.mobile-headerbar__sort
	position relative
	margin-top -5px
	float right
	width 50%
	text-align right

	&:after
		display block
		absolute right 5px top
		content ' '
		width 11px
		height 100%
		background url('../img/modules/mobile-headerbar/arrow-down.png') no-repeat right center
		background-size 11px 6px

	.mobile-headerbar__sort-select
		float right
		padding-right 20px
		text-decoration none
		font-weight bold
		color #fff
		font-size responsive-size(13px)
		border 0
		-webkit-appearance none
		background transparent
		outline none



/**
 * Phone
 */

@media _phone
	.mobile-headerbar
		display block

	.mobile-headerbar--inactive
		display none

