#modal__coupon
	p
		margin-bottom 20px
	.input-text
		width 40%
		margin 5px 0 15px
		width 100%
		phone width 100%
	label
		font-size 14px
		display block
		float left
		width 40%
	.modal__btns
		border-top 1px solid #e5e5e5
		padding-top 30px
		margin-top 15px
		margin-bottom 30px
		clear both
		float left
		width 100%
	.coupon__discount-value
		float left
		margin-left 30px
		border-left 1px solid #e5e5e5
		padding-left 30px
		height 65px
		font-weight bold
		strong
			color #427dc6
			font-size 24px
			display block
			font-weight bold
			margin-top 10px
	.discount-value__text
		font-size 14px
	.coupon__waiting-code
		display none
	.coupon__validating-code
		color #666
		font-weight normal
		img
			vertical-align middle
			margin-right 10px
