.modal
	display none
	fixed top left
	z-index 999
	width 100%
	height 100%
	background rgba(49, 57, 68, .9)

	*
		box-sizing border-box

	&.modal--active,
	&.modal-active
		display block


/*
 * header
 */
@media _phone
	.btn-save-modal
		background #1bb7ea !important
		text-indent 0 !important
		color white
		width auto !important
		line-height 60px
		padding 0 20px
		font-weight bold
		text-decoration none
		margin-right -20px

.modal__header
	height 60px
	padding 0 20px
	background #427dc6
	phone height 60px

.modal__header--title
	display inline-block
	font-size responsive-size(16px)
	color #fff
	line-height 60px
	white-space nowrap
	font-weight normal

.modal__header--close
	float right
	width 17px
	height 100%
	ir()
	background url('../img/modules/modal/close.png') no-repeat center center
	background-size 17px
	transition all .3s ease-out

	&:hover
		opacity .75



/*
 * content
 */

.modal__content
	absolute top 10% left 50%
	width 800px
	margin 0 0 0 -400px
	background #fff
	max-height 80%
	phone width 100%
	phone absolute top 0 left 0
	phone margin 0 !important
	phone height 100%
	phone max-height inherit
	phone overflow auto

	.l-center
		position relative
		display inline-block
		zoom 1
		width 0
		height 100%
		vertical-align middle

	h4
		width 100%
		height responsive-size(60px)
		padding 0 20px
		font-size responsive-size(16px)
		color #333
		line-height responsive-size(60px)
		font-weight bold

.modal__form--message
	width 100%
	height responsive-size(180px)
	padding 20px
	border 0
	border-top 1px solid #cecece
	border-bottom 1px solid #cecece
	background #f2f2f2
	font-size responsive-size(16px)
	color #333
	outline none
	resize none
	font-weight normal

.modal__wrapper
	padding 30px

	.customCheckbox
		margin 30px 0
		font-weight normal

.modal__content-text
	height 400px
	overflow-y auto

	h4
		padding-left 0

	p
		margin-bottom 20px
		line-height responsive-size(18px)

	strong
		font-weight bold


.modal__btn-delete
	margin-left 10px
	background #ce3333
	&:hover
		color #ce3333

/**
 * Form
 */

.modal__field
	display block
	position relative
	margin-bottom 10px
	color #333
	font-weight bold

	span
		font-weight normal

	input, textarea
		margin-top 5px

	textarea
		height responsive-size(80px)
		resize none

.modal__hash-icon
	display inline-block
	vertical-align middle
	position relative
	left 2px
	width 15px
	height 13px
	margin -2px 0 0 0
	background url('../img/modules/modal/ico-hashtag.png') no-repeat left center
	background-size 13px

.modal__hash-icon--white
	background-image url('../img/modules/modal/ico-hashtag-white.png')

label
	.modal__hash-icon
		height 10px
		left 6px
		background-size 10px

.btn
	.modal__hash-icon
		height 15px
		left -1px
		margin-left 5px
		background-size 15px
		transition all 300ms ease

	&:hover
		.modal__hash-icon
			background-image url('../img/modules/modal/ico-hashtag-blue.png')

/*
 * footer
 */

.modal__footer
	padding 20px

.modal__user
	float left
	height 50px

.modal__user--thumb
	display inline-block
	border-radius 50%

.modal__user--name
	display inline-block
	margin-left 5px
	vertical-align middle
	height 100%
	font-size responsive-size(13px)
	line-height responsive-size(15px)
	font-weight bold

.modal__footer--submit
	float right
	margin-top 10px
