#modal__create-password
	p
		margin-bottom 20px
	label
		font-size responsive-size(12px)
		font-weight bold
	.input-text
		width 40%
		margin 5px 0 20px
		phone width 100%
		display block

	.parsley-errors-list
		display none