#modal__manage-luggage
	clearfix()
	.modal__content
		width 650px
		margin-left -325px
	.modal__wrapper
		padding 0
		display flex
	.modal__footer
		border-top 1px solid #d9d9d9
.manage-luggage__left
	flex 1
	border-right 1px solid #d9d9d9
.manage-luggage__segment
	border-bottom 1px solid #d9d9d9
	&:last-child
		border 0
	&.is-active
		.manage-luggage__segment-bar
			background white
			cursor default
			&:after
				background-position left bottom
		ul
			display block
	ul
		padding 15px
		display none
		a
			padding 15px
			color black
			text-decoration none
			display block
			font-weight bold
			&.is-active
				background #01b0f1
				color white
				&:hover
					background #01b0f1
			&:hover
				background #d1d1d1
.manage-luggage__segment-bar
	background #f2f2f2
	color black
	text-decoration none
	padding 10px
	display block
	border-bottom 1px solid #d9d9d9
	&:after
		content ''
		display block
		float right
		width 12px
		height 8px
		background url('../img/modules/modal-manage-luggage/arrows.png') no-repeat
		background-size 12px
		position relative
		top 2px
.manage-luggage__bag
	width 36px
	height 26px
	background url('../img/modules/modal-manage-luggage/bag.png') no-repeat center center
	display inline-block
	color white
	font-size 12px
	box-sizing border-box
	padding-top 10px
	text-align center
	position relative
	font-weight bold
	float right
	top -8px
	margin-left 5px
.manage-luggage__right
	flex 1
.manage-luggage__header-info
	display flex
	padding 10px
	border-bottom 1px solid #d9d9d9
	span
		display inline-block
		flex 1
		&:nth-child(2)
			text-align center
.manage-luggage__bags
	background #f1f1f1
	li
		display flex
		border-bottom 1px solid #d9d9d9
		padding 10px
		&:last-child
			border-bottom 0
		span
			line-height 34px
		.bag-title, .bag-price, .bag-button
			flex 1
		.bag-button
			padding 10px 0
			font-weight bold
			font-size responsive-size(14px)
		.bag-price
			text-align center
.manage-luggage__total-price
	float right
	line-height 36px
	font-size responsive-size(16px)
