#modal__insurance-details
	clearfix()
	.modal__wrapper
		height 340px
		overflow auto
		margin 30px 0
		padding 0 30px
	p
		margin 15px 0


@media _phone
	#modal__insurance-details
		.modal__wrapper
			height auto