#modal-loading
	display none
	fixed top left
	z-index 999
	width 100%
	height 100%
	background rgba(0,0,0,.75)

	&.modal--active
		display block

	.modal-loading--title
		font-size 16px
.modal-loading__content
	width 300px
	height 150px
	background url('../img/loader-2.gif') center 30px no-repeat white
	position absolute
	top 50%
	left 50%
	margin -75px 0 0 -150px
	text-align center
	box-sizing border-box
	padding-top 80px
	p
		color #999
		margin-top 5px
		font-size 13px
