#modal__flight-details
	.modal__wrapper
		padding 0
	.modal__content
		height 600px
.modal__flight-details--header
	clearfix()
	padding 20px
.btn--select
	float right
.modal__flight-details--price
	font-size 28px
	position relative
	top 5px
	font-weight bold
	small
		font-weight normal
		font-size 14px
		color #676767
.modal__flight-details--from-to
	background #f2f2f2
	border 1px solid #e5e5e5
	border-left 0
	botder-right 0
	padding 10px
	color #666
	font-weight bold
	font-size 14px
	margin-bottom 20px
	small
		font-weight normal
	strong
		font-weight bold
		font-size 15px
.modal__flight-details--flight-group
	padding 0 20px
	clearfix()
.modal__flight-details--flight--company
	position absolute
.modal__flight-details--flight-info
	color #333
	margin-bottom 20px
	padding-left 50px
	strong
		font-weight bold
	span
		font-size 16px
		display inline-block
		margin-bottom 3px
	small
		display block
		font-size 13px
		color #666
	.dif
		margin 0 3px
.modal__flight-details-baggage
	color #427dc6
	font-weight bold
	text-decoration none
	&:hover
		text-decoration underline
.modal__flight-details--layover
	color #666
	padding-left 40px
	width 100%
	float left
	clearfix()
	position relative
	margin-bottom 20px
	&:after
		content ''
		display block
		position absolute
		left 40px
		right 0
		height 1px
		background #e5e5e5
		top 17px
		z-index 1
	span
		padding 10px
		border 1px solid #e5e5e5
		border-radius 5px
		font-size 12px
		display block
		float left
		background white
		position relative
		z-index 2
.modal__flight-details--content
	position absolute
	top 135px
	bottom 0
	width 100%
	overflow auto
.modal__flight-details--overnight
	display none !important
	padding-left 20px
	margin-left 15px
	font-size 16px
	color #999
	background url('../img/modules/results/ico-overnight.png') no-repeat 0 100%
.modal__flight-details--overnight-active
	display inline-block !important
