#modal--select-your-seat
	.modal__content
		// margin-top responsive-size(-300px)
		height responsive-size(600px)
		width 960px
		margin-left -480px
		phone width 100%
		phone height 100%
	.modal__wrapper
		padding 0
		height 100%
		padding-bottom responsive-size(60px)
		clearfix()
		phone height auto
		phone padding 0
	.l-col-50
		phone width 100%
	.modal--select-your-seat--seats
		position relative
		z-index 1
		width 106%
		margin-left -3%
		text-align center
		white-space nowrap
		background-repeat no-repeat
		padding 0 40px

		&.exit-left
			background-image url(../img/modules/select-your-seat/exit_arrows.png)
			background-position left 10px

		&.exit-right
			background-image url(../img/modules/select-your-seat/exit_arrows.png)
			background-position right -40px
			
		&.exit-both
			background-image url(../img/modules/select-your-seat/exit_arrows.png), url(../img/modules/select-your-seat/exit_arrows.png)
			background-position left 10px, right -40px

		&:first-child
			li
				position relative
				&:before
					position absolute
					top -35px
					content attr(data-seat-column)
					vertical-align top
					font-size responsive-size(12px)
					width 10px
					left 50%
					margin-left -5px
					font-weight bold
				&.corridor + .no-seat
					&:before
						content ""

		li
			position relative
			display inline-block
			margin 1px
			width 32px
			line-height 40px
			color #333 

			&:first-child:after, &:last-child:after
				position absolute
				width 21px
				height 35px
				line-height 35px
				vertical-align top
				text-align center
				content attr(data-row-number) 
				font-size responsive-size(12px)
				font-weight bold

			&:first-child:after
				left -30px

			&:last-child:after
				right -30px

		button
			width 32px
			height 26px
			background url(../img/modules/select-your-seat/seat.png) no-repeat
			display inline-block
			margin 0
			padding 0
			border 0
			outline none
			cursor pointer
			vertical-align middle
			position relative
			top -5px
		.unavailable
			button
				pointer-events none
				cursor not-allowed
				background-position -32px 0
		.selected
			button
				background-position -64px 0
		.selected-friend
			button
				background-position -128px 0

		.reserved
			cursor not-allowed !important
			button
				background-position -96px 0
				pointer-events none
				&:after
					pointer-events none

		.bassinet
			button
				position relative
				&:after
					content url(../img/modules/select-your-seat/bassinet.png) !important
					position absolute
					z-index 1
					top 7px
					left 50%
					display block
					margin-left -6.5px
					pointer-events none

		.closet
			button
				background-position -320px 0
				text-indent -9999px
				pointer-events none

		.handicapped
			button
				position relative
				&:after
					content url(../img/modules/select-your-seat/handicapped.png) !important
					position absolute
					z-index 1
					top 6px
					left 50%
					display block
					margin-left -5.5px
					pointer-events none

		.with-child
			button
				position relative
				&:after
					content url(../img/modules/select-your-seat/infant.png) !important
					position absolute
					z-index 1
					top 6px
					left 50%
					display block
					margin-left -4.5px
					pointer-events none

		.leg-space
			button
				position relative
				&:after
					width 32px
					height 26px
					content "XL"
					background url(../img/modules/select-your-seat/seat.png) no-repeat
					background-position 0px 4px
					position absolute
					z-index 1
					top -7px
					left 50%
					margin-left -16px
					display block
					pointer-events none
					font-size responsive-size(12px)
					font-weight bold
					color #656664
					padding-top 14px
			&.unavailable
				button
					&:after
						background-position -32px 4px
			&.selected
				button
					&:after
						background-position -64px 4px
			&.selected-friend
				button
					&:after
						background-position -128px 4px
			&.reserved
				button
					&:after
						background-position -96px 4px

		.lavatory
			button
				background-position -256px 0
				text-indent -9999px
				pointer-events none

		.stairs
			button
				background-position -288px 0
				text-indent -9999px
				pointer-events none

		.no-seat
			pointer-events none
			button
				opacity 0
				cursor default
				pointer-events none

		.corridor + :not(.no-seat)
			position relative
			margin-left 25px

.modal--select-your-seat--left
	border-right 1px solid #e5e5e5
	box-sizing border-box
	background #f2f2f2
	overflow auto
	width 33.333%
	phone overflow hidden
	clearfix()
.modal--select-your-seat--right
	width 66.333%
	background #f2f2f2
	overflow-y auto
	overflow-x hidden

.modal--select-your-seat-flight
	border-bottom 1px solid #e5e5e5
	&.active
		.from-to
			border-bottom 1px solid #e5e5e5
			cursor default
			&:after
				background-position left top
			&:hover
				background #f2f2f2 !important
	.from-to
		background #f2f2f2
		display block
		width 100%
		padding responsive-size(10px)
		cursor pointer
		border-bottom 0
		position relative
		&:after
			display block
			position absolute
			content ''
			width 12px
			height 8px
			top 16px
			right 10px
			background url('../img/modules/select-your-seat/arrows.png') left bottom
		&:hover
			background #fcfcfc
	.passenger-seat
		border 0
		padding responsive-size(10px)
		margin 0
		background white
		outline none
		width 100%
		text-align left
		font-size responsive-size(16px)
		cursor pointer
		margin-bottom 10px
		&:last-child
			margin-bottom 0
		&:hover, &.active
			background #01b0f1
			color white
	.passenger-seat-number
		width responsive-size(40px)
		margin-right 10px
		padding responsive-size(5px)
		font-size responsive-size(15px)
		text-align center
.modal--select-your-seat-flight__seats
	padding 0 responsive-size(10px)
	background white
	display block
	transition all 300ms ease
	max-height 0
	overflow hidden
	opacity 0

.modal--select-your-seat-flight__seats--active
	padding responsive-size(10px)
	max-height 500px
	opacity 1

.modal--select-your-seat-flight__legend
	font-size responsive-size(12px)
	color #333
	padding 20px
	background white
	border-bottom 1px solid #e5e5e5
	li
		line-height responsive-size(30px)
	.seat-icon
		margin-right 10px
		position relative
		top 5px
.seat-icon
	width 32px
	height 26px
	background url(../img/modules/select-your-seat/seat.png) no-repeat
	display inline-block
.seat-not-available
	background-position -32px 0
.seat-selected
	background-position -64px 0
.seat-already-reserved
	background-position -96px 0
.modal--select-your-seat-flight__footer
	background #f2f2f2
	padding 20px
	phone display none

.modal--select-your-seat--airplane
	min-width 350px
	// padding-right 199px
	position relative
	display inline-block
	z-index 3
	// padding-left 60px
	phone padding 0
	phone height auto
	phone overflow hidden

	.left_wing, .right_wing
		width 30px
		content ' '
		display block
		position absolute
		top 200px


	.right_wing
		right 100%
		margin-right -21px
		background #d9d9d9

	.left_wing
		left 100%
		margin-left -20px
		background #d9d9d9


	.modal--select-your-seat--airplane__front
		width 100
		height 59px
		display block
		margin auto
		position relative

		&:after, &:before
			width 50%
			content ' '
			display block
			position absolute
			top 0
			bottom 0

		&:after
			background url(../img/modules/select-your-seat/airplane-front.png) right top no-repeat
			right 0
		&:before
			left 0
			background url(../img/modules/select-your-seat/airplane-front.png) left top no-repeat

	.modal--select-your-seat--airplane__middle
		background white
		border-left 1px solid #d9d9d9
		border-right 1px solid #d9d9d9
		padding 40px 0px 20px
		// width 342px
		margin 0 20px 0 21px
		position relative
	.modal--select-your-seat--airplane__back
		width 100%
		height 137px
		display block
		margin auto
		position relative

		&:after, &:before	
			width 50%
			content ' '
			display block
			position absolute
			top 0
			bottom 0

		&:after
			background url(../img/modules/select-your-seat/airplane-back.png) right top no-repeat
			right 0
		&:before
			left 0
			background url(../img/modules/select-your-seat/airplane-back.png) left top no-repeat



.modal--select-your-seat--zones
	z-index 2
	position absolute
	left 0
	right 10px
	box-sizing border-box
	top 80px
	phone display none
.modal--select-your-seat--zone
	border 1px solid #d9d9d9
	border-left 0
	// min-height 80px
	margin-bottom 4px
	text-align right
	box-sizing border-box
	padding 10px
	&.is-hovered
		background #cee8f2
		border-color #b9d0d9
	.modal--select-your-seat__zone-price, .modal--select-your-seat__zone-name
		display block
		margin-bottom 5px
