.mosaic
	background #000
	overflow hidden
.mosaic__items-container
	position absolute
	width 33.333% !important
	height 100%
	outline none
	border-left 1px solid #474747
	box-sizing border-box
	.mCSB_dragger
		&:before
			content 'Compact'
	&:nth-child(2)
		left 33.333%
		.mCSB_dragger
			&:before
				content 'Standard'
	&:nth-child(3)
		left 66.666%
		.mCSB_dragger
			&:before
				content '4x4'
.mosaic__scroll
	padding 0
	clearfix()

	.mosaic__item:first-child
		.mosaic__logo
			img
				absolute top 50px right 15px

.mosaic__item
	width 100%
	height responsive-size(160px)
	position relative
	float left
	font-size 2.5vh
	transition all 400ms ease
	overflow hidden
	transform translate3d(0,0,0)
	border-bottom 1px solid #474747
	&:hover
		background-size 1000px
	&:first-child
		padding-top 40px
	&:last-child
		padding-bottom 40px
		.mosaic__price, .mosaic__title
			padding-bottom 40px
	a
		color #474747
		absolute left bottom right
		height 100%
		display block
		background linear-gradient(transparent, rgba(0, 0, 0, 0), rgba(0, 0, 0, .8))

	&:hover
		.mosaic__item-image
			opacity .5
.mosaic__item-image
	absolute left 0 top 0
	width 100%
	height 100%
	background-repeat no-repeat
	background-position center center
	background-size cover
	transition all 150ms ease

.mosaic__item--2-2
	width 66.666666%
	height 66.666666%
	float right
	font-size 5vh

.mosaic__title
	absolute bottom 5px left 20px
	font-weight bold
	font-size 0.8em
	transition all 250ms ease
	strong
		font-weight normal

.mosaic__category
	display block
	font-size .7em
	line-height .7em
	margin-bottom responsive-size(5px)

.mosaic__price
	absolute bottom 5px right 20px
	transition all 250ms ease
	transition-delay 80ms

.mosaic__logo
	img
		width auto
		height responsive-size(19px)
		max-height 33px
		absolute top 15px right 15px

.mosaic__price-subject
	display inline-block
	font-size .6em
	margin-right 0px

.mosaic__price-value
	font-size 1.5em
	line-height 70%
.mosaic__price-from
	font-size responsive-size(12px)

.mosaic__departure
	display block
	absolute top right
	z-index 10
	width responsive-size(430px)
	padding 5px 1% 10px 1%
	font-size 13px
	background #01b0f1
	color #474747
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
	font-weight bold
	box-sizing border-box


	p
		width 35%
		line-height 30px
		display inline-block

	.customSelect
		float right
		display inline-block
		width 61%
		height 30px
.mCSB_draggerRail
	display none !important
.mCSB_container
	margin 0 !important
	z-index 2 !important
.mCSB_scrollTools
	width 100% !important
	margin 0 !important
	opacity 1 !important
.mCSB_dragger
	background url('../img/dragger.png') no-repeat right 15px center #999999 !important
	width 100% !important
	z-index 3 !important
	height 40px !important
	color white
	font-size 16px
	line-height 40px
	padding-left 10px
	font-weight bold
	cursor grab !important
	cursor -webkit-grab !important
	cursor -moz-grab !important
	&:active
		cursor grabbing !important
		cursor -webkit-grabbing !important
		cursor -moz-grabbing !important
.mCSB_dragger_bar
	display none !important
