.results-list-mobile
	background #427dc6

.results-list-mobile__summary
	padding 0 responsive-size(15px)
	border-bottom 1px solid #386aa8

.results-list-mobile__summary-item
	padding responsive-size(10px) 0
	border-bottom 1px solid #386aa8
	font-size responsive-size(12px)
	color #fff

	&:last-child
		border 0

	strong
		font-weight bold
.results-list-mobile__list
	background #427dc6
	padding responsive-size(15px)
.results-list-mobile__list-price
	background #f2f2f2
	padding 10px
	text-align right
	clearfix()
	font-size 0
	strong
		font-size 18px !important
		display inline-block
		vertical-align middle
		text-align left
		width 50%
	.btn
		display inline-block
.results-list-mobile__list-price-btn
	display inline-block
	width 50%
.results-list-mobile__flight-from-to
	background #f7f7f7
	padding 10px
	border-top 1px solid #e5e5e5
	border-bottom 1px solid #e5e5e5
	text-align left
	font-size responsive-size(12px)
.results-list-mobile__flight-info
	background white
	width 100%
	table
		width 100%
	td
		padding 10px
		border-bottom 1px solid #e6e5e5
		font-size responsive-size(12px)
	tr
		&.is-checked
			td
				background #edf9fe
		&:last-child
			td
				border-bottom 0
.results-list-mobile__airline-image
	vertical-align middle
.results-list-mobile__item
	margin-bottom responsive-size(15px)
	&:last-child
		margin-bottom 0
.results-list-mobile__btn-load-more
	display none
	background #01b0f1
	color #fff
	text-align center
	text-decoration none
	font-size 13px
	font-weight bold
	padding 10px 0
	text-transform uppercase
.results-list-mobile__loading
	display block
	padding 20% 0 100% 0
	color #fff
	text-transform uppercase
	font-weight bold
	text-align center
	font-size 12px

@media _phone
	.results-list-mobile__btn-load-more
		display block
