.results-filter-flight
	position relative
	width 100%
	height 100px
	background #427dc6
	box-sizing border-box
	font-weight bold
	font-size 12px
	z-index 2

	.clear
		clearfix()

	*
		box-sizing border-box

.results-filter-flight__col
	position relative
	float left
	width 50%
	height 100px
	padding 15px 10px 0 20px
	border-right 1px solid #386aa8
	background #427dc6

	&:nth-child(1)
		width 40%
		padding-top 25px

	&:nth-child(2)
		padding-top 21px

	&:nth-child(3)
		padding 0
		border 0
		width 10%


.results-filter-flight__row
	color #fff

	&:after
		clearfix()

	&:first-child
		margin-bottom 10px

	p
		display inline-block
		width 16%
		vertical-align top
		margin-top 1px
		font-weight bold

	strong
		font-weight bold
		color #264d7d


.results-filter-flight__row--range
	color #fff

	&:first-child
		margin-bottom 20px

	p
		width 50%
		margin-top 0
		line-height 14px

	strong
		display inline-block
		width 40%

	.slider-range
		display inline-block
		width 40%
		margin-top 4px


.results-filter-flight__colBoxCheckboxs
	display inline-block
	width 78%

.results-filter-flight__boxCheckbox
	display inline-block
	margin 0 responsive-size(10px) responsive-size(10px) 0
	font-size responsive-size(13px)

	label
		line-height 2vh

.results-filter-flight__calendar
	display block
	absolute top left
	width 100%
	height 100%
	color white
	text-decoration none
	text-align center
	padding-top responsive-size(80px)

	&:before
		display block
		content ''
		absolute top 50% left 50%
		width 27px
		height 31px
		margin -30px 0 0 -13px
		background url('../img/modules/filters/sprite-filters.png') no-repeat -40px 0
		background-size 100px

	&:hover
		color #264d7d
		&:before
			background-position -68px 0


/**
 * Optional
 */
.results-filter-flight--optional
	border-top 1px solid #386aa8
	height 50px

	.results-filter-flight__col
		width 50%
		height 50px

		&:nth-child(2)
			padding-top 15px
			border-right 0




@media (max-width: 1700px)

	.results-filter-flight__col:nth-child(1)
		padding-top 16px

	.results-filter-flight__row--range
		&:first-child
			margin-bottom 12px

		p strong
			display block

		.slider-range
			margin-top 12px


// @media (max-width: 1240px)

// 	.results-filter-flight__col:nth-child(2)
// 		padding-top 12px



@media _phone
	.results-filter-flight
		display none
@media (max-width: 1365px)
	.results-filter-flight__boxCheckbox
		font-size responsive-size(12px)
@media (min-width: 1650px)
	.results-filter-flight__boxCheckbox
		font-size responsive-size(14px)
