.results-filter--sleep
	.btn-search
		height 40px
		width 8%
		float right
		margin-top 12px
		margin-right 10px
		position relative
		&:before, &:after
			content ''
			width 20px
			height 20px
			display block
			background url('../img/modules/results-filter/search.png') no-repeat
			transition all 300ms ease
			position absolute
			left 50%
			top 50%
			margin -10px 0 0 -10px
		&:after
			opacity 0
			background-position left bottom
		&:hover
			&:after
				opacity 1

.results-filter-compact
	position relative
	width 100%
	height 140px
	background #427dc6
	box-sizing border-box
	font-weight bold
	font-size 12px
	z-index 20
	form
		clearfix()
	.bottom-filters
		display flex
		width 100%
		.results-filter-compact__col
			flex 1
	.is-white
		background #f2f2f2
		color #888
		&:last-child
			border-right 0 !important
		label, strong
			color #888
		&.results-filter-compact__col
			border-right 1px solid #dedede
			border-bottom 1px solid #dedede
		&.results-filter-compact__range
			strong
				float left
				width auto
			.results-filter-compact__range--values
				float right
				width auto
				color #427dc6 !important
			p
				text-align left
				clearfix()
				margin-top 2px
			.noUi-handle
				background #01b0f1
			.noUi-connect
				background #32c8ff

	*
		box-sizing border-box

	.customSelect
		border none
		background #fff

		.customSelect-select
			padding 3px 10px
			font-size 13px
			font-weight bold
			color #333

.results-filter-compact__back
	padding 10px
	height 40px
	border-bottom 1px solid #386aa8

.results-filter-compact__back--btn
	position relative
	font-size responsive-size(14px)
	font-weight bold
	color #fff
	text-decoration none
	transition all .3s ease-out

	&:before
		display inline-block
		content ''
		margin-right 6px
		width 7px
		height 11px
		background url('../img/modules/filters/sprite-filters.png') no-repeat 0 -40px
		background-size 100px
		transition all .3s ease-out

	&:hover
		opacity .7


.results-filter-compact__col
	float left
	width 33.3%
	height 75px
	padding 10px
	border-right 1px solid #386aa8
	vertical-align top

	&:last-child
		border-right 0

.results-filter-compact__search-container
	float left
	width 56.6%
	height 65px
	padding 12px 10px 10px
	border-right 1px solid #386aa8
	border-bottom 1px solid #386aa8

	label
		display inline-block
		height 40px
		background #fff

	span, input
		display inline-block
		width 20%
		height 100%
		line-height 40px
		vertical-align top

	span
		text-align right

	input
		width 100%
		padding 0 10px
		border-top 0
		font-size 16px
		font-weight bold
		color #333
		background transparent

.results-filter-compact__search-container--full
	width 100%
	font-size 16px
	font-weight bold
	color #bfbfbf

	input
		width 75%
		border 0
		outline none

.results-filter-compact__search-field
	width 48%

	&:before
		width 35px

	&:first-child
		margin-right 4%

	&:last-child
		width 47%

	input
		border-left 35px solid transparent
		padding-left 0

.results-filter-compact_datepicker-container
	position relative
	height 65px
	padding 12px 10px 10px
	border-right 0
	border-bottom 1px solid #386aa8

	&:before
		display block
		absolute top 50% left 50%
		content ''
		width 5px
		height 2px
		margin -1px 0 0 -2px
		background #264d7d


	.datepicker
		&:last-child
			float right

.results-filter-compact__range
	position relative
	padding-top 6px
	text-align right
	font-size 14px
	font-weight bold
	color #fff

	.slider-range
		absolute bottom 25px left 8%
		width 84%

	p
		margin-bottom 15px

	strong
		display inline-block
		width 40%
		text-align left
		color #264d7d
		font-weight bold

.results-filter-compact__range--values
	display inline-block
	width 58%

.results-filter-compact__select-container
	padding-top 7px

	label
		display block
		line-height 16px
		margin-bottom 2px
		font-size 14px
		font-weight bold
		color #264d7d


/**
 * No results
 */

.results-filter-compact--no-results
	height 65px

	.bottom-filters
		display none


/**
 * Hotel
 */

.results-filter-compact__btn-facilities
	position relative
	width 100%
	height 40px
	background #fff
	cursor pointer

	&:after
		display block
		content ''
		absolute top right bottom
		width 45px
		height 100%
		border-left 1px solid #cecece
		background #e5e5e5 url('../img/customSelect-arrow.png') no-repeat center center
		pointer-events none
		transition all 300ms ease

	&:hover
		&:after
			background-color #f5f5f5

.results-filter-compact__btn-facilities-txt
	font-size 13px
	color #333
	font-weight bold
	padding 0 10px
	line-height 40px

/**
 * Flight
 */

.results-filter--deals-flight_results
	height 180px

.results-filter-compact__range-container
	width 50%

.results-filter-compact__range-box
	margin-bottom responsive-size(20px)

	p
		display inline-block
		font-size responsive-size(14px)
		font-weight bold

	.slider-range
		display inline-block
		width 45%
		margin-top 4px


.results-filter-compact__range-box--title
	text-align left
	width 20%
	color #264d7d

.results-filter-compact__range-box--min-max
	width 25%
	margin-right 5%
	color #fff
	text-align right


.results-filter-compact__checkbox-container
	width 50%

	p
		display inline-block
		width 10%
		margin-right responsive-size(10px)
		font-size responsive-size(14px)
		font-weight bold
		color #264d7d

.results-filter-compact__checkbox-item
	display inline-block
	margin 0 responsive-size(10px) responsive-size(20px) 0

	label
		color #fff

.results-filter-compact__checkbox-list
	display inline-block



/**
 * Deals
 */

.results-filter--deals
	height 80px
	&.is-grid
		&:last-child
			display none
		.results-filter-compact__col
			width 25%
			border-right 0

	.results-filter-compact__search-container
		width 30%
		height 80px
		border-bottom 0

	.results-filter-compact__search-field
		display inline-block
		margin-top 13px
		width 47%

		input
			border-left 10px solid transparent

	.results-filter-compact_datepicker-container
		padding-top 25px

		.datepicker
			overflow visible


	.results-filter-compact__col
		position relative
		width 19.5%
		height 80px
		border-bottom 0
		border-right 1px solid #386aa8

		&:nth-child(3), &:nth-child(4)
			width 10%

		&:last-child
			width 11%
			border-right 0

	.results-filter-compact__icon
		cursor pointer
		background url('../img/modules/filters/icon-map-view.png') no-repeat center center
		background-size 100px

	.results-filter-compact__select-container--sort
		.customSelect
			display inline-block
			width 56%

			.customSelect-select
				font-size 11px

		input
			display inline-block
			vertical-align top
			margin-left 4%
			width 38%
			height 40px



.results-filter-compact__btn-map
	absolute top left right bottom
	text-indent -999em
	overflow hidden
	transition all 300ms ease

	&:after
		display block
		content ''
		absolute top 50% left 50%
		width 130px
		height 80px
		margin -40px 0 0 -65px
		background url('../img/modules/filters/btn-deals-grid-map.png') no-repeat left center
		background-size 260px 80px
		transition all 300ms ease

	&:hover
		background #3870b5

.results-filter-compact__btn-map--active
	background #3870b5

	&:after
		background-position right center
		background-size 260px 80px

.results-map
	absolute top 80px left 0
	z-index 10
	width 100%
	height 100%
	transition all 300ms ease
	box-sizing border-box
	transform scale(1.2)
	opacity 0
	visibility hidden

.results-map--active
	transform scale(1)
	opacity 1
	visibility visible

#map-deals
	width 100%
	height 100%

.results-map-filters
	absolute top 10px left 10px
	z-index 15
	width 180px
	border-radius 1px
	box-shadow 0 0 0 2px rgba(0,0,0,.15)

	li
		position relative
		width 100%
		border-bottom 1px solid #999

		&:last-child
			border-bottom 0

.results-map-filters__btn
	display block
	width 160px
	height 40px
	padding 0 10px
	font-size 16px
	line-height 40px
	color #999
	background #fff
	font-weight bold
	text-decoration none
	transition all 300ms ease

	&:after
		display none
		content ''
		absolute right 10px top 50%
		width 30px
		height 30px
		margin-top -15px
		background url('../img/modules/filters/icons-filters-map.png') no-repeat 0 -186px

	&:before
		display inline-block
		vertical-align middle
		margin-top -4px
		content ''
		width 30px
		height 30px
		background url('../img/modules/filters/icons-filters-map.png') no-repeat
		// transition all 300ms ease

.results-map-filters__btn--active:after
	display block

.results-map-filters__btn:hover,
.results-map-filters__btn--active
	background #019cd6
	color #fff

.results-map-filters__btn[data-filter="Price"]
	&:hover,
	&.results-map-filters__btn--active
		background #3870b5
		&:before
			background-position -31px 0

.results-map-filters__btn[data-filter="Beaches"]
	&:before
		background-position 0 -31px
	&:hover,
	&.results-map-filters__btn--active
		background #01b0f1
		&:before
			background-position -31px -31px

.results-map-filters__btn[data-filter="Romance"]
	&:before
		background-position 0 -62px
	&:hover,
	&.results-map-filters__btn--active
		background #da3e3e
		&:before
			background-position -31px -62px

.results-map-filters__btn[data-filter="Skiing"]
	&:before
		background-position 0 -93px
	&:hover,
	&.results-map-filters__btn--active
		background #9a9992
		&:before
			background-position -31px -93px

.results-map-filters__btn[data-filter="Hiking"]
	&:before
		background-position 0 -124px
	&:hover,
	&.results-map-filters__btn--active
		background #339900
		&:before
			background-position -31px -124px

.results-map-filters__btn[data-filter="Weather"]
	&:before
		background-position 0 -155px
	&:hover,
	&.results-map-filters__btn--active
		background #6699cc
		&:before
			background-position -31px -155px



@media _phone
	.results-filter--deals
		display none