.results-list-drive
	height 100%
	overflow auto
	*
		box-sizing border-box

.results-list-drive__filters
	width 100%
	border-bottom 1px solid #e5e5e5
	padding 0 10px
	height 30px
	font-size responsive-size(12px)
	background #fff
	clearfix()

	p
		line-height 30px
		float left

		&:last-child
			float right
			padding-right 15px

		span
			color #999

	a
		margin-left 5px
		font-weight bold
		color #427dc6
		text-decoration none
		&:hover
			text-decoration underline

	span
		margin-left 5px


.results-list-drive__sort
	&:after
		display none
		margin -1px 0 0 5px
		content ''
		width 9px
		height 6px
		background url('../img/modules/results/sprite-results.png') no-repeat 0 -16px
		background-size 100px

.results-list-drive__sort--up:after,
.results-list-drive__sort--down:after
	display inline-block

.results-list-drive__sort--down:after
	background-position 0 -24px

.results-list-drive__result
	width 100%
	border-bottom 1px solid #e5e5e5
	clearfix()

	.results-list-drive__container
		float left
		vertical-align top
		width 60%

		&:last-child
			width 40%

		> div
			float left
			padding 20px
			width 33.3%

			&.car-picture
				img
					width 100%
					height auto

.results-list-drive__result--active
	background #f4f4f4

.results-list-drive_table
	width 100%
	font-size responsive-size(12px)

.results-list-drive__thumb
	display block
	margin 0 auto

.results-list-drive__car-detail
	h3
		margin-bottom 20px
		font-size 2.4vh
		font-weight bold
	img
		display block
	span
		display block
		font-size 1.6vh
		font-weight normal

.results-list-drive__btn-details
	display none
	border 0
	margin-top responsive-size(10px)
	border-bottom 1px solid #ccc
	background none
	padding 0
	font-size responsive-size(14px)
	font-weight normal

	&:before
		display inline-block
		content '+'
		margin-right 5px


.results-list-drive__btn-container
	width 100px
	padding-right 25px


.results-list-drive__price
	span
		font-size 14px
		font-weight bold
	strong
		display block
		font-size 26px
		font-weight bold
		line-height responsive-size(14px)


.results-list-drive__result:last-child
	td
		border-bottom 0
@media _phone
	.results-list-drive
		width 100%

	.results-list-drive__list-results
		padding 20px
		background #427dc6

	.results-list-drive__filters,
	.item-share
		display none !important

	.results-list-drive__result
		border-bottom 15px solid transparent

	.results-list-drive__btn-details
		display block

	.results-list-drive__container
		display block
		vertical-align top
		background #fff
		width 100% !important

		&:first-child
			> div
				width 50%

		&:last-child
			width 100%
			background #f1f1f1

		> div
			float inherit

	.results-list-drive__items
		// display none
		width 100% !important

	.results-list-drive__items--active
		display block
		border-top 1px solid #f1f1f1
