.results-loading
	background url('../img/modules/results/loader.gif') no-repeat center top
	padding-top 40px
	font-weight bold
	color #427dc6
	text-align center
	width 100%
	margin 40px 0
	font-size responsive-size(18px)

.results-list
	position relative
	width 100%
	height 100%
	overflow auto
	background white
	font-size 12px
	border-top 100px solid transparent
	top -100px
	box-sizing border-box

	#block_screen
		position absolute
		top 0
		left 0
		width 100%
		height 100%
		z-index 99999
		display none
		&.show
			display block

.results-content
	height 100%

.results-content__title
	display none
	line-height 50px
	padding 0 20px
	font-weight bold
	color #000
	background white

.results-list__loader
	width 100%
	height 200px
	// background #eaeaea url('../img/modules/results/loader.gif') no-repeat center top
	box-sizing border-box
	font-size 14px
	color #427dc6
	font-weight bold
	position absolute
	top 50%
	padding-top 0px
	margin-top -100px
	img
		display inline-block
		vertical-align middle
.results-list__loader-counting
	font-size 110px
	text-align center
	display block
	margin-bottom 20px
.results-list__no-results
	font-size 18px
	line-height 1.3
	text-align center
	display block
	margin-bottom 20px
	padding 0 15%
	font-weight normal
.results-list__loader-searching
	position absolute
	width 50%
	text-align right
	display block
	padding-right 10px
	box-sizing border-box
	font-size 20px
.results-list__loader-li
	position absolute
	width 50%
	left 50%
	transition transform 1s ease, opacity 200ms linear
	opacity 0
	transform translateY(-25px)
	display block
	font-size 20px
	&.active
		transition transform 500ms ease, opacity 600ms linear
		transform translateY(0)
		opacity 1



.results-list__table
	width 100%
	background #f5f5f5
	&.is-white
		background white

	th
		height 30px
		padding 0 10px
		border-bottom 1px solid #dedede
		border-right 1px solid #dedede
		line-height 30px
		text-align left
		font-weight bold
		color #427dc6
		background #fff

		&:last-child
			border-right 0

	.results-list__nobd
		border-right 0


.results-list__col-15
	width 15%

.results-list__col-25
	width 25%


.results-list__result
	font-size 13px
	line-height 18px
	color #333
	border-top 1px solid #dedede

	&:after
		content ' '
		display table-row
		height 5px

.results-list__order
	display block
	font-weight bold
	text-decoration none
	color #427dc6

	&:after
		display inline-block
		margin -1px 0 0 5px
		content ''
		width 9px
		height 6px
		background url('../img/modules/results/sprite-results.png') no-repeat
		background-size 100px

.results-list__order--down
	&:after
		background-position 0 -8px



/*
 * Details active
 */
.results-list__result--active

	.results-list__item td
		border-bottom 0

	.results-list__elementDetails td
		display table-cell

	.results-list__more-details
		text-decoration underline
		&:before
			content '-'

	.item-share
		display block



/**
 * Flight
 */

.results-list__item--return-flight
	li
		&:last-child
			&:before
				background-position -44px 0 !important
				height 12px !important

.results-list__item
	&:hover
		td
			background rgb(242, 252, 255)

		.results-list__price-container
			background #fff !important

		.results-list__tripDepartureArrival
			p
				&:first-child,
				&:last-child
					&:before
						background rgb(242, 252, 255)


	td
		padding 20px 10px
		text-align center
		background white
		vertical-align middle
		border-bottom 1px solid #dedede
		font-size 12px
		// cursor pointer


	strong
		display block
		font-weight bold

	li
		position relative
		display inline-block
		padding-left 30px
		margin-right 10px
		text-align left

		.results-list__trip-company
			absolute top left -10px

		&:last-child
			margin-right 0
			&:before
				display block
				absolute top 5px left -2px
				content ''
				width 24px
				height 8px
				background url('../img/modules/results/sprite-results.png') no-repeat -20px 0
				background-size 100px

	.results-list__trip
		text-align left

	.results-list__deal-price
		position relative
		border-left 1px solid #dedede
		text-align left
		vertical-align top


	.results-list__table-deal-price
		width 100%
		margin-top 10px

		.results-list__separated-deal,
		.results-list__together-deal
			text-align left
			border 0
			vertical-align top

		.results-list__separated-deal
			padding 0 10px 0 0
			padding-right 10px !important

		.results-list__together-deal
			padding 0

		.results-list__price-container
			border-bottom 0

		.results-list__btn
			margin-top 15px


	.results-list__price-container
		position relative
		text-align left
		border-left 1px solid #dedede
		border-bottom 1px solid #dedede

.results-list__trip-company
	vertical-align top
	display inline-block
	margin-right 10px

.results-list__tripDepartureArrival
	position relative
	vertical-align top
	display inline-block
	border-left 1px solid #b8b8b8

	strong
		display inline-block

	p
		position relative
		padding-left 35px
		font-size 12px

		i
			display block
			content ''
			absolute top 50% left 0
			width 20px
			height 1px
			background #b8b8b8

		&:before
			absolute top 50% left 20px
			display block
			content ''
			width 5px
			height 5px
			margin-top -3px
			border-radius 50%
			background transparent
			border 1px solid #b8b8b8


		&:first-child,
		&:last-child
			padding-left 15px

			i
				display none

			&:before
				top 0px
				left -1px
				height 50%
				margin-top 0px
				background #fff
				border-radius 0px
				border 0

			&:after
				absolute top 50% left -1px
				display block
				content ''
				width 7px
				height 1px
				background #b8b8b8

		&:last-child
			&:before
				top 50%

			strong
				&:before
					absolute top 50% left 6px
					content ''
					width 0
					height 0
					margin-top -4px
					border-left 4px solid #b8b8b8
					border-top 4px solid transparent
					border-bottom 4px solid transparent

.results-list__more-details
	text-decoration none
	color #427dc6
	font-size 1.6vh

	&:hover
		text-decoration underline

.results-list__price
	margin 15px 0
	font-weight bold
	font-size responsive-size(14px)
	color #333

	span
		display block
		font-weight normal

	strong
		font-size responsive-size(28px)

.results-list__btn
	display block
	width 100%


.results-list__elementDetails
	> td
		display none
		border-bottom 1px solid #dedede
		background #ebebeb
		text-align left
		font-size 11px
		line-height 18px
		color #333
		padding 20px 10px 20px 20px

		a
			color #666
			text-decoration none
			&:hover
				color #000





/**
 * Hotel
 */

.hotel-results__scroll
	position absolute
	width 100%
	overflow auto
	top 0
	bottom 0

	.fixed-header__bottom
		border-top 0
		border-bottom 1px solid #e5e5e5

		.fixed-header__matching-results, .fixed-header__sort-by
			font-size responsive-size(16px)
			color #000
			

.results-list__facilities
	absolute top left right
	z-index 2
	padding 20px 0 0 10px
	background rgba(229, 229, 229, 0.95)
	clearfix()

	.customCheckbox
		width 25%
		color #333
		cursor default
		display inline-block
		height 30px
		clearfix()
		&:before
			position absolute
		label
			padding-left 20px
			position relative
			top 1px
			float left

.hotel-results__header
	border-bottom 1px solid #dedede
	clearfix()
	letter-spacing 1px
	ul
		width 50%
		display flex
		float left
		text-align center
		li
			height 30px
			padding 0 10px
			border-right 1px solid #dedede
			line-height 30px
			color #666
			background #fff
			display inline-block
			flex 1
			&:nth-child(4)
				float right

	.results-list__order
		float right
		line-height 30px
		margin-right 10px

.hotel-results__box
	display flex
	position relative
	margin-bottom 6px
	background url('../img/modules/results/loader.gif') no-repeat 1000px 1000px
	&:after
		content ''
		height 5px
		background #eaeaea
		display block
		position absolute
		width 100%
		left 0
		bottom -6px
		border-bottom 1px solid #dedede
	&:hover:not(.hotel-results__box--loading)
		background #edf9fe
		box-shadow inset 0 -2px 0 0 #01b0f1, inset -1px 1px 0 0 #01b0f1

	&.hotel-results__box--over-from-map
		background #edf9fe
		box-shadow inset 0 -2px 0 0 #01b0f1, inset -1px 1px 0 0 #01b0f1



.hotel-results__box--loading
	background-position center center
	.hotel-results__content-box
		opacity .2

.hotel-results__link
	absolute top left right bottom

.hotel-results__content-box
	padding 10px
	flex 1
	border-bottom 1px solid #dedede
	&:nth-child(2)
		border-right 1px solid #dedede
		flex 3
	h3
		font-weight bold
		font-size responsive-size(18px)
	strong
		font-weight bold
	small
		color #999

.hotel-results__content-box--package
	flex 2.3
	padding-top 30px

.hotel-results__separated,
.hotel-results__together
	display inline-block
	width 52%
	vertical-align top

.hotel-results__separated
	width 40%
	margin-right 5%
	strong
		display block
		margin 5px 0 10px 0
		font-size responsive-size(22px)
		color #666
		text-decoration line-through

.hotel-results__more
	text-decoration underline
	margin-top 5px
	display block
	margin-bottom 15px

.hotel-results__price
	span
		display block
		strong
			font-size responsive-size(26px)
	.btn
		width 100%
		margin-top 10px
		margin-bottom 10px

.hotel-results__rooms-left
	color #c72929

.hotel-results__hotel-image
	width 180px
	height 180px
	overflow hidden
	border 1px solid #594f48
	float left
	margin-right 10px
	img
		min-width 100%
		min-height 100%

.hotel-results__reviews
	border-top 1px solid #dedede
	margin-top 10px
	padding-top 10px
	#CDSLOCINNER
		display none !important
	.cdsROW.narrow
		padding 0 !important
		margin auto
	.cdsROW
		background none !important

.results-list--sleep
	border-top 140px solid transparent
	top -136px
	overflow hidden

	td
		background #fff
		padding 10px
		vertical-align top
		border-bottom 1px solid #dedede
		width 50%

	.results-list__options
		padding 0

		tr:last-child
			td
				border-bottom 0 !important


.results-list__order--sleep
	text-align right

.hotel-stars--sleep
	margin 10px 0 10px 0


.hotel-people--sleep
	vertical-align: middle;
	margin 1vh 0


.results-list__price-container--sleep
	border-left 0
	width 40%


.results-list__price--sleep
	margin-top 0
	margin-bottom 5px
	strong
		display block
	span
		font-size 14px


.results-list__thumb
	display block
	margin 0 auto
	border 1px solid #594f48


.results-list__details
	h3
		font-weight bold

	a
		display block
		color #333
		text-decoration none
.details--hotel
	position relative
	height 0px
	.details--hotel
		border-bottom 0 !important
	a
		position relative
		display block
		height 100%
.details--hotel-table
	height 100%
	width 100%
	border 1px solid transparent
	box-sizing border-box
	cursor pointer
	&:hover
		border 1px solid darken(#f2fcff, 10)
		td
			background #f2fcff
		.results-list__btn-more
			color #01b0f1
			text-decoration underline
.results-list__btn-more
	color #333
	font-size responsive-size(16px)
	text-decoration none
	cursor pointer

.results-list__options
	border-left 1px solid #dedede
	h4
		width 95%
		font-size 2vh

	td
		padding 10px
		border-bottom 1px solid #dedede


.results-list__option-warning
	color #c72929
	font-weight bold


.results-list__tripadvisor-container
	margin 1.5vh 0
	padding 15px 0 5px
	border-top 1px solid #dedede
	border-bottom 1px solid #dedede

	.cdsROW
		background none
		padding 0 !important

	.cdsLocName
		display none



/**
 * Deals
 */
// .results-list--deals
// 	border-top 140px solid transparent
// 	top -140px

// 	td
// 		background #f5f5f5
// 		padding 10px
// 		vertical-align top
// 		border-bottom 1px solid #dedede

// 	.results-list__btn
// 		display inline-block
// 		width auto

// .results-list__separated-deal
// 	vertical-align middle
// 	border-left 1px solid #dedede

// .results-list__together-deal
// 	vertical-align middle
// 	border-left 0

// .results-list__separated-price
// 	margin-bottom responsive-size(10px)
// 	font responsive-size(18px) 'bold'
// 	color #999
// 	text-decoration line-through

// .results-list__together-price
// 	margin 5px 0 10px 0

// 	strong
// 		font-family 'bold'
// 		font-size responsive-size(24px)

.results-list--deals
	top 0
	border-top 0
	padding 20px 0
	border-bottom 70px solid transparent

	.results-list__result
		display inline-block
		width 23%
		margin 0 .8% 1% 1%
		border 1px solid #d9d9d9
		background #fff
		border-radius 2px
		box-sizing border-box

		// &:nth-child(4n)
		// 	margin-right 0

		&:hover
			background #f1f1f1

			.results-list__tripDepartureArrival p:before
				background #f1f1f1

		a
			display block
			padding 10px 0
			color #333
			text-decoration none

		.btn
			margin-top 10px
			display inline-block

			&:hover
				color #01b0f1 !important

	.results-list__result--loading
		opacity .5

	.results-list__thumb
		border 0

	.results-list__tripDepartureArrival
		p
			font-weight bold
			strong
				font-weight normal
			&:before
				background #fff
			&:last-child
				font-size responsive-size(20px)


	.results-list__price-container
		strong
			display block
			font-size responsive-size(24px)
			font-weight bold

.results-list__thumb-container,
.results-list__content
	position relative
	display inline-block
	vertical-align top
	width 50%

.results-list__thumb-container
	position relative
	height 100%
	overflow hidden
	// background red

.results-list__discount
	absolute bottom left
	z-index 2
	padding 10px
	color #fff
	font-size 16px
	background rgba(0,0,0,.50)

	strong
		font-weight bold

.results-list__content
	margin-left 5%
	width 40%

.results-list__hotel-info
	margin 15px 0
	padding 15px 0
	border-top 1px solid #d9d9d9
	border-bottom 1px solid #d9d9d9

	h4
		font-weight bold




/**
 * Deals - Flight Results
 */

.results-list--deals-flight_results
	border-top 180px solid transparent
	top -180px

	.results-list__price
		strong
			font-size responsive-size(24px)
			font-weight bold


/**
 * Loading
 */

.results-list--loading
	background #eaeaea url('../img/loading.gif') no-repeat 50% 50%


/**
 * No results
 */

.results-filter--no-results
	top -70px
	border-top 66px solid transparent !important



/**
 * Phone
 */

@media _phone

	.results-list
		border-top 0
		top 0

	.results-map
		display none

	.results-list--deals
		border-bottom 0
		padding-top 0
		padding-bottom 0
		background #F2F2F2

		.results-list__result:last-child
			margin-bottom 0

		.results-list__result
			width 100%
			margin 0 0 responsive-size(20px) 0



@media (min-width: 599px) and (max-width: 1370px)

	.results-list--deals
		.results-list__result
			width 31%
			margin 0 1% 1% 1%
