.rewards-info
	padding 30px
	clearfix()
.rewards-system--title
	font-size 24px
	margin-bottom 10px
	phone font-size 20px
	strong
		font-weight bold
		color #427dc6
.rewards-info__box
	width 50%
	float left
	phone width 100%
	button
		phone width 48%
		phone margin-top 30px
		&:first-child
			phone float left
		&:last-child
			phone float right
.rewards-info__box--last
	text-align right