.search-tool
	position relative
	height 100%
	box-sizing border-box
	background #427dc6
	phone(height, auto)

.search-tool--flight
	position absolute
	transform translateX(-100%)
	transition all 300ms ease

	&.is-open
		transform translateX(0)

.search-tool__tabs-container
	width 100%
	position relative
	height 100%
	// overflow hidden
	box-sizing border-box
	border-bottom responsive-size(70px) solid transparent
	phone(height, auto)
	phone(border-bottom, 0)

.search-tool__tabs-links
	overflow hidden
	transition opacity 400ms ease
	// phone(position, fixed)
	// phone(top, responsive-size(49px))
	phone(width, 100%)
	// phone(z-index, 2)

	a
		width 33.3333%
		box-sizing border-box
		border-right 1px solid #224978
		border-bottom 1px solid #224978

		float left
		background #28568d
		text-decoration none
		color #fff
		text-align center
		height 100%
		line-height responsive-size(46px)
		font-size responsive-size(15px)
		font-weight bold
		white-space nowrap
		overflow hidden

		&:last-child
			border-right none

		&:hover
			text-decoration underline

		&.active
			background #427dc6
			text-decoration none
			cursor default
			border-bottom none
			// phone(border-bottom, 1px solid #224978)


.search-tool__tabs-content
	position relative
	height 84%
	border-bottom 7vh solid transparent
	phone(border-bottom, 0)
	box-sizing border-box
	overflow-y auto
	perspective 1000

.search-tool__tab
	opacity 0
	absolute top left right bottom
	width 100%
	display block
	transition opacity 200ms ease, transform 300ms ease
	min-height 100%
	transform-origin 0 0
	transform translateX(-200px)
	z-index 0
	phone(padding-top, responsive-size(5px))
	phone(position, relative)
	phone(display, none)

	&.active
		opacity 1
		transform translateX(0)
		z-index 1
		phone(display, block)



// Default
.search-tool-fieldset
	box-sizing border-box
	padding-top responsive-size(20px)
	width 95%
	margin-left 5%
	height 100%
	clearfix()

	.input-text
		width 95%
		margin-bottom 1.5vh
		font-weight bold

	.customSelect
		width 95%
		height responsive-size(35px)
		border-radius 0
		border none
		background #fff
		transform translate3d(0,0,0)

		.customSelect-select
			height responsive-size(35px)
			padding-top 0
			padding-bottom 0
			width 100%

	.btn--search
		width 45%
		margin responsive-size(10px) 5% 0 0
		line-height responsive-size(40px)
		float right
		phone(margin-bottom, 5%)

	.datepicker + br
		float left
		clear both

	.customCheckbox
		// height 2vh
		color #fff
		margin-top responsive-size(15px)
		width 95%
		// font-size 1.7vh


.search-tool-fieldset-oneway
	.datepicker-container
		label
			float inherit

.advanced_options
	margin responsive-size(15px) 0 responsive-size(7px)
	a
		text-decoration none
		span
			display inline-block
			width 10px
			text-align center
	p
		font-weight bold
		color #fff
		margin responsive-size(20px) 0 responsive-size(0px)
	label
		margin-bottom 0
		
	.checkboxes
		margin responsive-size(8px) 0
		display none
		.customSelect
			margin 0 0 responsive-size(5px)
		.customCheckbox
			width auto
			display inline-block
			margin responsive-size(10px) 5% 0 0


@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
	.search-tool-fieldset
		padding-top 2vh

		.input-icon
			margin-bottom 1vh

		.amountpicker
			margin-bottom 1vh
			height responsive-size(80px)
			.amountpicker-qtd
				font-size responsive-size(24px)
				top 34%

		.datepicker-container
			margin-bottom 1vh

			.datepicker
				margin-bottom 0
				height responsive-size(100px)
				.datepicker-day
					font-size responsive-size(40px)
				.datepicker-month
					padding-top 0
					margin-left responsive-size(40px)
				.datepicker-year
					padding-top 0
					margin-left responsive-size(45px)
					font-size responsive-size(16px)

@media (max-height: 800px) and (max-width: 1366px) and (min-width: 1280px)
	.search-tool-fieldset
		padding-top 2vh

		.input-icon
			margin-bottom 1vh


		.amountpicker
			margin-bottom 1vh

		.datepicker-container
			margin-bottom 1vh

			.datepicker:not(.datepicker--time)
				margin-bottom 0

// Multicity
.search-tool-fieldset-multicity

	.add-flight
		display inline-block
		margin-top responsive-size(5px)
		margin-bottom responsive-size(15px)
		font-weight bold

	.remove-flight
		color #fff
		display inline-block
		text-decoration none
		margin-left 10px
		font-size responsive-size(12px)
		font-weight bold
		phone(font-size, responsive-size(14px))

	.btn--search
		width 95%

	.multicity-fieldset
		position relative

		.input-icon
			width 62%
			margin-bottom responsive-size(5px)

		.datepicker-container
			margin-bottom 0
		.datepicker
			absolute right top
			height 93%
			margin-right 4%
			margin-bottom 0
			width 32%
			// border-bottom responsive-size(6.5px) solid #427dc6
			padding responsive-size(10px) responsive-size(5px)

			.datepicker-title
				font-size 15px

			.datepicker-day
				// float none
				display inline-block
				font-size 46px
				line-height 56px

			.datepicker-month, .datepicker-year
				// display inline-block
				font-size responsive-size(14px)
				text-align left
				margin-left responsive-size(50px)

			.datepicker-month
				padding-top responsive-size(10px)

			// .datepicker-year:before
			// 	content ' / '

			.datepicker-changeDate
				opacity 0
				position absolute
				left 0
				bottom 0
				width 100%
				height 100%
				font-size 12px
				line-height responsive-size(85px)
				font-weight bold
				color #666
				background rgba(239,239,239,.90)
				transition all 200ms ease


			&:hover .datepicker-changeDate
				bottom 0
				opacity 1
				// background #efefef
				// box-shadow 0 1px 3px 0 #a0a0a2, 0 0 1px 0 #7c7c7e, inset 0 0 0 1px #f2f2f4

		.datepicker--calendar-active
			box-shadow: 0 0 0 3px #2e578a;



/**
 * Searching
 */

.search-tool--searching
	.datepicker,
	.amountpicker,
	.customSelect,
	.customCheckbox,
	.btn
		opacity .25



/**
 * sleep
 */
.search-tool--sleep
	overflow hidden
	overflow-y auto
	padding-bottom 20px
	border-bottom responsive-size(70px) solid #427dc6

	.amountpicker
		cursor default
		height 100px

	.add-room
		display inline-block
		margin-top responsive-size(5px)
		margin-bottom responsive-size(15px)
		font-weight bold

	.remove-room
		color #fff
		display inline-block
		text-decoration none
		margin-left 10px
		font-size responsive-size(12px)
		font-weight bold
		phone(font-size, responsive-size(14px))

.search-tool-fieldset--sleep
	height auto

	.btn--search
		width 95%

.room.first
	.room__remove-room
		display none

.room__title
	position relative
	width 32%
	height 100px
	float left
	border-right 5px solid #427dc6
	background #3b70b2
	box-sizing border-box
	padding 3% 0 3% 3%

	h3
		font-size responsive-size(20px)
		font-weight bold
		color #224570

	span
		display block
		font-size responsive-size(14px)
		line-height responsive-size(14px)


.room__add-room
	display block
	margin-bottom 20px
	font-size responsive-size(14px)
	font-weight bold
	text-decoration none
	color #224570

	&:hover
		text-decoration underline

.room__remove-room
	display inline-block
	margin-top 10px
	font-size 11px
	color #5ac7f2


/**
 * Drive
 */
.search-tool-fieldset-drive

	.btn--search
		width 95%

	.customCheckbox
		padding-top 0
		margin-top 0
		padding-bottom responsive-size(15px)


// .search-tool-fieldset-drive--location-highlight
// #drive-pickup-location
// animation highlight 500ms


.search-tool-fieldset-drive--date-highlighted
	.datepicker--time
		box-shadow 0 0 0 5px #2e578a

	.input-icon--noicon, .customCheckbox, .customSelect, .btn--search
		opacity .5
		transition all 400ms ease


/**
 * Deals
 */
.search-tool--deals

	.btn--search
		width 95%


// @keyframes highlight
// 	from
// 		background #fff57d
// 		border-color #fff57d
// 	to
// 		background #fff
// 		border-color #fff



/**
 * Phone
 */

@media _phone

	.amountpicker
		width 32%
		border-right 5px solid #427dc6

	.search-tool-fieldset
		.datepicker-container
			.datepicker
				margin-bottom responsive-size(5px)



