.main-sidebar
	z-index 100
	phone z-index 10
	transition all 400ms ease

.main-sidebar--calendar-active
	transform translateX(100%)

@media _phone
	.main-sidebar
		display none
		width 100%
		min-width 100%
		height auto
