#main-signin
	background #ebebeb

.l-fixed-container
	position relative

.sign-in
	background #fff
	border 1px solid #d3d3d3
	border-radius 3px
	clearfix()
	margin-top 100px

.sign-in__guest
	margin-top 40px
	margin-bottom -60px
	font-size responsive-size(16px)
	font-weight bold

	phone margin-bottom 20px
	phone margin-top 20px
	// phone text-align center
	phone font-size responsive-size(13px)
	phone padding-left 15px


.sign-in__guest-btn
	margin-left 5px
	text-decoration none
	background #55B369
	color #fff
	font-weight bold
	padding 10px 15px
	transition all 300ms ease

	&:hover
		background #4ea260

.sign-in__sign-in
	border-right 1px solid #eee
	padding 30px 40px
	position relative
	float left
	width 58%
	box-sizing border-box

.sign-in__sign-up
	padding 30px 40px
	float left
	width 42%
	box-sizing border-box

.sign-in__title
	font-size 26px
	font-weight bold

.sign-in__subtitle
	font-size 18px

.sign-in__social
	border-bottom 1px solid #e7e7e7
	padding responsive-size(20px) 0

.sign-in__facebook, .sign-in__twitter
	border-radius 2px

.sign-in__facebook
	margin-right 8px

.sign-in__fieldset
	padding-top responsive-size(10px)
	width 320px

	.input-text
		width 320px
		display block
		margin-bottom responsive-size(16px)

.sign-in__input-container
	position relative
	display block

	.parsley-errors-list
		display none

.sign-in__forgot-password
	float right
	color #666
	font-size 12px
	margin-top 15px

.btn--create-account-mobile
	width 100%
	padding responsive-size(10px)
	box-sizing border-box
	display none

.btn--create-account
	width 100%
	outline none
	display none

.sign-up__form.open
	display block

.sign-in__warning
	display block
	padding 15px
	font-weight bold
	color white
	width 100%
	background #DD4949
	border-radius 3px
	box-sizing border-box
	position absolute
	top -60px
	phone(position, relative)
	phone(top, 0px)


/*
 * Phone
 */

@media _phone

	.l-fixed-container
		width 100%

	.sign-in
		margin-top 0
		border 0
		border-bottom 1px solid #d3d3d3
		border-radius 0

	.sign-in__sign-in
		padding 0
		width 100%

	.sign-in__sign-up
		width 100%
		padding 0

	.sign-in__title
		background #f2f2f2
		padding responsive-size(10px)
		font-size responsive-size(18px)
		border 1px solid #d9d9d9
		border-left 0
		border-right 0

	.sign-in__subtitle
		padding responsive-size(10px) responsive-size(10px) 0

	.sign-in__social
		padding responsive-size(10px)
		box-sizing border-box
		width 100%

	.sign-in__facebook, .sign-in__twitter
		width 100%
		box-sizing border-box
		line-height 20px

	.sign-in__facebook
		margin 0 0 responsive-size(10px)

	.sign-in__fieldset
		width 100%
		padding responsive-size(10px)
		box-sizing border-box

		.input-text
			width 100%
			box-sizing border-box
			margin-bottom responsive-size(10px)

	.btn--create-account-mobile
		display block
		&.closed
			display none

	.btn--create-account
		display block

	.sign-up__form
		display none





