.slogan
	background #5ac7f2
	color #fff
	height responsive-size(50px)
	font-size responsive-size(22px)
	box-sizing border-box
	position relative
	z-index 105

	span
		display inline-block
		vertical-align middle
		padding-left 5%
		padding-top responsive-size(8px)