.summary
	background #427dc6
	color #fff
	overflow hidden
	display flex
	flex-direction column

	&.loading
		&:before
			background-image url('../img/loader-3.gif')
			background-repeat no-repeat
			width 16px
			height 11px
			display block
			content ' '
			absolute right 20px top responsive-size(14px)
			margin-top 6px

.summary__body
	flex-grow 1
	overflow auto

.summary__footer
	flex-shrink 0

.summary__title
	font-size responsive-size(16px)
	font-weight bold
	display block
	padding responsive-size(14px) 20px

.summary__subtitle
	border-top 1px solid #325f97
	border-bottom 1px solid #35659f
	background #386aa8
	display block
	padding 5px 20px
	font-size responsive-size(15px)
	font-weight bold

.summary__details-content
	max-height 0
	transition max-height 300ms ease, opacity 200ms linear
	overflow hidden
	opacity 0


.summary__details
	.summary__subtitle
		// cursor pointer
		// background-image url('../img/modules/summary/arrow-down.png')
		background-repeat no-repeat
		background-size 12px
		background-position right 15px center

		// &:hover
		// 	background-color #35659f

.summary__details--opened
	.summary__subtitle
		// background-image url('../img/modules/summary/arrow-up.png')
	.summary__details-content
		max-height 500px
		opacity 1

.summary__wrapper
	margin-bottom responsize-size(30px)

.summary__costs
	width 100%
	background #29486e
	border-top 1vh solid transparent

	td
		padding responsive-size(5px) responsive-size(20px) responsive-size(5px) responsive-size(20px)
		vertical-align middle
		// font-size responsive-size(14px)

.summary__price,
.summary__total-cost
	// font-size responsive-size(16px)
	font-weight bold
	text-align right

	small
		font-weight normal
		color #d0e8ff
		// font-size .8em


.summary__total
	background #223e60
	border-top 1vh solid #29486e
	// font-size responsive-size(14px)
	font-weight bold

	td
		padding responsive-size(10px) responsive-size(10px) responsive-size(10px) responsive-size(20px)


.summary__total-cost
	font-size responsive-size(18px)

.summary__tweet
	clearfix()
	padding responsive-size(10px) responsive-size(20px)
	border-bottom 1px solid #3b70b2

.summary__tweet--no-border
	border-bottom 0

.summary__tweet-button
	float left
	margin-right 20px

.summary__tweet-text
	vertical-align middle
	font-size responsive-size(12px)

.summary__go-back
	color #fff
	text-decoration none
	padding responsive-size(10px) responsive-size(20px)
	display inline-block

	&:hover
		text-decoration underline


.summary__back
	height responsive-size(40px)
	padding 0 20px
	border-top 1px solid #3b70b2
	line-height responsive-size(40px)
	position relative

	.summary__go-back
		padding 0
		display inline
		font-weight bold



/** flight **/
.summary__date
	font-size responsive-size(13px)
	font-weight bold
	color #223e60
	padding-bottom responsive-size(5px)

.summary__flight
	border responsive-size(10px) solid transparent
	border-left 20px solid transparent
	padding-top 5px
	padding-bottom 5px

	h3
		font-weight 700
		// font-size responsive-size(14px)

		small
			font-weight normal

		img
			width 18px
			vertical-align middle
			margin 0 5px

	p
		color #264d7d
		font-weight 700
		display block
		padding-top 5px
		// font-size responsive-size(12px)

		img
			vertical-align middle
			width 15px
			margin-right 5px

.summary__selected-seats
	border responsive-size(0px) solid transparent
	border-left 20px solid transparent

	h3
		color #fff
		font-weight 700
		// font-size responsive-size(14px)

		small
			font-weight normal

		img
			width 18px
			vertical-align middle
			margin 0 5px

		strong
			color #264d7d

	p
		text-transform capitalize
		color #fff
		font-weight 700
		display block
		padding 3px 0
		// font-size responsive-size(12px)

		strong
			margin-right 5px
			color #264d7d

		img
			vertical-align middle
			width 15px
			margin-right 5px

	&:first-child
		margin-top 5px

	&:last-child
		margin-bottom 5px


.summary__layover
	border-radius 3px
	border 1px solid #264d7d
	color #264d7d
	display inline-block
	margin-left 20px
	font-size responsive-size(11px)
	padding responsive-size(8px) 10px



/** hotel **/
.summary__hotel
	background #3b70b2
	width 100%
	border-top 1px solid #325f97
	border-bottom 1px solid #325f97
	border-left 10px solid transparent

	td
		vertical-align top
		padding responsive-size(10px) 0 responsive-size(5px) responsive-size(5px)

.summary__hotel--col-thumb
	width 35%

.summary__hotel-thumb
	width 90%
	display block
	border 1px solid #325f97

.summary__hotel-title
	display block
	font-weight bold
	font-size responsive-size(14px)
	padding 0 10px 5px 0


.summary__hotel-address
	display block
	padding 10px 10px 0 0
	font-size responsive-size(10px)


.summary__room-details
	font-weight bold
	font-size responsive-size(11px)
	margin 0 0 responsive-size(5px) responsive-size(10px)

	th
		color #264d7d
		text-align left
		padding responsive-size(5px) responsive-size(10px) 0 responsive-size(10px)

	td
		padding responsive-size(5px) responsive-size(10px)

		a
			color #fff



/**	drive **/
.summary__drive
	background #3b70b2
	width 100%
	border-top 1px solid #325f97
	border-bottom 1px solid #325f97

	td
		vertical-align top
		padding 10px 0 10px 20px

	.drive-list-features
		font-size responsive-size(12px)

		li
			margin-bottom 0px

.summary__drive-thumb
	border 1px solid #325f97

.summary__drive-text
	width 50%

.summary__drive-title
	font-size responsive-size(16px)
	font-weight bold
	padding 0 10px 5px 0

	span
		display block
		font-size responsive-size(11px)
		font-weight normal

.summary__drive-details
	margin-bottom responsive-size(10px)

	td
		padding 10px 20px 0 20px
		font-size responsive-size(12px)
		line-height responsive-size(18px)

	strong
		display block
		color #29486E
		font-size responsive-size(13px)
		font-weight bold

	span
		display block
		color #fff
		margin-bottom responsive-size(5px)
		font-size responsive-size(14px)
		font-weight bold


/** deals **/
.summary--deals

	.summary__hotel
		background transparent
		border-bottom 0

		td
			padding-bottom 0

	.summary__flight-item
		td
			padding-bottom responsive-size(10px)

		.summary__date
			padding-bottom responsive-size(5px)










/**
 * Phone
 */

@media _phone
	.summary
		width 100%

	.summary__room-details
		font-size 14px

		th
			padding-top 10px

	.summary__tweet-text
		position relative
		top -2px
		font-size 12px

	.summary__footer
		position relative

	.main-confirmation
		.summary
			display none

		.confirmation
			width 100%








