.table-history
	width 100%

	small
		display block
		font-size responsive-size(12px)

	strong
		font-size responsive-size(15px)

	td
		vertical-align middle
		padding 20px
		border-bottom 1px solid #e7e7e7
		box-sizing border-box

	.table-history__details
		padding 0
		border-bottom 0


.table-history__col-10
	width 10%

.table-history__col-20
	width 20%

.table-history__col-30
	width 30%

.table-history__col-35
	width 35%

.table-history__col-40
	width 40%

.table-history__col-65
	width 65%

.table-history__row-icon
	width 6vh
	display inline-block
	margin 0 auto


.table-history__btn--active,
.table-history__btn--active:hover
	background #dcdcdc
	color #b7b7b7



/*
 * details
 */

.table-history__details

	td
		position relative
		vertical-align top
		border-bottom 0
		background #f2f2f2

		&:after
			display block
			absolute top left
			content ''
			width 1px
			height 100%
			border-top 20px solid #f2f2f2
			border-bottom 20px solid #f2f2f2
			background #e5e5e5
			box-sizing border-box

		&:first-child:after
			display none

	li
		font-size responsive-size(14px)

	.table-history__details--help
		padding-top 0


.table-history__details-table
	width 100%
	display none


.table-history__details--summary
	phone font-size 14px
	phone border-top 1px solid #e5e5e5
	phone padding-top 20px
	phone margin-top 20px

	li
		margin-bottom 20px
		font-weight bold

	span
		display block
		font-size responsive-size(14px)
		font-weight normal


.table-history__details--summary-col
	float left
	margin-right 10%

	&:last-child
		margin-right 0


.table-history__details--summary-costs

	li
		margin-bottom 10px

	strong
		font-weight bold
		float right


.table-history__details--total
	margin-top 20px
	font-size responsive-size(14px)
	font-weight bold

	strong
		font-size responsive-size(18px)


.table-history__details--help

	p
		height 20px
		padding-left 25px
		background url('../img/modules/table-history/icon-help.png') no-repeat
		background-size 20px 20px
		line-height 20px
		font-size responsive-size(12px)
		font-weight bold

	a
		color #427dc6


/*
 * Details active
 */
.table-history__item--details

	.table-history__details
		border-bottom 1px solid #e7e7e7

	.table-history__details-table
		display table



/*
 * Hotel details
 */

.table-history__details--thumb
	display inline-block
	width 40%
	margin-right 9%
	phone border 1px solid #b2b2b2
	phone margin-right 20px
	phone width 30%

.table-history__details--hotel-info
	display inline-block
	width 48%
	vertical-align top

	p
		font-size responsive-size(14px)

	h3
		font-weight bold
		font-size responsive-size(16px)


/**
 * Flight details
 */

.table-history__table-from-to
	width 100%

.table-history__details--from-to

	.icon-airplane
		display inline-block
		width 24px
		height 13px
		margin 0 10px
		background url('../img/modules/results/sprite-results.png') no-repeat -20px 0
		background-size 100px

	small
		color #666

	td
		border-bottom 1px solid #e7e7e7
		&:after
			display none

	tr:last-child td
		border-bottom 0

.table-history__from-to--date
	font-size responsive-size(12px)
	font-weight bold

	span
		display block

/**
 * Car details
 */

.table-history__details--drive
	.table-history__details--thumb
		border 1px solid #b2b2b2

.table-history__details--car-info
	display inline-block
	width 48%
	vertical-align top
	phone width 60%

	h3
		font-weight bold
		font-size responsive-size(16px)

		span
			display block
			font-size responsive-size(12px)
			font-weight normal

	.drive-list-features
		margin-top 15px
		li
			font-size responsive-size(12px)



@media _phone

	.table-history
		td
			padding 15px
			width auto !important

	.table-history__btn
		ir()
		background url('../img/modules/table-history/arrow-right.png') no-repeat center right
		background-size 10px 14px
		width 20px
		height 20px
		float right
