.table-rewards
	width 100%
	box-sizing border-box
	border-left 30px solid #fff
	border-right 30px solid #fff
	margin-top 30px
	phone border 0
	phone margin-top 0

	td
		vertical-align middle
		padding responsive-size(15px) 20px
		border-bottom 1px solid #e7e7e7
		box-sizing border-box
		font-size responsive-size(13px)
		&:nth-child(2), &:nth-child(3)
			phone display none
		&:nth-child(4)
			phone text-align center
		&:nth-child(5)
			phone text-align right

	strong
		font-weight 700


	tr:nth-child(odd)
		td
			background #fafafa

	th
		text-align left
		background #f2f2f2
		border-top 1px solid #e8e8e8
		border-bottom 1px solid #e8e8e8
		padding responsive-size(10px) 20px
		font-size responsive-size(14px)
		&:nth-child(2), &:nth-child(3)
			phone display none
		&:nth-child(4)
			phone text-align center
		&:nth-child(5)
			phone text-align right

		strong
			color #666

	.order
		color #666
		font-weight 700
		text-decoration none

		&:after
			display inline-block
			vertical-align top
			position relative
			top 4px
			margin-left 5px
			content ''
			width 11px
			height 7px
			background url('../img/modules/table-history/arrow-sort-up.png') no-repeat

		&.order--down:after
			background-image url('../img/modules/table-history/arrow-sort-down.png')


	.coupon--ready
		color #427dc6


.table-rewards__row-icon
	width responsive-size(30px)

.table-rewards__points
	color #427dc6 !important
