{% extends "layout.twig" %}

{% block content %}

<script src="{{app.config.staticpath}}/vendor/angular.js"></script>
<script src="{{app.config.staticpath}}/js/CarGridApp.js"></script>
<script>
	window.loadModules = ['search-tool', 'autocomplete_car', 'carrousel'];
</script>

<div class="main" ng-app="CarGridApp" ng-cloak>
	<div class="detail-container"></div>

	<div class="main-sidebar l-col-25">

		<div class="slogan">
			<span>
				Welcome aboard.<br />
				<strong>Fasten your seatbelts.</strong>
			</span>
		</div>

		<div class="search-tool">

			<form class="search-tool-fieldset search-tool-fieldset-drive" action="{{url('car_search')}}" data-parsley-validate>
				<br />
				<label class="input-icon input-icon--noicon">
					<input value="{{ app.session.get('pickUpCity') }}" type="hidden" name="pickUpCity">
					<input value="{{ app.session.get('pickUpCity') }}" class="input-autocomplete--car" placeholder="Pick-up location" id="drive-pickup-location" data-parsley-class-handler=".input-icon" autocomplete="off" required />
				</label>

				<div class="customCheckbox" data-toggle="{hidden: '#input-return-location'}">
					<label><input type="checkbox" name="differentplace" /> Return car to a different place</label>
				</div>

				<label class="input-icon input-icon--noicon hidden" id="input-return-location">
					<input value="{{ app.session.get('returnCity') }}" type="hidden" name="returnCity">
					<input value="{{ app.session.get('returnCity') }}" class="input-autocomplete--car" id="drive-return-location" placeholder="Return location" data-parsley-class-handler=".input-icon" data-parsley-conditionalrequired='["[name=\"differentplace\"]:checked", "on"]' data-parsley-validate-if-empty data-parsley-success-class="" />
				</label>

				<div class="datepicker-container datepicker-container--drive" data-calendar-parent=".main-sidebar">
					<label class="datepicker datepicker--time" data-calendar-type="checkin">
						<span class="datepicker-title">Pick-up date and time</span>
						<div class="datepicker__col">
							<span class="datepicker-day"></span>
							<span class="datepicker-month"></span>
							<span class="datepicker-year"></span>
						</div>
						<div class="datepicker__col datepicker__col--last">
							<span class="datepicker-hour"></span>
						</div>
						<span class="datepicker-changeDate">Change</span>
						<span class="datepicker-changeDate datepicker-changeDate--calendar-active">Select pick-up date on the left</span>
						<input type="hidden" class="datepicker-input" name="pickUpDate" value="{{ app.session.get('pickUpDate') }}" />
						<input type="hidden" class="datetime-input" name="pickUpTime" value="{{ app.session.get('pickUpTime') }}" />
					</label>

					<label class="datepicker datepicker--time" data-calendar-type="checkout">
						<span class="datepicker-title">Return date and time</span>
						<div class="datepicker__col">
							<span class="datepicker-day"></span>
							<span class="datepicker-month"></span>
							<span class="datepicker-year"></span>
						</div>
						<div class="datepicker__col datepicker__col--last">
							<span class="datepicker-hour"></span>
						</div>
						<span class="datepicker-changeDate">Change</span>
						<span class="datepicker-changeDate datepicker-changeDate--calendar-active">Select pick-up date on the left</span>

						<input type="hidden" class="datepicker-input" name="returnDate" value="{{ app.session.get('returnDate') }}" />
						<input type="hidden" class="datetime-input" name="dropOffTime" value="{{ app.session.get('dropOffTime') }}" />
					</label>
				</div>

				<div class="customSelect">
					<select class="customSelect-select" name="size" id="drive-category" value="{{ app.session.get('size') }}">
						<option value="">All size cars</option>
						<option value="ECAR">Economy</option>
						<option value="CCAR">Compact</option>
						<option value="ICAR">Intermediate</option>
						<option value="SCAR">Standard</option>
						<option value="FCAR">Full Size</option>
						<option value="PCAR">Premium</option>
						<option value="LCAR">Luxury</option>
						<option value="MVAR">Minivan</option>
						<option value="IFAR">Intermediate SUV</option>
						<option value="SFAR">Standard SUV</option>
						<option value="FFAR">Large SUV</option>
						<option value="UXAR">Premium Elite</option>
						<option value="LFAR">Luxury SUV</option>
						<option value="SPAR">Pickup Truck</option>
						<option value="PPAR">Large Pickup</option>
						<option value="SKAR">Cargo Van</option>
					</select>
				</div>

				<br />

				<button class="btn btn--search">Search</button>

			</form>

		</div>
	</div>

	{% if not app.isMobile %}
	<script type="text/ng-template" id="car-detail.html">
		<div id="mosaic__car-{[{car.id}]}" class="mosaic__car-detail is-active">
			<div class="car-detail__container car-detail__container--left">
				<div class="carrousel">
					<div data-url="{{app.config.uploadsdir}}" class="carrousel-item" ng-repeat="image in car.gallery_images" slide></div>
				</div>
			</div>

			<div class="car-detail__container car-detail__container--right">
				<a href="#" class="car-detail__close"></a>

				<div class="car-detail__car-information">
					<span class="car-information__category">{[{car.category.name}]}</span>
					<h3 class="car-information__name">{[{car.manufacturer}]} <strong>{[{car.model}]}</strong></h3>

					<div class="car-information__car-specs">
						<ul class="drive-list-features">
							<li class="drive-list-features__icon drive-list-features__icon--people">
								<span style="background-image: url('{{app.config.staticpath}}/img/modules/results/car-feature-1.png');"></span>
								{[{car.features[0].name}]}
							</li>
						</ul>
					</div>

					<hr>

					<span class="car-information__book-location">from</span>
					<span class="car-information__price"><strong>{[{car.price}]} {[{car.currency}]}</strong>/day</span>
                    <!-- additional car category information from Assad's mail -->
					<hr>
                    <img ng-src="{{app.config.staticpath}}/img/cardetails/seats.png">
                    <span class="car-information__price"><strong>{[{ car.description[0].seats }]} Seats</strong></span>
                    <hr>

                    <img ng-src="{{app.config.staticpath}}/img/cardetails/bags.png">
                    <span class="car-information__price"><strong>{[{ car.description[0].bags }]} Bags</strong></span>

                    <hr>
                    <img ng-src="{{app.config.staticpath}}/img/cardetails/doors.png">
                    <span class="car-information__price"><strong>{[{ car.description[0].doors }]} Doors</strong></span>

                    <hr>
                    <img ng-src="{{app.config.staticpath}}/img/cardetails/mixed.png">
                    <span class="car-information__price"><strong>{[{ car.description[0].mixed }]}</strong></span>

                    <hr>
                    <img ng-src="{{app.config.staticpath}}/img/cardetails/manual.png">
                    <span class="car-information__price"><strong>{[{ car.description[0].manual }]}</strong></span>

                    <hr>
                    <img ng-src="{{app.config.staticpath}}/img/cardetails/aircon.png">
                    <span class="car-information__price"><strong>{[{ car.description[0].ac }]} </strong></span>

				</div>

				<a data-type="{[{car.type}]}" class="btn car-detail__select">Select this car</a>
			</div>
		</div>
	</script>

	<div class="mosaic l-col-75" ng-controller="results" cars-scroll>
		<div class="mosaic__items-container" ng-repeat="group in results | limitTo:3" title="{[{group[0].category.parent}]}">
			<div class="mosaic__scroll">
				<div class="mosaic__item" ng-repeat="car in group">
					<a data-location="Geneva" data-category="SCAR" more-details>
						<div class="mosaic__item-image" style="background-image: url('{{app.config.uploadsdir}}/{[{car.image}]}');">
							<span class="mosaic__logo">
								<img src="{{app.config.uploadsdir}}/car_rentals/{[{car.logo}]}">
							</span>
						</div>
						<span class="mosaic__title">
							<span class="mosaic__category">{[{car.manufacturer}]}</span>
							<strong>{[{car.model}]}</strong>
						</span>
						<span class="mosaic__price">
							<span class="mosaic__price-subject">from</span>
							<span class="mosaic__price-value">{[{car.price}]}</span>
							<span class="mosaic__price-currency">{[{car.currency}]}/day</span>
						</span>
					</a>
				</div>
			</div>
		</div>

		<div class="tooltip-follow">Drag or scroll</div>
	</div>
	{% endif %}

</div>

{% endblock %}
