{% extends "layout.twig" %}

{% block content %}

<script src="{{app.config.staticpath}}/vendor/angular.js"></script>
<script src="{{app.config.staticpath}}/vendor/angular-cookies.js"></script>
<script src="{{app.config.staticpath}}/vendor/angular-local-storage.js"></script>
<script src="{{app.config.staticpath}}/js/HashtagControllers.js"></script>
<script src="{{app.config.staticpath}}/js/HashtagServices.js"></script>
<script src="{{app.config.staticpath}}/js/HashtagConstants.js"></script>
<script src="{{app.config.staticpath}}/js/HashtagFilters.js"></script>
<script src="{{app.config.staticpath}}/js/CarService.js"></script>
<script src="{{app.config.staticpath}}/js/CarSearchApp.js"></script>
<script>
	window.loadModules = ['modal', 'autocomplete_car'];
</script>


<div class="main main-results" id="main-driveResults" ng-app="CarSearchApp">

	{% if not app.isMobile %}
	<div class="main-sidebar l-col-25">

		<div class="slogan">
			<span>
				Welcome aboard.<br />
				<strong>Fasten your seatbelts.</strong>
			</span>
		</div>

		<div class="search-tool">

			<form class="search-tool-fieldset search-tool-fieldset-drive" action="{{url('car_search')}}" data-parsley-validate>
				<br />
				<label class="input-icon input-icon--noicon">
					<input value="{{ app.session.get('pickUpCity') }}" type="hidden" name="pickUpCity">
					<input value="{{ app.session.get('pickUpCity') }}" class="input-autocomplete--car" placeholder="Pick-up location" id="drive-pickup-location" data-parsley-class-handler=".input-icon" autocomplete="off" required />
				</label>

				<div class="customCheckbox" data-toggle="{hidden: '#input-return-location'}">
					<label><input type="checkbox" name="differentplace" /> Return car to a different place</label>
				</div>

				<label class="input-icon input-icon--noicon hidden" id="input-return-location">
					<input value="{{ app.session.get('returnCity') }}" type="hidden" name="returnCity">
					<input value="{{ app.session.get('returnCity') }}" class="input-autocomplete--car" id="drive-return-location" placeholder="Return location" data-parsley-class-handler=".input-icon" data-parsley-conditionalrequired='["[name=\"differentplace\"]:checked", "on"]' data-parsley-validate-if-empty data-parsley-success-class="" />
				</label>

				<div class="datepicker-container datepicker-container--drive" data-calendar-parent=".main-sidebar">
					<label class="datepicker datepicker--time" data-calendar-type="checkin">
						<span class="datepicker-title">Pick-up date and time</span>
						<div class="datepicker__col">
							<span class="datepicker-day"></span>
							<span class="datepicker-month"></span>
							<span class="datepicker-year"></span>
						</div>
						<div class="datepicker__col datepicker__col--last">
							<span class="datepicker-hour"></span>
						</div>
						<span class="datepicker-changeDate">Change</span>
						<span class="datepicker-changeDate datepicker-changeDate--calendar-active">Select pick-up date on the left</span>
						<input type="hidden" class="datepicker-input" name="pickUpDate" value="{{ app.session.get('pickUpDate') }}" />
						<input type="hidden" class="datetime-input" name="pickUpTime" value="{{ app.session.get('pickUpTime') }}" />
					</label>

					<label class="datepicker datepicker--time" data-calendar-type="checkout">
						<span class="datepicker-title">Return date and time</span>
						<div class="datepicker__col">
							<span class="datepicker-day"></span>
							<span class="datepicker-month"></span>
							<span class="datepicker-year"></span>
						</div>
						<div class="datepicker__col datepicker__col--last">
							<span class="datepicker-hour"></span>
						</div>
						<span class="datepicker-changeDate">Change</span>
						<span class="datepicker-changeDate datepicker-changeDate--calendar-active">Select pick-up date on the left</span>

						<input type="hidden" class="datepicker-input" name="returnDate" value="{{ app.session.get('returnDate') }}" />
						<input type="hidden" class="datetime-input" name="dropOffTime" value="{{ app.session.get('dropOffTime') }}" />
					</label>
				</div>

				<div class="customSelect">
					<select class="customSelect-select" name="size" id="drive-category" value="{{ app.session.get('size') }}">
						<option value="">All size cars</option>
						<option value="ECAR">Economy</option>
						<option value="CCAR">Compact</option>
                        <option value="ICAR">Intermediate</option>
                        <option value="SCAR">Standard</option>
                        <option value="FCAR">Full Size</option>
                        <option value="PCAR">Premium</option>
						<option value="LCAR">Luxury</option>
						<option value="MVAR">Minivan</option>
						<option value="IFAR">Intermediate SUV</option>
						<option value="SFAR">Standard SUV</option>
						<option value="FFAR">Large SUV</option>
						<option value="UXAR">Premium Elite</option>
						<option value="LFAR">Luxury SUV</option>
						<option value="SPAR">Pickup Truck</option>
						<option value="PPAR">Large Pickup</option>
						<option value="SKAR">Cargo Van</option>
					</select>
				</div>

				<br />

				<button class="btn btn--search">Search</button>

			</form>

		</div>
	</div>
	{% endif %}


	<div class="results-list-drive l-col-75" ng-controller="results" assist-width ng-cloak>

		<div class="mobile-headerbar">
			<a href="./" class="mobile-headerbar__btn-prev">New search</a>
			<div class="mobile-headerbar__sort">
				<select class="mobile-headerbar__sort-select" dir="rtl" ng-model="orderBy.value">
					<option value="">Sort by</option>
					<option value="price">Price</option>
					<option value="comsumption">Consumption</option>
					<option value="provider">Provider</option>
				</select>
			</div>
		</div>

		<div class="results-list-drive__filters">
			<p>{[{results.length}]} vehicles found. </p>
			<p>
				Sort vehicle by:
				<a href="#" class="results-list-drive__sort" ng-class="{'results-list-drive__sort--up' : orderBy.reverse && orderBy.key == 'price.total', 'results-list-drive__sort--down' : !(orderBy.reverse) && orderBy.key == 'price.total'}" ng-click="changeOrder($event, 'price.total')">Price</a> <span>|</span>
				<a href="#" class="results-list-drive__sort" ng-class="{'results-list-drive__sort--up' : orderBy.reverse && orderBy.key == 'features[3].name', 'results-list-drive__sort--down' : !(orderBy.reverse) && orderBy.key == 'features[3].name'}" ng-click="changeOrder($event, 'features[3].name')">Consumption</a> <span>|</span>
				<a href="#" class="results-list-drive__sort" ng-class="{'results-list-drive__sort--up' : orderBy.reverse && orderBy.key == 'company.name', 'results-list-drive__sort--down' : !(orderBy.reverse) && orderBy.key == 'company.name'}" ng-click="changeOrder($event, 'company.name')">Provider</a>
				{# <span>|</span> <a href="#" class="results-list-drive__sort results-list-drive__sort--down">Size</a>#}
			</p>
		</div>

		<div class="results-list-drive__list-results">

			<div class="results-list-drive_table">

				<div class="results-list-drive__result" ng-class="{'results-list-drive__result--active': car.active}" ng-repeat="car in results | orderBy:orderBy.key:orderBy.reverse">

					<div class="results-list-drive__container">
						<div class="car-picture">
							<img ng-src="{[{car.picture}]}" class="results-list-drive__thumb" alt="">
						</div>
						<div class="results-list-drive__car-detail">
							<h3>{[{car.title}]} <span>or similar</span></h3>
							<img src="{{app.config.uploadsdir}}/logo-rental-car.jpg" alt="{[{car.company.name}]}">
							<button class="results-list-drive__btn-details" ng-click="car.showFeatures = !car.showFeatures">Details</button>
							<div class="item-share item-share--drive">
								<ul>
									<li><a ng-click="openShareModal($event, car)" href="#" class="item-share__btn-share btn-modal">Share</a></li>
									<li><a href="{{url('print_car')}}" target="_blank" class="item-share__btn-print">Print</a></li>
								</ul>
							</div>
						</div>
						<div class="results-list-drive__items" ng-if="car.showFeatures || width > 599">
							<ul class="drive-list-features">
								<li class="drive-list-features__icon drive-list-features__icon--people" ng-repeat="(index, feature) in car.features">
									<span style="background-image: url('{{app.config.staticpath}}/img/modules/results/car-feature-{[{index + 1}]}.png');"></span>
									{[{feature.name}]}
								</li>
							</ul>
						</div>
					</div>
					<div class="results-list-drive__container">
						<div class="results-list-drive__price results-list-drive__price--day">
							<p><span>{[{car.currency}]}</span> <strong>{[{car.price.daily}]}</strong> per day</p>
						</div>
						<div class="results-list-drive__price results-list-drive__price--total">
							<p><span>{[{car.currency}]}</span> <strong>{[{car.price.total}]}</strong> total includes tax</p>
						</div>
						<div class="results-list-drive__btn-container">
							<a ng-click="selectCar($event)" href="{{url('car_checkout')}}" class="btn results-list-drive__btn">Select</a>
						</div>
					</div>
				</div>

				<a href="#" ng-show="limit < results.length" class="button results-list-mobile__btn-load-more" ng-click="btnLoadMore($event)">LOAD MORE</a>

			</div>
		</div>



	</div>

	{% include 'modal/share.twig' %}

</div>

{% endblock %}
