{% extends "layout.twig" %}

{% block content %}

<script src="{{app.config.staticpath}}/vendor/angular.js"></script>
<script src="{{app.config.staticpath}}/vendor/angular-cookies.js"></script>
<script src="{{app.config.staticpath}}/vendor/angular-local-storage.js"></script>
<script src="{{app.config.staticpath}}/js/HashtagControllers.js"></script>
<script src="{{app.config.staticpath}}/js/HashtagConstants.js"></script>
<script src="{{app.config.staticpath}}/js/HashtagFilters.js"></script>
<script src="{{app.config.staticpath}}/js/FlightService.js"></script>
<script src="{{app.config.staticpath}}/js/FlightCheckoutApp.js"></script>
<script src="{{app.config.staticpath}}/js/HashtagDirectives.js"></script>

<div class="main" ng-app="FlightCheckoutApp">

	<!-- SUMMARY -->
	<div class="summary l-col-25" ng-class="{loading: !pricing}" ng-controller="summary" ng-cloak>

		<div class="summary__body" check-scroll-summary>

			<h2 class="summary__title">Trip Summary</h2>

			<div class="summary__details" ng-class="{'summary__details--opened': summaryDetailsOpened == flightIndex || summaryDetailsAllVisible}" ng-repeat="(flightIndex, flight) in flights">
				<h4 class="summary__subtitle" ng-click="openSummaryDetailItem(flightIndex)">{[{flight.segments[0].departure | formatDate:'DD, MMMM YYYY'}]}</h4>

				<div class="summary__details-content">
					<div class="summary__item-detail" ng-repeat="(index, segment) in flight.segments">
						<div class="summary__flight">
							<h3>{[{airports[segment.origin].city}]} <small>({[{segment.origin}]})</small> {[{segment.departure | formatDate:'HH[h]mm'}]} <img class="summary__icon-plane" src="{{app.config.staticpath}}/img/modules/summary/icon-plane.png" /> {[{airports[segment.destination].city}]} <small>({[{segment.destination}]})</small> {[{segment.arrival | formatDate:'HH[h]mm'}]}</h3>
							<p><img ng-src="https://www.gstatic.com/flights/airline_logos/35px/{[{segment.carrier.code}]}.png" width="20" /> {[{segment.carrier.code}]} {[{segment.flightNumber}]} | {[{segment.cabinClass.code | cabinClass}]}</p>
						</div>

						<div class="summary__layover" ng-if="index < flight.segments.length-1">
							Layover: <strong layover to="flight.segments[index+1].departure" from="segment.arrival"></strong>
						</div>
					</div>
				</div>
			</div>

			<h2 class="summary__title" ng-if="flightDetails.length">Selected Seats</h2>

			<div class="summary__details" ng-class="{'summary__details--opened': summarySeatDetailsOpened == detailIndex || summarySeatDetailsAllVisible}" ng-repeat="(detailIndex, detail) in flightDetails">
				<h4 class="summary__subtitle" ng-click="openSummarySeatDetailItem(detailIndex)">{[{detail.from}]} to {[{detail.to}]} - {[{detail.name}]}</h4>

				<div class="summary__details-content">
					<div class="summary__item-detail" ng-repeat="(index, passenger) in detail.passengers">
						<div class="summary__flight summary__selected-seats">
							<p><strong>Name / Seat:</strong> {[{passenger.name}]} / {[{passenger.seat}]}</p>
						</div>
					</div>
				</div>
			</div>

		</div>

		<div class="summary__footer">

			<table class="summary__costs" ng-if="pricing">

				<tbody ng-repeat="(i, p) in pricing">
					<tr>
						<td>{[{p.passengertype | passengerType}]} ({[{p.typecount}]}){#  <a ng-if="p.editable" href="" class="remove-coupon" ng-click="removeItem($event)">x</a> #}</td>
						<td class="summary__price">{[{ currency }]} {[{ p.basefare | currency:'' }]}</td>
					</tr>
					<!-- <tr ng-if="p._showTaxesAndFees" ng-repeat="tax in p.taxes">
						<td>{[{tax.designator}]}</td>
						<td class="summary__price"><small>{[{ currency }]} {[{ tax.tax | currency:'' }]}</small></td>
					</tr> -->
				</tbody>

				<tr class="summary__total">
					<td>Total trip cost</td>
					<td class="summary__total-cost">{[{ currency }]} {[{ totalPricing | currency:'' }]}</td>
				</tr>
			</table>

			<!-- <div class="summary__tweet summary__tweet--no-border" ng-show="state.name != 'confirmation'" ng-if="pricing && !hasTwitterDiscount">
				<a tweet-for-discount target="_blank" href="https://twitter.com/intent/tweet?&amp;text=I just booked my %23flight with http%3A%2F%2Fwww.hashtagtravels.com and received $5 discount for tweeting! %23tweetfordiscount @hashtagtravels" class="btn btn-small summary__tweet-button">Tweet</a>

				<span class="summary__tweet-text">
					Tweet now and get <strong>{[{ currency }]} 5.00 DISCOUNT</strong> on this trip!
				</span>
			</div> -->


			<div class="summary__back" ng-show="state.name != 'confirmation'">
				<a ng-href="{{url('flight_search')}}" ng-click="backToPreviousState($event)" class="summary__go-back">‹ Back to {[{previousState.string || 'Flight Search'}]}</a>
			</div>

		</div>

	</div>
	<!-- END SUMMARY -->



	<!-- PERSONAL DETAILS -->
	<form name="personalDetailsForm" ng-controller="personal-details" ng-submit="submitPersonalDetails($event)" ng-if="state.name === 'personal-details'" class="checkout l-col-75" data-parsley-validate>


		<div class="checkout__body">
			<h2 class="checkout__title">Passenger Details</h2>

			<p class="checkout__fieldset-tip">Important: Traveller names must match your government-issued photo ID exactly.</p>


			<div ng-hide="!passengers" class="checkout__item" ng-repeat="(i, p) in passengers">
				<table class="checkout__fieldset">
					<tr>
						<th colspan="3">Passenger <span class="checkout__item--count" ng-bind="i+1"></span> ({[{p.type | passengerType}]})</th>
					</tr>
					<tr>
						<td>
                            <first-name title="p.personalDetails.title" first-name="p.personalDetails.firstName"></first-name>
						</td>

						<td>
							<label class="checkout__field">Last name<br />
								<input ng-model="p.personalDetails.lastName" type="text" class="input-text" required />
							</label>
						</td>

						<td>
							<label class="checkout__field">E-mail<br />
								<input ng-model="p.personalDetails.email" type="email" class="input-text" ng-disabled="i == 0 && user.email" data-parsley-error-message="E-mail required" required />
							</label>
						</td>

						<td>
							{# <label class="checkout__field">Frequent flyer (optional)<br />
								<input ng-model="p.personalDetails.frequentFlyer" type="text" class="input-text checkout__item-phone-number" pattern="\d+" />
							</label> #}
						</td>
					</tr>
					<tr>
						{# <td>
							<label class="checkout__field">Gender<br />
								<div class="customSelect">
									<select class="customSelect-select" name="gender" ng-model="p.personalDetails.gender" data-parsley-class-handler=".customSelect" required>
										<option value=""></option>
										<option value="0">Male</option>
										<option value="1">Female</option>
									</select>
								</div>
							</label>
						</td> #}

						<td>
							<label class="checkout__field">Phone number<br />
								<div class="phone-with-code" id="phoneNumberWithCodeContainer">
									<input id="phoneNumber" class="input-text" ng-model="p.personalDetails.phoneNumber" phonenumber type="text" placeholder="Ex:+766199999" pattern="\d+" required>
									<input id="phoneNumberCountryCode" ng-model="p.personalDetails.phoneCode" ng-init="p.personalDetails.phoneCode = 41" countrycode type="hidden">
								</div>
							</label>
						</td>
						<!-- <td>
							<div ng-repeat="flight in flights">
								<div ng-repeat="segment in flight.segments">
									{[{segment.carrier.code}]}
								</div>
							</div>
						</td> -->
						<td>
							<label class="checkout__field">Frequent flyer company (optional)<br />
								<div class="customSelect">
									<select  ng-model="p.personalDetails.frequentFlyerCompany" class="customSelect-select" data-parsley-class-handler=".customSelect" ng-options="c.code as c.name for c in carriers"></select>
								</div>
							</label>
						</td>

						<td>
							<label class="checkout__field">Frequent flyer number (optional)<br />
								<input ng-model="p.personalDetails.frequentFlyerNumber" type="text" class="input-text checkout__item-phone-number" pattern="\d+" />
							</label>
						</td>
					</tr>

					{# <tr>
						<td>
							<label class="checkout__field">Passport Country<br />
								<div class="customSelect">
									<select ng-model="p.personalDetails.passportCountry" class="customSelect-select" id="countries" name="countries" data-parsley-class-handler=".customSelect" required>
										<option value="">Select</option>
										<option value="AF">Afghanistan</option>
										<option value="AX">Åland Islands</option>
										<option value="AL">Albania</option>
										<option value="DZ">Algeria</option>
										<option value="AS">American Samoa</option>
										<option value="AD">Andorra</option>
										<option value="AO">Angola</option>
										<option value="AI">Anguilla</option>
										<option value="AQ">Antarctica</option>
										<option value="AG">Antigua and Barbuda</option>
										<option value="AR">Argentina</option>
										<option value="AM">Armenia</option>
										<option value="AW">Aruba</option>
										<option value="AU">Australia</option>
										<option value="AT">Austria</option>
										<option value="AZ">Azerbaijan</option>
										<option value="BS">Bahamas</option>
										<option value="BH">Bahrain</option>
										<option value="BD">Bangladesh</option>
										<option value="BB">Barbados</option>
										<option value="BY">Belarus</option>
										<option value="BE">Belgium</option>
										<option value="BZ">Belize</option>
										<option value="BJ">Benin</option>
										<option value="BM">Bermuda</option>
										<option value="BT">Bhutan</option>
										<option value="BO">Bolivia</option>
										<option value="BA">Bosnia and Herzegovina</option>
										<option value="BW">Botswana</option>
										<option value="BV">Bouvet Island</option>
										<option value="BR">Brazil</option>
										<option value="IO">British Indian Ocean Territory</option>
										<option value="BN">Brunei Darussalam</option>
										<option value="BG">Bulgaria</option>
										<option value="BF">Burkina Faso</option>
										<option value="BI">Burundi</option>
										<option value="KH">Cambodia</option>
										<option value="CM">Cameroon</option>
										<option value="CA">Canada</option>
										<option value="CV">Cape Verde</option>
										<option value="KY">Cayman Islands</option>
										<option value="CF">Central African Republic</option>
										<option value="TD">Chad</option>
										<option value="CL">Chile</option>
										<option value="CN">China</option>
										<option value="CX">Christmas Island</option>
										<option value="CC">Cocos (Keeling) Islands</option>
										<option value="CO">Colombia</option>
										<option value="KM">Comoros</option>
										<option value="CG">Congo</option>
										<option value="CD">Congo, The Democratic Republic of The</option>
										<option value="CK">Cook Islands</option>
										<option value="CR">Costa Rica</option>
										<option value="CI">Cote D'ivoire</option>
										<option value="HR">Croatia</option>
										<option value="CU">Cuba</option>
										<option value="CY">Cyprus</option>
										<option value="CZ">Czech Republic</option>
										<option value="DK">Denmark</option>
										<option value="DJ">Djibouti</option>
										<option value="DM">Dominica</option>
										<option value="DO">Dominican Republic</option>
										<option value="EC">Ecuador</option>
										<option value="EG">Egypt</option>
										<option value="SV">El Salvador</option>
										<option value="GQ">Equatorial Guinea</option>
										<option value="ER">Eritrea</option>
										<option value="EE">Estonia</option>
										<option value="ET">Ethiopia</option>
										<option value="FK">Falkland Islands (Malvinas)</option>
										<option value="FO">Faroe Islands</option>
										<option value="FJ">Fiji</option>
										<option value="FI">Finland</option>
										<option value="FR">France</option>
										<option value="GF">French Guiana</option>
										<option value="PF">French Polynesia</option>
										<option value="TF">French Southern Territories</option>
										<option value="GA">Gabon</option>
										<option value="GM">Gambia</option>
										<option value="GE">Georgia</option>
										<option value="DE">Germany</option>
										<option value="GH">Ghana</option>
										<option value="GI">Gibraltar</option>
										<option value="GR">Greece</option>
										<option value="GL">Greenland</option>
										<option value="GD">Grenada</option>
										<option value="GP">Guadeloupe</option>
										<option value="GU">Guam</option>
										<option value="GT">Guatemala</option>
										<option value="GG">Guernsey</option>
										<option value="GN">Guinea</option>
										<option value="GW">Guinea-bissau</option>
										<option value="GY">Guyana</option>
										<option value="HT">Haiti</option>
										<option value="HM">Heard Island and Mcdonald Islands</option>
										<option value="VA">Holy See (Vatican City State)</option>
										<option value="HN">Honduras</option>
										<option value="HK">Hong Kong</option>
										<option value="HU">Hungary</option>
										<option value="IS">Iceland</option>
										<option value="IN">India</option>
										<option value="ID">Indonesia</option>
										<option value="IR">Iran, Islamic Republic of</option>
										<option value="IQ">Iraq</option>
										<option value="IE">Ireland</option>
										<option value="IM">Isle of Man</option>
										<option value="IL">Israel</option>
										<option value="IT">Italy</option>
										<option value="JM">Jamaica</option>
										<option value="JP">Japan</option>
										<option value="JE">Jersey</option>
										<option value="JO">Jordan</option>
										<option value="KZ">Kazakhstan</option>
										<option value="KE">Kenya</option>
										<option value="KI">Kiribati</option>
										<option value="KP">Korea, Democratic People's Republic of</option>
										<option value="KR">Korea, Republic of</option>
										<option value="KW">Kuwait</option>
										<option value="KG">Kyrgyzstan</option>
										<option value="LA">Lao People's Democratic Republic</option>
										<option value="LV">Latvia</option>
										<option value="LB">Lebanon</option>
										<option value="LS">Lesotho</option>
										<option value="LR">Liberia</option>
										<option value="LY">Libyan Arab Jamahiriya</option>
										<option value="LI">Liechtenstein</option>
										<option value="LT">Lithuania</option>
										<option value="LU">Luxembourg</option>
										<option value="MO">Macao</option>
										<option value="MK">Macedonia, The Former Yugoslav Republic of</option>
										<option value="MG">Madagascar</option>
										<option value="MW">Malawi</option>
										<option value="MY">Malaysia</option>
										<option value="MV">Maldives</option>
										<option value="ML">Mali</option>
										<option value="MT">Malta</option>
										<option value="MH">Marshall Islands</option>
										<option value="MQ">Martinique</option>
										<option value="MR">Mauritania</option>
										<option value="MU">Mauritius</option>
										<option value="YT">Mayotte</option>
										<option value="MX">Mexico</option>
										<option value="FM">Micronesia, Federated States of</option>
										<option value="MD">Moldova, Republic of</option>
										<option value="MC">Monaco</option>
										<option value="MN">Mongolia</option>
										<option value="ME">Montenegro</option>
										<option value="MS">Montserrat</option>
										<option value="MA">Morocco</option>
										<option value="MZ">Mozambique</option>
										<option value="MM">Myanmar</option>
										<option value="NA">Namibia</option>
										<option value="NR">Nauru</option>
										<option value="NP">Nepal</option>
										<option value="NL">Netherlands</option>
										<option value="AN">Netherlands Antilles</option>
										<option value="NC">New Caledonia</option>
										<option value="NZ">New Zealand</option>
										<option value="NI">Nicaragua</option>
										<option value="NE">Niger</option>
										<option value="NG">Nigeria</option>
										<option value="NU">Niue</option>
										<option value="NF">Norfolk Island</option>
										<option value="MP">Northern Mariana Islands</option>
										<option value="NO">Norway</option>
										<option value="OM">Oman</option>
										<option value="PK">Pakistan</option>
										<option value="PW">Palau</option>
										<option value="PS">Palestinian Territory, Occupied</option>
										<option value="PA">Panama</option>
										<option value="PG">Papua New Guinea</option>
										<option value="PY">Paraguay</option>
										<option value="PE">Peru</option>
										<option value="PH">Philippines</option>
										<option value="PN">Pitcairn</option>
										<option value="PL">Poland</option>
										<option value="PT">Portugal</option>
										<option value="PR">Puerto Rico</option>
										<option value="QA">Qatar</option>
										<option value="RE">Reunion</option>
										<option value="RO">Romania</option>
										<option value="RU">Russian Federation</option>
										<option value="RW">Rwanda</option>
										<option value="SH">Saint Helena</option>
										<option value="KN">Saint Kitts and Nevis</option>
										<option value="LC">Saint Lucia</option>
										<option value="PM">Saint Pierre and Miquelon</option>
										<option value="VC">Saint Vincent and The Grenadines</option>
										<option value="WS">Samoa</option>
										<option value="SM">San Marino</option>
										<option value="ST">Sao Tome and Principe</option>
										<option value="SA">Saudi Arabia</option>
										<option value="SN">Senegal</option>
										<option value="RS">Serbia</option>
										<option value="SC">Seychelles</option>
										<option value="SL">Sierra Leone</option>
										<option value="SG">Singapore</option>
										<option value="SK">Slovakia</option>
										<option value="SI">Slovenia</option>
										<option value="SB">Solomon Islands</option>
										<option value="SO">Somalia</option>
										<option value="ZA">South Africa</option>
										<option value="GS">South Georgia and The South Sandwich Islands</option>
										<option value="ES">Spain</option>
										<option value="LK">Sri Lanka</option>
										<option value="SD">Sudan</option>
										<option value="SR">Suriname</option>
										<option value="SJ">Svalbard and Jan Mayen</option>
										<option value="SZ">Swaziland</option>
										<option value="SE">Sweden</option>
										<option value="CH">Switzerland</option>
										<option value="SY">Syrian Arab Republic</option>
										<option value="TW">Taiwan, Province of China</option>
										<option value="TJ">Tajikistan</option>
										<option value="TZ">Tanzania, United Republic of</option>
										<option value="TH">Thailand</option>
										<option value="TL">Timor-leste</option>
										<option value="TG">Togo</option>
										<option value="TK">Tokelau</option>
										<option value="TO">Tonga</option>
										<option value="TT">Trinidad and Tobago</option>
										<option value="TN">Tunisia</option>
										<option value="TR">Turkey</option>
										<option value="TM">Turkmenistan</option>
										<option value="TC">Turks and Caicos Islands</option>
										<option value="TV">Tuvalu</option>
										<option value="UG">Uganda</option>
										<option value="UA">Ukraine</option>
										<option value="AE">United Arab Emirates</option>
										<option value="GB">United Kingdom</option>
										<option value="US">United States</option>
										<option value="UM">United States Minor Outlying Islands</option>
										<option value="UY">Uruguay</option>
										<option value="UZ">Uzbekistan</option>
										<option value="VU">Vanuatu</option>
										<option value="VE">Venezuela</option>
										<option value="VN">Viet Nam</option>
										<option value="VG">Virgin Islands, British</option>
										<option value="VI">Virgin Islands, U.S.</option>
										<option value="WF">Wallis and Futuna</option>
										<option value="EH">Western Sahara</option>
										<option value="YE">Yemen</option>
										<option value="ZM">Zambia</option>
										<option value="ZW">Zimbabwe</option>
									</select>
								</div>
							</label>
						</td>
						<td>
							<label class="checkout__field">Passport number<br />
								<input ng-model="p.personalDetails.passportNumber" type="text" class="input-text" required />
							</label>
						</td>

						<td>

							<label class="checkout__field">Passport expiration<br />

								<div class="checkout__col-30">
									<div class="customSelect">
										<select class="customSelect-select" ng-model="p.personalDetails.passportExpiryDay">
											<option value="01">01</option>
											<option value="02">02</option>
											<option value="03">03</option>
											<option value="04">04</option>
											<option value="05">05</option>
											<option value="06">06</option>
											<option value="07">07</option>
											<option value="08">08</option>
											<option value="09">09</option>
											<option value="10">10</option>
											<option value="11">11</option>
											<option value="12">12</option>
											<option value="13">13</option>
											<option value="14">14</option>
											<option value="15">15</option>
											<option value="16">16</option>
											<option value="17">17</option>
											<option value="18">18</option>
											<option value="19">19</option>
											<option value="20">20</option>
											<option value="21">21</option>
											<option value="22">22</option>
											<option value="23">23</option>
											<option value="24">24</option>
											<option value="25">25</option>
											<option value="26">26</option>
											<option value="27">27</option>
											<option value="28">28</option>
											<option value="29">29</option>
											<option value="30">30</option>
											<option value="31">31</option>
										</select>
									</div>
								</div>

								<div class="checkout__col-30">
									<div class="customSelect">
										<select class="customSelect-select" ng-model="p.personalDetails.passportExpiryMonth">
											<option value="01">01</option>
											<option value="02">02</option>
											<option value="03">03</option>
											<option value="04">04</option>
											<option value="05">05</option>
											<option value="06">06</option>
											<option value="07">07</option>
											<option value="08">08</option>
											<option value="09">09</option>
											<option value="10">10</option>
											<option value="11">11</option>
											<option value="12">12</option>
										</select>
									</div>
								</div>

								<div class="checkout__col-40 checkout__col--last">
									<div class="customSelect">
										<select class="customSelect-select" ng-model="p.personalDetails.passportExpiryYear">
											<option value="2014">2014</option>
											<option value="2015">2015</option>
											<option value="2016">2016</option>
											<option value="2017">2017</option>
											<option value="2018">2018</option>
											<option value="2019">2019</option>
											<option value="2020">2020</option>
											<option value="2021">2021</option>
											<option value="2022">2022</option>
											<option value="2023">2023</option>
											<option value="2024">2024</option>
											<option value="2025">2025</option>
										</select>
									</div>
								</div>

							</label>
						</td>
					</tr> #}
				</table>

				<hr ng-if="i < passengers.length-1" />
			</div>

		</div>

		<div class="checkout__footer">
			<span class="checkout__error-message" ng-if="error_message" ng-cloak>Error: {[{error_message}]}</span>
			<a ng-if="!hasCoupon" href="#modal__coupon" class="btn-modal checkout__coupon" ng-click="showCoupon($event)">Do you have a coupon? Click to insert it and receive a discount!</a>
			<span class="l-toCenter"></span><button class="checkout__submit btn" type="submit">Continue booking</button>
		</div>

	</form>

	<!-- END PERSONAL DETAILS -->


	<!-- BOOKING OPTIONS -->
	<form name="bookingOptionsForm" ng-controller="booking-options" ng-if="state.name === 'booking-options' || state.name === 'manage-luggage'" ng-submit="submitBookingOptions($event);" class="l-col-75">

		<div class="booking-options">
			<div class="booking-options__row">

				<div class="booking-options__section booking-options__section--seat" ng-if="seatMap">
					<h3 class="booking-options__section-title"><img src="{{app.config.staticpath}}/img/modules/booking-options/icon-seat.png" /> Select your seat</h3>

					<div class="booking-options__section-content">

						<div class="booking-options__section-col booking-options__seats">
							<ul>
								<li>Board first</li>
								<li>Guarantee seats together</li>
								<li>Extra leg room</li>
								<li>Speedy exit</li>
							</ul>
							<a href="#modal--select-your-seat" class="btn btn-modal btn--small booking-options__btn" ng-click="showSelectSeat($event)">Choose seats</a>
						</div>
					</div>
				</div>


				<!-- <div class="booking-options__section booking-options__section--luggage">
					<h3 class="booking-options__section-title"><img src="{{app.config.staticpath}}/img/modules/booking-options/icon-luggage.png" /> Hold luggage</h3>

					<div class="booking-options__section-content">

						<div class="booking-options__section-col booking-options__luggage">
							<p>Free 10kg cabin bag onboard. Buy up to 2 checked-in bags per person, maximum combined weight of 35 kg.</p>
							<a href="#" class="btn btn--small booking-options__btn" ng-click="showManageLuggage($event)">Manage luggage</a>
						</div>

					</div>
				</div> -->


				<div class="booking-options__section booking-options__section--insurance">
					<h3 class="booking-options__section-title"><img src="{{app.config.staticpath}}/img/modules/booking-options/icon-insurance.png" /> Protect your trip</h3>

					<div class="booking-options__section-content">

						<div class="booking-options__section-col booking-options__insurance">
							<p>An insurance plan is always recommended for your trip. Have a look at our plans.</p>
							<img src="{{app.config.staticpath}}/img/modules/booking-options/allianz.png">
							<a href="#" class="btn btn-modal btn--small booking-options__btn" ng-click="showInsurance($event)">Insurance plans</a>
						</div>

					</div>
				</div>
			</div>
			
			<h3 class="booking-options__section-title">Add a Hotel</h3>

			<div class="booking-options__row">
				<div class="booking-options__section booking-options__section--hotel">
					<div class="hotel-results__content-box">
						<div class="hotel-results__hotel-image" style="width: 200px;">
							<img ng-src="{{app.config.uploadsdir}}/Royal-Mirage-Dubai.jpg">
						</div>

						<h3 class="ng-binding">Hôtel Union</h3>
						<p class="hotel-stars hotel-stars--sleep hotel-stars--3">3</p>
						<p class="ng-binding">Chemin des Croisettes 2</p>
					</div>
				</div>
				<div class="booking-options__section booking-options__section--hotel">
					<div class="hotel-results__content-box">
						<ul class="flight-hotel__list">
							<li>
								<span>Book separately</span>
								<strong>CHF 3.452,21</strong>
							</li>
							<li>
								<span>Book together now</span>
								<strong>CHF 3.452,21</strong>
							</li>
							<li class="strong">
								<span>Flight + Hotel savings</span>
								<strong>CHF 292,53</strong>
							</li>
						</ul>
					</div>
				</div>
				<div class="booking-options__section booking-options__section--hotel">
					<div class="hotel-results__content-box">
						<a href="" class="btn btn--small booking-options__btn">Select this hotel</a>
						<a href="" class="booking-options__btn show-more-btn" ng-click="showMoreSugestions = true">or see more hotels</a>
					</div>
				</div>
			</div>

			<h3 class="booking-options__section-title">Add a Car</h3>

			<div class="booking-options__row">
				<div class="booking-options__section booking-options__section--hotel">
					<div class="hotel-results__content-box">
						<div class="hotel-results__hotel-image" style="width:202px;">
							<img ng-src="{{app.config.uploadsdir}}/car-grid_06.jpg">
						</div>

						<h3 class="ng-binding">Volkswagen Golf</h3>
						<p class="ng-binding">
							<br/>5 Passengers<br/>
							2 Small Suitcases<br/>
							Automatic Transmission
						</p>
					</div>
				</div>
				<div class="booking-options__section booking-options__section--hotel">
					<div class="hotel-results__content-box">
						<ul class="flight-hotel__list">
							<li>
								<span>Book separately</span>
								<strong>CHF 3.452,21</strong>
							</li>
							<li>
								<span>Book together now</span>
								<strong>CHF 3.452,21</strong>
							</li>
							<li class="strong">
								<span>Flight + Car savings</span>
								<strong>CHF 292,53</strong>
							</li>
						</ul>
					</div>
				</div>
				<div class="booking-options__section booking-options__section--hotel">
					<div class="hotel-results__content-box">
						<a href="" class="btn btn--small booking-options__btn">Select this car</a>
						<a href="" class="booking-options__btn show-more-btn" ng-click="showMoreSugestions = true">or see more cars</a>
					</div>
				</div>
			</div>
		</div>


		<div class="checkout__footer">
			<a ng-if="!hasCoupon" href="#modal__coupon" class="btn-modal checkout__coupon" ng-click="showCoupon($event)">Do you have a coupon? Click to insert it and receive a discount!</a>
			<span class="l-toCenter"></span><button class="checkout__submit btn" type="submit">Continue booking</button>
		</div>

		{# <div class="more-sugestions__container" ng-show="showMoreSugestions">
			<div class="more-sugestions__header">
				<h3 class="booking-options__section-title">More hotels {[{showMoreSugestions}]}</h3>
				<a href="#" class="more-sugestions__close" ng-click="showMoreSugestions = false; $event.preventDefault()"></a>
			</div>

			<div class="more-sugestions__content">
				<div class="booking-options__row">
					<div class="booking-options__section booking-options__section--hotel">
						<div class="hotel-results__content-box">
							<div class="hotel-results__hotel-image">
								<img ng-src="{{app.config.uploadsdir}}/car-results-drive-03.jpg">
							</div>

							<h3 class="ng-binding">Toyota Yaris</h3>
							<p class="ng-binding">
								<br/>5 Passengers<br/>
								2 Small Suitcases<br/>
								Automatic Transmission
							</p>
						</div>
					</div>
					<div class="booking-options__section booking-options__section--hotel">
						<div class="hotel-results__content-box">
							<ul class="flight-hotel__list">
								<li>
									<span>Book separately</span>
									<strong>CHF 3.452,21</strong>
								</li>
								<li>
									<span>Book together now</span>
									<strong>CHF 3.452,21</strong>
								</li>
								<li class="strong">
									<span>Flight + Car savings</span>
									<strong>CHF 292,53</strong>
								</li>
							</ul>
						</div>
					</div>
					<div class="booking-options__section booking-options__section--hotel">
						<div class="hotel-results__content-box">
							<a href="" class="btn btn--small booking-options__btn">Select this car</a>
						</div>
					</div>
				</div>
				<div class="booking-options__row">
					<div class="booking-options__section booking-options__section--hotel">
						<div class="hotel-results__content-box">
							<div class="hotel-results__hotel-image">
								<img ng-src="http://images.travelnow.com/hotels/5000000/4200000/4193200/4193135/4193135_18_b.jpg" src="http://images.travelnow.com/hotels/5000000/4200000/4193200/4193135/4193135_18_b.jpg">
							</div>

							<h3 class="ng-binding">Hôtel Union</h3>
							<p class="hotel-stars hotel-stars--sleep hotel-stars--3">3</p>
							<p class="ng-binding">Chemin des Croisettes 2</p>
						</div>
					</div>
					<div class="booking-options__section booking-options__section--hotel">
						<div class="hotel-results__content-box">
							<ul class="flight-hotel__list">
								<li>
									<span>Book separately</span>
									<strong>CHF 3.452,21</strong>
								</li>
								<li>
									<span>Book together now</span>
									<strong>CHF 3.452,21</strong>
								</li>
								<li class="strong">
									<span>Flight + Hotel savings</span>
									<strong>CHF 292,53</strong>
								</li>
							</ul>
						</div>
					</div>
					<div class="booking-options__section booking-options__section--hotel">
						<div class="hotel-results__content-box">
							<a href="" class="btn btn--small booking-options__btn">Select this hotel</a>
						</div>
					</div>
				</div>
			</div>
		</div> #}

	</form>
	<!-- END BOOKING OPTIONS -->


	<!-- PAYMENT -->
	<form action="https://pilot.datatrans.biz/upp/jsp/upStart.jsp" method="post" name="paymentDetailsForm" ng-controller="payment-details" ng-submit="submitPaymentDetails($event)" ng-if="state.name === 'payment-details'" action="{{url('flight_checkout')}}" class="checkout l-col-75" data-parsley-validate>

		<input type="hidden" name="testOnly" value="yes">
		<input type="hidden" name="hiddenMode" value="yes">
		<input type="hidden" name="language" value="en">
		<input type="hidden" name="merchantId" value="1100003990">
		<input type="hidden" name="successUrl" value="{{url('flight_checkout_payment')}}?success">
		<input type="hidden" name="errorUrl" value="{{url('flight_checkout_payment')}}?error">
		<input type="hidden" name="cancelUrl" value="{{url('flight_checkout_payment')}}?cancel">

		<h2 class="checkout__title">Payment Details</h2>


		{# <div class="internal-tabs"> #}

			{# <h4 class="checkout__subtitle">How would you like to pay?</h4>

			<div class="internal-tabs__tabs-links">
				<a href="#" class="internal-tabs__tab-link internal-tabs__tab-link--card internal-tabs__tab-link--active">Credit card <span class="intenal-tabs__icons-card"></span></a>
				<a href="#" class="internal-tabs__tab-link">PayPal <span class="intenal-tabs__icons-card internal-tabs__icons-card--paypal"></span></a>
			</div> #}

			{# <div class="internal-tabs__content"> #}

				{# <div class="internal-tabs__tab internal-tabs__tab--active"> #}

					<table class="checkout__fieldset">

						<input type="hidden" ng-value="payment.amount" name="amount">
						<input type="hidden" ng-value="payment.currency" name="currency">
						<input type="hidden" ng-value="payment.ref" name="refno">
						<input type="hidden" ng-value="payment.sign" name="sign">

						{% if datatrans %}
						<pre>{{datatrans | json_encode}}</pre>
						<script type="text/javascript">window.DATATRANS_RESPONSE = {{datatrans | json_encode | raw}}</script>
						{% endif %}

						<tr>
							<th colspan="3">Credit card info</th>
						</tr>

						<tr>
							<td>
								<label class="checkout__field">Form of payment<br />
									<div class="customSelect">
										<select ng-model="payment.method" name="paymentmethod" class="customSelect-select" data-parsley-class-handler=".customSelect" data-parsley-error-message="Required" required>
											<option value="">Select</option>
											<option value="ECA">MasterCard</option>
											<option value="VIS">Visa</option>
											<option value="PEF">PostFinance E-Finance</option>
											<option value="PFC">PostFinance Card</option>
										</select>
									</div>
								</label>
							</td>
							<td></td>
							<td></td>
						</tr>

						<tr>
							<td>
								<label class="checkout__field">Debit/Credit card number<br />
									<input type="text" name="cardno" ng-model="payment.creditCardNumber" class="input-text checkout__credit-card-input" maxlength="19" placeholder="0000 0000 0000 0000" data-type-card="" data-parsley-error-message="Required" data-parsley-minlength="14" data-parsley-maxlength="19" required />
								</label>
							</td>
							<td>
								<label class="checkout__field">Expiration date<br />

									<div class="checkout__col-expiration-month">
										<div class="customSelect">
											<select name="expm" ng-model="payment.expirationMonth" class="customSelect-select" data-parsley-class-handler=".customSelect" data-parsley-error-message="Required" required>
												<option value="">Select</option>
												<option value="01">January</option>
												<option value="02">February</option>
												<option value="03">March</option>
												<option value="04">April</option>
												<option value="05">May</option>
												<option value="06">June</option>
												<option value="07">July</option>
												<option value="08">August</option>
												<option value="09">September</option>
												<option value="10">October</option>
												<option value="11">November</option>
												<option value="12">December</option>
											</select>
										</div>
									</div>

									<div class="checkout__col-expiration-year">
										<div class="customSelect">
											<select name="expy" ng-model="payment.expirationYear" class="customSelect-select" data-parsley-class-handler=".customSelect" data-parsley-error-message="Required" required>
												<option value="">Select</option>
												<option value="14">2014</option>
												<option value="15">2015</option>
												<option value="16">2016</option>
												<option value="17">2017</option>
												<option value="18">2018</option>
												<option value="19">2019</option>
												<option value="20">2020</option>
												<option value="21">2021</option>
												<option value="22">2022</option>
												<option value="23">2023</option>
												<option value="24">2024</option>
												<option value="25">2025</option>
												<option value="26">2026</option>
												<option value="27">2027</option>
												<option value="28">2028</option>
												<option value="29">2029</option>
												<option value="30">2030</option>
											</select>
										</div>
									</div>

								</label>
							</td>
							<td>
								<label class="checkout__field checkout__field--security-code">Security code<br />
									<div class="l-col-25">
										<input name="cvv" ng-model="payment.securityCode" type="text" class="input-text checkout__security-code-input" data-parsley-type="integer" maxlength="3" required />
									</div>
								</label>
							</td>
						</tr>

					</table>

					<hr/>


					{# <table class="checkout__fieldset">
						<tr>
							<th colspan="3">Billing Address</th>
						</tr>
						<tr>
							<td>
								<label class="checkout__field">Country<br />
									<div class="customSelect">
										<select ng-model="payment.country" class="customSelect-select" id="countries" name="countries" data-parsley-class-handler=".customSelect" required>
											<option value="">Select</option>
											<option value="AF">Afghanistan</option>
											<option value="AX">Åland Islands</option>
											<option value="AL">Albania</option>
											<option value="DZ">Algeria</option>
											<option value="AS">American Samoa</option>
											<option value="AD">Andorra</option>
											<option value="AO">Angola</option>
											<option value="AI">Anguilla</option>
											<option value="AQ">Antarctica</option>
											<option value="AG">Antigua and Barbuda</option>
											<option value="AR">Argentina</option>
											<option value="AM">Armenia</option>
											<option value="AW">Aruba</option>
											<option value="AU">Australia</option>
											<option value="AT">Austria</option>
											<option value="AZ">Azerbaijan</option>
											<option value="BS">Bahamas</option>
											<option value="BH">Bahrain</option>
											<option value="BD">Bangladesh</option>
											<option value="BB">Barbados</option>
											<option value="BY">Belarus</option>
											<option value="BE">Belgium</option>
											<option value="BZ">Belize</option>
											<option value="BJ">Benin</option>
											<option value="BM">Bermuda</option>
											<option value="BT">Bhutan</option>
											<option value="BO">Bolivia</option>
											<option value="BA">Bosnia and Herzegovina</option>
											<option value="BW">Botswana</option>
											<option value="BV">Bouvet Island</option>
											<option value="BR">Brazil</option>
											<option value="IO">British Indian Ocean Territory</option>
											<option value="BN">Brunei Darussalam</option>
											<option value="BG">Bulgaria</option>
											<option value="BF">Burkina Faso</option>
											<option value="BI">Burundi</option>
											<option value="KH">Cambodia</option>
											<option value="CM">Cameroon</option>
											<option value="CA">Canada</option>
											<option value="CV">Cape Verde</option>
											<option value="KY">Cayman Islands</option>
											<option value="CF">Central African Republic</option>
											<option value="TD">Chad</option>
											<option value="CL">Chile</option>
											<option value="CN">China</option>
											<option value="CX">Christmas Island</option>
											<option value="CC">Cocos (Keeling) Islands</option>
											<option value="CO">Colombia</option>
											<option value="KM">Comoros</option>
											<option value="CG">Congo</option>
											<option value="CD">Congo, The Democratic Republic of The</option>
											<option value="CK">Cook Islands</option>
											<option value="CR">Costa Rica</option>
											<option value="CI">Cote D'ivoire</option>
											<option value="HR">Croatia</option>
											<option value="CU">Cuba</option>
											<option value="CY">Cyprus</option>
											<option value="CZ">Czech Republic</option>
											<option value="DK">Denmark</option>
											<option value="DJ">Djibouti</option>
											<option value="DM">Dominica</option>
											<option value="DO">Dominican Republic</option>
											<option value="EC">Ecuador</option>
											<option value="EG">Egypt</option>
											<option value="SV">El Salvador</option>
											<option value="GQ">Equatorial Guinea</option>
											<option value="ER">Eritrea</option>
											<option value="EE">Estonia</option>
											<option value="ET">Ethiopia</option>
											<option value="FK">Falkland Islands (Malvinas)</option>
											<option value="FO">Faroe Islands</option>
											<option value="FJ">Fiji</option>
											<option value="FI">Finland</option>
											<option value="FR">France</option>
											<option value="GF">French Guiana</option>
											<option value="PF">French Polynesia</option>
											<option value="TF">French Southern Territories</option>
											<option value="GA">Gabon</option>
											<option value="GM">Gambia</option>
											<option value="GE">Georgia</option>
											<option value="DE">Germany</option>
											<option value="GH">Ghana</option>
											<option value="GI">Gibraltar</option>
											<option value="GR">Greece</option>
											<option value="GL">Greenland</option>
											<option value="GD">Grenada</option>
											<option value="GP">Guadeloupe</option>
											<option value="GU">Guam</option>
											<option value="GT">Guatemala</option>
											<option value="GG">Guernsey</option>
											<option value="GN">Guinea</option>
											<option value="GW">Guinea-bissau</option>
											<option value="GY">Guyana</option>
											<option value="HT">Haiti</option>
											<option value="HM">Heard Island and Mcdonald Islands</option>
											<option value="VA">Holy See (Vatican City State)</option>
											<option value="HN">Honduras</option>
											<option value="HK">Hong Kong</option>
											<option value="HU">Hungary</option>
											<option value="IS">Iceland</option>
											<option value="IN">India</option>
											<option value="ID">Indonesia</option>
											<option value="IR">Iran, Islamic Republic of</option>
											<option value="IQ">Iraq</option>
											<option value="IE">Ireland</option>
											<option value="IM">Isle of Man</option>
											<option value="IL">Israel</option>
											<option value="IT">Italy</option>
											<option value="JM">Jamaica</option>
											<option value="JP">Japan</option>
											<option value="JE">Jersey</option>
											<option value="JO">Jordan</option>
											<option value="KZ">Kazakhstan</option>
											<option value="KE">Kenya</option>
											<option value="KI">Kiribati</option>
											<option value="KP">Korea, Democratic People's Republic of</option>
											<option value="KR">Korea, Republic of</option>
											<option value="KW">Kuwait</option>
											<option value="KG">Kyrgyzstan</option>
											<option value="LA">Lao People's Democratic Republic</option>
											<option value="LV">Latvia</option>
											<option value="LB">Lebanon</option>
											<option value="LS">Lesotho</option>
											<option value="LR">Liberia</option>
											<option value="LY">Libyan Arab Jamahiriya</option>
											<option value="LI">Liechtenstein</option>
											<option value="LT">Lithuania</option>
											<option value="LU">Luxembourg</option>
											<option value="MO">Macao</option>
											<option value="MK">Macedonia, The Former Yugoslav Republic of</option>
											<option value="MG">Madagascar</option>
											<option value="MW">Malawi</option>
											<option value="MY">Malaysia</option>
											<option value="MV">Maldives</option>
											<option value="ML">Mali</option>
											<option value="MT">Malta</option>
											<option value="MH">Marshall Islands</option>
											<option value="MQ">Martinique</option>
											<option value="MR">Mauritania</option>
											<option value="MU">Mauritius</option>
											<option value="YT">Mayotte</option>
											<option value="MX">Mexico</option>
											<option value="FM">Micronesia, Federated States of</option>
											<option value="MD">Moldova, Republic of</option>
											<option value="MC">Monaco</option>
											<option value="MN">Mongolia</option>
											<option value="ME">Montenegro</option>
											<option value="MS">Montserrat</option>
											<option value="MA">Morocco</option>
											<option value="MZ">Mozambique</option>
											<option value="MM">Myanmar</option>
											<option value="NA">Namibia</option>
											<option value="NR">Nauru</option>
											<option value="NP">Nepal</option>
											<option value="NL">Netherlands</option>
											<option value="AN">Netherlands Antilles</option>
											<option value="NC">New Caledonia</option>
											<option value="NZ">New Zealand</option>
											<option value="NI">Nicaragua</option>
											<option value="NE">Niger</option>
											<option value="NG">Nigeria</option>
											<option value="NU">Niue</option>
											<option value="NF">Norfolk Island</option>
											<option value="MP">Northern Mariana Islands</option>
											<option value="NO">Norway</option>
											<option value="OM">Oman</option>
											<option value="PK">Pakistan</option>
											<option value="PW">Palau</option>
											<option value="PS">Palestinian Territory, Occupied</option>
											<option value="PA">Panama</option>
											<option value="PG">Papua New Guinea</option>
											<option value="PY">Paraguay</option>
											<option value="PE">Peru</option>
											<option value="PH">Philippines</option>
											<option value="PN">Pitcairn</option>
											<option value="PL">Poland</option>
											<option value="PT">Portugal</option>
											<option value="PR">Puerto Rico</option>
											<option value="QA">Qatar</option>
											<option value="RE">Reunion</option>
											<option value="RO">Romania</option>
											<option value="RU">Russian Federation</option>
											<option value="RW">Rwanda</option>
											<option value="SH">Saint Helena</option>
											<option value="KN">Saint Kitts and Nevis</option>
											<option value="LC">Saint Lucia</option>
											<option value="PM">Saint Pierre and Miquelon</option>
											<option value="VC">Saint Vincent and The Grenadines</option>
											<option value="WS">Samoa</option>
											<option value="SM">San Marino</option>
											<option value="ST">Sao Tome and Principe</option>
											<option value="SA">Saudi Arabia</option>
											<option value="SN">Senegal</option>
											<option value="RS">Serbia</option>
											<option value="SC">Seychelles</option>
											<option value="SL">Sierra Leone</option>
											<option value="SG">Singapore</option>
											<option value="SK">Slovakia</option>
											<option value="SI">Slovenia</option>
											<option value="SB">Solomon Islands</option>
											<option value="SO">Somalia</option>
											<option value="ZA">South Africa</option>
											<option value="GS">South Georgia and The South Sandwich Islands</option>
											<option value="ES">Spain</option>
											<option value="LK">Sri Lanka</option>
											<option value="SD">Sudan</option>
											<option value="SR">Suriname</option>
											<option value="SJ">Svalbard and Jan Mayen</option>
											<option value="SZ">Swaziland</option>
											<option value="SE">Sweden</option>
											<option value="CH">Switzerland</option>
											<option value="SY">Syrian Arab Republic</option>
											<option value="TW">Taiwan, Province of China</option>
											<option value="TJ">Tajikistan</option>
											<option value="TZ">Tanzania, United Republic of</option>
											<option value="TH">Thailand</option>
											<option value="TL">Timor-leste</option>
											<option value="TG">Togo</option>
											<option value="TK">Tokelau</option>
											<option value="TO">Tonga</option>
											<option value="TT">Trinidad and Tobago</option>
											<option value="TN">Tunisia</option>
											<option value="TR">Turkey</option>
											<option value="TM">Turkmenistan</option>
											<option value="TC">Turks and Caicos Islands</option>
											<option value="TV">Tuvalu</option>
											<option value="UG">Uganda</option>
											<option value="UA">Ukraine</option>
											<option value="AE">United Arab Emirates</option>
											<option value="GB">United Kingdom</option>
											<option value="US">United States</option>
											<option value="UM">United States Minor Outlying Islands</option>
											<option value="UY">Uruguay</option>
											<option value="UZ">Uzbekistan</option>
											<option value="VU">Vanuatu</option>
											<option value="VE">Venezuela</option>
											<option value="VN">Viet Nam</option>
											<option value="VG">Virgin Islands, British</option>
											<option value="VI">Virgin Islands, U.S.</option>
											<option value="WF">Wallis and Futuna</option>
											<option value="EH">Western Sahara</option>
											<option value="YE">Yemen</option>
											<option value="ZM">Zambia</option>
											<option value="ZW">Zimbabwe</option>
										</select>
									</div>
								</label>
							</td>
							<td>
								<label class="checkout__field">City<br />
									<input ng-model="payment.city" type="text" class="input-text" required />
								</label>
							</td>
							<td>
								<label class="checkout__field">ZIP Code<br />
									<input ng-model="payment.zipcode" type="text" class="input-text" required />
								</label>
							</td>
						</tr>
						<tr>
							<td>
								<label class="checkout__field">Address<br />
									<input ng-model="payment.address1" type="text" class="input-text" required />
								</label>
							</td>

							<td>
								<label class="checkout__field">Address 2<br />
									<input ng-model="payment.address2" type="text" class="input-text" />
								</label>
							</td>

						</tr>
					</table> #}

				{# </div> #}

				{# <div class="internal-tabs__tab">

					<div class="checkout__paypal">
						<h4>Please click the button below to pay with PayPal.<br/>You will be directed to the PayPal's website.</h4>
						<a href="#" class="btn">Pay with PayPal</a>
					</div>


				</div> #}

{# 			</div>


		</div> #}


		<div class="checkout__footer">
			<a ng-if="!hasCoupon" href="#modal__coupon" class="btn-modal checkout__coupon" ng-click="showCoupon($event)">Do you have a coupon? Click to insert it and receive a discount!</a>
			<span class="l-toCenter"></span><button class="checkout__submit btn" type="submit">Complete booking</button>
		</div>

	</form>
	<!-- END PAYMENT -->


	<!-- CONFIRMATION -->

	<div class="confirmation l-col-75" ng-controller="confirmation" ng-if="state.name === 'confirmation'">
		<h2 class="confirmation__title">Booking confirmation</h2>

		<div class="confirmation__thanks">
			<h4>Thanks for booking with Hashtag Travels!</h4>
			<p>We just sent you an e-mail with your trip itinerary.</p>

			<div class="confirmation__code">
				<p>Confirmation Number: <span>{[{pnr.pnr}]}</span></p>
			</div>
			<br>
			<a href="{{url('print_flight_confirmation')}}" target="_blank" class="confirmation__print">Print voucher details</a>
		</div>


		<h2 class="confirmation__title">Share and get discount</h2>
		<div class="confirmation__share">
			<p>Get points sharing your booking with your followers and use your points to get discount on our services.</p>
			<h4>One share = 5 points</h4>
			<ul>
				<li><a share="twitter" href="https://twitter.com/intent/tweet?&amp;text=I%20just%20booked%20my%20%23flight%20with%20http%3A%2F%2Fwww.hashtagtravels.com%20and%20received%20%245%20discount%20for%20tweeting!%20%23tweetfordiscount%20%40hashtagtravels" class="bt tt" data-network="twitter">Share on Twitter</a></li>
				<li><a share="facebook" href="#" class="bt fb" data-network="facebook">Share on Facebook</a></li>
				<!-- <li><a share="email" href="#modal__share" class="bt email btn-modal" data-network="email">Share with E-mail</a></li> -->
				<!-- <li><a href="#" class="bt gpls">Share on Google+</a></li> -->
			</ul>
		</div>
	</div>

	<!-- END CONFIRMATION -->

	{% include 'modal/manage-luggage.twig' %}
	{% include 'modal/select-your-seat.twig' %}
	{% include 'modal/coupon.twig' %}
	{% include 'modal/share.twig' %}
	{% include 'modal/insurance.twig' %}
	{% include 'modal/insurance-details.twig' %}
	{% include 'modal/loading.twig' %}

</div>

{% endblock %}
