{% extends "layout.twig" %}

{% block content %}


<div class="main">

	<div class="l-col-50">

		<div class="matrix">
			<h3 class="matrix__title">Fares shown are the best available matching your filter selections.</h3>

			<table class="matrix__table">
				<thead>
					<tr>
						<td>Depart →<br />Return ↓</td>
						<th>Tue <strong>16 Apr</strong></th>
						<th>Wed <strong>17 Apr</strong></th>
						<th>Thu <strong>18 Apr</strong></th>
						<th>Fri <strong>19 Apr</strong></th>
						<th>Sat <strong>20 Apr</strong></th>
						<th>Sun <strong>21 Apr</strong></th>
						<th>Mon <strong>22 Apr</strong></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th>Tue <strong>16 Apr</strong></th>
						<td><a href="flight_results">$500</a></td>
						<td><a href="flight_results">$500</a></td>
						<td><a href="flight_results">$500</a></td>
						<td><a href="flight_results">$500</a></td>
						<td><a href="flight_results">$500</a></td>
						<td><a href="flight_results">$500</a></td>
						<td><a href="flight_results">$500</a></td>
					</tr>
					<tr>
						<th>Wed <strong>17 Apr</strong></th>
						<td><a href="flight_results">$500</a></td>
						<td><a href="flight_results">$500</a></td>
						<td><a href="flight_results">$500</a></td>
						<td><a href="flight_results">$500</a></td>
						<td><a href="flight_results">$500</a></td>
						<td class="matrix__cell--cheaper"><a href="flight_results">$500</a></td>
						<td><a href="flight_results">$500</a></td>
					</tr>
					<tr>
						<th>Thu <strong>18 Apr</strong></th>
						<td><a href="flight_results">$500</a></td>
						<td><a href="flight_results">$500</a></td>
						<td><a href="flight_results">$500</a></td>
						<td><a href="flight_results">$500</a></td>
						<td><a href="flight_results">$500</a></td>
						<td><a href="flight_results">$500</a></td>
						<td><a href="flight_results">$500</a></td>
					</tr>
					<tr>
						<th>Fri <strong>19 Apr</strong></th>
						<td><a href="flight_results">$500</a></td>
						<td><a href="flight_results">$500</a></td>
						<td><a href="flight_results">$500</a></td>
						<td><a href="flight_results">$500</a></td>
						<td><a href="flight_results">$500</a></td>
						<td><a href="flight_results">$500</a></td>
						<td><a href="flight_results">$500</a></td>
					</tr>
					<tr>
						<th>Sat <strong>20 Apr</strong></th>
						<td><a href="flight_results">$500</a></td>
						<td><a href="flight_results">$500</a></td>
						<td><a href="flight_results">$500</a></td>
						<td><a href="flight_results">$500</a></td>
						<td><a href="flight_results">$500</a></td>
						<td><a href="flight_results">$500</a></td>
						<td><a href="flight_results">$500</a></td>
					</tr>
					<tr>
						<th>Sun <strong>21 Apr</strong></th>
						<td><a href="flight_results">$500</a></td>
						<td><a href="flight_results">$500</a></td>
						<td><a href="flight_results">$500</a></td>
						<td><a href="flight_results">$500</a></td>
						<td><a href="flight_results">$500</a></td>
						<td><a href="flight_results">$500</a></td>
						<td><a href="flight_results">$500</a></td>
					</tr>
					<tr>
						<th>Mon <strong>22 Apr</strong></th>
						<td><a href="flight_results">$500</a></td>
						<td><a href="flight_results">$500</a></td>
						<td><a href="flight_results">$500</a></td>
						<td><a href="flight_results">$500</a></td>
						<td><a href="flight_results">$500</a></td>
						<td><a href="flight_results">$500</a></td>
						<td><a href="flight_results">$500</a></td>
					</tr>
				</tbody>
			</table>

			<a href="#" class="matrix__go-back">‹ Back to home</a>
		</div>

	</div>

	<div class="l-col-50">
		<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11422020.745928632!2d8.699354100000058!3d45.65926996851457!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478c31975bea2bf1%3A0x1fe426723f5e59d1!2sAvenue+des+Baumettes+23!5e0!3m2!1sen!2ses!4v1395935205901" width="100%" height="100%" frameborder="0" style="border:0"></iframe>
	</div>

</div>


{% endblock %}