
{% extends "layout.twig" %}

{% block content %}

<script src="{{app.config.staticpath}}/vendor/angular.js"></script>
<script src="{{app.config.staticpath}}/js/CarrouselApp.js"></script>
<script>
	window.loadModules = ['search-tool', 'autocomplete_flight', 'autocomplete_airlines'];
</script>

<div class="main" id="main-home" ng-app="CarrouselApp"> <!-- add .main-home__open to works on mobile -->
	<div class="mobile-slogan">
		<span>
			{{'welcome_aboard'|trans}}<br />
			<strong>{{'fasten_seatbelts'|trans}}</strong>
		</span>
	</div>

	<div class="mobile-navigation">
		<ul class="mobile-navigation__menu">
			<li class="mobile-navigation__menu-item {% if menu == 'fly' %}mobile-navigation__menu-item--active{% endif %}">
				<a data-pjax href="{{url('home')}}" class="mobile-navigation__menu-item-fly">
					<img class="mobile-navigation__menu-icon" src="./public/img/modules/main-footer/icon-plane.png" />
					<span class="mobile-navigation__menu-text">Fly</span>
				</a>
			</li>
			<li class="mobile-navigation__menu-item {% if menu == 'fly' %}mobile-navigation__menu-item--active{% endif %}">
				<a data-pjax href="{{url('hotel')}}" class="mobile-navigation__menu-item-sleep">
					<img class="mobile-navigation__menu-icon" src="./public/img/modules/main-footer/icon-bed.png" />
					<span class="mobile-navigation__menu-text">Sleep</span>
				</a>
			</li>
			<li class="mobile-navigation__menu-item {% if menu == 'fly' %}mobile-navigation__menu-item--active{% endif %}">
				<a data-pjax href="{{url('car')}}" class="mobile-navigation__menu-item-drive">
					<img class="mobile-navigation__menu-icon" src="./public/img/modules/main-footer/icon-car.png" />
					<span class="mobile-navigation__menu-text">Drive</span>
				</a>
			</li>
			<li class="mobile-navigation__menu-item {% if menu == 'fly' %}mobile-navigation__menu-item--active{% endif %}">
				<a data-pjax href="{{url('deals')}}" class="mobile-navigation__menu-item-deals">
					<img class="mobile-navigation__menu-icon" src="./public/img/modules/main-footer/icon-bag.png" />
					<span class="mobile-navigation__menu-text">Deals</span>
				</a>
			</li>
		</ul>
	</div>



	<div class="main-sidebar l-col-25">

		<div class="slogan">
			<span>
				{{ 'welcome_aboard'|trans }}<br />
				<strong>{{'fasten_seatbelts'|trans}}</strong>
			</span>
		</div>

		<div class="search-tool">

				<div class="search-tool__tabs-links">
					<a data-tab="1" href="">{{'one_way'|trans}}</a>
					<a class="active" data-tab="2" href="">{{'return_flight'|trans}}</a>
					<a data-tab="3" href="">{{'multi_city'|trans}}</a>
				</div>

				<div class="search-tool__tabs-content">
					<div class="search-tool__tab tab-1">

						<form class="search-tool__tabs-container search-tool__form-flight-hotel" action="{{url('flight_search')}}" action-flight="{{url('flight_search')}}" action-flight-hotel="{{url('flight_hotel_search')}}" data-parsley-validate>
							<fieldset class="search-tool-fieldset search-tool-fieldset-oneway">
								<label class="input-icon input-icon--takeoff">
									<input value="{{app.session.get('search_origin')}}" type="hidden" name="origin">
									<input value="{{app.session.get('search_origin')}}" class="input-autocomplete--flight" placeholder="{{'from'|trans}}" autocomplete="off" data-parsley-class-handler=".input-icon" required />

								</label>

								<label class="input-icon input-icon--landing">
									<input value="{{app.session.get('search_destination')}}" type="hidden" name="destination">
									<input value="{{app.session.get('search_destination')}}" class="input-autocomplete--flight" placeholder="{{'to'|trans}}" autocomplete="off" data-parsley-class-handler=".input-icon" required />
								</label>


								<div class="datepicker-container" data-calendar-parent=".main-sidebar">
									<label class="datepicker datepicker-full" data-calendar-type="checkin">
										<span class="datepicker-title">{{'depart_on'|trans}}</span>
										<span class="datepicker-day"></span>
										<span class="datepicker-month"></span>
										<span class="datepicker-year"></span>
										<span class="datepicker-changeDate">{{'change_date'|trans}}</span>
										<span class="datepicker-changeDate datepicker-changeDate--calendar-active">Select date on the left</span>
										<input type="hidden" class="datepicker-input" value="{% if app.session.get('search_depDate') is not null %}{{app.session.get('search_depDate')}}{% else %}{{ "now"|date("Y-m-d")}}{% endif %}" name="depDate" />
									</label>

									<label class="datepicker datepicker--disabled">
										<span class="datepicker-title">{{'return_on'|trans}}</span>
										<span class="datepicker-day">{{ "tomorrow"|date("d") }}</span>
										<span class="datepicker-month">{{ "tomorrow"|date("M") }}</span>
										<span class="datepicker-year">{{ "tomorrow"|date("Y") }}</span>
										<span class="datepicker-changeDate">{{'change_date'|trans}}</span>
										<span class="datepicker-changeDate datepicker-changeDate--calendar-active">Select date on the left</span>
									</label>
								</div>

								<div class="amountpicker">
									<a class="amountpicker-more">+</a>
									<span class="amountpicker-title">{{'adults'|trans}}</span>
									<input {% if app.session.get('search_adults') %}value="{{app.session.get('search_adults')}}"{% else %}value="1"{% endif %} type="text" name="adults" class="amountpicker-qtd" data-inputmask="'mask': '99', 'placeholder' : ''" data-parsley-max="16" min="1" max="16" required />
									<span class="amountpicker-info">Above 11</span>
									<a class="amountpicker-less">-</a>
								</div>


								<div class="amountpicker">
									<a class="amountpicker-more">+</a>
									<span class="amountpicker-title">{{'kids'|trans}}</span>
									<input {% if app.session.get('search_kids') %}value="{{app.session.get('search_kids')}}"{% else %}value="0"{% endif %} type="text" name="kids" class="amountpicker-qtd" data-inputmask="'mask': '99', 'placeholder' : ''" data-parsley-max="16" min="0" max="16" required />
									<span class="amountpicker-info">2-11 {{'years'|trans}}</span>
									<a class="amountpicker-less">-</a>
								</div>

								<div class="amountpicker">
									<a class="amountpicker-more">+</a>
									<span class="amountpicker-title">Infants</span>
									<input {% if app.session.get('search_infants') %}value="{{app.session.get('search_infants')}}"{% else %}value="0"{% endif %} type="text" name="infants" class="amountpicker-qtd" data-inputmask="'mask': '99', 'placeholder' : ''" data-parsley-max="16" min="0" max="16" required />
									<span class="amountpicker-info">0-2 Years</span>
									<a class="amountpicker-less">-</a>
								</div>

								<div class="customSelect">
									<select class="customSelect-select" name="cabinClass" {% if app.session.get('search_cabinClass') %}value="{{app.session.get('search_cabinClass')}}"{% endif %}>
										<option value="Economy">{{'class_economy'|trans}}</option>
										<option value="Business">{{'class_business'|trans}}</option>
										<option value="PremiumEco">{{'class_premium'|trans}}</option>
										<option value="First">{{'class_first'|trans}}</option>
									</select>
								</div>

								<!-- <div class="advanced_options">
									<a href="#"><span>+</span> Advanced Search</a>
									<div class="checkboxes">
										<div class="customCheckbox">
											<label><input type="checkbox" name="nonstopOnly" value=true autocomplete="off" /> {{'direct_flight'|trans}}</label>
										</div>

										<div class="customCheckbox">
											<label><input type="checkbox" name="rfdFares" value=true autocomplete="off" />{{'refundable_fares'|trans}}</label>
										</div>	

										<p>
											<label class="input-icon input-icon--notext input-icon--takeoff">
												<input type="hidden" name="preferredAirline">
												<input class="input-autocomplete--airline" placeholder="Preferred Airline" autocomplete="off" />
											</label>	
										</p>
									</div>
								</div> -->

								<!-- <div class="customCheckbox">
									<label><input type="checkbox" /> {{'search_3_days'|trans}}</label>
								</div> -->

								<button class="btn btn--search btn-search-flight">{{'flight'|trans}}</button>
								<button class="btn btn--search btn-search-flight-hotel">{{'flight'|trans}} + {{'hotel'|trans}}</button>

							</fieldset>
						</form>
					</div>


					<div class="search-tool__tab tab-2 active">

						<form class="search-tool__tabs-container search-tool__form-flight-hotel" action="{{url('flight_search')}}" action-flight-hotel="{{url('flight_hotel_search')}}" data-parsley-validate>
							<fieldset class="search-tool-fieldset search-tool-fieldset-returnflight">
								<label class="input-icon input-icon--takeoff">
									<input value="{{app.session.get('search_origin')}}" type="hidden" name="origin">
									<input value="{{app.session.get('search_origin')}}" class="input-autocomplete--flight" placeholder="{{'from'|trans}}" autocomplete="off" data-parsley-class-handler=".input-icon" required />
								</label>

								<label class="input-icon input-icon--landing">
									<input value="{{app.session.get('search_destination')}}" type="hidden" name="destination">
									<input value="{{app.session.get('search_destination')}}" class="input-autocomplete--flight" placeholder="{{'to'|trans}}" autocomplete="off" data-parsley-class-handler=".input-icon" required />
								</label>

								<div class="datepicker-container" data-calendar-parent=".main-sidebar">
									<label class="datepicker" data-calendar-type="checkin">
										<span class="datepicker-title">{{'depart_on'|trans}}</span>
										<span class="datepicker-day"></span>
										<span class="datepicker-month"></span>
										<span class="datepicker-year"></span>
										<span class="datepicker-changeDate">{{'change_date'|trans}}</span>
										<span class="datepicker-changeDate datepicker-changeDate--calendar-active">Select date on the left</span>
										<input type="hidden" class="datepicker-input" value="{% if app.session.get('search_depDate') is not null %}{{app.session.get('search_depDate')}}{% else %}{{ "now"|date("Y-m-d")}}{% endif %}" name="depDate" />
									</label>

									<label class="datepicker" data-calendar-type="checkout">
										<span class="datepicker-title">{{'return_on'|trans}}</span>
										<span class="datepicker-day"></span>
										<span class="datepicker-month"></span>
										<span class="datepicker-year"></span>
										<span class="datepicker-changeDate">{{'change_date'|trans}}</span>
										<span class="datepicker-changeDate datepicker-changeDate--calendar-active">Select date on the left</span>
										<input type="hidden" class="datepicker-input" value="{% if app.session.get('search_arvlDate') is not null %}{{app.session.get('search_arvlDate')}}{% else %}{{ "tomorrow"|date("Y-m-d")}}{% endif %}" name="arvlDate" />
									</label>
								</div>

								<div class="amountpicker">
									<a class="amountpicker-more">+</a>
									<span class="amountpicker-title">{{'adults'|trans}}</span>
									<input {% if app.session.get('search_adults') %}value="{{app.session.get('search_adults')}}"{% else %}value="1"{% endif %} type="text" name="adults" class="amountpicker-qtd" data-inputmask="'mask': '99', 'placeholder' : ''" data-parsley-max="16" min="1" max="16" required />
									<span class="amountpicker-info">Above 11</span>
									<a class="amountpicker-less">-</a>
								</div>


								<div class="amountpicker">
									<a class="amountpicker-more">+</a>
									<span class="amountpicker-title">{{'kids'|trans}}</span>
									<input {% if app.session.get('search_kids') %}value="{{app.session.get('search_kids')}}"{% else %}value="0"{% endif %} type="text" name="kids" class="amountpicker-qtd" data-inputmask="'mask': '99', 'placeholder' : ''" data-parsley-max="16" min="0" max="16" required />
									<span class="amountpicker-info">2-11 {{'years'|trans}}</span>
									<a class="amountpicker-less">-</a>
								</div>

								<div class="amountpicker">
									<a class="amountpicker-more">+</a>
									<span class="amountpicker-title">Infants</span>
									<input {% if app.session.get('search_infants') %}value="{{app.session.get('search_infants')}}"{% else %}value="0"{% endif %} type="text" name="infants" class="amountpicker-qtd" data-inputmask="'mask': '99', 'placeholder' : ''" data-parsley-max="16" min="0" max="16" required />
									<span class="amountpicker-info">0-2 Years</span>
									<a class="amountpicker-less">-</a>
								</div>

								<div class="customSelect">
									<select class="customSelect-select" name="cabinClass" {% if app.session.get('search_cabinClass') %}value="{{app.session.get('search_cabinClass')}}"{% endif %}>
										<option value="Economy">{{'class_economy'|trans}}</option>
										<option value="Business">{{'class_business'|trans}}</option>
										<option value="PremiumEco">{{'class_premium'|trans}}</option>
										<option value="First">{{'class_first'|trans}}</option>
									</select>
								</div>

								<!-- <div class="advanced_options">
									<a href="#"><span>+</span> Advanced Search</a>
									<div class="checkboxes">
									<div class="customCheckbox">
											<label><input type="checkbox" name="nonstopOnly" value=true autocomplete="off" /> {{'direct_flight'|trans}}</label>
										</div>

										<div class="customCheckbox">
											<label><input type="checkbox" name="rfdFares" value=true autocomplete="off" />{{'refundable_fares'|trans}}</label>
										</div>	

										<p>
											<label class="input-icon input-icon--notext input-icon--takeoff">
												<input type="hidden" name="preferredAirline">
												<input class="input-autocomplete--airline" placeholder="Preferred Airline" autocomplete="off" />
											</label>	
										</p>		
									</div>
								</div> -->

								<!-- <div class="customCheckbox">
									<label><input type="checkbox" /> {{'search_3_days'|trans}}</label>
								</div> -->

								<button class="btn btn--search btn-search-flight">{{'flight'|trans}}</button>
								<button class="btn btn--search btn-search-flight-hotel">{{'flight'|trans}} + {{'hotel'|trans}}</button>

							</fieldset>
						</form>
					</div>

					<div class="search-tool__tab tab-3">

						<form class="search-tool__tabs-container" action="{{url('flight_search_post')}}" method="post" data-parsley-validate>
							<fieldset class="search-tool-fieldset search-tool-fieldset-multicity">

								<div class="multicity-fieldset">

									<div class="datepicker-container" data-calendar-parent=".main-sidebar" data-calendar-multicity="true">
										<label class="datepicker datepicker-full" data-calendar-type="checkin">
											<span class="datepicker-title">{{'depart_on'|trans}}</span>
											<span class="datepicker-day">{{ "now"|date("d") }}</span>
											<span class="datepicker-month">{{ "now"|date("M") }}</span>
											<span class="datepicker-year">{{ "now"|date("Y") }}</span>
											<span class="datepicker-changeDate">{{'change_date'|trans}}</span>
											<span class="datepicker-changeDate datepicker-changeDate--calendar-active">Select date on the left</span>
											<input type="hidden" class="datepicker-input" value="{% if app.session.get('search_depDate') is not null %}{{app.session.get('search_depDate')}}{% else %}{{ "now"|date("Y-m-d")}}{% endif %}" name="depDate[]" />
										</label>
									</div>

									<label class="input-icon input-icon--notext input-icon--takeoff">
										<input type="hidden" name="origin[]" value="{{app.session.get('search_origin')}}">
										<input value="{{app.session.get('search_origin')}}" class="input-autocomplete--flight" placeholder="{{'from'|trans}}" autocomplete="off" data-parsley-class-handler=".input-icon" required />
									</label>

									<label class="input-icon input-icon--notext input-icon--landing">
										<input type="hidden" name="destination[]" value="{{app.session.get('search_destination')}}" >
										<input value="{{app.session.get('search_destination')}}" class="input-autocomplete--flight" placeholder="{{'to'|trans}}" autocomplete="off" data-parsley-class-handler=".input-icon" required />
									</label>

								</div>

								<div class="multicity-fieldset">

									<div class="datepicker-container" data-calendar-parent=".main-sidebar" data-calendar-multicity="true">
										<label class="datepicker datepicker-full" data-calendar-type="checkin">
											<span class="datepicker-title">{{'depart_on'|trans}}</span>
											<span class="datepicker-day">{{ "now"|date("d") }}</span>
											<span class="datepicker-month">{{ "now"|date("M") }}</span>
											<span class="datepicker-year">{{ "now"|date("Y") }}</span>
											<span class="datepicker-changeDate">{{'change_date'|trans}}</span>
											<span class="datepicker-changeDate datepicker-changeDate--calendar-active">Select date on the left</span>
											<input type="hidden" class="datepicker-input" value="{% if app.session.get('search_arvlDate') is not null %}{{app.session.get('search_arvlDate')}}{% else %}{{ "tomorrow"|date("Y-m-d")}}{% endif %}" name="depDate[]" />
										</label>
									</div>

									<label class="input-icon input-icon--notext input-icon--takeoff">
										<input type="hidden" name="origin[]" value="{{app.session.get('search_destination')}}" >
										<input value="{{app.session.get('search_destination')}}" class="input-autocomplete--flight" placeholder="{{'from'|trans}}" autocomplete="off" data-parsley-class-handler=".input-icon" required />
									</label>

									<label class="input-icon input-icon--notext input-icon--landing">
										<input type="hidden" name="destination[]">
										<input class="input-autocomplete--flight" placeholder="{{'to'|trans}}" autocomplete="off" data-parsley-class-handler=".input-icon" required />
									</label>
								</div>

								<a href="#" class="btn add-flight">+ {{'add_flight'|trans}}</a>
								<a href="#" class="remove-flight hidden">- Remove flight</a>
								<br />

								<div class="amountpicker">
									<a class="amountpicker-more">+</a>
									<span class="amountpicker-title">{{'adults'|trans}}</span>
									<input {% if app.session.get('search_adults') %}value="{{app.session.get('search_adults')}}"{% else %}value="1"{% endif %} type="text" name="adults" class="amountpicker-qtd" data-inputmask="'mask': '99', 'placeholder' : ''" data-parsley-max="16" min="1" max="16" required />
									<span class="amountpicker-info">Above 11</span>
									<a class="amountpicker-less">-</a>
								</div>


								<div class="amountpicker">
									<a class="amountpicker-more">+</a>
									<span class="amountpicker-title">{{'kids'|trans}}</span>
									<input {% if app.session.get('search_kids') %}value="{{app.session.get('search_kids')}}"{% else %}value="0"{% endif %} type="text" name="kids" class="amountpicker-qtd" data-inputmask="'mask': '99', 'placeholder' : ''" data-parsley-max="16" min="0" max="16" required />
									<span class="amountpicker-info">2-11 {{'years'|trans}}</span>
									<a class="amountpicker-less">-</a>
								</div>

								<div class="amountpicker">
									<a class="amountpicker-more">+</a>
									<span class="amountpicker-title">Infants</span>
									<input {% if app.session.get('search_infants') %}value="{{app.session.get('search_infants')}}"{% else %}value="0"{% endif %} type="text" name="infants" class="amountpicker-qtd" data-inputmask="'mask': '99', 'placeholder' : ''" data-parsley-max="16" min="0" max="16" required />
									<span class="amountpicker-info">0-2 Years</span>
									<a class="amountpicker-less">-</a>
								</div>

								<div class="customSelect">
									<select class="customSelect-select" name="cabinClass" {% if app.session.get('search_cabinClass') %}value="{{app.session.get('search_cabinClass')}}"{% endif %}>
										<option value="Economy">{{'class_economy'|trans}}</option>
										<option value="Business">{{'class_business'|trans}}</option>
										<option value="PremiumEco">{{'class_premium'|trans}}</option>
										<option value="First">{{'class_first'|trans}}</option>
									</select>
								</div>

								<!-- <div class="advanced_options">
									<a href="#"><span>+</span> Advanced Search</a>
									<div class="checkboxes">
										<div class="customCheckbox">
											<label><input type="checkbox" name="nonstopOnly" value=true autocomplete="off" /> {{'direct_flight'|trans}}</label>
										</div>

										<div class="customCheckbox">
											<label><input type="checkbox" name="rfdFares" autocomplete="off" />{{'refundable_fares'|trans}}</label>
										</div>	

										<p>Preferred Airline</p>

										<label class="input-icon input-icon--notext input-icon--takeoff">
											<input type="hidden" name="preferredAirline">
											<input class="input-autocomplete--airline" placeholder="Airline" autocomplete="off" />
										</label>	
									</div>
								</div> -->

								<!-- <label class="checkbox"><input type="checkbox" /> -/+ 3 days</label> -->
								<button class="btn btn--search">{{'flight'|trans}}</button>

							</fieldset>

						</form>
					</div>

				</div>


		</div>
	</div>

	<div class="mainContent l-col-75">

		<div class="carrousel" carrousel="flight">

			<div class="carrousel-item" ng-repeat="(index, item) in results">
				<div data-destination="{[{item.destination}]}" class="carrousel-item-image" ng-style="{'background-image': 'url(\'{{app.config.uploadsdir}}/{[{item.image}]}\')'}"></div>
				<div class="carrousel-item-info">	
					<h1 class="carrousel-item-info-title">{[{item.title}]}</h1>
					<h2 class="carrousel-item-info-subtitle">{[{item.subtitle}]}</h2>
					<h3 class="carrousel-item-info-subtitle">Weather now: <span id="weather{[{index}]}" class="weather"></span></h3>
				</div>

				<div class="carrousel-item-price">
					{{'from'|trans}}<br />
					<em>{[{item.price}]}</em>{[{item.currency}]}
				</div>
			</div>

		</div>

	</div>

</div>

{% endblock %}
