{% extends "layout.twig" %}

{% block content %}

<script src="{{app.config.staticpath}}/vendor/angular.js"></script>
<script src="{{app.config.staticpath}}/vendor/angular-cookies.js"></script>
<script src="{{app.config.staticpath}}/vendor/angular-local-storage.js"></script>
<script src="{{app.config.staticpath}}/js/HashtagControllers.js"></script>
<script src="{{app.config.staticpath}}/js/HashtagServices.js"></script>
<script src="{{app.config.staticpath}}/js/HashtagConstants.js"></script>
<script src="{{app.config.staticpath}}/js/HashtagFilters.js"></script>
<script src="{{app.config.staticpath}}/js/FlightService.js"></script>
<script src="{{app.config.staticpath}}/js/FlightSearchApp.js"></script>


<div class="main main-results" id="main-flightResults" ng-app="FlightSearchApp">

	{% if not app.isMobile %}
	<div class="l-col-50" ng-controller="results">

		<div class="flight-search" ng-class="{'flight-search--white': loading || no_results}">
			<div class="flight-search__fixed-header" ng-show="!loading && !no_results">
				<div class="flight-search__best-prices">
					<table class="flight-search__best-prices-table" ng-cloak>
						<tbody>
							<tr>
								<td></td>
								<td ng-repeat="airline in resultsMatrix.carriers" ng-click="filterByAirline(airline)">
									<img class="flight-search__airline-logo" ng-src="{{app.config.staticpath}}/img/airlines/35px/{[{airline.code}]}.png">
									{[{airline.name | firstWord}]}
								</td>
							</tr>
							<tr ng-repeat="stop in resultsMatrix.stops | orderObjectBy:'stops':true">
								<td style="text-align: center">{[{stop | stops}]}</td>
								<td ng-repeat="airline in resultsMatrix.carriers" ng-click="filterByAirline(airline)">{[{ resultsMatrix.matrix[airline.code][stop] && (resultsMatrix.matrix[airline.code][stop].totalPrice | currency:'') || '-' }]}</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="fixed-header__bottom">
					<span class="l-toCenter"></span>
					<span class="fixed-header__matching-results">Matching Results: <strong ng-bind="fareGroup.length"></strong> of <strong ng-bind="fareGroupLengthOriginal"></strong></span>


					<div class="customSelect">
						<select class="customSelect-select" ng-model="orderBy" ng-options="order as order.title for order in possibleOrders" ng-change="limit = 10"></select>
					</div>
					<span class="fixed-header__sort-by">Sort by:</span>
				</div>
			</div>

			<div class="flight-search__results-list" assist-overflow>


				<div results-loader class="results-list__loader" ng-if="loading" ng-cloak>
					<span class="results-list__loader-counting">{[{loading_percent}]}%</span>

					<span class="results-list__loader-searching">
						<img src="{{app.config.staticpath}}/img/modules/results/hash.png" />
						Searching...
					</span>
					<ul>
						<li class="results-list__loader-li">
							<img src="{{app.config.staticpath}}/img/airlines/loader/LX.png" />
						</li>
						<li class="results-list__loader-li">
							<img src="{{app.config.staticpath}}/img/airlines/loader/LH.png" />
						</li>
						<li class="results-list__loader-li">
							<img src="{{app.config.staticpath}}/img/airlines/loader/SN.png" />
						</li>
						<li class="results-list__loader-li">
							<img src="{{app.config.staticpath}}/img/airlines/loader/U2.png" />
						</li>
						<li class="results-list__loader-li">
							<img src="{{app.config.staticpath}}/img/airlines/loader/AF.png" />
						</li>
						<li class="results-list__loader-li">
							<img src="{{app.config.staticpath}}/img/airlines/loader/KL.png" />
						</li>
						<li class="results-list__loader-li">
							<img src="{{app.config.staticpath}}/img/airlines/loader/FR.png" />
						</li>
						<li class="results-list__loader-li">
							<img src="{{app.config.staticpath}}/img/airlines/loader/BA.png" />
						</li>
						<li class="results-list__loader-li">
							<img src="{{app.config.staticpath}}/img/airlines/loader/AZ.png" />
						</li>
						<li class="results-list__loader-li">
							<img src="{{app.config.staticpath}}/img/airlines/loader/AC.png" />
						</li>
						<li class="results-list__loader-li">
							<img src="{{app.config.staticpath}}/img/airlines/loader/DL.png" />
						</li>
						<li class="results-list__loader-li">
							<img src="{{app.config.staticpath}}/img/airlines/loader/TK.png" />
						</li>
						<li class="results-list__loader-li">
							<img src="{{app.config.staticpath}}/img/airlines/loader/AA.png" />
						</li>
						<li class="results-list__loader-li">
							<img src="{{app.config.staticpath}}/img/airlines/loader/EK.png" />
						</li>
						<li class="results-list__loader-li">
							<img src="{{app.config.staticpath}}/img/airlines/loader/RJ.png" />
						</li>
						<li class="results-list__loader-li">
							<img src="{{app.config.staticpath}}/img/airlines/loader/IB.png" />
						</li>
						<li class="results-list__loader-li">
							<img src="{{app.config.staticpath}}/img/airlines/loader/JJ.png" />
						</li>
						<li class="results-list__loader-li">
							<img src="{{app.config.staticpath}}/img/airlines/loader/EY.png" />
						</li>
						<li class="results-list__loader-li">
							<img src="{{app.config.staticpath}}/img/airlines/loader/JL.png" />
						</li>
						<li class="results-list__loader-li">
							<img src="{{app.config.staticpath}}/img/airlines/loader/PC.png" />
						</li>
						<li class="results-list__loader-li">
							<img src="{{app.config.staticpath}}/img/airlines/loader/QR.png" />
						</li>
						<li class="results-list__loader-li">
							<img src="{{app.config.staticpath}}/img/airlines/loader/UA.png" />
						</li>
						<li class="results-list__loader-li">
							<img src="{{app.config.staticpath}}/img/airlines/loader/EI.png" />
						</li>
						<li class="results-list__loader-li">
							<img src="{{app.config.staticpath}}/img/airlines/loader/OS.png" />
						</li>
					</ul>
				</div>


				<div results-loader class="results-list__loader" ng-if="no_results" ng-cloak>
					<span class="results-list__no-results">We've searched more than <strong>400 airlines</strong> that we sell, and couldn't find any flights.</span>
				</div>


				<div class="flight-search__fare-group" ng-class="{'not-checked' : selectedFareGroupIndex != fareGroupIndex || selectedFlightsArr.length != fare.flightGroup.length, 'flight-search__fare-group--oneway' : fare.flightGroup.length == 1}"  ng-repeat="(fareGroupIndex, fare) in fareGroup | orderBy:orderBy.key:orderBy.reverse | limitTo:limit" ng-cloak ng-if="!loading">
					<div class="fare-group__flight-list">
						<table ng-repeat="(flightGroupIndex, flightGroup) in fare.flightGroup">
							<thead>
								<tr>
									<th colspan="6" ng-class="{'return-flight': flightGroupIndex == 1 && fare.flightGroup.length == 2}"><span class="l-toCenter"></span><strong ng-bind="flightGroup[0].segments[0].origin"></strong> ({[{ airports[flightGroup[0].segments[0].origin].name }]}) to <strong ng-bind="flightGroup[0].segments[flightGroup[0].segments.length-1].destination"></strong> ({[{ airports[flightGroup[0].segments[flightGroup[0].segments.length-1].destination].name }]})</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-class="{'is-checked': selectedFlights[flightGroupIndex] == flight}" ng-repeat="flight in flightGroup" ng-click="selectedFlights[flightGroupIndex] = flight; setSelectedFlightsArr();" ng-mouseover="setFlightMap(flight, fareGroupIndex, flightGroupIndex)">
									<td>
										<input type="radio" ng-model="selectedFlights[flightGroupIndex]" ng-value="flight" ng-change="setSelectedFlightsArr()" />
									</td>
									<td>
										Leave: <strong ng-bind="flight.segments[0].departure | formatDate:'DD/MM/YYYY - HH[:]mm'"></strong>
									</td>

									<td><span class="flight-list__duration">{[{flight.segments[0].duration}]}</span></td>

									<td>
										Arrive: <strong ng-bind="flight.segments[flight.segments.length-1].arrival | formatDate:'DD/MM/YYYY - HH[:]mm'"></strong>
									</td>
									<td>
										{[{flight.segments.length-1 | stops}]}
									</td>
									<td>
										<img ng-repeat="airline in flight.segments | airlinesFromSegments" data-text="{[{airline.name}]}" class="has-tooltip flight-search__airline-logo" ng-src="{{app.config.staticpath}}/img/airlines/35px/{[{airline.code}]}.png">
									</td>
								</tr>
							</tbody>
						</table>

					</div>
					<div class="fare-group__flight-price">
						<span>
							{[{fare.currency}]}<strong ng-bind="fare.totalPrice | currency:''"></strong>
							<button class="btn" ng-disabled="selectedFareGroupIndex != fareGroupIndex || selectedFlightsArr.length != fare.flightGroup.length" ng-click="selectFlight($event)">Select</button>
							<a ng-href="{[{getSelectedFlightsUrl()}]}" class="more-details" ng-if="selectedFareGroupIndex == fareGroupIndex && selectedFlightsArr.length == fare.flightGroup.length">more details</a>
						</span>
					</div>
				</div>


			</div>
		</div>
	</div>

	<div ng-class="{'is-active': isFilterVisible}" class="flight-search-filter" ng-controller="filters" ng-if="!no_results">
		<ul class="flight-search-filter__buttons">
			<li>
				<a href="{{url('home')}}" class="flight-search-d" target="_self">
					<img src="{{app.config.staticpath}}/img/modules/flight-results/modify.png">
					Modify
				</a>
			</li>
			<li>
				<a href="#" class="flight-search-filter__refine" ng-click="isFilterVisible = !(isFilterVisible)" ng-cloak>
					<img src="{{app.config.staticpath}}/img/modules/flight-results/refine.png">
					{[{ isFilterVisible && 'Close' || 'Refine' }]}

				</a>
			</li>
		</ul>

		<div class="flex-container">
			<div class="flex-box">
				<div class="flight-search-filter__container">
					<h2 class="flight-search-filter__title">Refine results</h2>
				</div>

				<div ng-if="departureBounds" class="flight-search-filter__container">
					<div class="flight-search__range">
						<p><strong>Departure</strong> <span class="min">{[{departure.from | formatDate:'HH[:]mm'}]}</span> - <span class="max">{[{departure.to | formatDate:'HH[:]mm'}]}</span></p>
						<div class="slider-range" slider ng-from="departure.from" ng-to="departure.to" start="{[{departureBounds.from}]}" end="{[{departureBounds.to}]}" step="5"></div>
					</div>
				</div>

				<div ng-if="durationBounds" class="flight-search-filter__container">
					<div class="flight-search__range">
						<p><strong>Duration</strong> <span class="min">{[{duration.from | formatDuration}]}</span> - <span class="max">{[{duration.to | formatDuration}]}</span></p>
						<div class="slider-range" slider ng-from="duration.from" ng-to="duration.to" start="{[{durationBounds.from}]}" end="{[{durationBounds.to}]}" step="5"></div>
					</div>
				</div>

				<div ng-if="priceBounds" class="flight-search-filter__container">
					<div class="flight-search__range">
						<p><strong>Price</strong> <span class="min">{[{price.from}]}</span> - <span class="max">{[{price.to}]}</span> {[{currency}]}</p>
					<div class="slider-range" slider ng-from="price.from" ng-to="price.to" start="{[{priceBounds.from}]}" end="{[{priceBounds.to}]}" step="5"></div>
					</div>
				</div>

				<div class="flight-search-filter__container">
					<div class="flight-search-filter__class">
						<strong>Class</strong>
						<div ng-class="{active: c.checked}" class="customCheckbox" ng-repeat="c in classes">
							<label><input type="checkbox" name="class[]" ng-model="c.checked"> {[{c.text}]}</label>
						</div>
					</div>

					<div class="flight-search-filter__stops">
						<strong>Stops</strong>
						<div ng-class="{active: s.checked}" class="customCheckbox" ng-repeat="s in stops">
							<label><input type="checkbox" name="stops[]" ng-model="s.checked"> {[{s.text}]}</label>
						</div>
					</div>
				</div>
			</div>

			<div class="flex-box">
				<div class="flight-search-filter__container">
					<strong>Airlines <a ng-click="selectAllAirlines()" href="#" class="flight-search-filter__all">select all</a></strong>

					<div ng-class="{active: a.checked}" class="customCheckbox" ng-repeat="a in airlines">
						<label><input type="checkbox" name="airlines[]" ng-model="a.checked" /> {[{a.carrier.name | firstWord}]} <small>{[{currency}]} {[{a.price}]}</small></label>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="l-col-50">
		<div results-map id="map"></div>
	</div>
	{% endif %}


	{% if app.isMobile %}
	<div class="results-list-mobile results-list-mobile--flight" ng-controller="results" ng-cloak>

		<div class="mobile-headerbar">
			<a href="./" class="mobile-headerbar__btn-prev">New search</a>
			<div class="mobile-headerbar__sort">

				<select class="mobile-headerbar__sort-select" ng-model="orderBy.reverse" dir="rtl">
					<option value="false">Lowest First</option>
					<option value="true">Highest First</option>
				</select>
			</div>
		</div>

		<div class="results-list-mobile__container">

			<div class="results-list-mobile__summary">
				<div class="results-list-mobile__summary-item" ng-repeat="flightGroup in fareGroup[0].flightGroup">
					<p><strong>{[{flightGroup[0].segments[0].departure | formatDate:'DD, MMMM YYYY'}]}</strong></p>
					<p>{[{ airports[flightGroup[0].segments[0].origin].city }]} ({[{flightGroup[0].segments[0].origin}]}) to {[{ airports[flightGroup[0].segments[flightGroup[0].segments.length-1].destination].city }]} ({[{flightGroup[0].segments[flightGroup[0].segments.length-1].destination}]})</p>
				</div>
			</div>


			<div class="results-list-mobile__list">
				<div class="results-list-mobile__loading" ng-if="loading">
					<p>Loading...</p>
				</div>

				<div class="results-list-mobile__item" ng-repeat="(fareGroupIndex, fare) in fareGroup | orderBy:orderBy.key:orderBy.reverse | limitTo:limit" ng-if="!loading" ng-cloak>
					<div class="results-list-mobile__list-price">
						<span class="l-toCenter"></span><strong>{[{fare.currency}]} <span ng-bind="fare.totalPrice | currency:''"></span></strong>

						<div class="results-list-mobile__list-price-btn">
							<button class="btn" ng-disabled="selectedFareGroupIndex != fareGroupIndex || selectedFlightsArr.length != fare.flightGroup.length" ng-click="selectFlight($event)">Select</button>
						</div>
					</div>

					<div class="results-list-mobile__flight" ng-repeat="(flightGroupIndex, flightGroup) in fare.flightGroup">
						<div class="results-list-mobile__flight-from-to">
							<span>{[{ airports[flightGroup[0].segments[0].origin].city }]} (<strong ng-bind="flightGroup[0].segments[0].origin"></strong>) to {[{ airports[flightGroup[0].segments[flightGroup[0].segments.length-1].destination].city }]} (<strong ng-bind="flightGroup[0].segments[flightGroup[0].segments.length-1].destination"></strong>)</span>
						</div>

						<div class="results-list-mobile__flight-info">
							<table>
								<tr ng-class="{'is-checked': selectedFlights[flightGroupIndex] == flight}" ng-repeat="flight in flightGroup" ng-click="selectedFlights[flightGroupIndex] = flight; setSelectedFlightsArr();">
									<td><input type="radio" ng-model="selectedFlights[flightGroupIndex]" ng-value="flight" ng-change="setSelectedFlightsArr()" /></td>
									<td>Leave <strong ng-bind="flight.segments[0].departure | formatDate:'DD/MM/YYYY - HH[:]mm'"></strong></td>
									<td>Arrive <strong ng-bind="flight.segments[flight.segments.length-1].arrival | formatDate:'DD/MM/YYYY - HH[:]mm'"></strong></td>
									<td><img ng-repeat="airlineCode in flight.segments | airlinesFromSegments" class="results-list-mobile__airline-image" ng-src="{{app.config.staticpath}}/img/airlines/35px/{[{airlineCode}]}.png"></td>
								</tr>
							</table>
						</div>
					</div>
				</div>

				<a href="#" ng-show="limit < fareGroup.length" class="button results-list-mobile__btn-load-more" ng-click="btnLoadMore($event)">Load more</a>
			</div>


		</div>

	</div>
	{% endif %}


	{% include 'modal/share.twig' %}
	{% include 'modal/flight-details.twig' %}

</div>

{% endblock %}
